Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm

Fixes tooltips crashing the admin supply pod interface (#473)
  tgui/packages/tgui/interfaces/PodLauncher.js
Due: none

Automatic changelog compile [ci skip]
  html/changelogs/archive/2022-06.yml
Due: none

Update code/datums/xeno_shields/xeno_shield.dm
  code/datums/xeno_shields/xeno_shield.dm
Due: report:dmdoc

hivecorenerf
  code/__DEFINES/xeno.dm
  code/modules/cm_aliens/structures/special/pylon_core.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
Due: report:dmdoc

Update Warrior.dm
  code/modules/mob/living/carbon/xenomorph/castes/Warrior.dm
Due: report:dmdoc

Camouflaged bell tower audio (#397)
  code/modules/defenses/bell_tower.dm
Due: report:dmdoc

Update code/modules/projectiles/guns/rifles.dm
  code/modules/projectiles/guns/rifles.dm
Due: report:dmdoc

Update code/modules/projectiles/guns/specialist.dm
  code/modules/projectiles/guns/specialist.dm
Due: report:dmdoc

CO SG rename
  code/modules/projectiles/guns/specialist.dm
Due: report:dmdoc

final
  code/__DEFINES/xeno.dm
  code/modules/cm_aliens/structures/special/pylon_core.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
Due: report:dmdoc

New Grab sprites (#438)
  icons/mob/hud/screen1.dmi
Due: none

Fix Commit
  code/modules/clothing/head/hardhat.dm
  icons/mob/humans/onmob/head_0.dmi
  icons/obj/items/clothing/hats.dmi
Due: report:dmdoc

Firefighter Helmet
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
  code/modules/clothing/head/hardhat.dm
Due: report:dmdoc

CM bugbash 3 (#455)
  code/datums/xeno_shields/xeno_shield.dm
  code/modules/clothing/glasses/thermal.dm
  code/modules/clothing/under/marine_uniform.dm
  code/modules/mob/living/carbon/xenomorph/castes/Warrior.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:dmdoc, report:map-changed-report

Faction Announcement Improvement (#456)
  code/modules/admin/tabs/event_tab.dm
Due: report:dmdoc

Fixes security terminals eating IDs for no reason and with minimal feedback (#470)
  code/game/machinery/computer/security.dm
Due: report:dmdoc

Replaces a donor hat icon on the sheriff (#469)
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
Due: report:map-changed-report

Improved banish (#395)
  code/game/gamemodes/cm_initialize.dm
  code/modules/mob/living/carbon/xenomorph/abilities/queen/queen_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
Due: report:dmdoc

Xeno Rail Light Slashing (#424)
  code/modules/projectiles/gun.dm
Due: report:dmdoc

Xeno Crit Health Indicator (#426)
  code/datums/mob_hud.dm
  icons/mob/hud/hud.dmi
Due: report:dmdoc

Night Vision Goggles / squashed :) (#133)
  code/__DEFINES/dcs/signals.dm
  code/_onclick/click.dm
  code/_onclick/hud/fullscreen.dm
  code/datums/supply_packs/operations.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_leader.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_rto.dm
  code/game/objects/items/props/helmetgarb.dm
  code/modules/client/preferences_gear.dm
  code/modules/clothing/head/head.dm
  code/modules/clothing/head/helmet.dm
  code/modules/gear_presets/uscm.dm
  icons/mob/humans/onmob/helmet_garb.dmi
  icons/obj/items/helmet_garb.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  strings/xenotips.txt
Due: report:dmdoc, report:map-changed-report

Floor Refactor (#434)
  ColonialMarinesALPHA.dme
  code/__DEFINES/turf_flags.dm
  code/game/machinery/computer/HolodeckControl.dm
  code/game/objects/items/stacks/catwalk.dm
  code/game/objects/items/stacks/tiles/light.dm
  code/game/objects/items/stacks/tiles/plasteel.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/turfs/floor.dm
  code/game/turfs/floor_types.dm
  code/game/turfs/kutjevo.dm
  code/game/turfs/light.dm
  code/modules/recycling/disposal.dm
  code/modules/test/sprites/test_plating_sprites.dm
  icons/obj/structures/props/mech.dmi
  icons/turf/floors/catwalks.dmi
  icons/turf/floors/coagulation.dmi
  icons/turf/floors/filtration.dmi
  maps/map_files/CORSAT/Corsat.dmm
  maps/map_files/FOP_v2_Cellblocks/Prison_Station_FOP.dmm
  maps/map_files/Haunted_House_V2/Haunted_House_V2.dmm
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  maps/map_files/generic/Admin_level.dmm
  maps/templates/Chinook.dmm
Due: report:dmdoc, report:map-changed-report

APCs balance tweaks (#440)
  code/modules/vehicles/apc/apc.dm
  code/modules/vehicles/apc/apc_medical.dm
  code/modules/vehicles/hardpoints/special/firing_port_weapon.dm
  maps/interiors/apc.dmm
  maps/interiors/apc_command.dmm
  maps/interiors/apc_med.dmm
  maps/interiors/apc_no_fpw.dmm
Due: report:dmdoc, report:map-changed-report

adds two more hud styles (#286)
  code/__DEFINES/hud.dm
  code/_globalvars/global_lists.dm
  code/datums/custom_hud.dm
  icons/mob/hud/human_green.dmi
  icons/mob/hud/human_grey.dmi
  icons/mob/hud/human_holo.dmi
  icons/mob/hud/human_red.dmi
Due: report:dmdoc

Crewman welding helmet (#461)
  code/game/machinery/vending/vendor_types/crew/vehicle_crew.dm
  code/modules/clothing/head/helmet.dm
  code/modules/gear_presets/other.dm
  code/modules/gear_presets/uscm.dm
  icons/mob/humans/onmob/head_1.dmi
  icons/obj/items/clothing/cm_hats.dmi
Due: report:dmdoc

QoL EZ Autoinjectors (Sprites) (#210)
  code/game/objects/items/reagent_containers/autoinjectors.dm
  icons/obj/items/syringe.dmi
Due: report:dmdoc

Rebalances M46c, adds new cosmetic SG variant (#472)
  code/game/machinery/vending/vendor_types/crew/commanding_officer.dm
  code/modules/cm_marines/equipment/weapons.dm
  code/modules/projectiles/guns/rifles.dm
  code/modules/projectiles/guns/specialist.dm
  icons/mob/humans/onmob/items_lefthand_1.dmi
  icons/mob/humans/onmob/items_righthand_1.dmi
  icons/mob/humans/onmob/suit_slot.dmi
  icons/obj/items/weapons/guns/attachments.dmi
  icons/obj/items/weapons/guns/gun.dmi
  icons/obj/items/weapons/guns/legacy/marine-weapons.dmi
Due: report:dmdoc
