Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm

Aaaargh
  tgui/packages/tgui/interfaces/Autolathe.tsx
  tgui/packages/tgui/interfaces/CentralOverwatchConsole.tsx
  tgui/packages/tgui/interfaces/KeyBinds.tsx
  tgui/packages/tgui/interfaces/OverwatchConsole.tsx
  tgui/packages/tgui/interfaces/STUI.tsx
  tgui/packages/tgui/interfaces/VoxPanel.tsx
  tgui/packages/tgui/interfaces/helpers.tsx
Due: none

vendors, code
  code/game/machinery/vending/vendor_types/crew/pilot_officer.dm
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
  code/game/machinery/vending/vendor_types/crew/vehicle_crew.dm
  code/game/machinery/vending/vendor_types/intelligence_officer.dm
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
  code/game/machinery/vending/vendor_types/wo_vendors.dm
  code/game/objects/items/storage/large_holster.dm
  code/game/objects/structures/crates_lockers/largecrate_supplies.dm
  code/modules/cm_marines/equipment/guncases.dm
  code/modules/projectiles/gun_attachables.dm
  code/modules/projectiles/guns/shotguns.dm
  code/modules/vehicles/interior/interactable/vendors.dm
Due: report:dmdoc

Brug
  tgui/packages/tgui/interfaces/PhoneMenu.tsx
Due: none

lint fix
  code/game/objects/items/storage/large_holster.dm
Due: report:dmdoc

updatedmi
  icons/obj/items/weapons/guns/guns_by_faction/USCM/shotguns.dmi
Due: none

SpriteSwap
  code/__DEFINES/__game.dm
  code/game/objects/structures/platforms.dm
  code/game/turfs/auto_turf.dm
  code/game/turfs/soro.dm
  code/game/turfs/walls/wall_types.dm
  icons/obj/structures/props/platforms.dmi
  icons/turf/floors/auto_tyrargo_turf.dmi
  icons/turf/floors/ground_map_dirt.dmi
  icons/turf/walls/forest_veg.dmi
  maps/map_files/Tyrargo_Rift/Tyrargo_Rift.dmm
  maps/map_files/Tyrargo_Rift/standalone/dropship_bunker_crash.dmm
  maps/map_files/Tyrargo_Rift/standalone/dropship_bunker_crash_underground.dmm
  maps/map_files/Tyrargo_Rift/standalone/uss_heyst.dmm
  maps/map_files/Tyrargo_Rift/standalone/uss_heyst_underground.dmm
Due: report:dmdoc, report:map-changed-report

no need for all that
  code/modules/mob/living/carbon/xenomorph/strains/castes/praetorian/oppressor.dm
Due: report:dmdoc

cds
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_abilities.dm
Due: report:dmdoc

weird thing, oh well.
  code/game/objects/structures/hybrisa_props.dm
Due: report:dmdoc

Update chem_master.dm
  code/modules/reagents/chemistry_machinery/chem_master.dm
Due: report:dmdoc

AdditionalNewSpritesAndRefinements
  code/game/objects/effects/decals/strata_decals.dm
  code/game/turfs/soro.dm
  icons/effects/strata_decals.dmi
  icons/turf/floors/auto_tyrargo_turf.dmi
  icons/turf/floors/tyrargo_map_dirt.dmi
  maps/map_files/Tyrargo_Rift/Tyrargo_Rift.dmm
  maps/map_files/Tyrargo_Rift/sprinkles/10.bar_resin.dmm
  maps/map_files/Tyrargo_Rift/standalone/dropship_bunker_crash.dmm
  maps/map_files/Tyrargo_Rift/standalone/uss_heyst.dmm
Due: report:dmdoc, report:map-changed-report

MineralDoorChange
  code/game/objects/structures/mineral_doors.dm
  maps/map_files/Tyrargo_Rift/Tyrargo_Rift.dmm
Due: report:dmdoc, report:map-changed-report

SoroFix
  code/game/objects/structures/tyrargo_props.dm
  code/game/turfs/soro.dm
Due: report:dmdoc

Adds Comtech Vendors, RecVendors, Sleeper and Autodocs are upgraded.
  code/game/machinery/medical_pod/autodoc.dm
  code/game/machinery/medical_pod/sleeper.dm
  maps/map_files/Whiskey_Outpost_v2/Whiskey_Outpost_v2.dmm
Due: report:dmdoc, report:map-changed-report

Fixup maps in TGM format
  maps/map_files/Whiskey_Outpost_v2/Whiskey_Outpost_v2.dmm
Due: report:map-changed-report

Adds APCs to two areas where power is needed for marine vendors.
  maps/map_files/Whiskey_Outpost_v2/Whiskey_Outpost_v2.dmm
Due: report:map-changed-report

Additional fixes for said two affected areas
  code/game/area/WhiskeyOutpost.dm
Due: report:dmdoc

Fax machine checks (#9967)
  code/game/machinery/fax_machine.dm
Due: report:dmdoc

Adds Yautja Autodoc
  code/game/machinery/medical_pod/autodoc.dm
  code/game/machinery/medical_pod/sleeper.dm
  maps/predship/huntership.dmm
Due: report:dmdoc, report:map-changed-report

Adds missing sleeper upgrade
  code/game/machinery/medical_pod/sleeper.dm
Due: report:dmdoc

Adds missing sleeper upgrade (wo)
  code/game/machinery/medical_pod/sleeper.dm
Due: report:dmdoc

pref
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/cm_aliens/structures/special/pylon_core.dm
  code/modules/mob/living/carbon/xenomorph/hive_status.dm
Due: report:dmdoc

changes
  code/game/objects/items/legcuffs.dm
Due: report:dmdoc

oops
  code/game/objects/items/legcuffs.dm
Due: report:dmdoc

temp fix test
  code/modules/cm_aliens/structures/special/pylon_core.dm
  code/modules/mob/living/carbon/xenomorph/hive_status.dm
Due: report:dmdoc

sprotes
  icons/mob/humans/onmob/clothing/accessory/ponchos.dmi
  icons/mob/humans/onmob/clothing/head/hats_by_faction/CLF.dmi
  icons/mob/humans/onmob/clothing/masks/masks_by_faction/CLF.dmi
Due: none

hey zigster
  code/modules/mob/living/carbon/xenomorph/xeno_helpers.dm
Due: report:dmdoc

evolution respects timelock
  code/modules/mob/living/carbon/xenomorph/Evolution.dm
  code/modules/mob/living/carbon/xenomorph/xeno_helpers.dm
Due: report:dmdoc

tricord changes
  code/modules/reagents/chemistry_properties/prop_positive.dm
Due: report:dmdoc

synthgraf
  code/modules/surgery/eschar.dm
Due: report:dmdoc

updates to m37a1-a3
  code/game/machinery/vending/vendor_types/crew/pilot_officer.dm
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
  code/game/machinery/vending/vendor_types/crew/vehicle_crew.dm
  code/game/machinery/vending/vendor_types/intelligence_officer.dm
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
  code/game/machinery/vending/vendor_types/wo_vendors.dm
  code/game/objects/items/storage/large_holster.dm
  code/game/objects/structures/crates_lockers/largecrate_supplies.dm
  code/modules/cm_marines/equipment/guncases.dm
  code/modules/projectiles/guns/shotguns.dm
  code/modules/vehicles/interior/interactable/vendors.dm
Due: report:dmdoc

A1 conv
  code/game/machinery/vending/vendor_types/crew/pilot_officer.dm
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
  code/game/machinery/vending/vendor_types/crew/vehicle_crew.dm
  code/game/machinery/vending/vendor_types/intelligence_officer.dm
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
  code/game/machinery/vending/vendor_types/wo_vendors.dm
  code/game/objects/structures/crates_lockers/largecrate_supplies.dm
  code/modules/cm_marines/equipment/guncases.dm
  code/modules/projectiles/guns/shotguns.dm
  code/modules/vehicles/interior/interactable/vendors.dm
Due: report:dmdoc

Update Desert_Dam.dmm
  maps/map_files/DesertDam/Desert_Dam.dmm
Due: report:map-changed-report

synth key merge
  maps/map_files/DesertDam/Desert_Dam.dmm
  maps/map_files/DesertDam/sprinkles/30.cmbengi.dmm
Due: report:map-changed-report

lang key
  code/modules/mob/language/languages.dm
Due: report:dmdoc

fix
  code/modules/borer/borer.dm
Due: report:dmdoc
