Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm

linting
  tgui/packages/tgui/interfaces/HealthScan.js
Due: none

Fix
  code/modules/dropships/attach_points/attach_point.dm
Due: report:dmdoc

Runtime fix for limbprinter. (#1134)
  code/game/machinery/bioprinter.dm
Due: report:dmdoc

Automatic changelog compile [ci skip]
  html/changelogs/archive/2022-09.yml
Due: none

Fix for lobby spam. (#1133)
  code/game/objects/items.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/storage/storage.dm
  code/modules/clothing/clothing.dm
  code/modules/gear_presets/_select_equipment.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/mob.dm
Due: report:dmdoc

healthscanner initial fixes (#1132)
  code/modules/mob/living/living_healthscan.dm
  tgui/packages/tgui/interfaces/HealthScan.js
Due: report:dmdoc

Operation Name Tidying (#1120)
  config/names/operation_postfix.txt
  config/names/operation_prefix.txt
  config/names/operation_title.txt
Due: none

Vendor asset fix (#1109)
  code/game/machinery/vending/cm_vending.dm
  code/game/machinery/vending/vendor_types/antag/antag_guns_sorted.dm
  code/modules/asset_cache/asset_list_items.dm
  tgui/packages/tgui/interfaces/VendingSorted.tsx
  tgui/packages/tgui/styles/interfaces/VendingSorted.scss
Due: report:dmdoc

Gods weakest subtype
  code/modules/almayer/machinery.dm
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/DesertDam/Desert_Dam.dmm
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
  maps/map_files/Kutjevo/Kutjevo.dmm
  maps/map_files/LV624/LV624.dmm
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
Due: report:dmdoc, report:map-changed-report

refactor and burn color change
  tgui/packages/tgui/interfaces/HealthScan.js
Due: none

racist
  code/controllers/subsystem/garbage.dm
  code/game/sound.dm
  code/modules/mapping/reader.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
Due: report:dmdoc

Update health scanner UI (#1138)
  tgui/packages/tgui/interfaces/HealthScan.js
Due: none

makes the help intent fling weaka
  code/modules/mob/living/carbon/xenomorph/abilities/defender/defender_powers.dm
Due: report:dmdoc

Jacket Storage Things
  code/datums/supply_packs/clothing.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/suits/labcoat.dm
  code/modules/clothing/suits/miscellaneous.dm
Due: report:dmdoc

fixes
  code/datums/supply_packs/clothing.dm
  code/modules/clothing/suits/labcoat.dm
Due: report:dmdoc

Fix message typo
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
Due: report:dmdoc

Fixed health scanners not re-using their UI
  code/game/machinery/adv_med.dm
  code/game/machinery/vending/vendor_types/medical.dm
  code/game/objects/items/devices/scanners.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/living_healthscan.dm
Due: report:dmdoc

Remove automatic health_display creation for a mob
  code/modules/mob/living/living.dm
Due: report:dmdoc

re
  code/game/objects/items.dm
Due: report:dmdoc

Add checks for being inside of something for any kind of buckling/stuffing
  code/game/objects/objs.dm
  code/game/objects/structures/morgue.dm
Due: report:dmdoc

fixes a bug I fixed but it didn't fix it last time
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Rework to remove health_display off of mob/living to each scanner.
  code/game/machinery/adv_med.dm
  code/game/machinery/vending/vendor_types/medical.dm
  code/game/objects/items/devices/scanners.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/living_healthscan.dm
Due: report:dmdoc

Fix UI being re-used even cross-clients
  code/game/machinery/adv_med.dm
  code/game/machinery/vending/vendor_types/medical.dm
  code/game/objects/items/devices/scanners.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/living_healthscan.dm
Due: report:dmdoc

Remove extra return data that no longer is needed
  code/game/objects/items/devices/scanners.dm
Due: report:dmdoc

fixing windbreakers
  code/modules/clothing/suits/jobs.dm
Due: report:dmdoc

Synthetic Vendor Additions (#1121)
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
Due: report:dmdoc

Update code/modules/clothing/suits/jobs.dm
  code/modules/clothing/suits/jobs.dm
Due: report:dmdoc

Fixes dropship attachment point layering (#1143)
  code/modules/dropships/attach_points/attach_point.dm
Due: report:dmdoc

Strip html from admin PMs (#1128)
  code/modules/admin/verbs/adminpm.dm
Due: report:dmdoc

Unloading with underbarrels. (#1136)
  code/modules/projectiles/gun_attachables.dm
  code/modules/projectiles/gun_helpers.dm
Due: report:dmdoc

Stanalbatross Suggestion
  code/modules/mob/living/carbon/xenomorph/castes/Carrier.dm
Due: report:dmdoc

inprog
  code/modules/mob/living/carbon/xenomorph/abilities/xeno_action.dm
Due: report:dmdoc
