Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm

fix pass flag runtimes
  code/modules/movement/movement.dm
Due: report:dmdoc

sanest
  code/modules/cm_aliens/XenoStructures.dm
Due: report:dmdoc

micro opt
  code/modules/movement/movement.dm
Due: report:dmdoc

Updates
  maps/map_files/ResearchNamePending/ResearchMapNamePending.dmm
Due: report:map-changed-report

Update forsaken_xenos.dm
  code/datums/emergency_calls/forsaken_xenos.dm
Due: report:dmdoc

wall tweaks
  code/game/machinery/door_control.dm
  code/game/machinery/doors/poddoor/shutters/shutters.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  maps/shuttles/escape_shuttle_e_cl.dmm
Due: report:dmdoc, report:map-changed-report

Fixup maps in TGM format
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  maps/shuttles/escape_shuttle_e_cl.dmm
Due: report:map-changed-report

init
  code/modules/reagents/chemistry_properties/prop_special.dm
Due: report:dmdoc

mech tweaks
  code/modules/projectiles/gun.dm
  code/modules/vehicles/rx47_combat_mech/combat_mech.dm
  code/modules/vehicles/rx47_combat_mech/guns.dm
Due: report:dmdoc

stamp
  code/game/objects/items/tools/misc_tools.dm
  icons/obj/items/paper.dmi
Due: report:dmdoc

crowbar
  code/modules/gear_presets/cia/grs.dm
Due: report:dmdoc

crowbar and cabinet tweak
  code/__DEFINES/job.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/structures/crates_lockers/closets/secure/guncabinet/guncabinet.dm
  code/modules/gear_presets/uscm_ship.dm
Due: report:dmdoc

autoname tweak
  code/game/objects/items/devices/radio/motion_sensor.dm
Due: report:dmdoc

updates m82f flaregun sprites
  icons/mob/humans/onmob/clothing/belts/belts.dmi
  icons/mob/humans/onmob/clothing/suit_storage/belts.dmi
  icons/mob/humans/onmob/inhands/weapons/guns/pistols_lefthand.dmi
  icons/mob/humans/onmob/inhands/weapons/guns/pistols_righthand.dmi
  icons/obj/items/clothing/belts/holstered_guns.dmi
  icons/obj/items/weapons/guns/guns_by_faction/USCM/pistols.dmi
  icons/obj/items/weapons/guns/lineart.dmi
Due: none

New strain added.
  code/__DEFINES/mob_hud.dm
  code/__DEFINES/xeno.dm
  code/_onclick/adjacent.dm
  code/datums/mob_hud.dm
  code/game/objects/structures/barricade/barricade.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/xenomorph/Evolution.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/xeno_action.dm
  code/modules/mob/living/carbon/xenomorph/attack_alien.dm
  code/modules/mob/living/carbon/xenomorph/castes/Warrior.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/lurker/vampire.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/warrior/shielder.dm
  code/modules/projectiles/projectile.dm
  colonialmarines.dme
  icons/mob/hud/hud.dmi
  icons/mob/xenos/castes/tier_2/warrior.dmi
  sound/effects/grenade_hit.ogg
  sound/effects/tail_swing.ogg
Due: report:dmdoc

Fixed baloon alerts capital leters: Aapparently CI check hates balloon alerts starting with capital leters.
  code/modules/mob/living/carbon/xenomorph/castes/Warrior.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/warrior/shielder.dm
Due: report:dmdoc

I keep forgetting.
  code/modules/mob/living/carbon/xenomorph/strains/castes/warrior/shielder.dm
Due: report:dmdoc

tv cam
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

bump sdmm
  dependencies.sh
Due: none

squad hud
  code/datums/factions/clf.dm
  code/datums/factions/cmb.dm
  code/datums/factions/hyperdyne.dm
  code/datums/factions/iasf.dm
  code/datums/factions/nspa.dm
  code/datums/factions/pap.dm
  code/datums/factions/pmc.dm
  code/datums/factions/royalmarinescommando.dm
  code/datums/factions/upp.dm
  code/datums/factions/uscm.dm
  code/datums/factions/wo.dm
  code/datums/factions/wy.dm
  code/datums/mob_hud.dm
  code/modules/mob/mob.dm
  icons/mob/hud/factions/clf.dmi
  icons/mob/hud/factions/cmb.dmi
  icons/mob/hud/factions/hyperdyne.dmi
  icons/mob/hud/factions/marine.dmi
  icons/mob/hud/factions/twe.dmi
  icons/mob/hud/factions/upp.dmi
  icons/mob/hud/factions/wy.dmi
  icons/mob/hud/human_status.dmi
  icons/mob/hud/marine_hud.dmi
Due: report:dmdoc

.
  code/modules/asset_cache/asset_list_items.dm
Due: report:dmdoc

grubmle
  code/modules/asset_cache/asset_list_items.dm
Due: report:dmdoc

ree this was fine a minute ago
  code/modules/asset_cache/asset_list_items.dm
Due: report:dmdoc

burn in hell commit conflicts
  code/modules/asset_cache/asset_list_items.dm
Due: report:dmdoc

why?
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
Due: report:dmdoc

???
  code/modules/cm_aliens/structures/trap.dm
Due: report:dmdoc

moreh
  code/modules/cm_aliens/structures/trap.dm
Due: report:dmdoc

more fixes
  code/modules/cm_aliens/structures/trap.dm
Due: report:dmdoc

wall block
  maps/map_files/BigRed/BigRed.dmm
Due: report:map-changed-report

Alt Remap Test
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Missed guard landmark
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

This merge bug is going to be the death of me
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Lights
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Fixup maps in TGM format
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Last tweaks
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

.
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

no_build pathing
  code/game/turfs/floor_types.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:dmdoc, report:map-changed-report
