Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm

Medic merge
  code/__DEFINES/job.dm
  code/datums/skills/wygoons.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/suits/marine_armor/ert.dm
  code/modules/gear_presets/survivors/lv_624/corporate_dome_insert_lv624.dm
  code/modules/gear_presets/wy_goons.dm
Due: report:dmdoc

Door floating pixel fix (#8385)
  icons/obj/structures/doors/2x1medidoor_solid.dmi
Due: none

eh this might need some cleanup
  code/datums/ammo/rocket.dm
  code/datums/elements/bullet_trait/penetrating/guided_rocket.dm
  code/game/machinery/fob_defense.dm
  colonialmarines.dme
Due: report:dmdoc

dupe sprite fix
  code/modules/gear_presets/wy_goons.dm
  icons/ui_icons/map_blips.dmi
Due: report:dmdoc

list fix
  code/__DEFINES/job.dm
  code/game/machinery/vending/vendor_types/crew/corporate_liaison.dm
Due: report:dmdoc

thing
  code/game/machinery/vending/vendor_types/antag/antag_predator.dm
Due: report:dmdoc

Update code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile.dm
Due: report:dmdoc

age
  code/modules/mob/living/carbon/xenomorph/castes/Hellhound.dm
Due: report:dmdoc

Fixup maps in TGM format
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

its so MPover
  code/modules/projectiles/guns/specialist/launcher/grenade_launcher.dm
  icons/obj/items/weapons/guns/guns_by_faction/USCM/grenade_launchers.dmi
Due: report:dmdoc

bottles not canisters
  code/game/objects/structures/reagent_dispensers.dm
Due: report:dmdoc

Ignore macOS system files
  .gitignore
Due: none

Fix TTS (#75)
  code/__DEFINES/bandamarines/rust_g.dm
Due: report:dmdoc

resolved conflicts
  maps/map_files/Kutjevo/Kutjevo.dmm
Due: report:map-changed-report

I am stupid why did I change gitignore
  .DS_Store
  .gitignore
Due: none

more requested changes.
  code/game/machinery/vending/vendor_types/crew/commanding_officer.dm
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
  code/game/machinery/vending/vendor_types/crew/staff_officer.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
  code/game/machinery/vending/vendor_types/wo_vendors.dm
  code/modules/client/preferences_gear.dm
  code/modules/clothing/glasses/glasses.dm
  icons/obj/items/clothing/accessory/medals.dmi
Due: report:dmdoc

also blacklist the current known bad floors
  code/modules/unit_tests/areas_unpowered.dm
Due: report:dmdoc

ok harryob i guess you could call that a review
  code/__DEFINES/traits.dm
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_powers.dm
Due: report:dmdoc

more code improving for the code masters
  code/modules/cm_aliens/structures/trap.dm
  code/modules/cm_preds/thrall_procs.dm
Due: report:dmdoc

ghost
  code/modules/cm_preds/yaut_items.dm
Due: report:dmdoc

fixes unit test failures
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

what is dry
  code/game/machinery/computer/groundside_operations.dm
  code/modules/cm_marines/overwatch.dm
Due: report:dmdoc

full body paint now changes with map type
  code/game/objects/items/cosmetics.dm
  code/modules/client/preferences_gear.dm
Due: report:dmdoc

Warden Praetorian rework (tm) (#7607)
  code/__DEFINES/traits.dm
  code/__DEFINES/xeno.dm
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_macros.dm
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Praetorian.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/praetorian/valkyrie.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/praetorian/warden.dm
  colonialmarines.dme
Due: report:dmdoc

[FIX] TTS Seed announcement (#78)
  code/defines/procs/announcement.dm
  code/game/machinery/nuclearbomb.dm
Due: report:dmdoc

squad specific stuff, updated menu icons ect.
  code/modules/client/preferences_gear.dm
  code/modules/clothing/head/head.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/under/ties.dm
  icons/obj/items/clothing/accessory/patches.dmi
  icons/obj/items/clothing/hats/berets.dmi
Due: report:dmdoc

fix
  code/modules/clothing/under/ties.dm
Due: report:dmdoc

fuckin comments
  code/controllers/subsystem/statpanel.dm
Due: report:dmdoc

stuff
  maps/Nightmare/maps/DesertDam/mapgen_variations.json
  maps/map_files/DesertDam/Desert_Dam.dmm
  maps/map_files/DesertDam/treatmentone/10.destroyed.dmm
  maps/map_files/DesertDam/treatmentone/10.hold.dmm
Due: report:map-changed-report

ihatexenocode
  code/modules/mob/living/carbon/xenomorph/abilities/lesser_drone/lesser_drone_powers.dm
Due: report:dmdoc

chat
  code/modules/mob/living/carbon/xenomorph/abilities/lesser_drone/lesser_drone_powers.dm
Due: report:dmdoc

more fixes and changes
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/closets/secure/freezer.dm
  code/game/turfs/light.dm
  code/modules/cm_preds/yaut_procs.dm
  icons/obj/structures/props/hunter/32x32-hunter_props.dmi
  maps/predship/huntership.dmm
Due: report:dmdoc, report:map-changed-report

there
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_powers.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/praetorian/valkyrie.dm
Due: report:dmdoc

this is probably better
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_powers.dm
Due: report:dmdoc

fuck my chud life
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_powers.dm
Due: report:dmdoc

okay then, remove it here
  code/controllers/subsystem/ticker.dm
Due: report:dmdoc

fix funny issues (upstream OOC & repairbelt ours)
  code/game/verbs/ooc.dm
  core_ru/code/game/objects/items/storage/belt.dm
Due: report:dmdoc
