Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

report:dmdoc:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies:
  - build:map-templates
  cache:
    key: dmdoc-${SPDMM_VERSION}
    paths:
    - dmdoc-bin
  script:
  - '[ -f dmdoc-bin ] || wget -O dmdoc-bin ${SPDMM_DOWNLOAD_URL}/dmdoc'
  - chmod u+x dmdoc-bin
  - ./dmdoc-bin
  artifacts:
    name: ci_dmdoc
  ...

report:map-changed-report:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies: []
  cache:
    key: dmm-tools-${SPDMM_VERSION}
    paths:
    - dmm-tools
  script:
  - CHANGED_MAP_FILES=`git diff-tree -r --diff-filter=d --name-only --no-commit-id ${CI_COMMIT_BEFORE_SHA}..${CI_COMMIT_SHA} maps/*.dmm`
  ...

Hybrisa Alpha 0.44
  code/game/area/LV759_Hybrisa_Prospera.dm
  code/game/objects/effects/decals/warning_stripes.dm
  code/game/objects/structures/props.dm
  code/game/turfs/open.dm
  icons/mob/animal.dmi
  icons/obj/structures/props/zenithrandomprops.dmi
  icons/turf/floors/hybrisafloors.dmi
  maps/map_files/LV759_Hybrisa_Prospera/LV759_Hybrisa_Prospera.dmm
  sound/effects/car_crush.ogg
Due: report:dmdoc, report:map-changed-report

aaa
  code/modules/mob/living/carbon/xenomorph/abilities/queen/queen_powers.dm
  code/modules/mob/living/carbon/xenomorph/hive_status.dm
Due: report:dmdoc

xeno ert no longer requires an id
  code/datums/emergency_calls/emergency_call.dm
  code/datums/emergency_calls/feral_xenos.dm
  code/datums/emergency_calls/xenos.dm
  code/modules/cm_tech/implements/xeno_handler.dm
  code/modules/shuttle/computer.dm
Due: report:dmdoc

Apply suggestions from code review
  code/controllers/configuration/entries/general.dm
  config/example/config.txt
Due: report:dmdoc

holes for healer drone
  code/modules/mob/living/carbon/xenomorph/strains/castes/drone/gardener.dm
Due: report:dmdoc

AnotherSave
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/BigRed/sprinkles/10.prison_breakout.dmm
  maps/map_files/BigRed/standalone/crashlanding-eva.dmm
  maps/map_files/BigRed/standalone/medbay-v3.dmm
Due: report:map-changed-report

Update revolver.dm
  code/datums/ammo/bullet/revolver.dm
Due: report:dmdoc

Update
  maps/map_files/BigRed/BigRed.dmm
Due: report:map-changed-report

asd
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/BigRed/sprinkles/40.admin_pmc.dmm
Due: report:map-changed-report

asd
  code/modules/clothing/under/ties.dm
Due: report:dmdoc

Updates UPP Synthetic Loadout (#6098)
  code/game/objects/items/reagent_containers/glass.dm
  code/game/objects/items/reagent_containers/glass/bottle.dm
  code/game/objects/items/reagent_containers/hypospray.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/storage/pouch.dm
  code/modules/clothing/suits/marine_armor/ert.dm
  code/modules/clothing/under/ties.dm
  code/modules/cm_marines/marines_consoles.dm
  code/modules/gear_presets/upp.dm
Due: report:dmdoc

dehardcodes client version warnings (#6114)
  code/controllers/configuration/entries/general.dm
  code/modules/client/client_procs.dm
  config/example/config.txt
Due: report:dmdoc

Automatic changelog for PR #6098 [ci skip]
  html/changelogs/AutoChangeLog-pr-6098.yml
Due: none

Apply suggestions from code review
  code/modules/mob/living/carbon/xenomorph/abilities/queen/queen_powers.dm
  code/modules/mob/living/carbon/xenomorph/hive_status.dm
Due: report:dmdoc

Automatic changelog for PR #6114 [ci skip]
  html/changelogs/AutoChangeLog-pr-6114.yml
Due: none

eye
  code/modules/mob/living/carbon/xenomorph/abilities/queen/queen_powers.dm
Due: report:dmdoc

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-6098.yml
  html/changelogs/AutoChangeLog-pr-6104.yml
  html/changelogs/AutoChangeLog-pr-6114.yml
  html/changelogs/archive/2024-04.yml
Due: none

Drulikar pt1
  code/game/objects/items/storage/belt.dm
Due: report:dmdoc

Drulikar fix pt2
  code/modules/clothing/suits/marine_armor/ert.dm
Due: report:dmdoc

Fiorina Riot In Progress: Colonial Marshals & United Americas Police (#6022)
  code/game/objects/effects/landmarks/survivor_spawner.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/weapons/shields.dm
  code/modules/clothing/suits/marine_armor/ert.dm
  code/modules/gear_presets/survivors/fiorina_sciannex/riot_in_progress_insert_fiorina_nightmare.dm
  code/modules/gear_presets/synths.dm
  code/modules/projectiles/guns/specialist/launcher/grenade_launcher.dm
  colonialmarines.dme
Due: report:dmdoc

Automatic changelog for PR #6022 [ci skip]
  html/changelogs/AutoChangeLog-pr-6022.yml
Due: none

Revert "Update Facehuggers.dm"
  code/modules/mob/living/carbon/xenomorph/Facehuggers.dm
Due: report:dmdoc

Revert "Infinite facehugger holding fix"
  code/modules/mob/living/carbon/xenomorph/Facehuggers.dm
  code/modules/mob/living/carbon/xenomorph/castes/lesser_drone.dm
Due: report:dmdoc

aaaaaaaa
  code/modules/mob/living/carbon/xenomorph/Facehuggers.dm
  code/modules/mob/living/carbon/xenomorph/castes/lesser_drone.dm
Due: report:dmdoc

why
  code/modules/mob/living/carbon/xenomorph/abilities/general_abilities.dm
Due: report:dmdoc

Revert "aaaaaaaa"
  code/modules/mob/living/carbon/xenomorph/Facehuggers.dm
  code/modules/mob/living/carbon/xenomorph/castes/lesser_drone.dm
Due: report:dmdoc

bbbbbbb
  code/modules/mob/living/carbon/xenomorph/Facehuggers.dm
  code/modules/mob/living/carbon/xenomorph/castes/lesser_drone.dm
Due: report:dmdoc

Stopping Power
  code/datums/ammo/bullet/sniper.dm
Due: report:dmdoc

Description fixes
  code/modules/cm_marines/equipment/kit_boxes.dm
  code/modules/projectiles/guns/specialist/sniper.dm
Due: report:dmdoc

Human Impact
  code/datums/ammo/bullet/sniper.dm
Due: report:dmdoc

Fixed comments
  code/datums/ammo/bullet/sniper.dm
Due: report:dmdoc

old warning
  code/datums/ammo/bullet/sniper.dm
Due: report:dmdoc

No more age for anonymous huggers.
  code/modules/mob/living/carbon/xenomorph/castes/Facehugger.dm
Due: report:dmdoc

Update comment
  code/datums/ammo/bullet/sniper.dm
Due: report:dmdoc

Linter
  code/modules/mob/living/carbon/xenomorph/Facehuggers.dm
Due: report:dmdoc

Update launching.dm
  code/modules/movement/launching/launching.dm
Due: report:dmdoc

x
  code/modules/mob/dead/observer/observer.dm
Due: report:dmdoc

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-6022.yml
  html/changelogs/archive/2024-04.yml
Due: none

Stabilized metallic foam, a gimmick new flamer fuel (#6062)
  code/game/objects/effects/effect_system/foam.dm
  code/modules/projectiles/gun_attachables.dm
  code/modules/projectiles/guns/flamer/flamer.dm
  code/modules/projectiles/magazines/flamer.dm
  code/modules/reagents/chemistry_reactions/other.dm
  code/modules/reagents/chemistry_reagents/other.dm
Due: report:dmdoc

brightens the burncolor of the high-combustion napalm fuel (#6147)
  code/modules/reagents/chemistry_reagents/other.dm
Due: report:dmdoc

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm
