Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm

Makes gau able to hit resting mobs (#4304)
  code/modules/cm_marines/dropship_ammo.dm
  code/modules/projectiles/ammo_datums.dm
Due: report:dmdoc

Cryorine changes (#4352)
  code/datums/emergency_calls/cryo_marines.dm
  code/modules/cm_tech/techs/marine/tier3/cryorine.dm
Due: report:dmdoc

Automatic changelog for PR #4372 [ci skip]
  html/changelogs/AutoChangeLog-pr-4372.yml
Due: none

Review
  code/datums/emergency_calls/cryo_spec.dm
  code/modules/cm_tech/techs/marine/tier3/cryo_spec.dm
Due: report:dmdoc

fixes WY access to research (#4381)
  code/game/machinery/doors/multi_tile.dm
Due: report:dmdoc

Automatic changelog for PR #4371 [ci skip]
  html/changelogs/AutoChangeLog-pr-4371.yml
Due: none

Project ARES: Functional Access Tickets (#4111)
  code/__DEFINES/ARES.dm
  code/game/machinery/ARES/ARES.dm
  code/game/machinery/ARES/ARES_procs.dm
  code/game/machinery/ARES/ARES_records.dm
  code/game/machinery/ARES/ARES_step_triggers.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  tgui/packages/tgui/interfaces/WorkingJoe.js
Due: report:dmdoc, report:map-changed-report

Initial
  code/modules/gear_presets/corpses.dm
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
  maps/map_files/New_Varadero/New_Varadero.dmm
Due: report:dmdoc, report:map-changed-report

Project ARES: Adds more APOLLO consoles (#4208)
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Cryo spec one time tech purchase (#4354)
  code/datums/emergency_calls/cryo_spec.dm
  code/modules/cm_tech/techs/marine/tier3/cryo_spec.dm
  colonialmarines.dme
Due: report:dmdoc

Project ARES: Logging tweaks & updates (#4225)
  code/__DEFINES/ARES.dm
  code/game/machinery/ARES/ARES.dm
  code/game/machinery/ARES/ARES_procs.dm
  code/game/machinery/ARES/ARES_records.dm
  code/game/machinery/computer/almayer_control.dm
  code/game/supplyshuttle.dm
  code/modules/cm_marines/anti_air.dm
  code/modules/cm_marines/overwatch.dm
  code/modules/security_levels/security_levels.dm
  code/modules/shuttle/computers/dropship_computer.dm
  code/modules/shuttles/marine_ferry.dm
  code/modules/shuttles/shuttle_console.dm
  tgui/packages/tgui/interfaces/AresInterface.js
Due: report:dmdoc

Automatic changelog for PR #4360 [ci skip]
  html/changelogs/AutoChangeLog-pr-4360.yml
Due: none

OK I suppose I will compile this time
  code/game/objects/effects/landmarks/corpsespawner.dm
Due: report:dmdoc

And these, goddamn clowns everywhere man
  maps/map_files/Kutjevo/Kutjevo.dmm
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
Due: report:map-changed-report

Automatic changelog for PR #4358 [ci skip]
  html/changelogs/AutoChangeLog-pr-4358.yml
Due: none

Automatic changelog for PR #4356 [ci skip]
  html/changelogs/AutoChangeLog-pr-4356.yml
Due: none

Automatic changelog for PR #4353 [ci skip]
  html/changelogs/AutoChangeLog-pr-4353.yml
Due: none

Automatic changelog for PR #4374 [ci skip]
  html/changelogs/AutoChangeLog-pr-4374.yml
Due: none

Automatic changelog for PR #4367 [ci skip]
  html/changelogs/AutoChangeLog-pr-4367.yml
Due: none

Automatic changelog for PR #4350 [ci skip]
  html/changelogs/AutoChangeLog-pr-4350.yml
Due: none

Automatic changelog for PR #4304 [ci skip]
  html/changelogs/AutoChangeLog-pr-4304.yml
Due: none

Automatic changelog for PR #4352 [ci skip]
  html/changelogs/AutoChangeLog-pr-4352.yml
Due: none

Automatic changelog for PR #4381 [ci skip]
  html/changelogs/AutoChangeLog-pr-4381.yml
Due: none

Automatic changelog for PR #4111 [ci skip]
  html/changelogs/AutoChangeLog-pr-4111.yml
Due: none

Automatic changelog for PR #4208 [ci skip]
  html/changelogs/AutoChangeLog-pr-4208.yml
Due: none

Automatic changelog for PR #4354 [ci skip]
  html/changelogs/AutoChangeLog-pr-4354.yml
Due: none

Automatic changelog for PR #4225 [ci skip]
  html/changelogs/AutoChangeLog-pr-4225.yml
Due: none

Endurance для IO + переводы
  code/datums/skills.dm
  code/modules/cm_tech/trees/marine.dm
  code/modules/objectives/objective_memory_storage.dm
Due: report:dmdoc

Automatic changelog compile [ci skip]
  html/changelogs/archive/2023-09.yml
Due: none

Initial, not complete
  code/__DEFINES/subsystems.dm
  code/controllers/subsystem/hijack.dm
  code/game/area/almayer.dm
  colonialmarines.dme
Due: report:dmdoc

typo
  code/modules/cm_tech/trees/marine.dm
Due: report:dmdoc

Sprites
  fray-marines/icons/obj/vehicles/mech-walker.dmi
  fray-marines/icons/obj/vehicles/mech.dmi
  fray-marines/icons/obj/vehicles/mecha_guns.dmi
Due: none

Small updates
  fray-marines/code/modules/vehicles/hardpoints_walker.dm
  fray-marines/code/modules/vehicles/walker.dm
Due: report:dmdoc

Smartgun walker iff
  fray-marines/code/modules/vehicles/hardpoints_walker.dm
Due: report:dmdoc

adds twe heap
  code/modules/projectiles/magazines/rifles.dm
  icons/obj/items/weapons/guns/ammo_by_faction/twe_ammo.dmi
Due: report:dmdoc

oops
  code/modules/projectiles/magazines/rifles.dm
Due: report:dmdoc

/datum/ammo/bullet/heap
  code/modules/projectiles/magazines/rifles.dm
Due: report:dmdoc

conflict
  icons/mob/humans/onmob/suit_1.dmi
  icons/obj/items/clothing/cm_suits.dmi
Due: none

Commit
  code/game/objects/items/storage/pouch.dm
Due: report:dmdoc

Update code/modules/cm_aliens/weeds.dm
  code/modules/cm_aliens/weeds.dm
Due: report:dmdoc
