Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm

Update human_attackhand.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
Due: report:dmdoc

surely this is the las tone right nihisohel
  code/datums/langchat/langchat.dm
Due: report:dmdoc

control server
  code/datums/control_server.dm
  code/modules/client/client_procs.dm
  colonialmarines.dme
Due: report:dmdoc

wrong language dumbass
  code/datums/control_server.dm
  code/modules/client/client_procs.dm
Due: report:dmdoc

verb argument silly
  code/datums/control_server.dm
Due: report:dmdoc

two way comms complete
  code/datums/control_server.dm
  code/game/world.dm
Due: report:dmdoc

change to formatting, autoping here
  code/datums/control_server.dm
Due: report:dmdoc

eek
  code/datums/control_server.dm
Due: report:dmdoc

Normalise
  sound/theme/winning_triumph3.ogg
Due: none

space indentation i suppose
  code/datums/control_server.dm
Due: report:dmdoc

oopsies
  code/datums/control_server.dm
Due: report:dmdoc

ramparts
  code/game/machinery/rampart.dm
  code/game/turfs/open_space.dm
  code/modules/shuttle/shuttles/dropship.dm
  colonialmarines.dme
Due: report:dmdoc

Upgrades ERT sleepers and autodocs
  maps/templates/lazy_templates/freelancer_ert_station.dmm
  maps/templates/lazy_templates/twe_ert_station.dmm
  maps/templates/lazy_templates/upp_ert_station.dmm
  maps/templates/lazy_templates/uscm_ert_station.dmm
  maps/templates/lazy_templates/weyland_ert_station.dmm
Due: report:map-changed-report

rampart icons
  code/game/machinery/rampart.dm
  icons/obj/structures/machinery/rampart.dmi
Due: report:dmdoc

Wacky Multiz Thunderdome
  code/modules/admin/tabs/thunderdome_tab.dm
  maps/templates/lazy_templates/thunderdome/multiz.dmm
Due: report:dmdoc, report:map-changed-report

adds vehicle blockers to multi z stairs
  maps/templates/lazy_templates/thunderdome/multiz.dmm
Due: report:map-changed-report

linters
  maps/templates/lazy_templates/thunderdome/multiz.dmm
Due: report:map-changed-report

requested changes p.2
  code/modules/mob/living/carbon/xenomorph/XenoAttacks.dm
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_abilities.dm
  code/modules/mob/living/carbon/xenomorph/attack_alien.dm
  code/modules/mob/living/carbon/xenomorph/strains/behavior_delegate.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/praetorian/dancer.dm
  code/modules/projectiles/projectile.dm
Due: report:dmdoc

you can shoot down
  code/_onclick/adjacent.dm
Due: report:dmdoc

forgot about that
  code/modules/mob/living/carbon/xenomorph/strains/castes/praetorian/dancer.dm
Due: report:dmdoc

meh
  code/_onclick/adjacent.dm
Due: report:dmdoc

general fixes
  code/modules/gear_presets/uscm.dm
  code/modules/gear_presets/wy_commandos.dm
Due: report:dmdoc

gunning smartly
  code/datums/skills/commando.dm
  code/modules/gear_presets/uscm.dm
  code/modules/gear_presets/wy_commandos.dm
Due: report:dmdoc

this might half fix the visual
  code/modules/projectiles/projectile.dm
Due: report:dmdoc

Update Desert_Dam.dmm
  maps/map_files/DesertDam/Desert_Dam.dmm
Due: report:map-changed-report

Fixup maps in TGM format
  maps/map_files/DesertDam/Desert_Dam.dmm
Due: report:map-changed-report

Revert "removes dirlock slowdown from humans (#10679)" (#11560)
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/mob_movement.dm
Due: report:dmdoc

deconflict
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Fixup maps in TGM format
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Update code/modules/power/apc.dm
  code/modules/power/apc.dm
Due: report:dmdoc

fix injector pouches lol
  code/modules/gear_presets/upp.dm
Due: report:dmdoc

changes :)
  code/game/objects/items/devices/walkman.dm
  icons/obj/items/walkman.dmi
Due: report:dmdoc

fix and remove black band
  code/game/machinery/vending/vending_types.dm
  code/game/machinery/vending/vendor_types/general.dm
  code/game/objects/items/devices/walkman.dm
  icons/mob/humans/onmob/clothing/helmet_garb/walkman.dmi
  icons/obj/items/walkman.dmi
Due: report:dmdoc

WeNeedThatUIToFixIt
  code/game/machinery/autolathe.dm
Due: report:dmdoc

AlsoThese
  code/game/machinery/autolathe.dm
  code/game/machinery/machinery.dm
Due: report:dmdoc

w-y smartgunner can have a machete, as a treat
  code/modules/gear_presets/wy_commandos.dm
Due: report:dmdoc

Update constants.ts
  tgui/packages/tgui-say/constants.ts
Due: none

Corp Bodyguard Increased Choice (CBIC)
  code/game/machinery/vending/vendor_types/crew/corporate_security.dm
  code/game/objects/items/storage/belt.dm
  code/modules/projectiles/guns/pistols.dm
  code/modules/projectiles/guns/revolvers.dm
  code/modules/projectiles/guns/rifles.dm
  code/modules/projectiles/guns/smgs.dm
Due: report:dmdoc

Corporate Bodyguard Increased Choice
  code/game/machinery/vending/vendor_types/crew/corporate_security.dm
  code/game/objects/items/storage/belt.dm
  code/modules/projectiles/guns/pistols.dm
Due: report:dmdoc
