Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm

should work
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_powers.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/praetorian/valkyrie.dm
Due: report:dmdoc

nay
  code/modules/mob/living/carbon/xenomorph/castes/Hellhound.dm
Due: report:dmdoc

Final commit? please holy hell
  .DS_Store
  maps/.DS_Store
  maps/map_files/Kutjevo/Kutjevo.dmm
Due: report:map-changed-report

Add a ceiling back to South Colony Treatment Plant
  code/game/area/kutjevo.dm
Due: report:dmdoc

fix surv tracking
  code/__DEFINES/job.dm
  code/datums/statistics/entities/survivor_survival.dm
  code/game/jobs/job/civilians/other/survivors.dm
Due: report:dmdoc

remove standartized and fixed names because it keeps failing....
  code/game/area/kutjevo.dm
Due: report:dmdoc

adds a reloader to prevent chat from bugging out (#8361)
  tgui/packages/tgui-panel/chat/constants.ts
  tgui/packages/tgui-panel/chat/renderer.jsx
Due: none

Update Desert_Dam.dmm
  maps/map_files/DesertDam/Desert_Dam.dmm
Due: report:map-changed-report

apc
  maps/map_files/New_Varadero/standalone/clfraid.dmm
Due: report:map-changed-report

ceiling
  code/game/area/hunting_preserve.dm
Due: report:dmdoc

FIX - TTS-radio volume and ERT sound volume (#83)
  modular/sounds/code/emergency_call.dm
  modular/text_to_speech/code/sound.dm
Due: report:dmdoc

chances
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
Due: report:dmdoc, report:map-changed-report

Please chances just work
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
Due: report:map-changed-report

should work i hope
  code/modules/mob/living/carbon/xenomorph/abilities/crusher/crusher_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/crusher/crusher_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Crusher.dm
Due: report:dmdoc

Fixup maps in TGM format
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
Due: report:map-changed-report

r
  code/_onclick/hud/alien.dm
Due: report:dmdoc

small changes to pilot doors access. added some tarbacks to the SEA office.
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Update nuclearbomb.dm
  code/game/machinery/nuclearbomb.dm
Due: report:dmdoc

typo
  code/modules/mob/living/carbon/xenomorph/strains/castes/praetorian/valkyrie.dm
Due: report:dmdoc

cleaner
  code/modules/mob/living/carbon/xenomorph/death.dm
Due: report:dmdoc

Weapon Stats now list single fire as fire rate
  tgui/packages/tgui/interfaces/WeaponStats.jsx
Due: none

quit autofixing the file please. I want this caught by the person committing the change.
  tools/mapmerge2/dmm.py
  tools/mapmerge2/dmm_test.py
Due: none

this is unbelievably broken
  code/datums/statistics/entities/round_stats.dm
  code/game/gamemodes/colonialmarines/colonialmarines.dm
Due: report:dmdoc

fix the rest too
  code/game/gamemodes/colonialmarines/huntergames.dm
  code/game/gamemodes/colonialmarines/whiskey_outpost.dm
  code/game/gamemodes/colonialmarines/xenovsxeno.dm
  code/game/gamemodes/extended/extended.dm
  code/game/gamemodes/extended/infection.dm
Due: report:dmdoc

Some Security Records fix and tweak
  code/game/machinery/computer/security.dm
  tgui/packages/tgui/interfaces/SecurityRecords.jsx
Due: report:dmdoc

Reverts jsx changes cus conflict :(
  tgui/packages/tgui/interfaces/SecurityRecords.jsx
Due: none

Translate CLF Партизан (#84)
  code/__DEFINES/bandamarines/ru_jobs.dm
Due: report:dmdoc

Only test if maps modified
  tools/mapmerge2/dmm_test.py
Due: none

merge driver result
  tools/mapmerge2/merge_driver.py
Due: none

fix head
  tools/mapmerge2/dmm_test.py
Due: none

actually use the head
  tools/mapmerge2/dmm_test.py
Due: none

no rotation
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
  code/modules/mob/living/living.dm
Due: report:dmdoc

admin and stuff
  maps/map_files/DesertDam/Desert_Dam.dmm
  maps/map_files/DesertDam/xenoflora/10.alt.dmm
  maps/map_files/DesertDam/xenoflora/10.destroyed.dmm
Due: report:map-changed-report

exec panel
  tgui/packages/tgui/interfaces/CentralOverwatchConsole.jsx
Due: none

fix: change rank to position
  tgui/packages/tgui/interfaces/SecurityRecords.jsx
Due: none
