Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm

removal
  code/game/objects/items/devices/drone_devices.dm
  maps/map_files/FOP_v2_Cellblocks/Prison_Station_FOP.dmm
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
Due: report:dmdoc, report:map-changed-report

removal
  code/game/objects/items/devices/drone_devices.dm
  colonialmarines.dme
  maps/map_files/CORSAT/Corsat.dmm
  maps/map_files/FOP_v2_Cellblocks/Prison_Station_FOP.dmm
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
Due: report:dmdoc, report:map-changed-report

rsc removal
  code/game/objects/items/devices/RSP.dm
Due: report:dmdoc

rs ehh hwhatever removal
  code/game/objects/items/devices/RSF.dm
  colonialmarines.dme
Due: report:dmdoc

eh
  code/game/objects/items/devices/RSP.dm
Due: report:dmdoc

more removal
  code/game/machinery/autolathe_datums.dm
  code/game/objects/items/devices/RCD.dm
  code/game/objects/structures/crates_lockers/crates.dm
  colonialmarines.dme
  maps/map_files/CORSAT/Corsat.dmm
  maps/map_files/Ice_Colony_v2/Ice_Colony_v2.dmm
Due: report:dmdoc, report:map-changed-report

CL ALWAYS SEE YOU (#239)
  code/modules/gear_presets/uscm_ship.dm
  core_ru/code/datums/skills/civilan.dm
  core_ru/code/includes.dm
  core_ru/code/modules/gear_presets/uscm_ship.dm
Due: report:dmdoc

Fixes spec kit, AGAIN (#6390)
  code/modules/cm_marines/equipment/kit_boxes.dm
Due: report:dmdoc

Automatic changelog for PR #6390 [ci skip]
  html/changelogs/AutoChangeLog-pr-6390.yml
Due: none

mp5 has 10% chance to spawn with m203 UGL attached (#6614)
  code/modules/projectiles/guns/smgs.dm
Due: report:dmdoc

Quadtrees shapes (#6681)
  code/_macros.dm
  code/controllers/subsystem/sound.dm
  code/datums/quadtree.dm
  code/game/camera_manager/camera_manager.dm
  code/game/machinery/computer/dropship_weapons.dm
  code/game/objects/items/devices/motion_detector.dm
  code/modules/cm_aliens/structures/special/egg_morpher.dm
  code/modules/defenses/bell_tower.dm
  code/modules/defenses/planted_flag.dm
  code/modules/defenses/sentry.dm
  code/modules/defenses/sentry_computer.dm
  code/modules/defenses/sentry_flamer.dm
Due: report:dmdoc

Automatic changelog for PR #6614 [ci skip]
  html/changelogs/AutoChangeLog-pr-6614.yml
Due: none

fix lint error
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

change the required allies number into a var
  code/game/objects/items/stacks/flags.dm
Due: report:dmdoc

Update code/game/objects/items/stacks/flags.dm
  code/game/objects/items/stacks/flags.dm
Due: report:dmdoc

Adds a plantable UA flag in the CIC armoury (#6492)
  code/game/objects/items/stacks/flags.dm
  code/game/objects/objs.dm
  icons/mob/humans/onmob/items_lefthand_64.dmi
  icons/mob/humans/onmob/items_righthand_64.dmi
  icons/obj/structures/plantable_flag.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  sound/effects/.wav
  sound/effects/flag_lowering.ogg
  sound/effects/flag_raised.ogg
  sound/effects/flag_raising.ogg
  sound/effects/flag_warcry_ua.ogg
  sound/effects/flag_warcry_ua_extra.ogg
Due: report:dmdoc, report:map-changed-report

More sprites done, a few more tweaks made
  code/modules/mob/living/carbon/xenomorph/abilities/reaper/reaper_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/reaper/reaper_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Reaper.dm
  code/modules/mob/living/simple_animal/hostile/rotdrone.dm
  icons/mob/hud/actions_xeno.dmi
  icons/mob/xenos/drone.dmi
  icons/mob/xenos/radial_xenos.dmi
  icons/mob/xenos/rotdrone.dmi
  icons/mob/xenos/wounds.dmi
Due: report:dmdoc

Some fixes to paradropping (#6609)
  code/__DEFINES/dcs/signals/atom/signals_movable.dm
  code/__DEFINES/traits.dm
  code/game/objects/structures/stool_bed_chair_nest/xeno_nest.dm
  code/game/turfs/transit.dm
  code/modules/movement/movement.dm
  code/modules/projectiles/projectile.dm
Due: report:dmdoc

unowns queen remote build (#6677)
  code/modules/mob/living/carbon/xenomorph/strains/castes/hivelord/resin_whisperer.dm
Due: report:dmdoc

Automatic changelog for PR #6492 [ci skip]
  html/changelogs/AutoChangeLog-pr-6492.yml
Due: none

Automatic changelog for PR #6609 [ci skip]
  html/changelogs/AutoChangeLog-pr-6609.yml
Due: none

Automatic changelog for PR #6677 [ci skip]
  html/changelogs/AutoChangeLog-pr-6677.yml
Due: none

buffs cades against projectiles
  code/game/objects/objs.dm
  code/game/objects/structures/barricade/barricade.dm
  code/game/objects/structures/tables_racks.dm
  code/modules/projectiles/projectile.dm
Due: report:dmdoc

Automatic changelog for PR #6442 [ci skip]
  html/changelogs/AutoChangeLog-pr-6442.yml
Due: none

correct cade side fix
  code/modules/projectiles/projectile.dm
Due: report:dmdoc

removes cryo spec, buffs foxtrot up to 12, increases foxtrot price, remove repeat foxtrot
  code/datums/emergency_calls/cryo_marines.dm
  code/modules/cm_tech/techs/marine/tier3/cryo_spec.dm
  code/modules/cm_tech/techs/marine/tier3/cryorine.dm
  colonialmarines.dme
Due: report:dmdoc

autowiki gun images now stop randomly changing attachments (#6678)
  code/modules/projectiles/gun.dm
Due: report:dmdoc

gravity be gone
  code/game/area/areas.dm
  code/game/area/space_station_13_areas.dm
  code/game/objects/items/tools/extinguisher.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/mob_movement.dm
Due: report:dmdoc

also removes trunk
  code/game/area/areas.dm
Due: report:dmdoc

begone
  code/game/objects/structures/crates_lockers/closets/malfunction.dm
  colonialmarines.dme
Due: report:dmdoc

more removal
  code/game/objects/items/tanks/jetpack.dm
  code/modules/gear_presets/other.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  colonialmarines.dme
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
Due: report:dmdoc, report:map-changed-report

shit complicated
  code/datums/ammo/bullet/special_ammo.dm
  code/modules/projectiles/guns/smartgun.dm
  code/modules/projectiles/magazines/specialist.dm
  icons/mob/hud/actions.dmi
Due: report:dmdoc

Update rifles.dm
  code/modules/projectiles/guns/rifles.dm
Due: report:dmdoc

synapse duration
  code/modules/borer/borer_chemicals.dm
  code/modules/borer/borer_wip.dm
Due: report:dmdoc

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-6390.yml
  html/changelogs/AutoChangeLog-pr-6442.yml
  html/changelogs/AutoChangeLog-pr-6492.yml
  html/changelogs/AutoChangeLog-pr-6609.yml
  html/changelogs/AutoChangeLog-pr-6614.yml
  html/changelogs/AutoChangeLog-pr-6677.yml
  html/changelogs/archive/2024-07.yml
Due: none

Update smgs.dm
  code/modules/projectiles/guns/smgs.dm
Due: report:dmdoc

merge fixes
  code/modules/projectiles/guns/smartgun.dm
Due: report:dmdoc

Update code/game/sound.dm
  code/game/sound.dm
Due: report:dmdoc
