Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm

more fix
  .github/workflows/generate_documentation.yml
Due: none

3 slots
  code/modules/clothing/suits/marine_armor.dm
Due: report:dmdoc

quick fix for changelog workflow (#1637)
  .github/workflows/compile_changelogs.yml
  .github/workflows/generate_documentation.yml
Due: none

i am literally going crazy
  .github/workflows/compile_changelogs.yml
Due: none

updates event script
  tools/tgs4_scripts/PreCompile.sh
Due: none

updates the eventscripts for the new changelog system (#1638)
  .github/workflows/compile_changelogs.yml
  tools/tgs4_scripts/PreCompile.sh
Due: none

updates comment
  code/modules/clothing/clothing.dm
Due: report:dmdoc

hive weeds warning changed
  code/modules/mob/living/carbon/xenomorph/egg_item.dm
Due: report:dmdoc

Machine Gun Bug Fix (#1411)
  code/__DEFINES/dcs/signals.dm
  code/modules/cm_marines/smartgun_mount.dm
  code/modules/mob/living/carbon/human/human_abilities.dm
Due: report:dmdoc

Automatic changelog compile [ci skip]
  html/changelogs/archive/2022-11.yml
Due: none

warrior chyanges again
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
  code/modules/mob/mob_grab.dm
Due: report:dmdoc

fixes
  code/game/area/LV522_Chances_Claim.dm
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
Due: report:dmdoc, report:map-changed-report

f
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
Due: report:map-changed-report

feedback solutions
  code/datums/factions/clf.dm
  code/game/objects/effects/spawners/random.dm
  code/game/objects/structures/crates_lockers/largecrate.dm
  code/modules/gear_presets/_select_equipment.dm
  code/modules/gear_presets/clf.dm
  code/modules/projectiles/guns/shotguns.dm
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/BigRed/sprinkles/10.prison_breakout.dmm
  maps/map_files/CORSAT/Corsat.dmm
  maps/map_files/CORSAT/standalone/sigma_ice.dmm
  maps/map_files/DesertDam/Desert_Dam.dmm
  maps/map_files/FOP_v2_Cellblocks/Prison_Station_FOP.dmm
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
  maps/map_files/Haunted_House_V2/Haunted_House_V2.dmm
  maps/map_files/Ice_Colony_v2/Ice_Colony_v2.dmm
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
  maps/map_files/Kutjevo/Kutjevo.dmm
  maps/map_files/LV624/LV624.dmm
  maps/map_files/LV624/cargospecial/cargospecial2_weapons.dmm
  maps/map_files/LV624/crashedship/10.digsite.dmm
  maps/map_files/LV624/crashedship/10.swapped.dmm
  maps/map_files/LV624/standalone/clfship.dmm
  maps/map_files/LV624/standalone/laststand.dmm
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
Due: report:dmdoc, report:map-changed-report

:door:
  code/game/objects/structures/crates_lockers/closets/wardrobe.dm
Due: report:dmdoc

corrects egg + stair planing
  code/game/objects/structures/misc.dm
  code/modules/cm_aliens/structures/egg.dm
Due: report:dmdoc

changes
  code/game/machinery/computer/pmc_transfer.dm
  tgui/packages/tgui/interfaces/PmcTransfer.js
Due: report:dmdoc

mg - needs test
  code/modules/cm_marines/smartgun_mount.dm
Due: report:dmdoc

More automobiles
  code/modules/vehicles/hardpoints/wheels/treads.dm
  code/modules/vehicles/hardpoints/wheels/van_wheels.dm
  code/modules/vehicles/truck/civtruck.dm
  code/modules/vehicles/truck/civvan.dm
  code/modules/vehicles/truck/crane.dm
  code/modules/vehicles/truck/miltruck.dm
  icons/obj/vehicles/civtruck.dmi
  icons/obj/vehicles/civvan.dmi
  icons/obj/vehicles/crane.dmi
  icons/obj/vehicles/miltruck.dmi
  maps/interiors/crane.dmm
  maps/interiors/truck.dmm
Due: report:dmdoc, report:map-changed-report

Xeno blood is now finite (#1565)
  code/modules/mob/living/blood.dm
  code/modules/mob/living/carbon/xenomorph/life.dm
Due: report:dmdoc

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-1411.yml
  html/changelogs/archive/2022-11.yml
Due: none

Assortment of Deletion Fixes (#1556)
  code/_onclick/hud/radial.dm
  code/datums/skills.dm
  code/game/machinery/camera/camera.dm
  code/game/objects/effects/effect_system/smoke.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/motion_detector.dm
  code/game/objects/items/explosives/explosive.dm
  code/game/objects/items/weapons/stunbaton.dm
  code/modules/assembly/signaller.dm
  code/modules/cm_aliens/structures/special/egg_morpher.dm
  code/modules/cm_marines/equipment/mortar/mortar_shells.dm
  code/modules/cm_marines/equipment/mortar/mortars.dm
  code/modules/cm_marines/equipment/weapons.dm
  code/modules/cm_preds/yaut_items.dm
  code/modules/cm_tech/hologram.dm
  code/modules/defenses/defenses.dm
  code/modules/defenses/handheld.dm
  code/modules/defenses/planted_flag.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/organs/limbs.dm
  code/modules/projectiles/guns/revolvers.dm
  code/modules/recycling/disposal.dm
  code/modules/vehicles/interior/interior.dm
Due: report:dmdoc

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-1565.yml
  html/changelogs/archive/2022-11.yml
Due: none

Update code/datums/supply_packs/_supply_packs.dm
  code/datums/supply_packs/_supply_packs.dm
Due: report:dmdoc

Allows building resin contructions in doors again (#1528)
  code/game/machinery/doors/airlock.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/carbon/xenomorph/resin_constructions.dm
Due: report:dmdoc

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-1556.yml
  html/changelogs/archive/2022-11.yml
Due: none

Update crane.dm
  code/modules/vehicles/truck/crane.dm
Due: report:dmdoc

Update code/game/machinery/rechargestation.dm
  code/game/machinery/rechargestation.dm
Due: report:dmdoc

Partial Soro fix
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
Due: report:map-changed-report

Fixes the CMP beret desc
  code/modules/clothing/head/head.dm
Due: report:dmdoc

\the
  code/game/machinery/door_control.dm
Due: report:dmdoc

Sorokyne runtime error fix
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
Due: report:map-changed-report

resolved icon issues and code feedback
  code/game/jobs/job/marine/squads.dm
  code/modules/asset_cache/asset_list_items.dm
  tgui/packages/tgui/interfaces/SquadInfo.tsx
  tgui/packages/tgui/styles/interfaces/SquadInfo.scss
Due: report:dmdoc

Fixed hydro locker looking open when it isn't
  code/game/objects/structures/crates_lockers/closets/secure/hydroponics.dm
Due: report:dmdoc

Working Joe emotes
  code/modules/mob/living/carbon/human/emote.dm
Due: report:dmdoc

Emotes
  code/modules/mob/living/carbon/human/emote.dm
Due: report:dmdoc

Fighting parser
  code/modules/mob/living/carbon/human/emote.dm
Due: report:dmdoc

Removed unused imports
  tgui/packages/tgui/interfaces/ResearchMemories.js
Due: none

Changed the Credits display thing
  tgui/packages/tgui/interfaces/ResearchMemories.js
Due: none

first pass of tgui research terminal, functional but ugly
  code/game/machinery/computer/research.dm
  nano/templates/research_data.tmpl
  tgui/packages/tgui/interfaces/ResearchTerminal.tsx
Due: report:dmdoc
