Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm

readd sprites
  icons/mob/humans/onmob/head_1.dmi
Due: none

f
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
Due: report:map-changed-report

hj
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
Due: report:map-changed-report

add to console
  code/game/machinery/vending/vendor_types/crew/vehicle_crew.dm
  code/game/supplyshuttle.dm
Due: report:dmdoc

Queen Charge
  code/modules/mob/living/carbon/xenomorph/abilities/queen/queen_abilities.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  icons/mob/hostiles/queen.dmi
  icons/mob/xenonids/queen.dmi
Due: report:dmdoc

Automatic changelog compile [ci skip]
  html/changelogs/archive/2022-11.yml
Due: none

Squad Identification Fluff and Helmet Garb Buff (#1370)
  code/__DEFINES/objects.dm
  code/game/objects/items/props/helmetgarb.dm
  code/game/objects/items/storage/internal.dm
  code/modules/client/preferences_gear.dm
  code/modules/clothing/head/head.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/masks/breath.dm
  icons/mob/humans/onmob/head_1.dmi
  icons/mob/humans/onmob/helmet_garb.dmi
  icons/mob/humans/onmob/mask.dmi
  icons/obj/items/clothing/cm_hats.dmi
  icons/obj/items/clothing/masks.dmi
Due: report:dmdoc

Tweaks to Vehicle Ammo in Requisitions (#1461)
  code/datums/supply_packs/_supply_packs.dm
  code/datums/supply_packs/hardpoint_modules.dm
Due: report:dmdoc

Create new food category for ASRS. (#1538)
  ColonialMarinesALPHA.dme
  code/datums/supply_packs/_supply_packs.dm
  code/datums/supply_packs/food.dm
  code/datums/supply_packs/misc.dm
  code/datums/supply_packs/operations.dm
Due: report:dmdoc

Fulton Objectives now delete themselves on a gibbed body (#1602)
  code/controllers/subsystem/objectives.dm
  code/modules/objectives/objective.dm
  code/modules/objectives/retrieve_items.dm
Due: report:dmdoc

ports SDQL
  ColonialMarinesALPHA.dme
  code/__DEFINES/__game.dm
  code/__HELPERS/datums.dm
  code/__HELPERS/type2type.dm
  code/controllers/_DynamicAreaLighting_TG.dm
  code/controllers/subsystem/statpanel.dm
  code/datums/datumvars.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/callproc.dm
  code/modules/admin/chat_commands.dm
  code/modules/admin/holder2.dm
  code/modules/admin/tabs/admin_tab.dm
  code/modules/admin/verbs/SDQL2/SDQL_2.dm
  code/modules/admin/verbs/SDQL2/SDQL_2_parser.dm
  code/modules/admin/verbs/SDQL2/SDQL_2_wrappers.dm
  code/modules/admin/verbs/debug.dm
  code/modules/admin/verbs/massmodvar.dm
  code/modules/admin/verbs/modifyvariables.dm
  code/modules/buildmode/submodes/variable_edit.dm
  code/modules/mob/mob.dm
Due: report:dmdoc

Javascript fix
  tgui/packages/tgui/interfaces/ResearchMemories.js
Due: none

change define to number
  code/datums/supply_packs/food.dm
Due: report:dmdoc

add two general pouch
  code/datums/supply_packs/clothing.dm
Due: report:dmdoc

fuck dmi files, all my homies hate dmi files
  code/datums/supply_packs/armor.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_engineer.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_rto.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/suits/marine_armor.dm
  code/modules/cm_marines/equipment/kit_boxes.dm
Due: report:dmdoc

i love merge conflict!!
  icons/obj/items/clothing/cm_hats.dmi
  icons/obj/items/clothing/cm_suits.dmi
Due: none

suits n hats
  icons/obj/items/clothing/cm_hats.dmi
  icons/obj/items/clothing/cm_suits.dmi
Due: none

whoopsies
  code/game/objects/structures/girders.dm
Due: report:dmdoc

silly
  code/game/objects/structures/girders.dm
Due: report:dmdoc

fixes for girder deconstruction (#1622)
  code/game/objects/structures/girders.dm
Due: report:dmdoc

icon prep
  icons/mob/humans/onmob/head_1.dmi
  icons/mob/humans/onmob/suit_1.dmi
Due: none

b15
  icons/mob/humans/onmob/head_1.dmi
  icons/mob/humans/onmob/suit_1.dmi
Due: none

Small radio refactor (#1432)
  code/__DEFINES/radio.dm
  code/game/objects/items/devices/radio/radio.dm
  code/modules/mob/living/carbon/human/say.dm
  code/modules/mob/living/say.dm
Due: report:dmdoc

Not Done But Harry Broke Something And It's Easier To Commit
  code/__DEFINES/job.dm
  code/__DEFINES/mode.dm
  code/datums/map_config.dm
  code/game/gamemodes/cm_initialize.dm
  code/game/jobs/job/civilians/other/survivors.dm
  code/game/jobs/role_authority.dm
  code/game/objects/effects/landmarks/survivor_spawner.dm
  code/modules/mob/new_player/preferences_setup.dm
  maps/LV522_Chances_Claim.json
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
Due: report:dmdoc, report:map-changed-report

Fix xeno packs inheriting hive color Fix xeno wounds inheriting hive color
  code/modules/mob/living/carbon/xenomorph/update_icons.dm
Due: report:dmdoc

Initial
  code/game/objects/structures/barricade/sandbags.dm
Due: report:dmdoc

More comments for gitactions breaking.
  code/modules/mob/living/carbon/xenomorph/update_icons.dm
Due: report:dmdoc

fix clothing_traits
  code/modules/clothing/clothing.dm
Due: report:dmdoc

:shower:
  code/modules/mob/living/carbon/human/human_powers.dm
Due: report:dmdoc

:wheelchair:
  code/modules/mob/living/carbon/human/human_powers.dm
Due: report:dmdoc

Fixed armor SFX and cartridge bayonet VFX not working. Tweaked both.
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/suits/marine_armor.dm
  code/modules/projectiles/gun_attachables.dm
Due: report:dmdoc

soul++
  code/game/objects/items/storage/misc.dm
Due: report:dmdoc
