Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm

Automatic changelog for PR #5283 [ci skip]
  html/changelogs/AutoChangeLog-pr-5283.yml
Due: none

Automatic changelog for PR #5202 [ci skip]
  html/changelogs/AutoChangeLog-pr-5202.yml
Due: none

Automatic changelog for PR #5378 [ci skip]
  html/changelogs/AutoChangeLog-pr-5378.yml
Due: none

Automatic changelog for PR #5278 [ci skip]
  html/changelogs/AutoChangeLog-pr-5278.yml
Due: none

Fully Functional
  code/__DEFINES/typecheck/xenos.dm
  code/modules/cm_aliens/structures/tunnel.dm
Due: report:dmdoc

Fully Functional for real
  code/modules/cm_aliens/structures/tunnel.dm
Due: report:dmdoc

s
  maps/map_files/BigRed/BigRed.dmm
Due: report:map-changed-report

so remove colour from this group of files that are interconnected.shouldn't cause any conflict i checked
  code/game/objects/items/tools/misc_tools.dm
  code/modules/mob/living/silicon/robot/robot_items.dm
  code/modules/paperwork/paper.dm
Due: report:dmdoc

d
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/BigRed/standalone/crashlanding-eva.dmm
Due: report:map-changed-report

sim refactor
  code/game/sim_manager/datums/simulator.dm
Due: report:dmdoc

...
  code/game/sim_manager/datums/simulator.dm
Due: report:dmdoc

ff
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/BigRed/sprinkles/10.prison_breakout.dmm
Due: report:map-changed-report

Forgot to get rid of this when splitting the PR
  code/modules/cm_aliens/structures/egg.dm
Due: report:dmdoc

d
  maps/map_files/BigRed/BigRed.dmm
Due: report:map-changed-report

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-5122.yml
  html/changelogs/AutoChangeLog-pr-5202.yml
  html/changelogs/AutoChangeLog-pr-5278.yml
  html/changelogs/AutoChangeLog-pr-5283.yml
  html/changelogs/AutoChangeLog-pr-5298.yml
  html/changelogs/AutoChangeLog-pr-5331.yml
  html/changelogs/AutoChangeLog-pr-5359.yml
  html/changelogs/AutoChangeLog-pr-5363.yml
  html/changelogs/AutoChangeLog-pr-5369.yml
  html/changelogs/AutoChangeLog-pr-5371.yml
  html/changelogs/AutoChangeLog-pr-5376.yml
  html/changelogs/AutoChangeLog-pr-5378.yml
  html/changelogs/AutoChangeLog-pr-5379.yml
  html/changelogs/AutoChangeLog-pr-5381.yml
  html/changelogs/AutoChangeLog-pr-5383.yml
  html/changelogs/AutoChangeLog-pr-5386.yml
  html/changelogs/archive/2024-01.yml
Due: none

Fixes a bug with Scimitars (#5391)
  code/modules/cm_preds/yaut_weapons.dm
Due: report:dmdoc

Automatic changelog for PR #5391 [ci skip]
  html/changelogs/AutoChangeLog-pr-5391.yml
Due: none

not pink but magenta also added grey as a def color
  code/__DEFINES/colours.dm
  code/__DEFINES/minimap.dm
  code/game/objects/items/paint.dm
  code/game/objects/items/stacks/cable_coil.dm
  code/modules/animations/animation_library.dm
  code/modules/gear_presets/uscm_ship.dm
  code/modules/reagents/chemistry_reagents/alcohol.dm
  code/modules/reagents/chemistry_reagents/drink.dm
  code/modules/reagents/chemistry_reagents/food.dm
  code/modules/reagents/chemistry_reagents/other.dm
  code/modules/reagents/chemistry_reagents/toxin.dm
Due: report:dmdoc

that's not beige that's black some more cleaning. hard time for the rest since they all seem to be random colors...
  code/__DEFINES/colours.dm
  code/game/objects/effects/decals/cleanable/blood/robots.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/radio/listening_bugs.dm
  code/game/objects/structures/crates_lockers/largecrate.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/chemistry_reagents/other.dm
  code/modules/reagents/chemistry_reagents/toxin.dm
Due: report:dmdoc

arc sprites
  code/modules/vehicles/apc/apc.dm
  icons/obj/vehicles/arc.dmi
Due: report:dmdoc

fixes
  code/modules/admin/admin_verbs.dm
  code/modules/clans/client.dm
  code/modules/client/client_procs.dm
  code/modules/client/preferences.dm
  code/modules/mob/new_player/preferences_setup.dm
Due: report:dmdoc

Nuke Alien Whitelist
  code/game/jobs/whitelist.dm
  code/modules/admin/topic/topic.dm
  code/modules/mob/new_player/new_player.dm
Due: report:dmdoc

updates
  code/modules/almayer/machinery.dm
  code/modules/cm_marines/overwatch.dm
  code/modules/vehicles/arc/arc.dm
  code/modules/vehicles/hardpoints/primary/arc_sentry.dm
  code/modules/vehicles/hardpoints/wheels/arc_wheels.dm
  icons/obj/vehicles/arc.dmi
  icons/obj/vehicles/hardpoints/arc.dmi
  maps/interiors/arc.dmm
Due: report:dmdoc, report:map-changed-report

post-merge changes
  code/datums/ammo/bullet/arc.dm
  code/datums/skills/uscm.dm
  colonialmarines.dme
Due: report:dmdoc

xenomorph basic tutorial
  code/__DEFINES/dcs/signals/atom/mob/living/signals_xeno.dm
  code/__DEFINES/dcs/signals/atom/mob/signals_mob.dm
  code/__DEFINES/mobs.dm
  code/_globalvars/global_lists.dm
  code/datums/tutorial/xenomorph/_xenomorph.dm
  code/datums/tutorial/xenomorph/xenomorph_basic.dm
  code/game/objects/structures/stool_bed_chair_nest/xeno_nest.dm
  code/game/turfs/walls/wall_types.dm
  code/modules/cm_aliens/structures/special/egg_morpher.dm
  code/modules/mob/living/carbon/xenomorph/Embryo.dm
  code/modules/mob/living/carbon/xenomorph/Facehuggers.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/carbon/xenomorph/attack_alien.dm
  code/modules/mob/living/carbon/xenomorph/hive_status.dm
  colonialmarines.dme
  icons/misc/tutorial.dmi
Due: report:dmdoc

adds code comment for new signal
  code/__DEFINES/dcs/signals/atom/mob/living/signals_xeno.dm
Due: report:dmdoc

vastly increases of limit xeno structures for tutorial hive, some more setup stuff
  code/datums/tutorial/xenomorph/_xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/hive_status.dm
Due: report:dmdoc

couple of fixes
  code/datums/tutorial/xenomorph/_xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
Due: report:dmdoc

fix
  code/datums/tutorial/xenomorph/_xenomorph.dm
Due: report:dmdoc

fixes late join argument
  code/datums/tutorial/xenomorph/_xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
Due: report:dmdoc

ref
  code/game/sim_manager/datums/simulator.dm
Due: report:dmdoc

TGUI
  code/game/jobs/whitelist.dm
  code/modules/admin/admin_verbs.dm
  tgui/packages/tgui/interfaces/WhitelistPanel.jsx
Due: report:dmdoc

switches over to traits for the perma knock down
  code/datums/tutorial/xenomorph/xenomorph_basic.dm
Due: report:dmdoc

removes outdated comment
  code/datums/tutorial/xenomorph/_xenomorph.dm
Due: report:dmdoc

Fixing duplication of metal
  code/modules/projectiles/gun_attachables.dm
Due: report:dmdoc

we ball
  code/game/atoms_movable.dm
  code/game/supplyshuttle.dm
  code/modules/cm_tech/techs/marine/tier1/arc.dm
  code/modules/mob/living/carbon/human/human_abilities.dm
  code/modules/projectiles/projectile.dm
  code/modules/vehicles/arc/arc.dm
  code/modules/vehicles/arc/verbs.dm
  code/modules/vehicles/hardpoints/hardpoint.dm
  code/modules/vehicles/hardpoints/hardpoint_ammo/arc_sentry_ammo.dm
  code/modules/vehicles/hardpoints/primary/arc_sentry.dm
  code/modules/vehicles/hardpoints/support/antenna.dm
  code/modules/vehicles/multitile/multitile.dm
  code/modules/vehicles/vehicle.dm
  colonialmarines.dme
  icons/obj/vehicles/arc.dmi
  icons/obj/vehicles/hardpoints/arc.dmi
Due: report:dmdoc

the last of the changes for now
  code/datums/supply_packs/vehicle_ammo.dm
  code/modules/cm_tech/techs/marine/tier1/arc.dm
  code/modules/vehicles/hardpoints/hardpoint_ammo/arc_sentry_ammo.dm
  code/modules/vehicles/hardpoints/primary/arc_sentry.dm
  code/modules/vehicles/hardpoints/support/antenna.dm
  maps/interiors/arc.dmm
Due: report:dmdoc, report:map-changed-report
