Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm

cameras
  code/__DEFINES/camera.dm
  code/game/machinery/camera/presets.dm
  code/game/machinery/computer/camera_console.dm
  code/game/machinery/computer/wy_computer.dm
  code/modules/cm_preds/yaut_items.dm
  tgui/packages/tgui/interfaces/WYComputer.tsx
Due: report:dmdoc

ver num
  tgui/packages/tgui/interfaces/WYComputer.tsx
Due: none

printer
  code/game/machinery/computer/wy_computer.dm
  code/modules/paperwork/prefab_papers.dm
Due: report:dmdoc

I hate pred code
  code/modules/admin/admin_verbs.dm
  code/modules/clans/debugging.dm
  colonialmarines.dme
Due: report:dmdoc

it would help if I put a button for the printer huh
  code/game/machinery/computer/wy_computer.dm
  code/modules/paperwork/prefab_papers.dm
  tgui/packages/tgui/interfaces/WYComputer.tsx
Due: report:dmdoc

Fix missing predalien and hellhound icons in hive status (#9574)
  code/modules/mob/living/carbon/xenomorph/hive_status.dm
Due: report:dmdoc

tweak: Xeno can be fed with more types of food (#9545)
  code/game/objects/items/reagent_containers/food/cans.dm
  code/game/objects/items/reagent_containers/food/condiment.dm
  code/game/objects/items/reagent_containers/food/drinks.dm
Due: report:dmdoc

Mentors can De-Admin (#9544)
  code/modules/admin/admin_verbs.dm
Due: report:dmdoc

blight slash fix
  code/modules/mob/living/carbon/xenomorph/XenoUpgrade.dm
  code/modules/mob/living/carbon/xenomorph/pathogen/_globalbits.dm
  code/modules/mob/living/carbon/xenomorph/pathogen/bloodburster.dm
Due: report:dmdoc

assorted changes
  code/__HELPERS/unsorted.dm
  code/controllers/subsystem/who.dm
  code/game/gamemodes/cm_initialize.dm
  code/game/verbs/ooc.dm
  code/modules/client/client_procs.dm
  code/modules/mob/mob.dm
  code/modules/mob/unauthenticated/unauthenticated.dm
  tgui/packages/tgui/interfaces/UnauthenticatedMenu.tsx
Due: report:dmdoc

restore this way
  code/modules/mob/unauthenticated/unauthenticated.dm
Due: report:dmdoc

?runtime fixes
  code/controllers/subsystem/minimap.dm
  code/game/gamemodes/colonialmarines/colonialmarines.dm
Due: report:dmdoc

mess tent
  code/modules/tents/deployed_tents.dm
  code/modules/tents/equipment.dm
  code/modules/tents/folded_tents.dm
  code/modules/tents/templates.dm
  icons/obj/structures/tents_deployed_classic.dmi
  icons/obj/structures/tents_deployed_desert.dmi
  icons/obj/structures/tents_deployed_jungle.dmi
  icons/obj/structures/tents_deployed_snow.dmi
  icons/obj/structures/tents_deployed_urban.dmi
  icons/obj/structures/tents_folded.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  maps/tents/tent_mess.dmm
Due: report:dmdoc, report:map-changed-report

Housekeeping
  code/_globalvars/misc.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/ai/movement/crusher.dm
  code/modules/mob/living/carbon/xenomorph/ai/movement/lurking.dm
  code/modules/mob/living/carbon/xenomorph/castes/Lurker.dm
  code/modules/mob/living/carbon/xenomorph/castes/Runner.dm
  colonialmarines.dme
Due: report:dmdoc

more stuff to cut
  code/_globalvars/misc.dm
  code/datums/components/xeno/ai_behavior_overrides/build_override_behavior.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/ai/movement/drone.dm
  code/modules/mob/living/carbon/xenomorph/xeno_ai_interaction.dm
  tgui/packages/tgui/interfaces/AiXenoSpawner.tsx
Due: report:dmdoc

fix
  code/modules/projectiles/guns/pistols.dm
Due: report:dmdoc

preset and map
  code/datums/skills/cmb.dm
  code/modules/clothing/suits/marine_armor/ert.dm
  code/modules/gear_presets/survivors/solaris/preset_solaris.dm
  maps/bigredv2.json
Due: report:dmdoc

hat
  code/modules/gear_presets/survivors/solaris/preset_solaris.dm
Due: report:dmdoc

crowbar
  code/modules/gear_presets/survivors/solaris/preset_solaris.dm
Due: report:dmdoc

Fix tunnel hauling exploit (#9581)
  code/modules/cm_aliens/structures/tunnel.dm
Due: report:dmdoc

Okau
  maps/almayer.json
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

icon fix
  code/game/machinery/vending/vendor_types/squad_prep/squad_engineer.dm
  code/game/objects/items/storage/belt.dm
  icons/mob/humans/onmob/clothing/belts/belts_by_map/jungle.dmi
  icons/mob/humans/onmob/clothing/belts/belts_by_map/urban.dmi
  icons/obj/items/clothing/belts/belts_by_map/jungle.dmi
Due: report:dmdoc

merge resolve
  colonialmarines.dme
Due: none

solves merge conflict I think
  code/game/objects/effects/aliens.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/boiler/trapper.dm
  colonialmarines.dme
Due: report:dmdoc

reduces req price
  code/datums/supply_packs/explosives.dm
Due: report:dmdoc

reverts price reduce on req, they are boxes
  code/datums/supply_packs/explosives.dm
Due: report:dmdoc

Update human_attackhand.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
Due: report:dmdoc

d
  maps/almayer.json
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

GunFix
  code/datums/ammo/bullet/pistol.dm
  code/modules/projectiles/magazines/pistols.dm
  maps/map_files/Tyrargo_Rift/Tyrargo_Rift.dmm
Due: report:dmdoc, report:map-changed-report

Nivrak thing
  code/datums/soundOutput.dm
Due: report:dmdoc

various touch ups
  code/_globalvars/lists/client.dm
  code/controllers/subsystem/vote.dm
  code/modules/mob/login.dm
  code/modules/mob/unauthenticated/unauthenticated.dm
Due: report:dmdoc

Rename `var/mob/usr` to `var/mob/user`
  code/game/machinery/pipe/pipe_dispenser.dm
  code/modules/admin/player_notes.dm
Due: report:dmdoc

merge_fix
  icons/mob/hud/marine_hud.dmi
  icons/ui_icons/map_blips.dmi
Due: none

Fira noticed a mistake, thanks Fira!
  code/modules/mob/living/carbon/xenomorph/abilities/boiler/boiler_abilities.dm
Due: report:dmdoc

Turns out that var was redundant. Now it has purpose.
  code/modules/mob/living/carbon/xenomorph/abilities/general_abilities.dm
Due: report:dmdoc

new yautja weapon "chain gauntlets" (#9196)
  code/__DEFINES/keybinding.dm
  code/datums/ammo/xeno.dm
  code/datums/keybinding/yautja.dm
  code/game/machinery/vending/vendor_types/antag/antag_predator.dm
  code/modules/cm_preds/yaut_bracers.dm
  code/modules/cm_preds/yaut_items.dm
  code/modules/cm_preds/yaut_weapons.dm
  icons/mob/humans/onmob/hunter/items_lefthand.dmi
  icons/mob/humans/onmob/hunter/items_righthand.dmi
  icons/obj/items/hunter/pred_gear.dmi
Due: report:dmdoc

sandbag fix for pixel shift
  code/game/objects/structures/barricade/sandbags.dm
Due: report:dmdoc

Third Floor
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

catwalks
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report
