Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm

god I love linter
  code/modules/cm_tech/hologram.dm
Due: report:dmdoc

e
  code/__DEFINES/mode.dm
  code/datums/emergency_calls/pred_hunt/hunting_calls.dm
  code/modules/gear_presets/yautja.dm
  maps/predship/huntership.dmm
Due: report:dmdoc, report:map-changed-report

Update hologram.dm
  code/modules/cm_tech/hologram.dm
Due: report:dmdoc

remove "kit" from name
  code/datums/supply_packs/attachments.dm
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
Due: report:dmdoc

last
  code/modules/cm_tech/hologram.dm
Due: report:dmdoc

sprites
  icons/mob/humans/onmob/clothing/back/guns_by_type/flamers.dmi
  icons/mob/humans/onmob/clothing/suit_storage/guns_by_type/flamers.dmi
  icons/mob/humans/onmob/inhands/weapons/guns/flamers_lefthand.dmi
  icons/mob/humans/onmob/inhands/weapons/guns/flamers_righthand.dmi
  icons/obj/items/weapons/guns/ammo_by_faction/colony/flamers.dmi
  icons/obj/items/weapons/guns/guns_by_faction/colony/flamers.dmi
Due: none

Update fullscreen.dm
  code/_onclick/hud/fullscreen.dm
Due: report:dmdoc

фикс урона за брейнрот (#23)
  modular/speech_filter/code/speech_filter.dm
Due: report:dmdoc

explosive paper
  code/game/machinery/computer/ordnance.dm
Due: report:dmdoc

maybefix
  maps/map_files/New_Varadero/standalone/landingzone_varadero_uscm_lz1.dmm
Due: report:map-changed-report

TTS fixes + Megaphone (#24)
  code/game/objects/items/devices/megaphone.dm
  modular/text_to_speech/code/hear.dm
Due: report:dmdoc

fixciggieerror
  maps/map_files/BigRed/standalone/landingzone_solaris_uscm_lz1.dmm
  maps/map_files/DesertDam/standalone/landingzone_desertdam_upp_lz1.dmm
  maps/map_files/LV624/standalone/landingzone_624_upp_lz1.dmm
  maps/map_files/Sorokyne_Strata/standalone/landingzone_sorokyne_upp_lz1.dmm
  maps/map_files/Sorokyne_Strata/standalone/landingzone_sorokyne_uscm_lz1.dmm
Due: report:map-changed-report

Coffee machine, minor aesthetical fixes and etc
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

D06M01S03
  maps/map_files/OilRig/testbed.dmm
Due: report:map-changed-report

Non-climbable medical storage table, other minor fixes
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Merge solutions, minor fixes
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

D06M01S04
  maps/map_files/OilRig/testbed.dmm
Due: report:map-changed-report

Fixup maps in TGM format
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Other fixes
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

ciphering changes
  code/__DEFINES/chemistry.dm
  code/controllers/subsystem/reagents.dm
  code/modules/paperwork/paper.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:dmdoc, report:map-changed-report

db entity
  code/modules/mob/living/carbon/xenomorph/death.dm
Due: report:dmdoc

small typo
  code/modules/paperwork/paper.dm
Due: report:dmdoc

tested and works
  code/modules/mob/living/carbon/xenomorph/Evolution.dm
Due: report:dmdoc

forgot
  code/modules/mob/living/carbon/xenomorph/Evolution.dm
Due: report:dmdoc

fix
  code/modules/mob/living/carbon/xenomorph/Evolution.dm
Due: report:dmdoc

armylathe upgrade
  code/__DEFINES/misc.dm
  code/game/machinery/autolathe.dm
  code/game/machinery/computer/ordnance.dm
Due: report:dmdoc

better name
  code/__DEFINES/misc.dm
  code/game/machinery/autolathe.dm
  code/game/machinery/computer/ordnance.dm
Due: report:dmdoc

flags
  maps/map_files/BigRed/standalone/clfmining.dmm
  maps/map_files/DesertDam/standalone/clfpods.dmm
  maps/map_files/FOP_v3_Sciannex/standalone/rocinante.dmm
  maps/map_files/Ice_Colony_v3/standalone/clfraid.dmm
  maps/map_files/LV624/standalone/clfship.dmm
  maps/map_files/New_Varadero/standalone/clfraid.dmm
  maps/map_files/Sorokyne_Strata/standalone/clfcrash.dmm
Due: report:map-changed-report

fix
  code/game/machinery/computer/ordnance.dm
Due: report:dmdoc

Fixup maps in TGM format
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/DesertDam/Desert_Dam.dmm
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
  maps/map_files/Kutjevo/Kutjevo.dmm
  maps/map_files/LV624/standalone/clfship.dmm
  maps/map_files/New_Varadero/New_Varadero.dmm
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
Due: report:map-changed-report

merge
  icons/ui_icons/map_blips.dmi
Due: none

cigs
  maps/map_files/BigRed/standalone/clfmining.dmm
  maps/map_files/FOP_v3_Sciannex/standalone/rocinante.dmm
  maps/map_files/Ice_Colony_v3/standalone/clfraid.dmm
  maps/map_files/Kutjevo/standalone/clfsmugglers.dmm
  maps/map_files/Sorokyne_Strata/standalone/clfcrash.dmm
Due: report:map-changed-report

Fixup maps in TGM format
  maps/map_files/LV624/standalone/corporatedome.dmm
Due: report:map-changed-report

Adds stasis bag logic to medevac ui_data
  code/modules/cm_marines/dropship_equipment.dm
Due: report:dmdoc

Low job hours (#25)
  code/__DEFINES/job.dm
Due: report:dmdoc

test
  code/game/machinery/vending/cm_vending.dm
Due: report:dmdoc

Fix for Almayer, Fixes for Big Red.
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/BigRed/standalone/crashlanding-eva.dmm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report
