Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

report:dmdoc:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies:
  - build:map-templates
  cache:
    key: dmdoc-${SPDMM_VERSION}
    paths:
    - dmdoc-bin
  script:
  - '[ -f dmdoc-bin ] || wget -O dmdoc-bin ${SPDMM_DOWNLOAD_URL}/dmdoc'
  - chmod u+x dmdoc-bin
  - ./dmdoc-bin
  artifacts:
    name: ci_dmdoc
  ...

report:map-changed-report:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies: []
  cache:
    key: dmm-tools-${SPDMM_VERSION}
    paths:
    - dmm-tools
  script:
  - CHANGED_MAP_FILES=`git diff-tree -r --diff-filter=d --name-only --no-commit-id ${CI_COMMIT_BEFORE_SHA}..${CI_COMMIT_SHA} maps/*.dmm`
  ...

Fun Facts: Extended (#1443)
  code/datums/statistics/entities/death_stats.dm
  code/datums/statistics/random_facts/damage_fact.dm
  code/datums/statistics/random_facts/kills_fact.dm
  code/datums/statistics/random_facts/random_fact.dm
  code/game/gamemodes/cm_process.dm
  code/game/gamemodes/colonialmarines/colonialmarines.dm
  code/game/gamemodes/colonialmarines/xenovsxeno.dm
  code/modules/admin/admin_verbs.dm
Due: report:dmdoc

Automatic changelog compile [ci skip]
  html/changelogs/archive/2022-11.yml
Due: none

firealarm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Prosthetic Limbs for Commissioned Officers (#1299)
  ColonialMarinesALPHA.dme
  code/modules/character_traits/character_trait.dm
  code/modules/character_traits/robotic_limbs.dm
  code/modules/client/preferences.dm
  code/modules/gear_presets/_select_equipment.dm
  code/modules/mob/new_player/preferences_setup.dm
Due: report:dmdoc

Fira Review
  code/modules/cm_aliens/structures/special/spawn_pool.dm
Due: report:dmdoc

Object narration permissions. (#1441)
  code/modules/admin/admin_verbs.dm
  code/modules/admin/tabs/admin_tab.dm
Due: report:dmdoc

Fix phone cords being off when using offset placement (#1439)
  code/datums/beam.dm
Due: report:dmdoc

Fix for eye surgery. (#1442)
  code/game/machinery/autodoc.dm
  code/modules/surgery/eye.dm
Due: report:dmdoc

ice
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
Due: report:map-changed-report

Prep Vendor quality of life change.
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
Due: report:dmdoc

mostly finished
  code/game/jobs/job/marine/squad_info.dm
  code/modules/asset_cache/asset_list_items.dm
  tgui/packages/tgui/interfaces/SquadInfo.tsx
  tgui/packages/tgui/styles/interfaces/SquadInfo.scss
Due: report:dmdoc

Underground Zombie Landmarks (#1366)
  code/_globalvars/lists/mapping_globals.dm
  code/game/objects/effects/landmarks/landmarks.dm
  code/modules/mob/dead/observer/observer.dm
  icons/mob/mob.dmi
Due: report:dmdoc

im not embarrasseddddd
  tgui/packages/tgui/backend.ts
Due: none

fixes tgui constantly autoclosing (#1454)
  tgui/packages/tgui/backend.ts
Due: none

Fixes Statpanel Loading (not really, but mostly prevent error) (#1431)
  code/modules/client/client_procs.dm
  code/modules/mob/login.dm
  code/modules/tgui_panel/tgui_panel.dm
  html/statbrowser.html
Due: report:dmdoc

Customs Kill
  code/game/machinery/vending/vendor_types/crew/mp.dm
  code/game/machinery/vending/vendor_types/crew/pilot_officer.dm
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
  code/game/machinery/vending/vendor_types/crew/vehicle_crew.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_rto.dm
  code/modules/client/preferences_gear.dm
  code/modules/gear_presets/other.dm
  code/modules/gear_presets/uscm.dm
  code/modules/gear_presets/uscm_event.dm
  code/modules/gear_presets/uscm_ship.dm
  code/modules/gear_presets/wo.dm
  code/modules/projectiles/guns/pistols.dm
  code/modules/projectiles/guns/revolvers.dm
  maps/map_files/Haunted_House_V2/Haunted_House_V2.dmm
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
Due: report:dmdoc, report:map-changed-report

fix
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
Due: report:dmdoc

Revert "Fixes Statpanel Loading (not really, but mostly prevent error) (#1431)"
  code/modules/client/client_procs.dm
  code/modules/mob/login.dm
  code/modules/tgui_panel/tgui_panel.dm
  html/statbrowser.html
Due: report:dmdoc

Revert "Fixes Statpanel Loading (not really, but mostly prevent error)" (#1455)
  code/modules/client/client_procs.dm
  code/modules/mob/login.dm
  code/modules/tgui_panel/tgui_panel.dm
  html/statbrowser.html
Due: report:dmdoc

ready for PR
  tgui/packages/tgui/interfaces/SquadInfo.tsx
  tgui/packages/tgui/styles/interfaces/SquadInfo.scss
Due: none

removed unused code
  code/game/jobs/job/marine/squad_info.dm
Due: report:dmdoc

remove nano squad icons and template
  nano/images/squadEngIcon.png
  nano/images/squadFRespIcon.png
  nano/images/squadMedIcon.png
  nano/images/squadRTOIcon.png
  nano/images/squadSGIcon.png
  nano/images/squadSLIcon.png
  nano/images/squadSpcIcon.png
  nano/images/squadTechIcon.png
  nano/templates/squad_info.tmpl
Due: none

webley fix
  code/modules/projectiles/guns/revolvers.dm
Due: report:dmdoc

migrate mark menu to tsx
  tgui/packages/tgui/interfaces/MarkMenu.tsx
Due: none

initial
  code/datums/map_config.dm
  code/game/gamemodes/cm_initialize.dm
  code/game/jobs/job/civilians/other/survivors.dm
  code/game/objects/effects/landmarks/survivor_spawner.dm
  code/modules/gear_presets/_select_equipment.dm
  code/modules/gear_presets/forcon_survivors.dm
  code/modules/mob/new_player/preferences_setup.dm
  maps/LV522_Chances_Claim.json
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
Due: report:dmdoc, report:map-changed-report

right
  maps/map_files/BigRed/BigRed.dmm
Due: report:map-changed-report

broken but benchmarking
  ColonialMarinesALPHA.dme
  code/datums/datacore.dm
  code/game/machinery/computer/pmc_transfer.dm
  code/modules/paperwork/paper.dm
  tgui/packages/tgui/interfaces/PmcTransfer.js
Due: report:dmdoc

BiMex
  code/modules/client/preferences_gear.dm
  code/modules/clothing/glasses/glasses.dm
Due: report:dmdoc

ggg
  code/modules/clothing/glasses/glasses.dm
Due: report:dmdoc

Update code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/glasses/glasses.dm
Due: report:dmdoc

f
  code/modules/clothing/glasses/glasses.dm
Due: report:dmdoc

Update squad_prep.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
Due: report:dmdoc

Create colmartech_universal_equipement_distribution_vendor
  code/game/machinery/vending/Universal_Equipements_Vendor/colmartech_universal_equipement_distribution_vendor
Due: none

neuro rework 2.0
  code/game/objects/effects/effect_system/smoke.dm
  code/modules/mob/living/carbon/xenomorph/abilities/boiler/boiler_abilities.dm
Due: report:dmdoc

Added proper tabulation, used more defines for radio
  code/__DEFINES/radio.dm
  code/game/objects/items/devices/radio/radio.dm
  code/modules/mob/living/say.dm
Due: report:dmdoc

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm
