Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm

defaults
  code/game/machinery/ARES/ARES_interface.dm
Due: report:dmdoc

Smoother failure state
  code/_onclick/hud/screen_objects.dm
  code/modules/mob/living/carbon/xenomorph/life.dm
Due: report:dmdoc

Initial fixes from testing
  code/modules/mob/living/carbon/xenomorph/castes/Carrier.dm
  code/modules/mob/living/carbon/xenomorph/castes/Facehugger.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/drone/gardener.dm
  code/modules/mob/living/carbon/xenomorph/strains/xeno_strain.dm
Due: report:dmdoc

todo removal to appease the CI
  tgui/packages/tgui/interfaces/HiveStatus.jsx
Due: none

f
  code/game/machinery/ARES/ARES_interface_admin.dm
  code/game/machinery/ARES/debug_pda.dm
  tgui/packages/tgui/interfaces/AresAdmin.js
Due: report:dmdoc

died down the positives
  code/datums/ammo/bullet/shotgun.dm
  code/modules/projectiles/guns/shotguns.dm
Due: report:dmdoc

no more ignore armor and root
  code/datums/ammo/xeno.dm
Due: report:dmdoc

scope removal
  code/modules/projectiles/guns/specialist/scout.dm
Due: report:dmdoc

hide tutorial huggers from dchat
  code/modules/mob/living/carbon/xenomorph/Facehuggers.dm
Due: report:dmdoc

waa
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/reagents/chemical_research/xenomorph_analyzer.dm
  colonialmarines.dme
  tgui/packages/tgui/interfaces/XenomorphExtractor.jsx
Due: report:dmdoc

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-5442.yml
  html/changelogs/AutoChangeLog-pr-5498.yml
  html/changelogs/AutoChangeLog-pr-5525.yml
  html/changelogs/archive/2024-01.yml
Due: none

XM4 Slowdown Change
  code/modules/clothing/suits/marine_armor.dm
Due: report:dmdoc

Port TG Tooling Fix in MapMerge (#5527)
  tools/UpdatePaths/__main__.py
  tools/mapmerge2/dmm.py
Due: none

turns oxygentank into fueltank fixes issue #5512 (#5524)
  code/game/objects/structures/reagent_dispensers.dm
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
  maps/map_files/FOP_v3_Sciannex/sprinkles/30.repairpanelslz.dmm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:dmdoc, report:map-changed-report

Automatic changelog for PR #5524 [ci skip]
  html/changelogs/AutoChangeLog-pr-5524.yml
Due: none

Raises the amount of magazines in the MP handgun cases to 6 (#5528)
  code/modules/cm_marines/equipment/guncases.dm
Due: report:dmdoc

Automatic changelog for PR #5528 [ci skip]
  html/changelogs/AutoChangeLog-pr-5528.yml
Due: none

addtimer
  code/datums/ammo/xeno.dm
Due: report:dmdoc

fix
  code/datums/ammo/xeno.dm
Due: report:dmdoc

tail_seize
  code/datums/ammo/xeno.dm
Due: report:dmdoc

adds procs for applying root
  code/__DEFINES/mobs.dm
  code/__HELPERS/#maths.dm
  code/modules/mob/living/living_health_procs.dm
Due: report:dmdoc

turn some "# to proper define for 21 files.
  code/__HELPERS/icons.dm
  code/_onclick/hud/fullscreen.dm
  code/_onclick/hud/human.dm
  code/datums/_atmos_setup.dm
  code/datums/custom_hud.dm
  code/datums/entities/clans.dm
  code/datums/entities/player_times.dm
  code/datums/langchat/langchat.dm
  code/game/objects/effects/decals/cleanable/blood/xeno.dm
  code/game/objects/items/handcuffs.dm
  code/game/objects/items/reagent_containers/food/snacks/meat.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/asset_cache/assets/vending.dm
  code/modules/client/preferences.dm
  code/modules/cm_preds/yaut_bracers.dm
  code/modules/lighting/lighting_mask/lighting_mask.dm
  code/modules/lighting/lighting_mask/shadow_calculator.dm
  code/modules/maptext_alerts/screen_alerts.dm
  code/modules/maptext_alerts/text_blurbs.dm
  code/modules/mob/living/carbon/human/species/synthetic.dm
  code/modules/projectiles/magazines/shotguns.dm
Due: report:dmdoc

More testing
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/abilities/queen/queen_abilities.dm
  code/modules/mob/living/carbon/xenomorph/castes/Facehugger.dm
  code/modules/mob/living/carbon/xenomorph/egg_item.dm
  code/modules/mob/living/carbon/xenomorph/hive_status.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/carrier/eggsac.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/defender/steel_crest.dm
  code/modules/mob/living/carbon/xenomorph/strains/xeno_strain.dm
  code/modules/mob/living/carbon/xenomorph/xeno_helpers.dm
Due: report:dmdoc

reduces effects of impact ammo with range, proof of concept numbers can be adjusted
  code/datums/ammo/bullet/rifle.dm
Due: report:dmdoc

asda
  maps/map_files/LV624/LV624.dmm
Due: report:map-changed-report

Finishes #5128 (Paygrade defines) & Fixes Syndie ID (#5260)
  code/__DEFINES/paygrade_defs/civilian.dm
  code/__DEFINES/paygrade_defs/mercs.dm
  code/__DEFINES/paygrade_defs/paygrade.dm
  code/__DEFINES/paygrade_defs/twe.dm
  code/__DEFINES/paygrade_defs/weyland.dm
  code/datums/emergency_calls/mercs.dm
  code/datums/medal_awards.dm
  code/datums/paygrades/factions/other/civilian.dm
  code/datums/paygrades/factions/other/cmb.dm
  code/datums/paygrades/factions/other/contractors.dm
  code/datums/paygrades/factions/other/dutch_dozen.dm
  code/datums/paygrades/factions/other/freelancer.dm
  code/datums/paygrades/factions/other/misc.dm
  code/datums/paygrades/factions/twe/twe.dm
  code/datums/paygrades/factions/upp/upp.dm
  code/datums/paygrades/factions/uscm/marine.dm
  code/datums/paygrades/factions/uscm/navy.dm
  code/datums/paygrades/factions/uscm/provost.dm
  code/datums/paygrades/factions/wy/pmc.dm
  code/datums/paygrades/factions/wy/wy.dm
  code/datums/paygrades/paygrade.dm
  code/game/machinery/ARES/ARES_procs.dm
  code/game/machinery/computer/security.dm
  code/game/machinery/computer/skills.dm
  code/game/machinery/doors/brig_system.dm
  code/game/objects/items/cards_ids.dm
  code/modules/gear_presets/contractor.dm
  code/modules/gear_presets/corpses.dm
  code/modules/gear_presets/fun.dm
  code/modules/gear_presets/other.dm
  code/modules/gear_presets/pmc.dm
  code/modules/gear_presets/royal_marines.dm
  code/modules/gear_presets/survivors/solaris/crashlanding-offices_insert_bigred.dm
  code/modules/gear_presets/uscm.dm
  code/modules/gear_presets/whiteout.dm
  colonialmarines.dme
Due: report:dmdoc

Automatic changelog for PR #5260 [ci skip]
  html/changelogs/AutoChangeLog-pr-5260.yml
Due: none

updates numbers
  code/datums/ammo/bullet/rifle.dm
Due: report:dmdoc

adds to damage_procs
  code/__DEFINES/mobs.dm
  code/modules/mob/living/damage_procs.dm
Due: report:dmdoc

Clarification
  code/modules/mob/living/carbon/xenomorph/life.dm
Due: report:dmdoc

hotfix for opendream killing tags
  dependencies.sh
Due: none

hotfixes opendream download script
  tools/ci/download_od.sh
Due: none

updates the opendream script with the correct packaged location
  tools/ci/run_od.sh
Due: none

MP: part 1
  code/datums/agents/tools/stunbaton.dm
  code/datums/ammo/energy.dm
  code/game/objects/items/weapons/stunbaton.dm
Due: report:dmdoc

oppsie
  code/game/objects/items/weapons/stunbaton.dm
Due: report:dmdoc

fix and small refactor of Areas in lower deck on almayer part2 (#5373)
  code/game/area/almayer.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:dmdoc, report:map-changed-report

Automatic changelog for PR #5373 [ci skip]
  html/changelogs/AutoChangeLog-pr-5373.yml
Due: none

destroyer framework, initial 3 abilities
  code/__DEFINES/mobs.dm
  code/__DEFINES/xeno.dm
  code/game/jobs/role_authority.dm
  code/modules/mob/living/carbon/xenomorph/abilities/destroyer/destroyer_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/destroyer/destroyer_macros.dm
  code/modules/mob/living/carbon/xenomorph/abilities/destroyer/destroyer_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/xeno_action.dm
  code/modules/mob/living/carbon/xenomorph/castes/Destroyer.dm
  colonialmarines.dme
  icons/mob/xenos/destroyer.dmi
  icons/mob/xenos/roguedamage.dmi
  icons/mob/xenos/rogueking.dmi
Due: report:dmdoc

Fix latejoin menu marine title (#5537)
  code/modules/mob/new_player/new_player.dm
Due: report:dmdoc
