Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm

Update largecrate.dm
  code/game/objects/structures/crates_lockers/largecrate.dm
Due: report:dmdoc

Shuttle aren't shy anymore
  code/game/turfs/closed.dm
Due: report:dmdoc

Update general_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
Due: report:dmdoc

small changes
  code/game/objects/structures/crates_lockers/largecrate.dm
Due: report:dmdoc

fix xenos being able to build over tunnels (#3499)
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
Due: report:dmdoc

review
  code/__DEFINES/human.dm
  code/modules/mob/living/carbon/human/human_defines.dm
Due: report:dmdoc

Review
  code/datums/emergency_calls/forsaken_xenos.dm
  code/game/gamemodes/colonialmarines/colonialmarines.dm
Due: report:dmdoc

Maybe fix merge conflict with other TM who knows
  code/__DEFINES/dcs/signals/atom/signals_obj.dm
Due: report:dmdoc

Automatic changelog for PR #3499 [ci skip]
  html/changelogs/AutoChangeLog-pr-3499.yml
Due: none

maybe?
  code/datums/emergency_calls/forsaken_xenos.dm
Due: report:dmdoc

Update code/modules/clothing/suits/marine_armor.dm
  code/modules/clothing/suits/marine_armor.dm
Due: report:dmdoc

Initial
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
Due: report:map-changed-report

rename a max_blood to normal_blood because the variable is equal to BLOOD_VOLUME_NORMAL
  code/game/machinery/medical_pod/bodyscanner.dm
  code/game/machinery/medical_pod/sleeper.dm
  code/modules/mob/living/blood.dm
  code/modules/mob/living/living_defines.dm
  code/modules/reagents/chemistry_properties/prop_positive.dm
Due: report:dmdoc

variants
  code/game/jobs/job/civilians/support/working_joe.dm
Due: report:dmdoc

NO ONE IS THERE BUT WE SUMMON ANYWAYS ???? WHO MADE THIS
  code/game/gamemodes/colonialmarines/colonialmarines.dm
Due: report:dmdoc

link nutrition lost with gaining blood make it that the more nutrition you have the more you loose it and regenerate blood faster...
  code/modules/mob/living/blood.dm
Due: report:dmdoc

Warrior Nerf (#3424)
  code/modules/mob/living/carbon/xenomorph/abilities/warrior/warrior_abilities.dm
  code/modules/mob/living/carbon/xenomorph/castes/Warrior.dm
Due: report:dmdoc

Automatic changelog for PR #3424 [ci skip]
  html/changelogs/AutoChangeLog-pr-3424.yml
Due: none

Update synths.dm
  code/modules/gear_presets/synths.dm
Due: report:dmdoc

Update metatips.txt (#3478)
  strings/metatips.txt
Due: none

Automatic changelog for PR #3478 [ci skip]
  html/changelogs/AutoChangeLog-pr-3478.yml
Due: none

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-3424.yml
  html/changelogs/AutoChangeLog-pr-3476.yml
  html/changelogs/AutoChangeLog-pr-3478.yml
  html/changelogs/AutoChangeLog-pr-3494.yml
  html/changelogs/AutoChangeLog-pr-3495.yml
  html/changelogs/AutoChangeLog-pr-3499.yml
  html/changelogs/archive/2023-06.yml
Due: none

Remove field kit (#3506)
  code/game/machinery/vending/vendor_types/squad_prep/squad_engineer.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_leader.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_medic.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_rifleman.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_smartgunner.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_specialist.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_tl.dm
  code/game/objects/effects/spawners/spawner.dm
Due: report:dmdoc

Automatic changelog for PR #3506 [ci skip]
  html/changelogs/AutoChangeLog-pr-3506.yml
Due: none

fixes typos bar rgument
  code/modules/gear_presets/survivors.dm
Due: report:dmdoc

re
  code/modules/gear_presets/survivors.dm
Due: report:dmdoc

fix!!!
  code/modules/gear_presets/survivors.dm
  code/modules/gear_presets/synths.dm
Due: report:dmdoc

Fix force dropship admin verb
  code/modules/admin/tabs/event_tab.dm
  code/modules/shuttle/computers/dropship_computer.dm
Due: report:dmdoc

WIP
  code/__DEFINES/vendors.dm
  code/game/machinery/vending/cm_vending.dm
  code/game/machinery/vending/essential_sets.dm
  code/game/machinery/vending/vendor_types/crew/commanding_officer.dm
  code/game/machinery/vending/vendor_types/crew/medical.dm
  code/game/machinery/vending/vendor_types/crew/mp.dm
  code/game/machinery/vending/vendor_types/crew/pilot_officer.dm
  code/game/machinery/vending/vendor_types/crew/sea.dm
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
  code/game/machinery/vending/vendor_types/crew/staff_officer.dm
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
  code/game/machinery/vending/vendor_types/crew/vehicle_crew.dm
  code/game/machinery/vending/vendor_types/dress.dm
  code/game/machinery/vending/vendor_types/intelligence_officer.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_engineer.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_leader.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_medic.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_rifleman.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_smartgunner.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_specialist.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_tl.dm
  code/modules/gear_presets/_select_equipment.dm
  code/modules/gear_presets/clf.dm
  code/modules/gear_presets/pmc.dm
  code/modules/gear_presets/upp.dm
  code/modules/gear_presets/uscm.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/projectiles/item_to_box_mapping.dm
Due: report:dmdoc

fix asrs spam
  code/game/supplyshuttle.dm
Due: report:dmdoc

fix remove items anchored and on the LZ's on fiorina (#3465)
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
Due: report:map-changed-report

Fix Signal Flares Admin Log/JMP (#3453)
  code/game/objects/items/devices/flashlight.dm
Due: report:dmdoc

remove round_time, not workable
  code/controllers/subsystem/influxstats.dm
Due: report:dmdoc

jobs influxdb graphing
  code/__DEFINES/subsystems.dm
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem/influxstats.dm
  colonialmarines.dme
Due: report:dmdoc

Automatic changelog for PR #3465 [ci skip]
  html/changelogs/AutoChangeLog-pr-3465.yml
Due: none

Automatic changelog for PR #3453 [ci skip]
  html/changelogs/AutoChangeLog-pr-3453.yml
Due: none

fix config
  code/controllers/subsystem/influxstats.dm
Due: report:dmdoc

Xenos can now use abilities on the turfs under UI Refactoring of xenomorph/click
  code/_onclick/click.dm
  code/_onclick/xeno.dm
Due: report:dmdoc

disable girders for cult walls
  code/game/turfs/walls/wall_types.dm
Due: report:dmdoc

added not regeneration of blood if your bellow 50 in nutrition....
  code/modules/mob/living/blood.dm
Due: report:dmdoc
