Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm

Update code/modules/reagents/chemistry_machinery/chem_dispenser.dm
  code/modules/reagents/chemistry_machinery/chem_dispenser.dm
Due: report:dmdoc

never trusting harry again
  code/modules/reagents/chemistry_machinery/chem_dispenser.dm
Due: report:dmdoc

1stCommit
  code/game/objects/effects/landmarks/survivor_spawner.dm
  code/modules/gear_presets/survivors.dm
  maps/Nightmare/maps/FOP_v3_Sciannex/scenario.json
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
  maps/map_files/FOP_v3_Sciannex/Standalone/riotcontrol.dmm
Due: report:dmdoc, report:map-changed-report

Adds improviser+learner traits
  code/__DEFINES/traits.dm
  code/modules/gear_presets/survivors.dm
  code/modules/mob/living/carbon/human/species/synthetic.dm
  code/modules/surgery/surgery_steps.dm
Due: report:dmdoc

logs/fix
  code/modules/admin/admin_verbs.dm
  code/modules/client/client_procs.dm
  code/modules/customitems/item_spawning.dm
Due: report:dmdoc

Adds/Changes various machine descriptions (#3774)
  code/game/machinery/cryo.dm
  code/game/machinery/vending/vendor_types/medical.dm
  code/modules/cm_tech/implements/railgun.dm
  code/modules/reagents/chemistry_machinery/chem_dispenser.dm
  code/modules/shuttle/computers/dropship_computer.dm
Due: report:dmdoc

Automatic changelog for PR #3774 [ci skip]
  html/changelogs/AutoChangeLog-pr-3774.yml
Due: none

Fixes issue with mods who don't have fast learner
  code/modules/surgery/surgery_steps.dm
Due: report:dmdoc

Update code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
Due: report:dmdoc

frooot
  code/modules/cm_aliens/structures/fruit.dm
Due: report:dmdoc

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-3644.yml
  html/changelogs/AutoChangeLog-pr-3774.yml
  html/changelogs/AutoChangeLog-pr-3807.yml
  html/changelogs/AutoChangeLog-pr-3808.yml
  html/changelogs/AutoChangeLog-pr-3812.yml
  html/changelogs/AutoChangeLog-pr-3813.yml
  html/changelogs/AutoChangeLog-pr-3826.yml
  html/changelogs/AutoChangeLog-pr-3827.yml
  html/changelogs/AutoChangeLog-pr-3828.yml
  html/changelogs/archive/2023-07.yml
Due: none

Update gun_attachables.dm
  code/modules/projectiles/gun_attachables.dm
Due: report:dmdoc

adds a visible line when using iv drips / bloodpacks (#3645)
  code/game/machinery/iv_drip.dm
  code/game/objects/items/reagent_containers/blood_pack.dm
  icons/effects/beam.dmi
Due: report:dmdoc

Automatic changelog for PR #3645 [ci skip]
  html/changelogs/AutoChangeLog-pr-3645.yml
Due: none

MoreChanges
  code/game/objects/effects/landmarks/survivor_spawner.dm
  code/game/objects/items/devices/radio/headset.dm
  code/modules/gear_presets/survivors.dm
  code/modules/gear_presets/synths.dm
  maps/Nightmare/maps/FOP_v3_Sciannex/nightmare.json
  maps/Nightmare/maps/FOP_v3_Sciannex/scenario.json
  maps/map_files/FOP_v3_Sciannex/Standalone/riotcontrol.dmm
Due: report:dmdoc, report:map-changed-report

Weight
  maps/Nightmare/maps/FOP_v3_Sciannex/scenario.json
Due: none

Update marine_armor.dm
  code/modules/clothing/suits/marine_armor.dm
Due: report:dmdoc

Fix
  code/modules/gear_presets/survivors.dm
Due: report:dmdoc

MissedOneThing
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
Due: report:map-changed-report

MoreStuff
  maps/Nightmare/maps/FOP_v3_Sciannex/nightmare.json
  maps/Nightmare/maps/FOP_v3_Sciannex/scenario.json
Due: none

Forsaken fix, LZ1 pullback
  maps/map_files/New_Varadero/New_Varadero.dmm
Due: report:map-changed-report

Update staff_officer.dm
  code/game/machinery/vending/vendor_types/crew/staff_officer.dm
Due: report:dmdoc

Stuff
  code/game/objects/items/devices/radio/headset.dm
Due: report:dmdoc

Another
  maps/map_files/FOP_v3_Sciannex/Standalone/riotcontrol.dmm
Due: report:map-changed-report

FixPart1
  maps/map_files/FOP_v3_Sciannex/sprinkles/riotcontrol.dmm
Due: report:map-changed-report

FixPart2
  maps/map_files/FOP_v3_Sciannex/standalone/riotcontrol.dmm
Due: report:map-changed-report

TidyUpLore
  code/game/objects/effects/landmarks/survivor_spawner.dm
Due: report:dmdoc

FixType
  code/game/objects/effects/landmarks/survivor_spawner.dm
Due: report:dmdoc

AnotherDamFix
  code/game/objects/effects/landmarks/survivor_spawner.dm
Due: report:dmdoc

Restore mouse_opacity for morpher items
  code/modules/cm_aliens/structures/special/egg_morpher.dm
Due: report:dmdoc

Dump objectives proc too
  code/game/objects/items/storage/storage.dm
Due: report:dmdoc

reuse remove_from_storage instead for dump_objectives
  code/game/objects/items/storage/storage.dm
Due: report:dmdoc

Emote panel for WJs (#3792)
  code/__DEFINES/tgui.dm
  code/__DEFINES/wj_emotes.dm
  code/modules/mob/living/carbon/human/species/emote-synthetic.dm
  code/modules/mob/living/carbon/human/species/working_joe/_emote.dm
  code/modules/mob/living/carbon/human/species/working_joe/_species.dm
  code/modules/mob/living/carbon/human/species/working_joe/farewell.dm
  code/modules/mob/living/carbon/human/species/working_joe/greeting.dm
  code/modules/mob/living/carbon/human/species/working_joe/notice.dm
  code/modules/mob/living/carbon/human/species/working_joe/question.dm
  code/modules/mob/living/carbon/human/species/working_joe/quip.dm
  code/modules/mob/living/carbon/human/species/working_joe/restricted_area.dm
  code/modules/mob/living/carbon/human/species/working_joe/task_update.dm
  code/modules/mob/living/carbon/human/species/working_joe/warning.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/wj_emotes.dm
  colonialmarines.dme
  icons/mob/hud/actions.dmi
  tgui/packages/tgui/interfaces/JoeEmotes.tsx
Due: report:dmdoc

Dupled APC fix, bookcase fix
  maps/map_files/New_Varadero/New_Varadero.dmm
Due: report:map-changed-report

Automatic changelog for PR #3792 [ci skip]
  html/changelogs/AutoChangeLog-pr-3792.yml
Due: none

InitalCommit
  code/game/objects/effects/landmarks/survivor_spawner.dm
  code/game/objects/items/storage/backpack.dm
  code/modules/clothing/under/marine_uniform.dm
  code/modules/gear_presets/survivors.dm
  maps/Nightmare/maps/BigRed/nightmare.json
  maps/Nightmare/maps/BigRed/scenario.json
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/BigRed/standalone/crashlanding-upp-dorms.dmm
Due: report:dmdoc, report:map-changed-report

SaveMap
  maps/map_files/BigRed/standalone/crashlanding-upp-dorms.dmm
Due: report:map-changed-report

real
  code/modules/mob/living/carbon/human/species/working_joe/_species.dm
Due: report:dmdoc

2
  code/modules/mob/living/carbon/human/species/synthetic.dm
Due: report:dmdoc
