Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm

Donut Spelling Error Fix (#4308)
  code/datums/supply_packs/food.dm
Due: report:dmdoc

Automatic changelog for PR #4316 [ci skip]
  html/changelogs/AutoChangeLog-pr-4316.yml
Due: none

Automatic changelog for PR #4308 [ci skip]
  html/changelogs/AutoChangeLog-pr-4308.yml
Due: none

remove some old armor add visors section.
  code/game/machinery/vending/vendor_types/squad_prep/squad_engineer.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_leader.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_medic.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_rifleman.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_smartgunner.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_specialist.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_tl.dm
Due: report:dmdoc

add a clothing section
  code/game/machinery/vending/vendor_types/squad_prep/squad_engineer.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_medic.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_rifleman.dm
Due: report:dmdoc

another patch of clothing sections
  code/game/machinery/vending/vendor_types/squad_prep/squad_leader.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_smartgunner.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_specialist.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_tl.dm
Due: report:dmdoc

remove radio key that is useless for engi.
  code/game/machinery/vending/vendor_types/squad_prep/squad_engineer.dm
Due: report:dmdoc

Добавление музыки к Ходящий Мужчина
  code/game/machinery/vending/vending_types.dm
  code/game/machinery/vending/vendor_types/general.dm
  code/game/objects/items/devices/walkman.dm
Due: report:dmdoc

add new dmi for new dmi and allow to restore old file as it was while keeping the old functionning.
  icons/turf/floors/prison_new.dmi
Due: none

add back the old dmi.
  icons/turf/floors/prison.dmi
Due: none

Update synthetic.dm
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
Due: report:dmdoc

puts brig and medical in TWE_Station
  maps/templates/twe_ert_station.dmm
Due: report:map-changed-report

.
  code/modules/admin/verbs/adminpanelgq.dm
  code/modules/almayer/generalquarters.dm
  colonialmarines.dme
Due: report:dmdoc

.
  code/modules/admin/verbs/adminpanelgq.dm
Due: report:dmdoc

.
  code/modules/admin/verbs/adminpanelgq.dm
  code/modules/almayer/generalquarters.dm
Due: report:dmdoc

Starts porting in weapons of the old PR
  code/modules/admin/verbs/adminpanelweapons.dm
Due: report:dmdoc

Ditto!
  code/modules/almayer/weaponhits.dm
Due: report:dmdoc

ditto
  code/_globalvars/global_lists.dm
Due: report:dmdoc

try to fix it with this.
  code/game/turfs/floor_types.dm
  icons/turf/floors/prison.dmi
  icons/turf/floors/prison_new.dmi
Due: report:dmdoc

Fixes lifeboat crash chance and should stop shuttles landing on each other?
  code/__DEFINES/mode.dm
  code/modules/shuttle/shuttles/crashable/crashable.dm
  code/modules/shuttle/shuttles/crashable/lifeboats.dm
Due: report:dmdoc

jump instead of orbit
  code/modules/shuttle/shuttles/crashable/crashable.dm
Due: report:dmdoc

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-4308.yml
  html/changelogs/AutoChangeLog-pr-4316.yml
  html/changelogs/archive/2023-09.yml
Due: none

Initial
  code/game/cas_manager/datums/cas_fire_envelope.dm
Due: report:dmdoc

Initial
  code/modules/mob/living/carbon/xenomorph/abilities/runner/runner_powers.dm
Due: report:dmdoc

weee
  maps/templates/twe_ert_station.dmm
Due: report:map-changed-report

Initial
  code/game/machinery/telecomms/presets.dm
Due: report:dmdoc

Working Joes no longer get a cryo emergency kit (#4319)
  code/game/jobs/job/civilians/support/working_joe.dm
  code/game/jobs/job/job.dm
  code/modules/cm_marines/equipment/kit_boxes.dm
  code/modules/mob/new_player/new_player.dm
Due: report:dmdoc

Automatic changelog for PR #4319 [ci skip]
  html/changelogs/AutoChangeLog-pr-4319.yml
Due: none

Fixes perma helmet HUDs (#4322)
  code/modules/clothing/head/helmet.dm
Due: report:dmdoc

Revert "refactor : clean dmi file extract spritten hiden inside other sprites direction. removing sprite change from dmm files. (#4232)"
  code/game/objects/structures/flora.dm
  code/game/objects/structures/misc.dm
  code/game/turfs/floor_types.dm
  icons/turf/floors/prison.dmi
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
Due: report:dmdoc, report:map-changed-report

overlay limbs for improved client performance (#4290)
  code/__DEFINES/human.dm
  code/__HELPERS/icons.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/organs/limbs.dm
  icons/mob/humans/dam_human.dmi
Due: report:dmdoc

Automatic changelog for PR #4322 [ci skip]
  html/changelogs/AutoChangeLog-pr-4322.yml
Due: none

Removes debuffs from the folded M39 stock (#4305)
  code/modules/projectiles/gun_attachables.dm
Due: report:dmdoc

Adds Helmets + Visor To Synth Vendor | Grey M10 Helmet Addition (#4306)
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
  code/modules/clothing/head/helmet.dm
Due: report:dmdoc

Automatic changelog for PR #4305 [ci skip]
  html/changelogs/AutoChangeLog-pr-4305.yml
Due: none

Automatic changelog for PR #4306 [ci skip]
  html/changelogs/AutoChangeLog-pr-4306.yml
Due: none

fix dmi.
  icons/turf/floors/prison.dmi
Due: none

Access Ticket Management
  code/__DEFINES/ARES.dm
  code/game/machinery/ARES/ARES_procs.dm
  code/game/machinery/ARES/ARES_records.dm
  code/game/machinery/ARES/AdminAres.dm
  tgui/packages/tgui/interfaces/AresAdmin.js
Due: report:dmdoc

ticket log
  code/game/machinery/ARES/ARES_procs.dm
Due: report:dmdoc

span fix
  code/game/machinery/ARES/AdminAres.dm
Due: report:dmdoc
