Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm

EastBunkAddit
  maps/map_files/The_Last_Bunker/The_Last_Bunker.dmm
Due: report:map-changed-report

fix1
  maps/map_files/The_Last_Bunker/The_Last_Bunker.dmm
Due: report:map-changed-report

Fix2
  code/game/area/TheLastBunker.dm
Due: report:dmdoc

Fix3
  maps/map_files/The_Last_Bunker/The_Last_Bunker.dmm
Due: report:map-changed-report

Fix4
  maps/map_files/The_Last_Bunker/The_Last_Bunker.dmm
Due: report:map-changed-report

forgot about key files
  code/modules/mob/living/carbon/xenomorph/damage_procs.dm
  code/modules/projectiles/guns/flamer/flamer.dm
Due: report:dmdoc

i love webedit
  code/modules/cm_marines/equipment/gear.dm
Due: report:dmdoc

agag
  maps/map_files/The_Last_Bunker/The_Last_Bunker.dmm
Due: report:map-changed-report

ddad
  maps/map_files/Tyrargo_Rift/Tyrargo_Rift.dmm
Due: report:map-changed-report

Update
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Revert "Makes spawning in cryopods a bit more consistent"
  code/game/jobs/role_authority.dm
Due: report:dmdoc

Update settings.json
  .vscode/settings.json
Due: none

EndOfDay
  code/game/gamemodes/colonialmarines/colonialmarines.dm
  code/game/objects/structures/blocker.dm
  icons/effects/effects.dmi
  maps/map_files/The_Last_Bunker/The_Last_Bunker.dmm
Due: report:dmdoc, report:map-changed-report

Yautja mesh nolonger delets undergarments (#12563)
  code/modules/clothing/under/under.dm
  code/modules/cm_preds/yaut_items.dm
  code/modules/mob/living/carbon/human/update_icons.dm
Due: report:dmdoc

Code Comments, just need to figure out cryopod cramming
  code/modules/mob/living/carbon/human/human.dm
Due: report:dmdoc

mp synth in security (#12605)
  code/__DEFINES/mode.dm
Due: report:dmdoc

Bleh
  code/modules/surgery/generic.dm
Due: report:dmdoc

Meh
  code/modules/surgery/generic.dm
Due: report:dmdoc

feat: Add movement unit tests
  code/__HELPERS/_lists.dm
  code/defines/unit_tests.dm
  code/modules/unit_tests/movement/collisions_can_pass_flags.dm
  code/modules/unit_tests/movement/collisions_cardinal.dm
  code/modules/unit_tests/movement/collisions_collision_pass_through.dm
  code/modules/unit_tests/movement/collisions_diagonal.dm
  code/modules/unit_tests/movement/link_blocked_can_pass_flags.dm
  code/modules/unit_tests/movement/link_blocked_cardinal.dm
  code/modules/unit_tests/movement/link_blocked_diagonal.dm
  code/modules/unit_tests/movement/movement_helpers.dm
Due: report:dmdoc

m,knm,nm,
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
Due: report:dmdoc

Update code/game/objects/items/devices/binoculars.dm
  code/game/objects/items/devices/binoculars.dm
Due: report:dmdoc

Small qol additions (#12592)
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/storage/belt.dm
  code/modules/cm_marines/m2c.dm
  code/modules/cm_marines/smartgun_mount.dm
  code/modules/projectiles/ammo_boxes/grenade_packets.dm
  code/modules/projectiles/magazines/lever_action.dm
Due: report:dmdoc

riding element changes number 1 million (#12355)
  code/datums/elements/riding.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/living.dm
Due: report:dmdoc

fix
  code/game/gamemodes/colonialmarines/colonialmarines.dm
Due: report:dmdoc

test
  code/datums/opensearch/opensearch_query.dm
  tgui/packages/tgui/interfaces/OpenSearchQuery.tsx
Due: report:dmdoc

fix search ranking
  code/datums/opensearch/opensearch_query.dm
  tgui/packages/tgui/interfaces/OpenSearchQuery.tsx
Due: report:dmdoc

fix input handlers
  tgui/packages/tgui/interfaces/OpenSearchQuery.tsx
Due: none

first review batch
  code/datums/opensearch/opensearch_query.dm
  code/modules/admin/player_panel/actions/general.dm
  tgui/packages/tgui/interfaces/OpenSearchQuery.tsx
Due: report:dmdoc

remov
  tgui/packages/tgui/interfaces/OpenSearchQuery.tsx
Due: none

OOPS
  code/datums/opensearch/opensearch_query.dm
Due: report:dmdoc

commas
  code/modules/admin/admin_verbs.dm
Due: report:dmdoc

redux
  code/controllers/subsystem/opensearch.dm
  code/datums/opensearch/opensearch_query.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/player_panel/actions/general.dm
  tgui/packages/tgui/interfaces/OpenSearchQuery.tsx
Due: report:dmdoc

thanks mist!!!
  tgui/packages/tgui/interfaces/OpenSearchQuery.tsx
Due: none

WIP
  code/__DEFINES/opensearch.dm
  code/__DEFINES/subsystems.dm
  code/controllers/subsystem/opensearch.dm
  code/datums/opensearch/opensearch_query.dm
  code/modules/admin/admin_verbs.dm
  colonialmarines.dme
  tgui/packages/tgui/interfaces/OpenSearchQuery.tsx
Due: report:dmdoc

fix enter submit of query
  tgui/packages/tgui/interfaces/OpenSearchQuery.tsx
Due: none

jmp and formatting
  code/datums/opensearch/opensearch_query.dm
  tgui/packages/tgui/interfaces/OpenSearchQuery.tsx
Due: report:dmdoc

RC
  code/controllers/subsystem/opensearch.dm
  code/datums/opensearch/opensearch_query.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/player_panel/actions/general.dm
  code/modules/admin/tabs/admin_tab.dm
  code/modules/admin/topic/topic.dm
  code/modules/admin/verbs/adminhelp.dm
  tgui/packages/tgui/interfaces/OpenSearchQuery.tsx
  tgui/packages/tgui/interfaces/PlayerPanel.tsx
Due: report:dmdoc

readd missing statusText
  tgui/packages/tgui/interfaces/OpenSearchQuery.tsx
Due: none

fix time filter + tooltip
  code/datums/opensearch/opensearch_query.dm
  tgui/packages/tgui/interfaces/OpenSearchQuery.tsx
Due: report:dmdoc

add open queries button
  code/datums/opensearch/opensearch_query.dm
  tgui/packages/tgui/interfaces/OpenSearchQuery.tsx
Due: report:dmdoc
