Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

report:dmdoc:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies:
  - build:map-templates
  cache:
    key: dmdoc-${SPDMM_VERSION}
    paths:
    - dmdoc-bin
  script:
  - '[ -f dmdoc-bin ] || wget -O dmdoc-bin ${SPDMM_DOWNLOAD_URL}/dmdoc'
  - chmod u+x dmdoc-bin
  - ./dmdoc-bin
  artifacts:
    name: ci_dmdoc
  ...

report:map-changed-report:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies: []
  cache:
    key: dmm-tools-${SPDMM_VERSION}
    paths:
    - dmm-tools
  script:
  - CHANGED_MAP_FILES=`git diff-tree -r --diff-filter=d --name-only --no-commit-id ${CI_COMMIT_BEFORE_SHA}..${CI_COMMIT_SHA} maps/*.dmm`
  ...

fixes wj latejoin
  code/game/gamemodes/cm_initialize.dm
Due: report:dmdoc

accurate fix
  code/game/machinery/ARES/AdminAres.dm
Due: report:dmdoc

tunnel
  code/game/objects/structures/props.dm
  code/modules/cm_aliens/structures/tunnel.dm
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
Due: report:dmdoc, report:map-changed-report

HeadsetsAndIcons
  code/game/objects/items/devices/radio/headset.dm
  code/modules/gear_presets/survivors.dm
  code/modules/gear_presets/synths.dm
Due: report:dmdoc

MoreMap
  code/datums/skills.dm
  maps/Nightmare/maps/DesertDam/nightmare.json
  maps/map_files/DesertDam/Desert_Dam.dmm
  maps/map_files/DesertDam/standalone/crashlanding-upp-alt1.dmm
Due: report:dmdoc, report:map-changed-report

Lore
  code/game/objects/effects/landmarks/survivor_spawner.dm
Due: report:dmdoc

fixes the redis bridge (#4181)
  code/datums/redis/callbacks/asay.dm
Due: report:dmdoc

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-4153.yml
  html/changelogs/AutoChangeLog-pr-4161.yml
  html/changelogs/AutoChangeLog-pr-4173.yml
  html/changelogs/AutoChangeLog-pr-4177.yml
  html/changelogs/AutoChangeLog-pr-4179.yml
  html/changelogs/archive/2023-08.yml
Due: none

ddd
  code/datums/emergency_calls/royal_marines.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/masks/gasmask.dm
Due: report:dmdoc

remove the ability to do multiple sample with a plant and remove randomness of the damage done to plant .
  code/modules/hydroponics/hydro_tray.dm
Due: report:dmdoc

The 'Else If' Purge
  code/modules/admin/tabs/event_tab.dm
Due: report:dmdoc

Fixes WJ Latejoin (#4185)
  code/game/gamemodes/cm_initialize.dm
Due: report:dmdoc

Automatic changelog for PR #4185 [ci skip]
  html/changelogs/AutoChangeLog-pr-4185.yml
Due: none

maybe this works.
  code/modules/cm_marines/overwatch.dm
Due: report:dmdoc

Update overwatch.dm
  code/modules/cm_marines/overwatch.dm
Due: report:dmdoc

add jungle boot and uscm shoulder patch and falling falcon patch
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
Due: report:dmdoc

small change fix
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
Due: report:dmdoc

Fix solaris ridge map link and soro map name/desc
  code/modules/cm_marines/equipment/maps.dm
Due: report:dmdoc

Fix example wiki link
  config/example/config.txt
Due: none

Standardize current_map to use a glob typed list to remove duplicated data
  code/modules/cm_marines/equipment/maps.dm
Due: report:dmdoc

stops not being signed into byond from being a major pita during development
  code/controllers/configuration/entries/general.dm
  code/modules/admin/IsBanned.dm
  code/modules/client/client_procs.dm
Due: report:dmdoc

Unit_test exceptions
  code/__DEFINES/__game.dm
  code/modules/cm_marines/equipment/maps.dm
Due: report:dmdoc

Spelling
  code/__DEFINES/__game.dm
  code/modules/cm_marines/equipment/maps.dm
Due: report:dmdoc

buffs the autoflamer
  code/modules/projectiles/guns/flamer/flamer.dm
Due: report:dmdoc

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-4185.yml
  html/changelogs/archive/2023-08.yml
Due: none

fix
  code/modules/reagents/chemistry_properties/chem_property.dm
  code/modules/reagents/chemistry_properties/prop_negative.dm
  code/modules/reagents/chemistry_properties/prop_neutral.dm
  code/modules/reagents/chemistry_properties/prop_positive.dm
  code/modules/reagents/chemistry_properties/prop_special.dm
Due: report:dmdoc

opsie
  code/modules/reagents/chemistry_properties/prop_special.dm
Due: report:dmdoc

test
  code/modules/reagents/chemistry_properties/prop_special.dm
Due: report:dmdoc

unfucked lumcount -> get_lumcount() and fixed flashlight and armor lamp
  code/game/machinery/computer/camera_console.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/suits/marine_armor.dm
  code/modules/defenses/sentry_computer.dm
  code/modules/hydroponics/hydro_tray.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/projectiles/gun_attachables.dm
Due: report:dmdoc

Fix lag
  code/modules/client/tgui_macro.dm
Due: report:dmdoc

Remove excessive logger
  tgui/packages/tgui/interfaces/KeyBinds.js
Due: none

Fix keyCode depreciation
  tgui/packages/tgui/events.js
Due: none

Fix refreshing when focused
  tgui/packages/tgui/hotkeys.ts
  tgui/packages/tgui/interfaces/KeyBinds.js
Due: none

Add some more time to listen to subsequent key presses.
  tgui/packages/tgui/interfaces/KeyBinds.js
Due: none

OOC prefix proc (#2536)
  code/__DEFINES/mode.dm
  code/game/verbs/ooc.dm
  code/global.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
  code/modules/mentor/mentorhelp.dm
  icons/ooc.dmi
Due: report:dmdoc

Foxtrot cryomarines spawn as freed mobs if not taken (#4132)
  code/datums/emergency_calls/cryo_marines.dm
  code/game/machinery/cryopod.dm
Due: report:dmdoc

Automatic changelog for PR #2536 [ci skip]
  html/changelogs/AutoChangeLog-pr-2536.yml
Due: none

Automatic changelog for PR #4132 [ci skip]
  html/changelogs/AutoChangeLog-pr-4132.yml
Due: none

Zombie Rework (#4060)
  code/datums/diseases/black_goo.dm
  code/game/objects/effects/decals/cleanable/misc.dm
  code/modules/mob/living/carbon/human/species/zombie.dm
Due: report:dmdoc

Automatic changelog for PR #4060 [ci skip]
  html/changelogs/AutoChangeLog-pr-4060.yml
Due: none

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm
