Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm

vendor setup backend
  code/datums/tutorial/marine/_marine.dm
  code/game/machinery/vending/cm_vending.dm
  code/modules/gear_presets/_select_equipment.dm
  code/modules/gear_presets/uscm.dm
  code/modules/gear_presets/uscm_ship.dm
  code/modules/mob/living/carbon/human/human_defines.dm
Due: report:dmdoc

Update job.dm
  code/__DEFINES/job.dm
Due: report:dmdoc

More spaceports
  code/datums/spaceports.dm
Due: report:dmdoc

Yautja vendors
  code/__DEFINES/vendors.dm
  code/game/machinery/vending/vendor_types/antag/antag_predator.dm
  code/modules/gear_presets/yautja.dm
Due: report:dmdoc

prevent foxtrot edge cases
  code/controllers/subsystem/ticker.dm
  code/game/jobs/role_authority.dm
Due: report:dmdoc

north west jungle inserts + fixes
  code/game/area/LV624_Lazarus_Landing.dm
  code/game/turfs/walls/wall_types.dm
  code/modules/paperwork/paper.dm
  maps/Nightmare/maps/LV624_Lazarus_Landing/nightmare.json
  maps/map_files/LV624_Lazarus_Landing/LV624_Lazarus_Landing.dmm
  maps/map_files/LV624_Lazarus_Landing/sprinkles/20.north_west_jungle_ruins.dmm
  maps/map_files/LV624_Lazarus_Landing/sprinkles/30.center_jungle.dmm
  maps/map_files/LV624_Lazarus_Landing/standalone/north_west_jungle_ruins_clf.dmm
Due: report:dmdoc, report:map-changed-report

small changes
  maps/map_files/LV624_Lazarus_Landing/LV624_Lazarus_Landing.dmm
Due: report:map-changed-report

.
  code/__DEFINES/shuttles.dm
  code/modules/shuttle/shuttles/dropship.dm
  maps/predship/huntership_mz.dmm
Due: report:dmdoc, report:map-changed-report

fixes
  code/game/area/LV624_Lazarus_Landing.dm
  maps/map_files/LV624_Lazarus_Landing/LV624_Lazarus_Landing.dmm
Due: report:dmdoc, report:map-changed-report

Fixes #10664
  tgui/packages/tgui-say/constants.ts
Due: none

Fix #10670
  code/game/machinery/vending/vendor_types/requisitions.dm
Due: report:dmdoc

Fixes #11364
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
Due: report:dmdoc

autodoor control
  code/__DEFINES/machinery.dm
  code/game/area/almayer.dm
  code/game/machinery/door_control.dm
  code/game/machinery/doors/poddoor/almayer.dm
  code/modules/shuttle/shuttles/ert.dm
  maps/shuttles/port_umbilical_cord.dmm
  maps/shuttles/starboard_umbilical_cord.dmm
Due: report:dmdoc, report:map-changed-report

leap
  code/__DEFINES/keybinding.dm
  code/datums/keybinding/yautja.dm
  code/modules/cm_preds/yaut_actions.dm
  code/modules/cm_tech/droppod/lz_effect.dm
  code/modules/mob/living/carbon/human/species/yautja/_species.dm
  icons/mob/hud/actions_yautja.dmi
Due: report:dmdoc

Overwatch qol
  code/game/jobs/job/marine/squads.dm
  code/modules/cm_marines/overwatch.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:dmdoc, report:map-changed-report

no tunnel ert shuttles please
  code/game/area/shuttles.dm
Due: report:dmdoc

no base lighting for umbilicals (not reliable somereason)
  code/game/area/shuttles.dm
Due: report:dmdoc

interrupt tweak and comments
  code/modules/cm_preds/yaut_actions.dm
Due: report:dmdoc

wrong icon_state for power change
  code/game/machinery/door_control.dm
Due: report:dmdoc

text
  code/modules/paperwork/paper.dm
Due: report:dmdoc

KT42, SU6 and Auto9 updated 2handed.
  icons/mob/humans/onmob/inhands/weapons/guns/pistols_lefthand.dmi
Due: none

KT42, SU6 and Auto9 updated 2handed.
  icons/mob/humans/onmob/inhands/weapons/guns/pistols_righthand.dmi
Due: none

Skorpion and MP27 2handed
  icons/mob/humans/onmob/inhands/weapons/guns/smgs_lefthand.dmi
Due: none

skorpion and MP27 2handed
  icons/mob/humans/onmob/inhands/weapons/guns/smgs_righthand.dmi
Due: none

radio fix
  code/modules/gear_presets/uscm.dm
Due: report:dmdoc

Update code/datums/keybinding/yautja.dm
  code/datums/keybinding/yautja.dm
Due: report:dmdoc

linked
  code/controllers/subsystem/mapping.dm
  maps/Nightmare/maps/Hunter_Ship/nightmare.json
  maps/Nightmare/maps/Hunter_Ship/scenario.json
  maps/huntership.json
  maps/predship/huntership_mz.dmm
Due: report:dmdoc, report:map-changed-report

Role comms
  code/modules/gear_presets/wy.dm
  code/modules/gear_presets/wy_commandos.dm
  code/modules/gear_presets/wy_goons.dm
Due: report:dmdoc

cleanup update_connections logic for walls
  code/game/turfs/walls/r_wall.dm
  code/game/turfs/walls/wall_icon.dm
  code/game/turfs/walls/wall_types.dm
  code/game/turfs/walls/walls.dm
Due: report:dmdoc

Fix/cleanup friendly/hostile upp/mercs ERTs
  code/datums/emergency_calls/mercs.dm
  code/datums/emergency_calls/upp.dm
Due: report:dmdoc

fixes
  maps/map_files/LV624_Lazarus_Landing/LV624_Lazarus_Landing.dmm
  maps/map_files/LV624_Lazarus_Landing/sprinkles/30.center_jungle.dmm
Due: report:map-changed-report

adds oldschool uniforms and coats back
  code/game/objects/structures/crates_lockers/closets/wardrobe.dm
  code/modules/clothing/under/jobs/medsci.dm
  icons/mob/humans/onmob/clothing/uniforms/uniforms_by_department/research.dmi
  icons/obj/items/clothing/uniforms/uniforms_by_department/research.dmi
Due: report:dmdoc

don't need these, they're in another PR
  code/datums/factions/uscm.dm
  icons/mob/hud/factions/marine.dmi
  icons/mob/hud/sec_hud.dmi
  icons/ui_icons/map_blips.dmi
Due: report:dmdoc

Update xeno_action.dm
  code/modules/mob/living/carbon/xenomorph/abilities/xeno_action.dm
Due: report:dmdoc

fixes
  code/game/objects/structures/flora.dm
  maps/map_files/LV624_Lazarus_Landing/LV624_Lazarus_Landing.dmm
  maps/map_files/LV624_Lazarus_Landing/standalone/corporate_dome_goon.dmm
Due: report:dmdoc, report:map-changed-report

Ammo
  maps/map_files/cape_river/cape_river.dmm
Due: report:map-changed-report

ergh
  maps/map_files/cape_river/cape_river.dmm
Due: report:map-changed-report
