Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm

pump warning for unintentional ftl exit
  code/controllers/subsystem/hijack.dm
Due: report:dmdoc

premade
  code/modules/defenses/sentry.dm
  icons/obj/structures/machinery/defenses/upp_defenses.dmi
Due: report:dmdoc

hijack stuff
  code/game/gamemodes/colonialmarines/UPP.dm
  code/modules/shuttle/dropship_hijack.dm
Due: report:dmdoc

Bleh
  tools/UpdatePaths/Scripts/11608-lathes.txt
Due: none

re-run update path changes
  maps/map_files/Tyrargo_Rift/Tyrargo_Rift.dmm
Due: report:map-changed-report

UPP can no longer land on yautja ship
  code/modules/shuttle/shuttles/dropship.dm
  maps/predship/huntership.dmm
Due: report:dmdoc, report:map-changed-report

Fixup maps in TGM format
  maps/map_files/Kutjevo/Kutjevo.dmm
Due: report:map-changed-report

more gamemode stuff
  code/game/gamemodes/colonialmarines/UPP.dm
  code/game/gamemodes/colonialmarines/colonialmarines.dm
Due: report:dmdoc

Fix cron schedule indentation in workflow file
  .github/workflows/update_tgs_dmapi.yml
Due: none

Update UPP.dm
  code/game/gamemodes/colonialmarines/UPP.dm
Due: report:dmdoc

fix and more hijack stuff
  code/controllers/subsystem/hijack.dm
  code/game/area/rostock.dm
  code/game/gamemodes/colonialmarines/UPP.dm
Due: report:dmdoc

Small Improvements: - "Marks" now have darker outline to make them more visible. - Slashing yellow marks removes cooldown on both impale and tail trip.
  code/modules/mob/living/carbon/xenomorph/strains/castes/praetorian/dancer.dm
  icons/mob/hud/hud.dmi
Due: report:dmdoc

comments adressed
  code/game/objects/items/explosives/mine.dm
Due: report:dmdoc

comments adressed v2
  code/game/objects/items/explosives/mine.dm
Due: report:dmdoc

removes is_smoke check, replaced with simple mine_level check
  code/game/objects/items/explosives/mine.dm
Due: report:dmdoc

defaults sharp to safe mode
  code/modules/projectiles/guns/specialist/sharp.dm
Due: report:dmdoc

changes mode order to safe -> directed -> danger -> safe
  code/modules/projectiles/guns/specialist/sharp.dm
Due: report:dmdoc

fixes flames not burning targets
  code/game/objects/items/explosives/mine.dm
Due: report:dmdoc

single letter variables begone
  code/game/objects/items/explosives/explosive.dm
Due: report:dmdoc

armylathe partial change
  code/game/machinery/autolathe.dm
Due: report:dmdoc

\The instead of \the
  code/game/objects/items/explosives/explosive.dm
Due: report:dmdoc

Lowered alpha on ceiling colors
  code/__DEFINES/minimap.dm
Due: report:dmdoc

Removed open roof colors, lowered alpha on other colors some more
  code/__DEFINES/minimap.dm
  code/controllers/subsystem/minimap.dm
Due: report:dmdoc

tracking dispaeers when on other plane
  code/controllers/subsystem/minimap.dm
Due: report:dmdoc

Streamlines pouches for doctors
  code/game/machinery/vending/vendor_types/crew/medical.dm
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
Due: report:dmdoc

um okay
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
Due: report:dmdoc

makes vars lowercase
  code/datums/mob_hud.dm
  code/game/objects/items/cards_ids.dm
Due: report:dmdoc

Hopefully takes care of the merge conflict
  icons/ui_icons/map_blips.dmi
Due: none

Fixes merge conflict
  icons/ui_icons/map_blips.dmi
Due: none

I knew there was a reason why I kept 'Faction' capitalized, here.
  code/datums/mob_hud.dm
Due: report:dmdoc

Experimental: Try remove apt update installs from CI
  .github/workflows/autowiki.yml
  .github/workflows/ci_suite.yml
  .github/workflows/release.yml
  .github/workflows/run_unit_tests.yml
Due: none

two new unique sets
  code/__DEFINES/pred.dm
  code/game/machinery/vending/vendor_types/antag/antag_predator.dm
  icons/mob/humans/onmob/hunter/pred_gear.dmi
  icons/mob/humans/onmob/hunter/pred_gear64.dmi
  icons/obj/items/hunter/pred_gear.dmi
Due: report:dmdoc

fix loadout
  code/modules/gear_presets/yautja.dm
Due: report:dmdoc

fixes
  code/game/machinery/vending/vendor_types/antag/antag_predator.dm
Due: report:dmdoc

indent
  code/modules/gear_presets/yautja.dm
Due: report:dmdoc

45 min timeout for run_unit_tests
  .github/workflows/run_unit_tests.yml
Due: none

Give open_space and open_space/solid an alpha of 1
  icons/turf/floors/floors.dmi
Due: none

spell
  code/modules/mob/living/carbon/xenomorph/strains/castes/hivelord/designer.dm
Due: report:dmdoc

on moving up or down the tgui tacmap no longer open (table map)
  code/controllers/subsystem/minimap.dm
  code/datums/components/tacmap.dm
Due: report:dmdoc

functionality
  code/__DEFINES/dcs/signals/atom/mob/signals_mob.dm
  code/modules/admin/tabs/admin_tab.dm
  code/modules/mentor/mentorhelp.dm
  code/modules/mob/camera/imaginary_friend.dm
  code/modules/mob/dead/observer/observer.dm
Due: report:dmdoc
