Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm

Automatic changelog for PR #5004 [ci skip]
  html/changelogs/AutoChangeLog-pr-5004.yml
Due: none

Automatic changelog for PR #4995 [ci skip]
  html/changelogs/AutoChangeLog-pr-4995.yml
Due: none

Automatic changelog for PR #4961 [ci skip]
  html/changelogs/AutoChangeLog-pr-4961.yml
Due: none

Automatic changelog for PR #4998 [ci skip]
  html/changelogs/AutoChangeLog-pr-4998.yml
Due: none

Automatic changelog for PR #5001 [ci skip]
  html/changelogs/AutoChangeLog-pr-5001.yml
Due: none

Automatic changelog for PR #5005 [ci skip]
  html/changelogs/AutoChangeLog-pr-5005.yml
Due: none

Automatic changelog for PR #4974 [ci skip]
  html/changelogs/AutoChangeLog-pr-4974.yml
Due: none

Removal of Pizza Cutter
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

converts xeno evolution menu to radial menu
  code/modules/mob/living/carbon/xenomorph/Evolution.dm
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
  icons/mob/xenos/radial_xenos.dmi
Due: report:dmdoc

vendor overlays fix
  code/game/machinery/vending/cm_vending.dm
Due: report:dmdoc

buff powerloader cert apperance rate so it needs 66 players instead of 120
  code/game/machinery/vending/vendor_types/requisitions.dm
Due: report:dmdoc

Re adjusted code for hijacks
  code/modules/admin/tabs/event_tab.dm
  code/modules/shuttles/shuttle_console.dm
Due: report:dmdoc

Correct Dropship hijack code disable launch alarm
  code/modules/shuttle/computers/dropship_computer.dm
  code/modules/shuttles/shuttle_console.dm
Due: report:dmdoc

fixed stopping sound correctly
  code/modules/shuttle/computers/dropship_computer.dm
Due: report:dmdoc

fixes leader tracker bug
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
Due: report:dmdoc

Update shuttle_console.dm
  code/modules/shuttles/shuttle_console.dm
Due: report:dmdoc

needsEffectsnBalancing
  code/datums/supply_packs/explosives.dm
  code/game/machinery/vending/vendor_types/crew/commanding_officer.dm
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_engineer.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_leader.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_medic.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_specialist.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_tl.dm
  code/game/objects/items/explosives/grenades/marines.dm
  code/game/objects/items/explosives/mine.dm
  code/modules/projectiles/ammo_boxes/grenade_packets.dm
  icons/mob/humans/onmob/items_lefthand_1.dmi
  icons/mob/humans/onmob/items_righthand_1.dmi
  icons/obj/items/weapons/grenade.dmi
Due: report:dmdoc

doc
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
Due: report:dmdoc

fix species limbs and falling over during creation
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/update_icons.dm
Due: report:dmdoc

Auto stash before revert of "conflict fix attempt"
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  tgui/packages/tgui/interfaces/DropshipFlightControl.tsx
Due: report:map-changed-report

consistency fix
  code/datums/diseases/flu.dm
Due: report:dmdoc

brig remap full commit
  code/game/machinery/computer/security.dm
  code/game/machinery/doors/brig_system.dm
  code/game/machinery/vending/vending_types.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:dmdoc, report:map-changed-report

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-4961.yml
  html/changelogs/AutoChangeLog-pr-4974.yml
  html/changelogs/AutoChangeLog-pr-4995.yml
  html/changelogs/AutoChangeLog-pr-4998.yml
  html/changelogs/AutoChangeLog-pr-5001.yml
  html/changelogs/AutoChangeLog-pr-5004.yml
  html/changelogs/AutoChangeLog-pr-5005.yml
  html/changelogs/AutoChangeLog-pr-5008.yml
  html/changelogs/AutoChangeLog-pr-5009.yml
  html/changelogs/AutoChangeLog-pr-5010.yml
  html/changelogs/AutoChangeLog-pr-5012.yml
  html/changelogs/AutoChangeLog-pr-5015.yml
  html/changelogs/archive/2023-11.yml
Due: none

initial
  code/game/machinery/doors/poddoor.dm
  maps/map_files/CORSAT/Corsat.dmm
Due: report:dmdoc, report:map-changed-report

map fix and cmp locker access
  code/game/objects/structures/crates_lockers/closets/secure/cm_closets.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:dmdoc, report:map-changed-report

commit
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

upstream pull changes
  code/datums/tutorial/ss13/intents.dm
  code/game/machinery/vending/cm_vending.dm
  code/modules/mob/living/carbon/human/human_dummy.dm
Due: report:dmdoc

fuck it why not both
  code/game/objects/structures/crates_lockers/closets.dm
Due: report:dmdoc

fixes
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Removal of Pizza Cutter from Req (#5023)
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Automatic changelog for PR #5023 [ci skip]
  html/changelogs/AutoChangeLog-pr-5023.yml
Due: none

Warrior: replace single letter vars & remove redundant code (#4921)
  code/modules/mob/living/carbon/xenomorph/abilities/warrior/warrior_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/warrior/warrior_macros.dm
  code/modules/mob/living/carbon/xenomorph/abilities/warrior/warrior_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Warrior.dm
Due: report:dmdoc

Automatic changelog for PR #4921 [ci skip]
  html/changelogs/AutoChangeLog-pr-4921.yml
Due: none

qol add a new section to role squad vendors called binoculars except specialist. (#5000)
  code/game/machinery/vending/vendor_types/squad_prep/squad_engineer.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_leader.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_medic.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_rifleman.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_smartgunner.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_tl.dm
Due: report:dmdoc

Automatic changelog for PR #5000 [ci skip]
  html/changelogs/AutoChangeLog-pr-5000.yml
Due: none

whitelist panel and changes
  code/__DEFINES/mode.dm
  code/datums/entities/player.dm
  code/game/jobs/whitelist.dm
  code/modules/admin/NewBan.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/tabs/admin_tab.dm
  code/modules/admin/topic/topic.dm
  code/modules/client/client_procs.dm
  code/modules/client/preferences.dm
Due: report:dmdoc

fixes orbit menu for 0 health and admins refreshing
  code/modules/mob/dead/observer/orbit.dm
  tgui/packages/tgui/interfaces/Orbit/helpers.ts
  tgui/packages/tgui/interfaces/Orbit/index.tsx
Due: report:dmdoc
