Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

report:dmdoc:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies:
  - build:map-templates
  cache:
    key: dmdoc-${SPDMM_VERSION}
    paths:
    - dmdoc-bin
  script:
  - '[ -f dmdoc-bin ] || wget -O dmdoc-bin ${SPDMM_DOWNLOAD_URL}/dmdoc'
  - chmod u+x dmdoc-bin
  - ./dmdoc-bin
  artifacts:
    name: ci_dmdoc
  ...

report:map-changed-report:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies: []
  cache:
    key: dmm-tools-${SPDMM_VERSION}
    paths:
    - dmm-tools
  script:
  - CHANGED_MAP_FILES=`git diff-tree -r --diff-filter=d --name-only --no-commit-id ${CI_COMMIT_BEFORE_SHA}..${CI_COMMIT_SHA} maps/*.dmm`
  ...

g
  code/game/objects/effects/landmarks/survivor_spawner.dm
Due: report:dmdoc

Change
  maps/map_files/Tyrargo_Rift/Tyrargo_Rift.dmm
Due: report:map-changed-report

Fixup maps in TGM format
  maps/map_files/Tyrargo_Rift/Tyrargo_Rift.dmm
Due: report:map-changed-report

GuessIllFinallyDoItMyself
  code/modules/shuttle/computers/dropship_computer.dm
Due: report:dmdoc

Oversight
  maps/map_files/Tyrargo_Rift/Tyrargo_Rift.dmm
Due: report:map-changed-report

More
  maps/map_files/Tyrargo_Rift/Tyrargo_Rift.dmm
Due: report:map-changed-report

APC
  maps/map_files/Tyrargo_Rift/Tyrargo_Rift.dmm
Due: report:map-changed-report

APCDup
  maps/map_files/Tyrargo_Rift/Tyrargo_Rift.dmm
Due: report:map-changed-report

Update strings/memetips.txt
  strings/memetips.txt
Due: none

Update strings/xenotips.txt
  strings/xenotips.txt
Due: none

library update
  code/__DEFINES/ss13lib.config.dm
  code/__DEFINES/ss13lib.dm
  code/controllers/subsystem/ticker.dm
  code/ss13lib/attestation.dm
  code/ss13lib/authenticate.dm
  code/ss13lib/handshake.dm
  code/ss13lib/heartbeat.dm
  code/ss13lib/topic.dm
Due: report:dmdoc

merge conflict and power for clf fax
  code/game/area/DesertDam.dm
  maps/map_files/DesertDam/Desert_Dam.dmm
  maps/map_files/DesertDam/standalone/clfpods.dmm
  maps/map_files/DesertDam/standalone/quarantine.dmm
Due: report:dmdoc, report:map-changed-report

Fixup maps in TGM format
  maps/map_files/DesertDam/Desert_Dam.dmm
Due: report:map-changed-report

Update Desert_Dam.dmm
  maps/map_files/DesertDam/Desert_Dam.dmm
Due: report:map-changed-report

NewChanges
  maps/map_files/Tyrargo_Rift/Tyrargo_Rift.dmm
Due: report:map-changed-report

Fix
  maps/map_files/Tyrargo_Rift/Tyrargo_Rift.dmm
Due: report:map-changed-report

New areas
  code/game/area/almayer.dm
Due: report:dmdoc

Room layouts
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

First Draft
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

fix malformed field
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Remove banned neighbors
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Fixup maps in TGM format
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

add missing apc's
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

close enough, welcome back combat hugging
  code/modules/mob/living/carbon/xenomorph/Facehuggers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Carrier.dm
Due: report:dmdoc

MoreAndMore
  code/game/area/tyrargo_rift.dm
  code/game/objects/structures/tyrargo_props.dm
  maps/map_files/Tyrargo_Rift/Tyrargo_Rift.dmm
Due: report:dmdoc, report:map-changed-report

LZ1Change
  maps/map_files/Tyrargo_Rift/Tyrargo_Rift.dmm
Due: report:map-changed-report

Grrr
  code/game/area/tyrargo_rift.dm
  maps/map_files/Tyrargo_Rift/Tyrargo_Rift.dmm
Due: report:dmdoc, report:map-changed-report

MaorFix
  maps/map_files/Tyrargo_Rift/Tyrargo_Rift.dmm
Due: report:map-changed-report

Adds some missing utility items
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm
