Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm

Automatic changelog compile [ci skip]
  html/changelogs/archive/2022-08.yml
Due: none

init
  tgui/public/tgui.html
Due: none

[MDB ignore] The Corpse update (#758)
  code/game/objects/effects/landmarks/corpsespawner.dm
  code/modules/gear_presets/corpses.dm
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/BigRed/sprinkles/40.admin_pmc.dmm
  maps/map_files/BigRed/sprinkles/40.dorms_party.dmm
  maps/map_files/BigRed/standalone/crashlanding-eva.dmm
  maps/map_files/BigRed/standalone/crashlanding-offices.dmm
  maps/map_files/BigRed/standalone/medbay-v3.dmm
  maps/map_files/CORSAT/Corsat.dmm
  maps/map_files/CORSAT/standalone/lockdown_highsec.dmm
  maps/map_files/CORSAT/standalone/sigma_ice.dmm
  maps/map_files/DesertDam/Desert_Dam.dmm
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
  maps/map_files/Ice_Colony_v2/Ice_Colony_v2.dmm
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
  maps/map_files/Kutjevo/Kutjevo.dmm
  maps/map_files/LV624/LV624.dmm
  maps/map_files/LV624/gym/30.alternate.dmm
  maps/map_files/LV624/hydro/30.destroyed.dmm
  maps/map_files/LV624/medbay/30.larvasurgery.dmm
  maps/map_files/LV624/standalone/clfship.dmm
  maps/map_files/LV624/standalone/laststand.dmm
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
Due: report:dmdoc, report:map-changed-report

reuploaded code and maps
  code/game/objects/effects/landmarks/survivor_spawner.dm
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/BigRed/sprinkles/25.bigredbarls.dmm
  maps/map_files/BigRed/sprinkles/25.clfmarshalls.dmm
  maps/map_files/BigRed/sprinkles/25.dndsolaris.dmm
Due: report:dmdoc, report:map-changed-report

reupload
  code/modules/gear_presets/survivors.dm
Due: report:dmdoc

i will webedit
  code/modules/cm_aliens/structures/special/egg_morpher.dm
Due: report:dmdoc

fixed maps after geeves update
  maps/map_files/BigRed/sprinkles/25.bigredbarls.dmm
  maps/map_files/BigRed/sprinkles/25.dndsolaris.dmm
Due: report:map-changed-report

you cannot stop me
  code/modules/cm_aliens/structures/special/spawn_pool.dm
Due: report:dmdoc

resolved map issue
  maps/map_files/BigRed/sprinkles/25.bigredbarls.dmm
Due: report:map-changed-report

Fix for z-level check.
  code/game/machinery/cryopod.dm
Due: report:dmdoc

reuploaded code and maps
  maps/map_files/BigRed/sprinkles/25.bigredbarls.dmm
  maps/map_files/BigRed/sprinkles/25.dndsolaris.dmm
Due: report:map-changed-report

updated corpses on map
  maps/map_files/BigRed/sprinkles/25.bigredbarls.dmm
  maps/map_files/BigRed/sprinkles/25.clfmarshalls.dmm
  maps/map_files/BigRed/sprinkles/25.dndsolaris.dmm
Due: report:map-changed-report

fixes welded locker being easy to smash open
  code/modules/mob/living/carbon/xenomorph/attack_alien.dm
Due: report:dmdoc

Crawling (#675)
  code/__DEFINES/misc.dm
  code/__HELPERS/unsorted.dm
  code/game/objects/items.dm
  code/modules/mob/living/carbon/give.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/mob_movement.dm
Due: report:dmdoc

fixed area issue
  maps/map_files/BigRed/sprinkles/25.clfmarshalls.dmm
Due: report:map-changed-report

fixing conflicts
  maps/map_files/BigRed/sprinkles/25.bigredbarls.dmm
  maps/map_files/BigRed/sprinkles/25.dndsolaris.dmm
Due: report:map-changed-report

fixed conflicting issues
  maps/map_files/BigRed/sprinkles/25.bigredbarls.dmm
  maps/map_files/BigRed/sprinkles/25.dndsolaris.dmm
Due: report:map-changed-report

reuploaded code and maps
  code/game/objects/effects/landmarks/survivor_spawner.dm
  code/modules/gear_presets/survivors.dm
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/BigRed/sprinkles/25.bigredbarls.dmm
  maps/map_files/BigRed/sprinkles/25.clfmarshalls.dmm
  maps/map_files/BigRed/sprinkles/25.dndsolaris.dmm
Due: report:dmdoc, report:map-changed-report

fixed issue
  maps/map_files/BigRed/sprinkles/25.bigredbarls.dmm
Due: report:map-changed-report
