Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm

pred_fortnite_skins
  code/__DEFINES/pred.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/gear_presets/yautja.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/carbon/human/species/yautja.dm
  code/modules/organs/limb_objects.dm
  code/modules/organs/limbs.dm
  icons/mob/humans/species/r_predator.dmi
Due: report:dmdoc

forgot to add synth survivor. oops
  maps/new_varadero.json
Due: none

fixed spelling error
  code/modules/gear_presets/survivors.dm
Due: report:dmdoc

HPR mag antipowergame (#2057)
  code/__DEFINES/conflict.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/storage/storage.dm
  code/modules/projectiles/ammo_boxes/ammo_boxes.dm
  code/modules/projectiles/ammunition.dm
  code/modules/projectiles/magazines/rifles.dm
Due: report:dmdoc

im colorblind
  code/__DEFINES/pred.dm
  code/modules/client/preferences.dm
  code/modules/gear_presets/yautja.dm
  icons/mob/humans/species/r_predator.dmi
Due: report:dmdoc

Fixes the gsmes sprite on trijent dam (#2144)
  code/modules/power/batteryrack.dm
Due: report:dmdoc

queen spawn fix (#2136)
  code/game/gamemodes/cm_initialize.dm
Due: report:dmdoc

fixes lockers paralysing (#2134)
  code/__DEFINES/mobs.dm
  code/game/machinery/medical_pod/medical_pod.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/modules/clothing/head/jobs.dm
Due: report:dmdoc

Changed wall code so that any wall with the "hull" variable will state in red text that it is indestructable.
  code/game/turfs/walls/walls.dm
Due: report:dmdoc

Changed it so synths get a message if the wall they try to destroy is indestructable.
  code/game/turfs/walls/walls.dm
Due: report:dmdoc

init
  code/game/machinery/vending/cm_vending.dm
  code/game/machinery/vending/vendor_types/medical.dm
  icons/effects/warning_stripes.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:dmdoc, report:map-changed-report

some small fixes
  code/game/machinery/vending/vendor_types/medical.dm
  code/modules/cm_marines/overwatch.dm
Due: report:dmdoc

Fixes some click delay breaks, refactors wall and mob attackhand
  code/game/objects/effects/acid_hole.dm
  code/game/objects/structures.dm
  code/game/objects/structures/stool_bed_chair_nest/xeno_nest.dm
  code/game/turfs/floor.dm
  code/game/turfs/walls/r_wall.dm
  code/game/turfs/walls/wall_types.dm
  code/game/turfs/walls/walls.dm
  code/modules/cm_aliens/XenoStructures.dm
  code/modules/cm_aliens/weeds.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/mob/living/carbon/xenomorph/XenoAttacks.dm
  code/modules/mob/living/carbon/xenomorph/castes/Burrower.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/robot/drone/drone_abilities.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  code/modules/mob/living/simple_animal/hostile/bear.dm
  code/modules/mob/living/simple_animal/parrot.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
Due: report:dmdoc

Initial
  code/modules/projectiles/gun_attachables.dm
Due: report:dmdoc

Apply suggestions from code review
  code/game/machinery/vending/vendor_types/medical.dm
Due: report:dmdoc

review
  code/modules/projectiles/guns/rifles.dm
  code/modules/projectiles/guns/smartgun.dm
Due: report:dmdoc

a
  code/modules/projectiles/guns/smartgun.dm
Due: report:dmdoc

Initial
  code/modules/organs/limb_objects.dm
Due: report:dmdoc

Update girders.dm
  code/game/objects/structures/girders.dm
Due: report:dmdoc

Update r_wall.dm
  code/game/turfs/walls/r_wall.dm
Due: report:dmdoc

Update walls.dm
  code/game/turfs/walls/walls.dm
Due: report:dmdoc

m46c verbs -> hud buttons (#2052)
  code/__DEFINES/keybinding.dm
  code/datums/keybinding/human_combat.dm
  code/modules/projectiles/guns/rifles.dm
  code/modules/projectiles/guns/smartgun.dm
  icons/mob/hud/actions.dmi
  nano/templates/role_preferences.tmpl
Due: report:dmdoc

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-2052.yml
  html/changelogs/AutoChangeLog-pr-2057.yml
  html/changelogs/AutoChangeLog-pr-2134.yml
  html/changelogs/AutoChangeLog-pr-2136.yml
  html/changelogs/AutoChangeLog-pr-2144.yml
  html/changelogs/archive/2022-12.yml
Due: none

Mapping redo the PO/DCC quarter. (#1918)
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

n
  code/modules/mob/living/carbon/xenomorph/abilities/warrior/warrior_abilities.dm
  code/modules/mob/living/carbon/xenomorph/castes/Lurker.dm
  code/modules/mob/living/carbon/xenomorph/castes/Warrior.dm
Due: report:dmdoc

Fixes some issues regarding dropping defibs/splints.
  code/game/objects/items/devices/defibrillator.dm
  code/modules/organs/limbs.dm
Due: report:dmdoc

Update yaut_weapons.dm
  code/modules/cm_preds/yaut_weapons.dm
Due: report:dmdoc

Better desc
  code/modules/mob/living/carbon/xenomorph/mutators/strains/warrior/knight.dm
Due: report:dmdoc

proc ref
  code/modules/mob/living/carbon/xenomorph/abilities/warrior/warrior_powers.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/warrior/knight.dm
Due: report:dmdoc

reverted defib change.
  code/game/objects/items/devices/defibrillator.dm
Due: report:dmdoc

undoes var/ changes
  code/__DEFINES/__game.dm
  code/__DEFINES/typecheck/xenos.dm
Due: report:dmdoc

fixes chemicals
  code/_globalvars/global_lists.dm
  code/datums/diseases/advance/advance.dm
  code/datums/elements/bullet_trait/incendiary.dm
  code/game/machinery/medical_pod/sleeper.dm
  code/game/objects/items/reagent_containers/borghydro.dm
  code/modules/admin/topic/topic_chems.dm
  code/modules/cm_tech/implements/stims.dm
  code/modules/paperwork/paper.dm
  code/modules/reagents/Chemistry-Generator.dm
  code/modules/reagents/Chemistry-Holder.dm
  code/modules/reagents/Chemistry-Reactions.dm
  code/modules/reagents/chemical_research/Chemical-Research.dm
  code/modules/reagents/chemical_research/generated_reagents.dm
  code/modules/reagents/chemistry_machinery/chem_dispenser.dm
  code/modules/reagents/chemistry_machinery/chem_simulator.dm
  config/example/config.txt
Due: report:dmdoc

Maint Bar 2.0 [MEGA SOUL ALERT] (#2125)
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Fix emergencyshutter for preparation squads room (#2104)
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

init fixes
  code/game/machinery/vending/cm_vending.dm
  code/game/machinery/vending/vending.dm
  code/game/machinery/vending/vending_types.dm
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
  code/game/machinery/vending/vendor_types/crew/vehicle_crew.dm
  code/game/machinery/vending/vendor_types/dress.dm
  code/game/machinery/vending/vendor_types/food.dm
  code/game/machinery/vending/vendor_types/general.dm
  code/game/machinery/vending/vendor_types/medical.dm
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/game/machinery/vending/vendor_types/supplies.dm
Due: report:dmdoc

squash commit
  tgui/packages/tgui-panel/chat/middleware.js
  tgui/packages/tgui-panel/chat/renderer.js
  tgui/packages/tgui-panel/chat/replaceInTextNode.js
  tgui/packages/tgui-panel/settings/SettingsPanel.js
  tgui/packages/tgui-panel/settings/actions.js
  tgui/packages/tgui-panel/settings/constants.js
  tgui/packages/tgui-panel/settings/middleware.js
  tgui/packages/tgui-panel/settings/model.js
  tgui/packages/tgui-panel/settings/reducer.js
  tgui/packages/tgui-panel/settings/selectors.js
Due: none

{} for textnode
  tgui/packages/tgui-panel/chat/replaceInTextNode.js
Due: none

fixes eye damage (#2135)
  code/datums/diseases/addiction.dm
  code/game/machinery/flasher.dm
  code/game/objects/effects/effect_system/smoke.dm
  code/game/objects/items/devices/defibrillator.dm
  code/game/objects/items/tools/maintenance_tools.dm
  code/modules/clothing/glasses/thermal.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/brain/life.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/life/handle_regular_status_updates.dm
  code/modules/mob/living/carbon/xenomorph/life.dm
  code/modules/mob/living/living_health_procs.dm
  code/modules/mob/living/silicon/robot/life.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/mob_status_procs.dm
  code/modules/organs/organ_internal.dm
  code/modules/reagents/chemistry_properties/prop_negative.dm
  code/modules/reagents/chemistry_properties/prop_neutral.dm
  code/modules/reagents/chemistry_properties/prop_positive.dm
  code/modules/reagents/chemistry_properties/prop_special.dm
  code/modules/reagents/chemistry_reagents/drink.dm
  code/modules/reagents/chemistry_reagents/food.dm
Due: report:dmdoc

fixes regressions to checkgrep
  tools/ci/check_grep.sh
Due: none
