Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

report:dmdoc:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies:
  - build:map-templates
  cache:
    key: dmdoc-${SPDMM_VERSION}
    paths:
    - dmdoc-bin
  script:
  - '[ -f dmdoc-bin ] || wget -O dmdoc-bin ${SPDMM_DOWNLOAD_URL}/dmdoc'
  - chmod u+x dmdoc-bin
  - ./dmdoc-bin
  artifacts:
    name: ci_dmdoc
  ...

report:map-changed-report:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies: []
  cache:
    key: dmm-tools-${SPDMM_VERSION}
    paths:
    - dmm-tools
  script:
  - CHANGED_MAP_FILES=`git diff-tree -r --diff-filter=d --name-only --no-commit-id ${CI_COMMIT_BEFORE_SHA}..${CI_COMMIT_SHA} maps/*.dmm`
  ...

Update Sorokyne_Strata.dmm
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
Due: report:map-changed-report

automated comms
  code/game/gamemodes/extended/cm_vs_upp.dm
  code/modules/mapping/map_template.dm
Due: report:dmdoc

initalkutjevosave
  maps/map_files/Kutjevo/standalone/landingzone_kutjevo_uscm_lz1.dmm
Due: report:map-changed-report

a bit more complete
  code/game/supplyshuttle.dm
  code/modules/admin/tabs/event_tab.dm
  code/modules/admin/topic/topic.dm
  code/modules/cm_tech/techs/marine/tier2/orbital_ammo.dm
  code/modules/cm_tech/techs/marine/tier4/nuke.dm
  tgui/packages/tgui/interfaces/SupplyComputer.tsx
Due: report:dmdoc

addcommstower
  maps/templates/ssv_rostock.dmm
Due: report:map-changed-report

supply computer complete
  code/game/supplyshuttle.dm
  code/modules/asset_cache/asset_list.dm
  tgui/packages/tgui/interfaces/SupplyComputer.tsx
Due: report:dmdoc

more ui polish
  code/game/supplyshuttle.dm
  tgui/packages/tgui/interfaces/SupplyComputer.tsx
Due: report:dmdoc

Apply suggestions from code review
  code/datums/skills/uscm.dm
  code/game/objects/items/devices/portable_vendor.dm
  code/modules/gear_presets/cia.dm
Due: report:dmdoc

remove nonfunctional order console buttons
  code/game/supplyshuttle.dm
Due: report:dmdoc

a
  code/game/objects/items/storage/pouch.dm
  code/modules/gear_presets/cia.dm
Due: report:dmdoc

commsupdate
  code/modules/shuttle/shuttles/dropship.dm
  maps/templates/ssv_rostock.dmm
Due: report:dmdoc, report:map-changed-report

lets make it brown
  tgui/packages/tgui/index.tsx
  tgui/packages/tgui/interfaces/SupplyComputer.tsx
  tgui/packages/tgui/styles/themes/crt/crt-brown.scss
Due: none

adds L23-B rifle
  code/game/objects/items/storage/belt.dm
  code/modules/projectiles/guns/rifles.dm
Due: report:dmdoc

minor corrections
  code/modules/gear_presets/cia.dm
Due: report:dmdoc

balance passes on L23-B
  code/modules/projectiles/guns/rifles.dm
Due: report:dmdoc

arms RMC presets with L23, fixes an oopsie with attachment spawn
  code/modules/gear_presets/royal_marines.dm
  code/modules/projectiles/guns/rifles.dm
Due: report:dmdoc

some fixes
  code/modules/watchtower/watchtower.dm
Due: report:dmdoc

and a few more
  code/datums/elements/bullet_trait/direct_only.dm
Due: report:dmdoc

fixes binocs and linter
  code/modules/watchtower/watchtower.dm
Due: report:dmdoc

remember to unregister signals
  code/modules/watchtower/watchtower.dm
Due: report:dmdoc

kutjevo
  maps/Nightmare/maps/Kutjevo/nightmare.json
  maps/map_files/Kutjevo/Kutjevo.dmm
  maps/map_files/Kutjevo/standalone/landingzone_kutjevo_upp_lz1.dmm
  maps/map_files/Kutjevo/standalone/landingzone_kutjevo_uscm_lz1.dmm
  maps/map_files/Kutjevo/standalone/landingzone_kutjevo_uscm_lz2.dmm
Due: report:map-changed-report

power fix
  code/game/gamemodes/extended/cm_vs_upp.dm
  code/modules/shuttle/shuttles/dropship.dm
Due: report:dmdoc

fixes binoculars
  code/game/objects/items.dm
Due: report:dmdoc

linter moment
  code/datums/elements/bullet_trait/direct_only.dm
Due: report:dmdoc

fixes layering issues
  code/modules/watchtower/watchtower.dm
Due: report:dmdoc

do the clicky buttons like this
  code/controllers/subsystem/init/lobby_art.dm
  code/modules/asset_cache/assets/lobby.dm
  code/modules/mob/new_player/login.dm
  tgui/packages/tgui/interfaces/LobbyMenu.tsx
  tgui/packages/tgui/styles/interfaces/LobbyMenu.scss
Due: report:dmdoc

cleanup of unused code
  code/modules/asset_cache/assets/lobby.dm
  code/modules/mob/new_player/login.dm
  sound/lobby/lobby_interact.mp3
Due: report:dmdoc

NOW WORK WORK WORK
  code/game/gamemodes/extended/cm_vs_upp.dm
Due: report:dmdoc

now
  code/game/gamemodes/extended/cm_vs_upp.dm
Due: report:dmdoc

WO classes
  code/__DEFINES/paygrade_defs/twe.dm
  code/datums/paygrades/factions/twe/twe.dm
Due: report:dmdoc

More changes and fixes
  code/modules/watchtower/watchtower.dm
Due: report:dmdoc

better contrast
  tgui/packages/tgui/interfaces/LobbyMenu.tsx
Due: none

removes enthusiasm from joining the uscm
  tgui/packages/tgui/interfaces/LobbyMenu.tsx
Due: none

reorganise scss
  tgui/packages/tgui/styles/interfaces/LobbyMenu.scss
Due: none

reduce volume, sfx on delay
  tgui/packages/tgui/interfaces/LobbyMenu.tsx
Due: none

Bye Bye Classic
  code/modules/cm_marines/equipment/maps.dm
  map_config/maps.txt
  maps/ice_colony_v1.json
  maps/map_files/Ice_Colony_v1/Ice_Colony_v1.dmm
Due: report:dmdoc, report:map-changed-report

fix
  code/datums/paygrades/factions/twe/twe.dm
Due: report:dmdoc

cinema mode toggle
  tgui/packages/tgui/interfaces/LobbyMenu.tsx
  tgui/packages/tgui/styles/interfaces/LobbyMenu.scss
Due: none

absurdly long names (scandis)
  tgui/packages/tgui/interfaces/LobbyMenu.tsx
Due: none

icons too
  tgui/packages/tgui/interfaces/LobbyMenu.tsx
  tgui/packages/tgui/styles/interfaces/LobbyMenu.scss
Due: none

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm
