Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm

refactors Initialize() and recalculate_actions()
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/castes/Carrier.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  code/modules/mob/living/carbon/xenomorph/castes/Runner.dm
Due: report:dmdoc

refactor set_hive_and_update()
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/castes/Larva.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
Due: report:dmdoc

oof
  code/game/turfs/walls/wall_types.dm
Due: report:dmdoc

/tg/ Status Effects Prelude D - Mob Freeze Refactor (#4878)
  code/__DEFINES/traits.dm
  code/datums/agents/tools/chloroform.dm
  code/datums/effects/xeno_strains/boiler_trap.dm
  code/datums/mob_hud.dm
  code/game/objects/items/storage/smartpack.dm
  code/game/objects/structures/vulture_spotter.dm
  code/modules/admin/player_panel/actions/general.dm
  code/modules/admin/player_panel/player_panel.dm
  code/modules/cm_marines/m2c.dm
  code/modules/cm_marines/smartgun_mount.dm
  code/modules/mob/living/carbon/human/human_abilities.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
  code/modules/mob/living/carbon/xenomorph/abilities/ability_helper_procs.dm
  code/modules/mob/living/carbon/xenomorph/abilities/burrower/burrower_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/defender/defender_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/predalien/predalien_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/ravager/ravager_powers.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/praetorian/oppressor.dm
  code/modules/mob/living/init_signals.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
Due: report:dmdoc

Automatic changelog for PR #4878 [ci skip]
  html/changelogs/AutoChangeLog-pr-4878.yml
Due: none

refactors xeno numbering, adds 999 numbers to all hives
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/castes/Larva.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
Due: report:dmdoc

Update mob_grab.dm
  code/modules/mob/mob_grab.dm
Due: report:dmdoc

json
  maps/ice_colony_v1.json
Due: none

gun typepath
  maps/map_files/Ice_Colony_v1/Ice_Colony_v1.dmm
Due: report:map-changed-report

removes istype predalien larva
  code/modules/mob/living/carbon/xenomorph/castes/Larva.dm
Due: report:dmdoc

prepare areas
  code/game/area/IceColony.dm
Due: report:dmdoc

landing zones
  maps/map_files/Ice_Colony_v1/Ice_Colony_v1.dmm
Due: report:map-changed-report

organises file structure, moves all defines into xeno_defines.dm, separate files for caste_datum and hive_status
  code/__DEFINES/job.dm
  code/__DEFINES/mobs.dm
  code/__DEFINES/xeno_defines.dm
  code/modules/mob/living/carbon/xenomorph/castes/caste_datum.dm
  code/modules/mob/living/carbon/xenomorph/hive_status.dm
  code/modules/mob/living/carbon/xenomorph/hive_status_ui.dm
  code/modules/mob/living/carbon/xenomorph/xeno_client_procs.dm
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
  code/modules/mob/living/carbon/xenomorph/xeno_marks.dm
  colonialmarines.dme
Due: report:dmdoc

moves some defines back to mobs.dm
  code/__DEFINES/mobs.dm
  code/__DEFINES/xeno_defines.dm
Due: report:dmdoc

basics
  Untitled.pdn
  code/datums/ammo/bullet/shotgun.dm
  code/game/objects/items/storage/belt.dm
  code/modules/cm_marines/equipment/guncases.dm
  code/modules/projectiles/gun_attachables.dm
  code/modules/projectiles/guns/rifles.dm
  code/modules/projectiles/guns/shotguns.dm
  code/modules/projectiles/magazines/rifles.dm
  code/modules/projectiles/magazines/shotguns.dm
  icons/obj/items/clothing/belts.dmi
  icons/obj/items/weapons/guns/ammo_by_faction/uscm.dmi
  icons/obj/items/weapons/guns/attachments/stock.dmi
  icons/obj/items/weapons/guns/guns_by_faction/uscm.dmi
  icons/obj/items/weapons/guns/handful.dmi
  icons/obj/items/weapons/guns/lineart.dmi
  testear.pdn
  testear.png
Due: report:dmdoc

fixes runtimes
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
Due: report:dmdoc

refactored camera manager into datum, not fully working or tested
  code/__DEFINES/dcs/signals/atom/signals_item.dm
  code/game/camera_manager/camera_manager.dm
  code/game/cas_manager/datums/cas_fire_envelope.dm
  code/game/cas_manager/datums/cas_fire_mission.dm
  code/game/machinery/computer/dropship_weapons.dm
  colonialmarines.dme
  tgui/packages/tgui/interfaces/MfdPanels/MultifunctionDisplay.tsx
Due: report:dmdoc

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-4878.yml
  html/changelogs/archive/2023-11.yml
Due: none

elevator base + mapping
  code/datums/shuttles.dm
  code/modules/shuttle/shuttles/trijent_elevator.dm
  icons/obj/structures/machinery/computer.dmi
  maps/map_files/Ice_Colony_v1/Ice_Colony_v1.dmm
  maps/shuttles/ice_classic_shuttle.dmm
Due: report:dmdoc, report:map-changed-report

Hivelord: single letter var (#4932)
  code/modules/mob/living/carbon/xenomorph/castes/Hivelord.dm
Due: report:dmdoc

Fixes propaganda posters in CL office (#4930)
  code/game/objects/effects/decals/posters.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:dmdoc, report:map-changed-report

Automatic changelog for PR #4932 [ci skip]
  html/changelogs/AutoChangeLog-pr-4932.yml
Due: none

Automatic changelog for PR #4930 [ci skip]
  html/changelogs/AutoChangeLog-pr-4930.yml
Due: none

Fix ability to fulton revivable bodies (#4933)
  code/game/objects/items/fulton.dm
Due: report:dmdoc

Automatic changelog for PR #4933 [ci skip]
  html/changelogs/AutoChangeLog-pr-4933.yml
Due: none

Add inactivity protection for mods
  code/controllers/subsystem/inactivity.dm
Due: report:dmdoc

Adds latejoin scaling to vendors
  code/__DEFINES/vendors.dm
  code/game/gamemodes/cm_initialize.dm
  code/game/jobs/role_authority.dm
  code/game/machinery/cryopod.dm
  code/game/machinery/vending/cm_vending.dm
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
  code/game/machinery/vending/vendor_types/wo_vendors.dm
  code/game/supplyshuttle.dm
  code/modules/admin/player_panel/actions/physical.dm
  code/modules/mob/new_player/new_player.dm
Due: report:dmdoc

Bigred Changes Part 2: Engineering And Reactor small touches (#4929)
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/BigRed/sprinkles/15.reactor_meltdown.dmm
  maps/map_files/BigRed/sprinkles/35.filtration_restored.dmm
Due: report:map-changed-report

LV-624 Cave Aesthetic Change (#4843)
  code/game/objects/effects/decals/warning_stripes.dm
  maps/map_files/LV624/LV624.dmm
  maps/map_files/LV624/centralcaves/10.T.dmm
  maps/map_files/LV624/centralcaves/10.qc.dmm
Due: report:dmdoc, report:map-changed-report

fixes
  code/game/gamemodes/cm_initialize.dm
  code/game/machinery/vending/cm_vending.dm
Due: report:dmdoc

fix OD linter oopsie
  code/game/gamemodes/cm_initialize.dm
Due: report:dmdoc

FixUp
  maps/map_files/LV624/LV624.dmm
Due: report:map-changed-report

Automatic changelog for PR #4929 [ci skip]
  html/changelogs/AutoChangeLog-pr-4929.yml
Due: none

Automatic changelog for PR #4843 [ci skip]
  html/changelogs/AutoChangeLog-pr-4843.yml
Due: none

double trait
  code/__DEFINES/traits.dm
Due: report:dmdoc

last minute change fail + TESTING and UNIT_TEST define fails
  code/__HELPERS/sorts/TimSort.dm
  code/modules/admin/admin_ranks.dm
  code/modules/mob/living/silicon/decoy/decoy.dm
Due: report:dmdoc
