Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm

sx
  code/modules/mob/living/carbon/xenomorph/abilities/defender/defender_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Defender.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/defender/steel_crest.dm
  colonialmarines.dme
Due: report:dmdoc

sx
  code/modules/mob/living/carbon/xenomorph/abilities/sentinel/sentinel_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Sentinel.dm
  colonialmarines.dme
Due: report:dmdoc

sex
  code/modules/mob/living/carbon/xenomorph/abilities/burrower/burrower_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Burrower.dm
  colonialmarines.dme
Due: report:dmdoc

hiv
  code/modules/mob/living/carbon/xenomorph/abilities/hivelord/hivelord_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Hivelord.dm
  colonialmarines.dme
Due: report:dmdoc

for loop parents instead of revparse head^2
  tools/mapmerge2/dmm_test.py
Due: none

Updates to chemistry
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

king
  code/modules/mob/living/carbon/xenomorph/abilities/king/king_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/King.dm
  colonialmarines.dme
Due: report:dmdoc

kng
  code/modules/mob/living/carbon/xenomorph/abilities/king/king_powers.dm
Due: report:dmdoc

snt
  code/modules/mob/living/carbon/xenomorph/abilities/sentinel/sentinel_powers.dm
Due: report:dmdoc

vam
  code/modules/mob/living/carbon/xenomorph/abilities/lurker/lurker_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Lurker.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/lurker/vampire.dm
  colonialmarines.dme
Due: report:dmdoc

del
  code/modules/mob/living/carbon/xenomorph/abilities/lurker/lurker_powers.dm
Due: report:dmdoc

jarvis remind me to rewrite this code
  code/modules/mob/living/carbon/xenomorph/abilities/carrier/carrier_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Carrier.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/carrier/eggsac.dm
  colonialmarines.dme
Due: report:dmdoc

ravag
  code/modules/mob/living/carbon/xenomorph/abilities/ravager/ravager_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Ravager.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/ravager/berserker.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/ravager/hedgehog.dm
  colonialmarines.dme
Due: report:dmdoc

still necessary
  tools/mapmerge2/merge_driver.py
Due: none

fx
  code/modules/mob/living/carbon/xenomorph/strains/castes/carrier/eggsac.dm
Due: report:dmdoc

fx
  code/modules/mob/living/carbon/xenomorph/abilities/ravager/ravager_powers.dm
Due: report:dmdoc

Small fixes
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

TESTING: Map change w/o hooks
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Revert "TESTING: Map change w/o hooks"
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

fix for loop handling on merge commits
  tools/mapmerge2/dmm_test.py
Due: none

TESTING: No hooks again
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Fixup maps in TGM format
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Revert "Fixup maps in TGM format"
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Revert "TESTING: No hooks again"
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Corpsmen are pissers
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

lowercasing r
  code/game/machinery/computer/security.dm
Due: report:dmdoc

False over null
  code/game/machinery/computer/security.dm
Due: report:dmdoc

Update code/game/machinery/nuclearbomb.dm
  code/game/machinery/nuclearbomb.dm
Due: report:dmdoc

Minor Security Records computer fix. (#8417)
  code/game/machinery/computer/security.dm
Due: report:dmdoc

nuke stomach_contents()
  code/__DEFINES/traits.dm
  code/__DEFINES/typecheck/xenos.dm
  code/_onclick/item_attack.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/xenomorph/Evolution.dm
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_abilities.dm
  code/modules/mob/living/carbon/xenomorph/hive_status.dm
  code/modules/mob/mob_grab.dm
  icons/mob/hud/actions_xeno.dmi
Due: report:dmdoc

Nuclear bomb will now kill anyone inside a vehicle on the same z-level (#8412)
  code/game/machinery/nuclearbomb.dm
Due: report:dmdoc

inventory stuff
  code/_onclick/human.dm
  code/_onclick/item_attack.dm
  code/game/objects/items/explosives/grenades/grenade.dm
  code/game/objects/items/storage/storage.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/damage_procs.dm
  code/modules/mob/living/carbon/xenomorph/death.dm
  code/modules/mob/living/carbon/xenomorph/hive_status.dm
  code/modules/mob/living/carbon/xenomorph/life.dm
Due: report:dmdoc

D16M01S01
  code/modules/gear_presets/survivors/navalis/preset_navalis.dm
  maps/map_files/Navalis_Platform_13/Navalis_Platform_13.dmm
  maps/navalis_platform_13.json
Due: report:dmdoc, report:map-changed-report

fixes
  code/game/objects/items/explosives/grenades/grenade.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/mob_grab.dm
Due: report:dmdoc

Tutorial changes and fixes
  code/datums/tutorial/xenomorph/xenomorph_basic.dm
  code/modules/mob/living/carbon/carbon.dm
Due: report:dmdoc

culling empty lines
  code/__DEFINES/typecheck/xenos.dm
  code/modules/mob/living/carbon/xenomorph/attack_alien.dm
  code/modules/mob/living/carbon/xenomorph/death.dm
  strings/memetips.txt
Due: report:dmdoc

More styling fixes
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
Due: report:dmdoc
