Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

report:dmdoc:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies:
  - build:map-templates
  cache:
    key: dmdoc-${SPDMM_VERSION}
    paths:
    - dmdoc-bin
  script:
  - '[ -f dmdoc-bin ] || wget -O dmdoc-bin ${SPDMM_DOWNLOAD_URL}/dmdoc'
  - chmod u+x dmdoc-bin
  - ./dmdoc-bin
  artifacts:
    name: ci_dmdoc
  ...

report:map-changed-report:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies: []
  cache:
    key: dmm-tools-${SPDMM_VERSION}
    paths:
    - dmm-tools
  script:
  - CHANGED_MAP_FILES=`git diff-tree -r --diff-filter=d --name-only --no-commit-id ${CI_COMMIT_BEFORE_SHA}..${CI_COMMIT_SHA} maps/*.dmm`
  ...

fix
  code/modules/projectiles/guns/pistols.dm
Due: report:dmdoc

Update defibrillator.dm
  code/game/objects/items/devices/defibrillator.dm
Due: report:dmdoc

Nerfs synthetic stun resistance. (#8118)
  code/modules/mob/living/carbon/human/species/synthetic.dm
Due: report:dmdoc

Revert "Ship Operations Synthetic (#7743)" (#8117)
  code/__DEFINES/job.dm
  code/__DEFINES/mode.dm
  code/game/jobs/job/civilians/support/synthetic.dm
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
  code/modules/client/preferences.dm
  code/modules/cm_marines/marines_consoles.dm
  code/modules/gear_presets/synths.dm
  code/modules/mob/new_player/preferences_setup.dm
  html/browser/common.css
Due: report:dmdoc

Synthetic smart-pack ability removal. (#8116)
  code/game/objects/items/storage/smartpack.dm
  code/modules/gear_presets/survivors/solaris/crashlanding-offices_insert_bigred.dm
  code/modules/mob/living/carbon/human/human_abilities.dm
  code/modules/power/apc.dm
Due: report:dmdoc

makes synthetics unable to grab large xenomorphs
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
Due: report:dmdoc

reorganizes the DMIs so Blundir doesn't murder me
  icons/mob/humans/onmob/hunter/pred_gear.dmi
  icons/obj/items/hunter/pred_gear.dmi
Due: none

Apply suggestions from code review
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
Due: report:dmdoc

early death check
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
Due: report:dmdoc

WY actual hud (#8088)
  code/__DEFINES/job.dm
  code/__DEFINES/minimap.dm
  code/controllers/subsystem/minimap.dm
  code/datums/factions/pmc.dm
  code/datums/factions/wy.dm
  code/game/machinery/computer/groundside_operations.dm
  code/game/objects/items/devices/cictablet.dm
  code/game/objects/items/devices/radio/headset.dm
  code/modules/almayer/machinery.dm
  code/modules/gear_presets/pmc.dm
  code/modules/gear_presets/survivors/lv_759/preset_hybrisa.dm
  code/modules/gear_presets/survivors/misc.dm
  code/modules/gear_presets/survivors/shivas_snowball/panic_room_insert_shivas.dm
  code/modules/gear_presets/survivors/solaris/crashlanding-offices_insert_bigred.dm
  code/modules/gear_presets/survivors/survivors.dm
  code/modules/gear_presets/synths.dm
  code/modules/gear_presets/uscm_ship.dm
  code/modules/gear_presets/wy.dm
  code/modules/gear_presets/wy_goons.dm
  colonialmarines.dme
  icons/mob/hud/marine_hud.dmi
  icons/mob/hud/sec_hud.dmi
  icons/ui_icons/map_blips.dmi
Due: report:dmdoc

entry message 2
  code/game/jobs/job/civilians/support/field_doctor.dm
Due: report:dmdoc

upstream pull - conflict
  code/game/jobs/job/civilians/support/field_doctor.dm
Due: report:dmdoc

Icon order
  icons/mob/hud/marine_hud.dmi
  icons/ui_icons/map_blips.dmi
Due: none

Fixup maps in TGM format
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

tablecommit
  code/modules/almayer/machinery.dm
  icons/obj/structures/props/almayer/almayer_props96.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:dmdoc, report:map-changed-report

fixes dmis
  icons/mob/hud/marine_hud.dmi
  icons/ui_icons/map_blips.dmi
Due: none

remove dups
  icons/mob/hud/marine_hud.dmi
  icons/ui_icons/map_blips.dmi
Due: none

review
  code/modules/client/preferences_savefile.dm
  code/modules/cm_aliens/XenoStructures.dm
  code/modules/cm_aliens/hivebuffs/hivebuff.dm
  code/modules/mob/living/carbon/xenomorph/Evolution.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_abilities.dm
  icons/mob/hud/actions_xeno.dmi
Due: report:dmdoc

Update XenoStructures.dm
  code/modules/cm_aliens/XenoStructures.dm
Due: report:dmdoc

Update autodispenser.dm
  code/modules/reagents/chemistry_machinery/autodispenser.dm
Due: report:dmdoc

removes debug
  code/modules/cm_aliens/hivebuffs/hivebuff.dm
Due: report:dmdoc

what do I type here?
  code/modules/mob/living/carbon/xenomorph/abilities/general_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/lurker/lurker_powers.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/lurker/vampire.dm
Due: report:dmdoc

Update chemistry.dm
  code/__DEFINES/chemistry.dm
Due: report:dmdoc

Fixes layout issues on 515
  tgui/packages/tgui/interfaces/OverwatchConsole.jsx
Due: none

Update hydro_tray.dm
  code/modules/hydroponics/hydro_tray.dm
Due: report:dmdoc

a
  code/modules/mob/living/carbon/xenomorph/abilities/lurker/lurker_powers.dm
Due: report:dmdoc

b
  code/modules/mob/living/carbon/xenomorph/abilities/lurker/lurker_powers.dm
Due: report:dmdoc

Update Warrior.dm
  code/modules/mob/living/carbon/xenomorph/castes/Warrior.dm
Due: report:dmdoc

Update chem_simulator.dm
  code/modules/reagents/chemistry_machinery/chem_simulator.dm
Due: report:dmdoc

Update prop_special.dm
  code/modules/reagents/chemistry_properties/prop_special.dm
Due: report:dmdoc

Update other.dm
  code/modules/reagents/chemistry_reagents/other.dm
Due: report:dmdoc

Update prop_positive.dm
  code/modules/reagents/chemistry_properties/prop_positive.dm
Due: report:dmdoc

Update prop_negative.dm
  code/modules/reagents/chemistry_properties/prop_negative.dm
Due: report:dmdoc

am i doing the right thing
  code/modules/mob/living/carbon/xenomorph/abilities/lurker/lurker_powers.dm
Due: report:dmdoc

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm
