Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm

missed that one
  maps/map_files/Kutjevo/Kutjevo.dmm
Due: report:map-changed-report

fuuuunnnn
  code/modules/mob/living/carbon/xenomorph/strains/castes/hivelord/designer.dm
Due: report:dmdoc

moreeh changes
  code/modules/mob/living/carbon/xenomorph/strains/castes/hivelord/designer.dm
Due: report:dmdoc

uuggg... MORE
  code/modules/mob/living/carbon/xenomorph/strains/castes/hivelord/designer.dm
Due: report:dmdoc

Remove TTS from Working Joe (#160)
  code/modules/gear_presets/synths.dm
  modular/text_to_speech/code/base_seeds/mobs/_base.dm
  modular/text_to_speech/code/tts_atom.dm
Due: report:dmdoc

Fix categories when using coupon or selecting APC (#91)
  code/game/machinery/vending/vendor_types/crew/vehicle_crew.dm
  code/modules/cm_tech/implements/tank.dm
Due: report:dmdoc

fix chem classes
  code/modules/reagents/chemistry_reagents/drink.dm
  code/modules/reagents/chemistry_reagents/food.dm
Due: report:dmdoc

some tweaks
  code/game/objects/items/reagent_containers/food/mre_food/clf.dm
  code/game/objects/items/reagent_containers/food/mre_food/wy.dm
  code/modules/reagents/chemistry_reagents/drink.dm
  code/modules/reagents/chemistry_reagents/food.dm
Due: report:dmdoc

tweak chocolate recipe
  code/datums/recipe.dm
  code/modules/reagents/chemistry_reactions/food_drink.dm
Due: report:dmdoc

more shields, plant analyzer and sprite fixes.
  code/game/machinery/vending/vendor_types/antag/antag_predator.dm
  code/modules/cm_preds/yaut_shield.dm
  code/modules/hydroponics/hydro_tools.dm
  icons/mob/humans/onmob/hunter/pred_gear.dmi
  icons/mob/humans/onmob/inhands/weapons/melee/shields_lefthand.dmi
  icons/mob/humans/onmob/inhands/weapons/melee/shields_righthand.dmi
  icons/obj/items/weapons/melee/shields.dmi
  icons/obj/structures/props/hunter/32x32-hunter_props.dmi
  icons/obj/structures/props/platforms.dmi
  maps/predship/huntership.dmm
Due: report:dmdoc, report:map-changed-report

fix in names of powders
  code/game/objects/items/reagent_containers/food/mre_food/uscm.dm
Due: report:dmdoc

UPP Vendor Update | Squad Gun Rack + UPP Shotgun Shell Box (#8136)
  code/game/machinery/vending/vendor_types/prep_upp/requisitions_upp.dm
  code/game/machinery/vending/vendor_types/prep_upp/squad_prep_upp.dm
  code/modules/projectiles/ammo_boxes/handful_boxes.dm
  code/modules/projectiles/magazines/shotguns.dm
  icons/obj/items/weapons/guns/ammo_by_faction/UPP/shotguns.dmi
Due: report:dmdoc

Update Desert_Dam.dmm
  maps/map_files/DesertDam/Desert_Dam.dmm
Due: report:map-changed-report

Update nightmare.json
  maps/Nightmare/maps/LV759_Hybrisa_Prospera/nightmare.json
Due: none

fixes HE OBs being too weak
  code/modules/cm_marines/orbital_cannon.dm
Due: report:dmdoc

Update atoms_movable.dm
  code/game/atoms_movable.dm
Due: report:dmdoc

adds body scanner.
  maps/predship/huntership.dmm
Due: report:map-changed-report

restores solaris
  maps/map_files/BigRed/BigRed.dmm
Due: report:map-changed-report

Update unsorted.dm
  code/__HELPERS/unsorted.dm
Due: report:dmdoc

mutable appearances are special
  code/_onclick/hud/radial.dm
  code/datums/mutable_appearance.dm
  code/game/objects/effects/decals/cleanable/blood/tracks.dm
  code/modules/lighting/lighting_area.dm
  code/modules/mob/mob_helpers.dm
Due: report:dmdoc

github push to fix
  code/modules/mob/living/carbon/xenomorph/strains/castes/hivelord/designer.dm
Due: report:dmdoc

Missing and in acider strain message (#8533)
  code/modules/mob/living/carbon/xenomorph/strains/castes/runner/acid.dm
Due: report:dmdoc

Total var/lol death (#8526)
  code/modules/mob/living/carbon/xenomorph/abilities/crusher/crusher_abilities.dm
  code/modules/organs/limbs.dm
Due: report:dmdoc

Survivor DB Tracking Improvements (#8523)
  code/datums/statistics/entities/survivor_survival.dm
Due: report:dmdoc

Thrall fixes (#8522)
  code/modules/cm_preds/thrall_procs.dm
  code/modules/cm_preds/yaut_hudprocs.dm
Due: report:dmdoc

Fixes unslashable immortal oreboxes (#8511)
  code/game/objects/structures/misc.dm
Due: report:dmdoc

Fixes and addons
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Fixup maps in TGM format
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Addons
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Fix
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

sprites1
  icons/obj/items/weapons/grenade.dmi
  icons/obj/items/weapons/guns/ammo_by_faction/USCM/grenade_launchers.dmi
  icons/obj/items/weapons/guns/guns_by_faction/USCM/grenade_launchers.dmi
  icons/obj/items/weapons/guns/guns_by_map/classic/back.dmi
  icons/obj/items/weapons/guns/guns_by_map/classic/guns_lefthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/classic/guns_obj.dmi
  icons/obj/items/weapons/guns/guns_by_map/classic/guns_righthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/classic/suit_slot.dmi
  icons/obj/items/weapons/guns/guns_by_map/desert/back.dmi
  icons/obj/items/weapons/guns/guns_by_map/desert/guns_lefthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/desert/guns_obj.dmi
  icons/obj/items/weapons/guns/guns_by_map/desert/guns_righthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/desert/suit_slot.dmi
  icons/obj/items/weapons/guns/guns_by_map/jungle/back.dmi
  icons/obj/items/weapons/guns/guns_by_map/jungle/guns_lefthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/jungle/guns_obj.dmi
  icons/obj/items/weapons/guns/guns_by_map/jungle/guns_righthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/jungle/suit_slot.dmi
  icons/obj/items/weapons/guns/guns_by_map/snow/back.dmi
  icons/obj/items/weapons/guns/guns_by_map/snow/guns_lefthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/snow/guns_obj.dmi
  icons/obj/items/weapons/guns/guns_by_map/snow/guns_righthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/snow/suit_slot.dmi
  icons/obj/items/weapons/guns/guns_by_map/urban/back.dmi
  icons/obj/items/weapons/guns/guns_by_map/urban/guns_lefthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/urban/guns_obj.dmi
  icons/obj/items/weapons/guns/guns_by_map/urban/guns_righthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/urban/suit_slot.dmi
Due: none

sprites2 + sounds
  code/game/objects/items/storage/belt.dm
  code/modules/projectiles/magazines/rifles.dm
  icons/obj/items/weapons/guns/handful.dmi
  icons/obj/items/weapons/guns/lineart.dmi
  icons/obj/items/weapons/projectiles.dmi
  sound/weapons/gun_sharp.ogg
  sound/weapons/gun_sharp_explode.ogg
Due: report:dmdoc

adds icon for linters
  code/game/machinery/fob_defense.dm
Due: report:dmdoc

fix
  code/game/objects/structures/airlock_assembly.dm
Due: report:dmdoc
