Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

report:dmdoc:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies:
  - build:map-templates
  cache:
    key: dmdoc-${SPDMM_VERSION}
    paths:
    - dmdoc-bin
  script:
  - '[ -f dmdoc-bin ] || wget -O dmdoc-bin ${SPDMM_DOWNLOAD_URL}/dmdoc'
  - chmod u+x dmdoc-bin
  - ./dmdoc-bin
  artifacts:
    name: ci_dmdoc
  ...

report:map-changed-report:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies: []
  cache:
    key: dmm-tools-${SPDMM_VERSION}
    paths:
    - dmm-tools
  script:
  - CHANGED_MAP_FILES=`git diff-tree -r --diff-filter=d --name-only --no-commit-id ${CI_COMMIT_BEFORE_SHA}..${CI_COMMIT_SHA} maps/*.dmm`
  ...

probably a good idea
  code/modules/clothing/masks/breath.dm
Due: report:dmdoc

fix some borked paygrades (#12354)
  code/modules/gear_presets/fun.dm
  code/modules/gear_presets/wy_goons.dm
Due: report:dmdoc

Fix: Intel Objectives TGUI Bluescreen when known objective is deleted #2 Again. (#12105)
  code/modules/objectives/documents.dm
  code/modules/objectives/objective.dm
Due: report:dmdoc

fixes runtime with xeno cultist stun (#12356)
  code/modules/mob/living/carbon/human/human_abilities.dm
Due: report:dmdoc

Fix: HTML Encoding leaking through labeller regex (#12099)
  code/__HELPERS/text.dm
  code/datums/components/label.dm
  code/game/objects/items/tools/misc_tools.dm
Due: report:dmdoc

Allow extinguishing in coastline as well as river (#12224)
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
Due: report:dmdoc

Fix #11912 - Simple animals get healed with any med item stack (#12205)
  code/modules/mob/living/simple_animal/simple_animal.dm
Due: report:dmdoc

Fix riot in progress nightmare variable (#12331)
  maps/Nightmare/maps/FOP_v3_Sciannex/nightmare.json
Due: none

Xeno clusters now give protection if theres people nested on them. (#12252)
  code/game/turfs/turf.dm
  code/modules/cm_aliens/structures/special/hive_cluster.dm
  code/modules/cm_aliens/structures/special/pylon_core.dm
  code/modules/cm_aliens/structures/special_structure.dm
Due: report:dmdoc

not a bug
  code/datums/ammo/ammo.dm
  code/datums/ammo/bullet/revolver.dm
  code/datums/ammo/bullet/rifle.dm
Due: report:dmdoc

i hate plant bags
  code/game/objects/items/storage/storage.dm
Due: report:dmdoc

sdawd
  code/datums/ammo/ammo.dm
Due: report:dmdoc

s
  code/datums/ammo/ammo.dm
Due: report:dmdoc

Apply suggestions from code review
  code/modules/projectiles/guns/lever_action.dm
Due: report:dmdoc

zasdaf
  code/datums/ammo/ammo.dm
Due: report:dmdoc

UhhhProbably
  code/_onclick/hud/radial.dm
Due: report:dmdoc

Ergh
  maps/map_files/Fort_McNeil/Fort_McNeil.dmm
Due: report:map-changed-report

ShootMe
  code/game/supplyshuttle.dm
  tgui/packages/tgui/interfaces/SupplyComputer.tsx
Due: report:dmdoc

ImDumb
  code/game/supplyshuttle.dm
  tgui/packages/tgui/interfaces/SupplyComputer.tsx
Due: report:dmdoc

Addit
  maps/map_files/Navalis_Platform_13/Navalis_Platform_13.dmm
Due: report:map-changed-report

Real
  code/modules/gear_presets/_select_equipment.dm
Due: report:dmdoc

suggestions applied
  code/game/machinery/computer/camera_console.dm
  code/game/machinery/computer/medical.dm
  code/game/machinery/computer/security.dm
  code/game/machinery/computer/skills.dm
Due: report:dmdoc

why are you running this shoo
  code/modules/mob/living/carbon/xenomorph/strains/xeno_strain.dm
Due: report:dmdoc

friendlier error
  tools/bootstrap/python
Due: none

Linux mapmerge scripts (#12324)
  tools/bootstrap/python
  tools/mapmerge2/README.md
  tools/mapmerge2/i_forgot_to_map_merge_linux.sh
  tools/mapmerge2/resolve_map_conflicts_no_hooks_linux.sh
  tools/mapmerge2/run_before_committing_no_hooks_linux.sh
Due: none

white satchel & more survivor presets
  code/game/objects/items/storage/backpack.dm
  code/modules/gear_presets/survivors/fire_colony/preset_fire_colony.dm
  icons/mob/humans/onmob/clothing/back/backpacks.dmi
  icons/obj/items/clothing/backpack/backpacks.dmi
  icons/obj/structures/phone.dmi
  maps/map_files/Fire_Colony/Fire_Colony.dmm
Due: report:dmdoc, report:map-changed-report

station to ship
  code/game/machinery/computer/camera_console.dm
  code/game/machinery/computer/medical.dm
  code/game/machinery/computer/security.dm
  code/game/machinery/computer/skills.dm
Due: report:dmdoc

Floor
  maps/map_files/Navalis_Platform_13/Navalis_Platform_13.dmm
Due: report:map-changed-report

Fixes player created medical notes not showing up in records (#12180)
  code/datums/datacore.dm
  code/game/machinery/computer/camera_console.dm
  code/game/machinery/computer/medical.dm
  code/game/machinery/computer/security.dm
  code/game/machinery/computer/skills.dm
Due: report:dmdoc

research changes
  maps/map_files/USASF_Point_Loma/USASF_Point_Loma.dmm
Due: report:map-changed-report

block pred upper z stairs off + remove ladder
  maps/map_files/USASF_Point_Loma/USASF_Point_Loma.dmm
Due: report:map-changed-report

Blarg
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Aberration start
  code/__DEFINES/typecheck/xenos.dm
  code/__DEFINES/xeno.dm
  code/datums/ammo/energy.dm
  code/game/jobs/role_authority.dm
  code/modules/admin/player_panel/actions/transform.dm
  code/modules/mob/living/carbon/xenomorph/Embryo.dm
  code/modules/mob/living/carbon/xenomorph/castes/Larva.dm
  code/modules/mob/living/carbon/xenomorph/hive_status.dm
  code/modules/mob/living/carbon/xenomorph/pathogen/castes/aberration.dm
  code/modules/mob/living/carbon/xenomorph/pathogen/castes/bloodburster.dm
  code/modules/mob/living/carbon/xenomorph/pathogen/castes/conditor.dm
  code/modules/mob/living/carbon/xenomorph/pathogen/castes/matriarch.dm
  code/modules/mob/living/carbon/xenomorph/pathogen/castes/neomorph.dm
  code/modules/mob/living/carbon/xenomorph/pathogen/castes/popper.dm
  code/modules/mob/living/carbon/xenomorph/pathogen/sporesac.dm
  code/modules/objectives/mob_objectives.dm
  colonialmarines.dme
  icons/mob/pathogen/aberration.dmi
  icons/mob/pathogen/aberration_bloodburster.dmi
  icons/mob/pathogen/bloodburster_stage.dmi
  icons/mob/pathogen/pathogen_weeds_64x64.dmi
  icons/mob/xenos/castes/tier_0/predalien_larva.dmi
  icons/mob/xenos/weeds_64x64.dmi
Due: report:dmdoc

Update observer.dm
  code/modules/mob/dead/observer/observer.dm
Due: report:dmdoc

Update yaut_bracers.dm
  code/modules/cm_preds/yaut_bracers.dm
Due: report:dmdoc

Update description of wrist scimitar weapon
  code/modules/cm_preds/yaut_weapons.dm
Due: report:dmdoc

Swaps the order to fix the bug
  code/game/objects/items/tools/maintenance_tools.dm
Due: report:dmdoc

it works first try every time for sure
  code/__DEFINES/keybinding.dm
  code/__DEFINES/xeno.dm
  code/datums/keybinding/xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/abilities/ability_macro_framework.dm
  code/modules/mob/living/carbon/xenomorph/abilities/queen/queen_abilities.dm
Due: report:dmdoc

Bleh
  code/_globalvars/lists/names.dm
Due: report:dmdoc

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm
