Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm

113131
  code/modules/projectiles/gun.dm
Due: report:dmdoc

glass door
  code/game/machinery/doors/airlock_types.dm
  icons/obj/structures/doors/comdoor_glass.dmi
Due: report:dmdoc

icon fix
  icons/obj/structures/doors/comdoor_glass.dmi
Due: none

weakrefing
  code/_onclick/xeno.dm
  code/datums/components/autofire/autofire.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
Due: report:dmdoc

grsgse
  code/datums/components/autofire/autofire.dm
Due: report:dmdoc

it works
  code/game/objects/structures/blocker.dm
Due: report:dmdoc

Update handle_regular_status_updates.dm
  code/modules/mob/living/carbon/human/life/handle_regular_status_updates.dm
Due: report:dmdoc

WheresGod
  code/game/objects/structures/barricade/concrete.dm
  code/game/objects/structures/barricade/misc.dm
  code/game/objects/structures/hybrisa_props.dm
  icons/obj/structures/barricades.dmi
  icons/obj/structures/props/hybrisa/64x64_props.dmi
  maps/map_files/UrbanMapTemp/UrbanMapTemp.dmm
Due: report:dmdoc, report:map-changed-report

morework
  maps/map_files/UrbanMapTemp/UrbanMapTemp.dmm
Due: report:map-changed-report

comment out one (1)/single line
  code/modules/maptext_alerts/command_alert.dm
  code/modules/maptext_alerts/misc_alert.dm
Due: report:dmdoc

Finer crash overlap detection
  code/modules/shuttle/shuttles/crashable/crashable.dm
Due: report:dmdoc

Update survivors.dm
  code/game/jobs/job/civilians/other/survivors.dm
Due: report:dmdoc

Some more gun.dm nonsense (#11804)
  code/__DEFINES/conflict.dm
  code/__DEFINES/dcs/signals/atom/signals_projectile.dm
  code/_globalvars/bitfields.dm
  code/datums/ammo/ammo.dm
  code/datums/ammo/bullet/bullet.dm
  code/datums/ammo/bullet/lever_action.dm
  code/datums/ammo/bullet/pistol.dm
  code/datums/ammo/bullet/revolver.dm
  code/datums/ammo/bullet/shotgun.dm
  code/game/objects/items.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/storage/storage.dm
  code/game/objects/items/weapons/weapon.dm
  code/modules/projectiles/ammunition.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/gun_attachables.dm
  code/modules/projectiles/gun_helpers.dm
  code/modules/projectiles/guns/boltaction.dm
  code/modules/projectiles/guns/flamer/flamer.dm
  code/modules/projectiles/guns/lever_action.dm
  code/modules/projectiles/guns/pistols.dm
  code/modules/projectiles/guns/revolvers.dm
  code/modules/projectiles/guns/shotguns.dm
  code/modules/projectiles/guns/specialist/scout.dm
  code/modules/projectiles/guns/specialist/sharp.dm
  code/modules/projectiles/magazines/revolvers.dm
  code/modules/projectiles/magazines/specialist.dm
  code/span_macros.dm
  tgui/packages/tgui-panel/styles/goon/chat-dark.scss
  tgui/packages/tgui-panel/styles/goon/chat-light.scss
Due: report:dmdoc

Yaaay
  code/modules/projectiles/gun.dm
Due: report:dmdoc

UuuuughShootMe
  code/modules/projectiles/gun.dm
Due: report:dmdoc

e
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Fixup maps in TGM format
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Jungle Mag 0.2.6
  code/__DEFINES/dcs/signals/atom/signals_item.dm
  code/_onclick/item_attack.dm
  code/datums/components/jungle_magazine.dm
  code/game/objects/items/jungle_mag_binders.dm
  code/modules/projectiles/ammunition.dm
Due: report:dmdoc

Fix shooting target (#12839)
  code/game/objects/structures/misc.dm
Due: report:dmdoc

Fixes PKP magazine not having size set correctly (#12829)
  code/modules/projectiles/magazines/misc.dm
Due: report:dmdoc

Turns basic medical optics into SensorMate optics (#12580)
  code/game/machinery/vending/vendor_types/crew/mp.dm
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
  code/game/machinery/vending/vendor_types/crew/vehicle_crew.dm
  code/game/machinery/vending/vendor_types/intelligence_officer.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_engineer.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_leader.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_rifleman.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_smartgunner.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_specialist.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_tl.dm
  code/game/objects/items/devices/helmet_visors.dm
  code/modules/clothing/head/helmet.dm
  code/modules/gear_presets/clf.dm
  code/modules/gear_presets/upp.dm
  icons/mob/hud/actions.dmi
  icons/mob/humans/onmob/clothing/helmet_garb/huds.dmi
  icons/obj/items/clothing/helmet_visors.dmi
Due: report:dmdoc

[REFACTOR] Updates Berserker Ravager code. (#12737)
  code/modules/mob/living/carbon/xenomorph/strains/castes/ravager/berserker.dm
Due: report:dmdoc

3
  code/__HELPERS/display_effects.dm
  code/datums/effects/display_effect.dm
  code/game/objects/structures/flora.dm
  code/game/turfs/floor_types.dm
  code/game/turfs/floors/desert.dm
  code/game/turfs/open.dm
  code/game/turfs/soro.dm
  code/game/turfs/turf.dm
  colonialmarines.dme
  icons/effects/display_effects/_32.dmi
  icons/effects/display_effects/_48.dmi
  icons/effects/display_effects/_64.dmi
  icons/effects/display_effects/_88.dmi
  icons/effects/display_effects_32.dmi
  icons/effects/display_effects_48.dmi
  icons/effects/display_effects_64.dmi
  icons/effects/display_effects_88OLD.dmi
  icons/effects/display_effects_96.dmi
Due: report:dmdoc

fix?
  icons/mob/hud/actions.dmi
Due: none

added coloring to sharp user balloon_alerts
  code/modules/projectiles/guns/specialist/sharp.dm
Due: report:dmdoc

sprites upload
  icons/obj/structures/machinery/mohawk/bits_bobs.dmi
  icons/obj/structures/machinery/mohawk/mohawk-controls.dmi
  icons/obj/structures/machinery/mohawk/mohawk-interior-item.dmi
  icons/obj/structures/machinery/mohawk/mohawk-modules.dmi
  icons/obj/structures/machinery/mohawk/mohawk-seats.dmi
  icons/obj/structures/machinery/mohawk/mohawk-windshield-64x64.dmi
  icons/obj/structures/machinery/mohawk/mohawk-windshield.dmi
  icons/turf/mohawk/mohawk-facade.dmi
  icons/turf/mohawk/mohawk-floors.dmi
  icons/turf/mohawk/mohawk-ramp.dmi
  icons/turf/mohawk/mohawk-top-view.dmi
  icons/turf/mohawk/mohawk-underside.dmi
  icons/turf/mohawk/mohawk-walls.dmi
Due: none

bitfield
  code/_globalvars/bitfields.dm
Due: report:dmdoc

IDunnoWhyYouWereHere...
  code/modules/surgery/surgery_initiator.dm
Due: report:dmdoc

Bleeeeh
  code/modules/surgery/surgery_initiator.dm
Due: report:dmdoc

moved icon work to subsystem
  code/__HELPERS/display_effects.dm
  code/controllers/subsystem/water_layer_fix.dm
  code/datums/effects/display_effect.dm
  code/game/objects/structures/flora.dm
  icons/effects/display_effects/_32.dmi
  icons/effects/display_effects/_64.dmi
Due: report:dmdoc

removes unload_chamber()
  code/modules/projectiles/guns/specialist/sharp.dm
Due: report:dmdoc

bits and bobs
  code/__DEFINES/camera.dm
  code/__DEFINES/radio.dm
  code/__DEFINES/shuttles.dm
  code/game/machinery/computer/camera_console.dm
  code/game/machinery/computer/dropship_weapons.dm
  code/game/objects/items/devices/radio/intercom.dm
  code/game/turfs/closed.dm
  code/game/turfs/open.dm
  code/game/turfs/transit.dm
  code/modules/admin/tabs/event_tab.dm
  code/modules/cm_marines/dropship_equipment.dm
  code/modules/shuttle/computers/dropship_computer.dm
  code/modules/shuttle/dropship.dm
  code/modules/shuttle/shuttles/dropship.dm
  maps/shuttles/dropship_omaha.dmm
Due: report:dmdoc, report:map-changed-report

Fixes boxing glove knockouts (#12860)
  code/modules/mob/living/carbon/human/life/handle_regular_status_updates.dm
Due: report:dmdoc

hybrisa shuttle door fix (#12857)
  maps/map_files/LV759_Hybrisa_Prospera/LV759_Hybrisa_Prospera.dmm
Due: report:map-changed-report

Req Tutorial missing item fix (#12856)
  code/datums/tutorial/marine/reqs_line.dm
Due: report:dmdoc
