Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm

Lesser drone nerfs (#6140)
  code/modules/mob/living/carbon/xenomorph/Facehuggers.dm
  code/modules/mob/living/carbon/xenomorph/castes/lesser_drone.dm
Due: report:dmdoc

Automatic changelog for PR #6140 [ci skip]
  html/changelogs/AutoChangeLog-pr-6140.yml
Due: none

consistent formatting
  tgui/packages/tgui/interfaces/KeyBinds.jsx
Due: none

minor refactor, tweaks the VFX some and removes a shockwave each
  code/game/objects/effects/temporary_visuals.dm
  code/modules/mob/living/carbon/xenomorph/Abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/predalien/predalien_powers.dm
  code/modules/mob/living/carbon/xenomorph/update_icons.dm
Due: report:dmdoc

upgrade
  code/game/machinery/camera/camera.dm
  code/game/machinery/computer/camera_console.dm
  code/modules/paperwork/photography.dm
Due: report:dmdoc

Just do t
  maps/map_files/Isaacs_Lament/Isaacs_Lament.dmm
Due: report:map-changed-report

changes
  code/modules/cm_marines/marines_consoles.dm
Due: report:dmdoc

Update code/modules/mob/dead/observer/observer.dm
  code/modules/mob/dead/observer/observer.dm
Due: report:dmdoc

changes
  code/modules/mob/new_player/new_player.dm
Due: report:dmdoc

changes and var names
  code/defines/procs/announcement.dm
  code/game/machinery/ARES/ARES_interface.dm
  code/game/machinery/computer/almayer_control.dm
  code/game/machinery/computer/communications.dm
  code/game/objects/items/devices/cictablet.dm
Due: report:dmdoc

some fixes
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Hybrisa Alpha 0.45
  code/game/objects/structures/props.dm
  code/game/objects/structures/window.dm
  code/game/objects/structures/window_frame.dm
  code/game/turfs/open.dm
  code/game/turfs/walls/wall_types.dm
  code/modules/mob/holder.dm
  code/modules/mob/living/simple_animal/friendly/rat.dm
  icons/mob/animal.dmi
  icons/obj/items/trash.dmi
  icons/obj/structures/props/vehiclesexpanded.dmi
  icons/turf/walls/hybrisa_colony_window.dmi
  icons/turf/walls/hybrisa_colonywall.dmi
  icons/turf/walls/hybrisa_colonywall_hospital.dmi
  icons/turf/walls/hybrisa_marshalls.dmi
  icons/turf/walls/hybrisa_marshalls_windows.dmi
  icons/turf/walls/hybrisaresearchbrown_windows.dmi
  maps/map_files/LV759_Hybrisa_Prospera/LV759_Hybrisa_Prospera.dmm
Due: report:dmdoc, report:map-changed-report

function
  code/__DEFINES/ARES.dm
  code/game/machinery/ARES/ARES_procs.dm
  code/game/machinery/aicore_lockdown.dm
  code/game/machinery/biohazard_lockdown.dm
  code/game/turfs/floor_types.dm
  icons/obj/structures/doors/blastdoors_shutters.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:dmdoc, report:map-changed-report

Update code/modules/paperwork/photocopier.dm
  code/modules/paperwork/photocopier.dm
Due: report:dmdoc

External bleeding sealing Fix blood_loss potentially granting blood
  code/datums/effects/bleeding.dm
Due: report:dmdoc

Require a working cryotube for external bleeding
  code/datums/effects/bleeding.dm
Due: report:dmdoc

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-6065.yml
  html/changelogs/AutoChangeLog-pr-6136.yml
  html/changelogs/AutoChangeLog-pr-6137.yml
  html/changelogs/AutoChangeLog-pr-6140.yml
  html/changelogs/AutoChangeLog-pr-6145.yml
  html/changelogs/AutoChangeLog-pr-6153.yml
  html/changelogs/AutoChangeLog-pr-6157.yml
  html/changelogs/AutoChangeLog-pr-6162.yml
  html/changelogs/archive/2024-04.yml
Due: none

Reverts #6040 (#6165)
  code/modules/movement/launching/launching.dm
Due: report:dmdoc

Unmarked admin tickets are automatically marked when responding to one (#6167)
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/adminpm.dm
Due: report:dmdoc

unbreaks binding to space (#6168)
  tgui/packages/tgui/interfaces/KeyBinds.jsx
Due: none

fixes high combustion napalm and sticky napalm working for OT assemblies (#6171)
  code/modules/reagents/chemistry_reagents/other.dm
Due: report:dmdoc

Automatic changelog for PR #6165 [ci skip]
  html/changelogs/AutoChangeLog-pr-6165.yml
Due: none

Automatic changelog for PR #6167 [ci skip]
  html/changelogs/AutoChangeLog-pr-6167.yml
Due: none

Automatic changelog for PR #6168 [ci skip]
  html/changelogs/AutoChangeLog-pr-6168.yml
Due: none

Automatic changelog for PR #6171 [ci skip]
  html/changelogs/AutoChangeLog-pr-6171.yml
Due: none

Hybrisa Alpha 0.45
  code/game/area/LV759_Hybrisa_Prospera.dm
  code/game/objects/structures/window.dm
  code/game/objects/structures/window_frame.dm
  icons/turf/walls/hybrisa_colony_window.dmi
  icons/turf/walls/hybrisa_colonywall.dmi
  icons/turf/walls/hybrisa_colonywall_hospital.dmi
  icons/turf/walls/hybrisa_hospital_colonywindows.dmi
  maps/map_files/LV759_Hybrisa_Prospera/LV759_Hybrisa_Prospera.dmm
Due: report:dmdoc, report:map-changed-report

Update reagent_dispensers.dm
  code/game/objects/structures/reagent_dispensers.dm
Due: report:dmdoc

Update antenna.dm
  code/modules/vehicles/hardpoints/support/antenna.dm
Due: report:dmdoc

Update code/modules/mob/new_player/new_player.dm
  code/modules/mob/new_player/new_player.dm
Due: report:dmdoc

Fixes delaying round start not showing on the timer. (#6166)
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/new_player/new_player.dm
Due: report:dmdoc

Automatic changelog for PR #6166 [ci skip]
  html/changelogs/AutoChangeLog-pr-6166.yml
Due: none

Update code/game/objects/structures/reagent_dispensers.dm
  code/game/objects/structures/reagent_dispensers.dm
Due: report:dmdoc

Added ID Modification Log to the Access Report Print (#6124)
  code/__HELPERS/logging.dm
  code/modules/cm_marines/marines_consoles.dm
Due: report:dmdoc

Automatic changelog for PR #6124 [ci skip]
  html/changelogs/AutoChangeLog-pr-6124.yml
Due: none

Apply suggestions from code review
  code/__DEFINES/equipment.dm
  code/game/turfs/transit.dm
Due: report:dmdoc
