Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm

xeno __defines
  code/__DEFINES/xeno.dm
  code/modules/mob/living/carbon/xenomorph/abilities/facehugger/facehugger_abilities.dm
Due: report:dmdoc

reoriented sprites and door rotate into signal handler
  code/modules/shuttle/shuttles/dropship.dm
  code/modules/shuttle/shuttles/ert.dm
  icons/obj/structures/doors/dropship1_cargo.dmi
  icons/obj/structures/doors/dropship2_cargo.dmi
  maps/shuttles/dropship_alamo.dmm
  maps/shuttles/dropship_normandy.dmm
Due: report:dmdoc, report:map-changed-report

da review
  code/modules/organs/organ_internal.dm
Due: report:dmdoc

fixes
  code/game/objects/structures/barricade/deployable.dm
Due: report:dmdoc

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-4025.yml
  html/changelogs/AutoChangeLog-pr-4026.yml
  html/changelogs/AutoChangeLog-pr-4030.yml
  html/changelogs/AutoChangeLog-pr-4031.yml
  html/changelogs/AutoChangeLog-pr-4032.yml
  html/changelogs/AutoChangeLog-pr-4034.yml
  html/changelogs/archive/2023-07.yml
Due: none

init
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
  code/modules/mob/living/carbon/xenomorph/death.dm
  code/modules/mob/living/carbon/xenomorph/hive_faction.dm
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
Due: report:dmdoc

No self-alliance
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
Due: report:dmdoc

Law spelling/grammar fixes (#4040)
  code/modules/law/laws/optional.dm
Due: report:dmdoc

Another Banishment Check For Observers Joining as a Xeno (#4039)
  code/_onclick/observer.dm
Due: report:dmdoc

Automatic changelog for PR #4040 [ci skip]
  html/changelogs/AutoChangeLog-pr-4040.yml
Due: none

Automatic changelog for PR #4039 [ci skip]
  html/changelogs/AutoChangeLog-pr-4039.yml
Due: none

Unnested Larva Maturation Prompts (#4041)
  code/modules/mob/living/carbon/xenomorph/Embryo.dm
Due: report:dmdoc

Automatic changelog for PR #4041 [ci skip]
  html/changelogs/AutoChangeLog-pr-4041.yml
Due: none

More portable cades tweaks and buffs (#3967)
  code/game/objects/structures/barricade/deployable.dm
Due: report:dmdoc

Automatic changelog for PR #3967 [ci skip]
  html/changelogs/AutoChangeLog-pr-3967.yml
Due: none

ddd
  code/modules/mob/living/carbon/xenomorph/mutators/strains/drone/healer.dm
Due: report:dmdoc

test
  code/modules/mob/living/carbon/xenomorph/mutators/strains/drone/healer.dm
Due: report:dmdoc

sacrifice
  code/modules/mob/living/carbon/xenomorph/mutators/strains/drone/healer.dm
Due: report:dmdoc

tttt
  code/modules/mob/living/carbon/xenomorph/mutators/strains/drone/healer.dm
Due: report:dmdoc

fix
  code/modules/mob/living/carbon/xenomorph/mutators/strains/drone/healer.dm
Due: report:dmdoc

fff
  code/modules/mob/living/carbon/xenomorph/mutators/strains/drone/healer.dm
Due: report:dmdoc

CheckCheck
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

hm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/drone/healer.dm
Due: report:dmdoc

most important part
  code/modules/mob/living/carbon/xenomorph/mutators/strains/drone/healer.dm
Due: report:dmdoc

early return
  code/modules/mob/living/carbon/xenomorph/mutators/strains/drone/healer.dm
Due: report:dmdoc

Brain nerf (#4052)
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/life/handle_organs.dm
  code/modules/organs/organ_internal.dm
Due: report:dmdoc

Automatic changelog for PR #4052 [ci skip]
  html/changelogs/AutoChangeLog-pr-4052.yml
Due: none

Apply suggestions from code review
  code/modules/mob/living/carbon/xenomorph/mutators/strains/drone/healer.dm
Due: report:dmdoc

fixes press door
  code/game/machinery/doors/airlock_types.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:dmdoc, report:map-changed-report

ammo economy rework
  code/datums/supply_packs/ammo.dm
  code/datums/supply_packs/weapons.dm
  code/game/machinery/vending/vendor_types/crew/pilot_officer.dm
  code/game/machinery/vending/vendor_types/crew/vehicle_crew.dm
  code/game/machinery/vending/vendor_types/intelligence_officer.dm
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_engineer.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_leader.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_medic.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_rifleman.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_tl.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/structures/crates_lockers/largecrate.dm
  code/modules/projectiles/ammo_boxes/ammo_boxes.dm
  code/modules/projectiles/ammo_boxes/handful_boxes.dm
  code/modules/projectiles/ammo_boxes/magazine_boxes.dm
Due: report:dmdoc

falcon MD
  code/game/objects/items/devices/motion_detector.dm
Due: report:dmdoc

got the rear ramp working
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/multi_tile.dm
  code/modules/shuttle/shuttles/dropship.dm
  code/modules/shuttle/shuttles/ert.dm
Due: report:dmdoc

Add security camera console to ARES Chamber
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-3967.yml
  html/changelogs/AutoChangeLog-pr-4039.yml
  html/changelogs/AutoChangeLog-pr-4040.yml
  html/changelogs/AutoChangeLog-pr-4041.yml
  html/changelogs/AutoChangeLog-pr-4052.yml
  html/changelogs/archive/2023-07.yml
Due: none

reduce brute resistance
  code/modules/mob/living/carbon/human/species/zombie.dm
Due: report:dmdoc

Claw Nerfs
  code/datums/diseases/black_goo.dm
Due: report:dmdoc

damage taken increased, but speed doubled (maybe)
  code/modules/mob/living/carbon/human/species/zombie.dm
Due: report:dmdoc

Define for zombie revive (I LOVE DEFINES)
  code/modules/mob/living/carbon/human/species/zombie.dm
Due: report:dmdoc

typo
  code/modules/mob/living/carbon/xenomorph/mutators/strains/drone/healer.dm
Due: report:dmdoc

RogueSentry
  code/modules/defenses/sentry.dm
  code/modules/projectiles/magazines/sentries.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:dmdoc, report:map-changed-report
