Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm

autoclose
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

maybe working elevator??? I hope?
  maps/map_files/Ice_Colony_v2/Ice_Colony_v2.dmm
Due: report:map-changed-report

maybe work?
  maps/map_files/Ice_Colony_v2/Ice_Colony_v2.dmm
Due: report:map-changed-report

buttons before testing
  maps/map_files/Ice_Colony_v2/Ice_Colony_v2.dmm
Due: report:map-changed-report

more work
  maps/map_files/Ice_Colony_v2/Ice_Colony_v2.dmm
Due: report:map-changed-report

MoreMapStuff
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
Due: report:map-changed-report

will it work nooow???
  maps/map_files/Ice_Colony_v2/Ice_Colony_v2.dmm
Due: report:map-changed-report

Works now?
  .vscode/settings.json
  maps/map_files/Ice_Colony_v2/Ice_Colony_v2.dmm
Due: report:map-changed-report

fixed
  code/modules/shuttle/shuttle.dm
  code/modules/shuttle/shuttles/dropship.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  maps/map_files/generic/Admin_level.dmm
Due: report:dmdoc, report:map-changed-report

All Elevators done?
  maps/ice_colony_v2.json
  maps/map_files/Ice_Colony_v2/Ice_Colony_v2.dmm
Due: report:map-changed-report

sprite changes for marine snow uniforms and armors (#5171)
  icons/mob/humans/onmob/suit_1.dmi
  icons/mob/humans/onmob/uniform_0.dmi
  icons/obj/items/clothing/cm_suits.dmi
  icons/obj/items/clothing/uniforms.dmi
Due: none

Automatic changelog for PR #5171 [ci skip]
  html/changelogs/AutoChangeLog-pr-5171.yml
Due: none

removes double shake_camera
  code/modules/mob/living/carbon/xenomorph/abilities/warrior/warrior_powers.dm
Due: report:dmdoc

fix bug with landing zone camera. (#5195)
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/DesertDam/Desert_Dam.dmm
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
  maps/map_files/Kutjevo/Kutjevo.dmm
  maps/map_files/LV624/LV624.dmm
  maps/map_files/New_Varadero/New_Varadero.dmm
Due: report:map-changed-report

Automatic changelog for PR #5195 [ci skip]
  html/changelogs/AutoChangeLog-pr-5195.yml
Due: none

fix a nightmare insert that had a wall and a door on same tile
  maps/map_files/Kutjevo/sprinkles/35.communications.dmm
Due: report:map-changed-report

fixes
  code/modules/cm_aliens/structures/special/pylon_core.dm
  code/modules/cm_aliens/structures/tunnel.dm
  code/modules/mob/living/carbon/xenomorph/abilities/hivelord/hivelord_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/hivelord/hivelord_powers.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/hivelord/resin_whisperer.dm
Due: report:dmdoc

conversions
  code/modules/mob/living/carbon/xenomorph/abilities/boiler/boiler_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/defender/defender_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/facehugger/facehugger_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/lurker/lurker_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/ravager/ravager_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/runner/runner_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/spitter/spitter_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/warrior/warrior_abilities.dm
Due: report:dmdoc

oops i forgor crusher
  code/modules/mob/living/carbon/xenomorph/abilities/crusher/crusher_abilities.dm
Due: report:dmdoc

fix
  code/modules/mob/living/carbon/xenomorph/abilities/warrior/warrior_abilities.dm
Due: report:dmdoc

more we
  code/modules/cm_aliens/structures/egg.dm
  code/modules/mob/living/carbon/xenomorph/castes/Crusher.dm
Due: report:dmdoc

card fixes
  code/game/objects/items/toys/cards.dm
Due: report:dmdoc

charger
  code/modules/mob/living/carbon/xenomorph/castes/Crusher.dm
Due: report:dmdoc

more stuff
  code/game/objects/items/toys/cards.dm
Due: report:dmdoc

Maybe?
  code/datums/shuttles.dm
  maps/map_files/Ice_Colony_v2/Ice_Colony_v2.dmm
Due: report:dmdoc, report:map-changed-report

Update Ice_Colony_v2.dmm
  maps/map_files/Ice_Colony_v2/Ice_Colony_v2.dmm
Due: report:map-changed-report

more testing
  code/datums/shuttles.dm
  maps/map_files/Ice_Colony_v2/Ice_Colony_v2.dmm
Due: report:dmdoc, report:map-changed-report

it should work this time I think
  maps/map_files/Ice_Colony_v2/Ice_Colony_v2.dmm
Due: report:map-changed-report

please work please work
  maps/map_files/Ice_Colony_v2/Ice_Colony_v2.dmm
Due: report:map-changed-report

Maybe buttons work?
  maps/map_files/Ice_Colony_v2/Ice_Colony_v2.dmm
Due: report:map-changed-report

THIS SHOULD WORK COMPLETELY
  maps/map_files/Ice_Colony_v2/Ice_Colony_v2.dmm
Due: report:map-changed-report

fixes omicorn button
  maps/map_files/Ice_Colony_v2/Ice_Colony_v2.dmm
Due: report:map-changed-report

Ice Version Two
  maps/ice_colony_v2.json
Due: none

sensor tower
  maps/map_files/Ice_Colony_v2/Ice_Colony_v2.dmm
Due: report:map-changed-report

not sure why it keeps doing this.
  .vscode/settings.json
Due: none

Fix Linter I think
  maps/map_files/Ice_Colony_v2/Ice_Colony_v2.dmm
Due: report:map-changed-report

deletes an oopsie
  maps/map_files/Ice_Colony_v2/Ice_Colony_v2.dmm
Due: report:map-changed-report

maybe
  code/__DEFINES/__game.dm
Due: report:dmdoc

may have figured it out
  code/modules/cm_marines/equipment/maps.dm
Due: report:dmdoc

just testing this for linters
  code/modules/cm_marines/equipment/maps.dm
Due: report:dmdoc
