Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

report:dmdoc:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies:
  - build:map-templates
  cache:
    key: dmdoc-${SPDMM_VERSION}
    paths:
    - dmdoc-bin
  script:
  - '[ -f dmdoc-bin ] || wget -O dmdoc-bin ${SPDMM_DOWNLOAD_URL}/dmdoc'
  - chmod u+x dmdoc-bin
  - ./dmdoc-bin
  artifacts:
    name: ci_dmdoc
  ...

report:map-changed-report:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies: []
  cache:
    key: dmm-tools-${SPDMM_VERSION}
    paths:
    - dmm-tools
  script:
  - CHANGED_MAP_FILES=`git diff-tree -r --diff-filter=d --name-only --no-commit-id ${CI_COMMIT_BEFORE_SHA}..${CI_COMMIT_SHA} maps/*.dmm`
  ...

Update cargo_tech.dm
  code/game/gamemodes/colonialmarines/whiskey_outpost/equipping.dm
  code/game/jobs/job/logistics/cargo/cargo_tech.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:dmdoc, report:map-changed-report

Update squads.dm
  code/game/jobs/job/marine/squads.dm
Due: report:dmdoc

fixes missing atmos pipe in CO room (#12212)
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

fixes area tile on LV engi tcomms (#12213)
  maps/map_files/LV624/LV624.dmm
Due: report:map-changed-report

Guarantees flamer spawn on all (non-military) survivor maps (#12219)
  code/modules/projectiles/guns/flamer/flamer.dm
  maps/Nightmare/maps/Sorokyne_Strata/nightmare.json
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/BigRed/sprinkles/40.viro_open.dmm
  maps/map_files/DesertDam/Desert_Dam.dmm
  maps/map_files/DesertDam/sprinkles/30.hydro_walkway_block.dmm
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
Due: report:dmdoc, report:map-changed-report

removes light in wall on CC, eastern reactor (#12220)
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
Due: report:map-changed-report

Adds language_hivemind
  code/datums/diseases/xeno_transformation.dm
Due: report:dmdoc

Flammer
  maps/map_files/Navalis_Platform_13/Navalis_Platform_13.dmm
Due: report:map-changed-report

Adds XMB to Yautja Blood.
  code/modules/reagents/chemistry_reagents/other.dm
Due: report:dmdoc

Improvements to prep vendor loadout
  code/game/machinery/vending/vendor_types/crew/medical.dm
Due: report:dmdoc

e
  maps/map_files/USS_Sulaco/USS_Sulaco.dmm
Due: report:map-changed-report

Funny missing comma
  code/game/machinery/vending/vendor_types/crew/medical.dm
Due: report:dmdoc

Another small fix
  code/game/machinery/vending/vendor_types/crew/medical.dm
Due: report:dmdoc

Final map review changes
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Fixup maps in TGM format
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

fix wrong voice on spawn
  code/modules/client/preferences.dm
Due: report:dmdoc

role_name and crew monitor now use job defines for specs
  code/__DEFINES/job.dm
  code/modules/cm_marines/marines_consoles.dm
  code/modules/cm_marines/specialist.dm
Due: report:dmdoc

No need for assignment_name anymore
  code/modules/cm_marines/specialist.dm
Due: report:dmdoc

fixes a typo with a van description (#12296)
  code/modules/vehicles/van/van.dm
Due: report:dmdoc

Fixes to Army Synthetic and Tank Crewman (#12295)
  code/__DEFINES/job.dm
  code/modules/gear_presets/survivors/tyrargo_rift/us_army_survivors.dm
  code/modules/gear_presets/us_army.dm
Due: report:dmdoc

Adds a new grinder and phoron in PMC ERT station (#12293)
  maps/templates/lazy_templates/weyland_ert_station.dmm
Due: report:map-changed-report

Fixed sharp flechette and any other pb projectile interaction (#12292)
  code/modules/projectiles/projectile.dm
Due: report:dmdoc

fix synth bay reactivation (#12285)
  code/game/machinery/rechargestation.dm
Due: report:dmdoc

corrects UPP corpse belts (#12294)
  code/modules/gear_presets/corpses.dm
Due: report:dmdoc

CO smartgunner
  code/datums/skills/civilian.dm
  code/modules/clothing/suits/marine_armor/ert.dm
  code/modules/gear_presets/survivors/lv_624/clfship_insert_lv624.dm
  code/modules/projectiles/guns/smartgun.dm
Due: report:dmdoc

adds the flag, too. Because it looks good.
  code/modules/gear_presets/survivors/lv_624/clfship_insert_lv624.dm
Due: report:dmdoc

nevermind the flag.
  code/modules/gear_presets/survivors/lv_624/clfship_insert_lv624.dm
Due: report:dmdoc

grammar n writin n stuffs
  code/modules/projectiles/guns/smartgun.dm
Due: report:dmdoc

more grammur
  code/modules/projectiles/guns/smartgun.dm
Due: report:dmdoc

Vendor Auto-equip fixes (#12297)
  code/game/machinery/vending/cm_vending.dm
  code/game/objects/items/devices/whistle.dm
Due: report:dmdoc

Tyrargo ty(rar)pos (#12291)
  code/game/gamemodes/colonialmarines/colonialmarines.dm
Due: report:dmdoc

just some minor backend
  code/__DEFINES/human.dm
  code/__HELPERS/sanitize_values.dm
  code/_globalvars/global_lists.dm
  code/datums/datacore.dm
  code/modules/client/preferences.dm
  code/modules/gear_presets/fun.dm
  code/modules/mob/living/carbon/human/exercise.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/new_player/body.dm
  code/modules/mob/new_player/skin_color.dm
  code/modules/organs/limb_objects.dm
  code/modules/organs/limbs.dm
Due: report:dmdoc

forces larvas to evolve based on hivecore restrictions
  code/modules/mob/living/carbon/xenomorph/Evolution.dm
Due: report:dmdoc

spore sac stuff
  code/modules/mob/living/carbon/human/species/pathogen_walker.dm
  code/modules/mob/living/carbon/xenomorph/pathogen/sporesac.dm
Due: report:dmdoc

x
  code/game/gamemodes/round_modifiers.dm
  code/modules/mob/living/carbon/xenomorph/pathogen/sporesac.dm
  icons/landmarks.dmi
Due: report:dmdoc

QA Testing Changes
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
  code/game/objects/structures/crates_lockers/closets/secure/guncabinet/level_red.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:dmdoc, report:map-changed-report

Kill all MP's
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
Due: report:dmdoc

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm
