Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm

Fixes almayer
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

simmetry achieved
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

restores techtree verbs for admemes
  code/modules/admin/admin_verbs.dm
Due: report:dmdoc

Logging sprays.
  code/game/objects/effects/decals/misc.dm
Due: report:dmdoc

New Lobbyart Config Update (#715)
  config/example/config.txt
Due: none

Automatic changelog compile [ci skip]
  html/changelogs/archive/2022-07.yml
Due: none

fixes viro apc
  maps/map_files/BigRed/BigRed.dmm
Due: report:map-changed-report

Gromit Mug
  code/game/objects/items/reagent_containers/food/drinks.dm
  icons/obj/items/drinks.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:dmdoc, report:map-changed-report

use correct icon
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

init for emotes
  code/modules/mob/emote.dm
  interface/skin.dmf
Due: report:dmdoc

abovehead emoten
  code/modules/mob/emote.dm
Due: report:dmdoc

shaddeh waddeh
  code/modules/projectiles/guns/energy.dm
Due: report:dmdoc

icon fixes
  code/game/objects/items/devices/flash.dm
  icons/obj/items/devices.dmi
Due: report:dmdoc

tochats
  code/game/objects/items/tools/experimental_tools.dm
Due: report:dmdoc

shadey
  code/game/objects/items/tools/experimental_tools.dm
Due: report:dmdoc

energy gun + flash fixes (#678)
  code/game/objects/items/circuitboards/robot_modules.dm
  code/game/objects/items/devices/flash.dm
  code/modules/mob/living/living.dm
  code/modules/projectiles/guns/energy.dm
  icons/obj/items/devices.dmi
  icons/obj/items/weapons/guns/gun.dmi
Due: report:dmdoc

m-fix
  code/game/objects/items/tools/experimental_tools.dm
Due: report:dmdoc

new synthtool: autocompressor (#531)
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
  code/game/objects/items/tools/experimental_tools.dm
  icons/mob/humans/onmob/suit_0.dmi
  icons/obj/items/experimental_tools.dmi
Due: report:dmdoc

shading
  icons/obj/items/drinks.dmi
Due: none

gromit
  icons/obj/items/drinks.dmi
Due: none

init
  code/game/objects/items/devices/defibrillator.dm
  icons/obj/items/devices.dmi
Due: report:dmdoc

deconflict
  icons/obj/items/experimental_tools.dmi
Due: none

goodbye gromit
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

so long almayer
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

reimporting old backup
  ColonialMarinesALPHA.dme
  code/game/objects/effects/landmarks/survivor_spawner.dm
  code/modules/gear_presets/survivors.dm
  maps/map_files/BigRed/sprinkles/25.bigredbarls.dmm
  maps/map_files/BigRed/sprinkles/25.clfmarshalls.dmm
  maps/map_files/BigRed/sprinkles/25.dndsolaris.dmm
Due: report:dmdoc, report:map-changed-report

re-added nightmare insert landmarks
  maps/map_files/BigRed/BigRed.dmm
Due: report:map-changed-report

make hellhounds not delay round end
  code/game/gamemodes/cm_process.dm
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
Due: report:dmdoc

Big Red UnCASable Caves
  code/game/area/BigRed.dm
Due: report:dmdoc

CHARGER CHARGER
  ColonialMarinesALPHA.dme
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/mobs.dm
  code/__DEFINES/traits.dm
  code/__DEFINES/xeno.dm
  code/__HELPERS/unsorted.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/girders.dm
  code/game/turfs/open.dm
  code/modules/defenses/bell_tower.dm
  code/modules/defenses/tesla_coil.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/abilities/crusher/crusher_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/crusher/crusher_macros.dm
  code/modules/mob/living/carbon/xenomorph/abilities/crusher/crusher_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Burrower.dm
  code/modules/mob/living/carbon/xenomorph/castes/Crusher.dm
  code/modules/mob/living/carbon/xenomorph/castes/Defender.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  code/modules/mob/living/carbon/xenomorph/castes/Warrior.dm
  code/modules/mob/living/carbon/xenomorph/mutators/behavior_delegate.dm
  code/modules/mob/living/carbon/xenomorph/mutators/mutator.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/crusher/charger.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/defender/steel_crest.dm
  code/modules/mob/living/carbon/xenomorph/update_icons.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob.dm
  code/modules/movement/launching/launching.dm
  code/modules/movement/movement.dm
  icons/mob/hostiles/crusher.dmi
  icons/mob/hud/actions.dmi
  icons/mob/xenonids/crusher.dmi
Due: report:dmdoc

Logging sprays. (#737)
  code/game/objects/effects/decals/misc.dm
Due: report:dmdoc

Adds one more pred emote
  code/modules/mob/living/carbon/human/emote.dm
  sound/voice/pred_ugly_freak.ogg
Due: report:dmdoc

init yeah
  ColonialMarinesALPHA.dme
  code/datums/action.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/xeno_action.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/drone/gardener.dm
  icons/mob/hud/actions.dmi
  icons/mob/hud/actions_xeno.dmi
Due: report:dmdoc

init
  code/modules/cm_aliens/structures/fruit.dm
Due: report:dmdoc

Mortar tweaks
  code/modules/cm_marines/equipment/mortar/mortars.dm
Due: report:dmdoc

Full-Auto Smartguns (#717)
  code/__DEFINES/conflict.dm
  code/__DEFINES/weapon_stats.dm
  code/modules/projectiles/gun_helpers.dm
  code/modules/projectiles/guns/smartgun.dm
Due: report:dmdoc

QOL: Makes bell tower ringing quieter (#707)
  sound/misc/bell.ogg
  sound/misc/bell.wav
Due: none
