Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm

screwdriver nerf, loot adjustment, map fix
  code/game/gamemodes/colonialmarines/hunter_games/hunter_games_objects.dm
  code/game/objects/items/tools/maintenance_tools.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:dmdoc, report:map-changed-report

nt
  code/game/machinery/telecomms/presets.dm
Due: report:dmdoc

damage changes
  code/datums/effects/acid.dm
Due: report:dmdoc

damage changes
  code/modules/mob/living/carbon/xenomorph/castes/Despoiler.dm
Due: report:dmdoc

new sprites
  icons/mob/hud/actions_xeno.dmi
Due: none

Update smartgun.dm
  code/modules/projectiles/guns/smartgun.dm
Due: report:dmdoc

multipleselectionhgs
  code/modules/cm_preds/hunting_grounds.dm
  maps/templates/lazy_templates/pred/temple_moon.dmm
Due: report:dmdoc, report:map-changed-report

Pain is pain
  code/datums/pain/_pain.dm
  code/datums/pain/pain_human.dm
  code/game/machinery/medical_pod/autodoc.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/living/carbon/human/life/handle_environment.dm
  code/modules/mob/living/carbon/human/life/handle_organs.dm
  code/modules/mob/living/carbon/xenomorph/castes/Warrior.dm
  code/modules/mob/living/damage_procs.dm
  code/modules/organs/limbs.dm
  code/modules/projectiles/guns/boltaction.dm
  code/modules/projectiles/guns/shotguns.dm
  code/modules/reagents/chemistry_properties/prop_negative.dm
  code/modules/reagents/chemistry_properties/prop_neutral.dm
  code/modules/reagents/chemistry_properties/prop_positive.dm
Due: report:dmdoc

lv pseudo and tug layer
  code/modules/vehicles/blackfoot/blackfoot.dm
  maps/interiors/blackfoot_doorgun.dmm
  maps/map_files/LV624/LV624.dmm
Due: report:dmdoc, report:map-changed-report

missed the organ one
  code/modules/mob/living/carbon/human/human_damage.dm
Due: report:dmdoc

shrapenl pain fix
  code/game/objects/items/shards.dm
  code/modules/organs/limbs.dm
Due: report:dmdoc

more shrapnel fixes
  code/game/objects/items/shards.dm
Due: report:dmdoc

Dorms added
  maps/map_files/LV624/LV624.dmm
Due: report:map-changed-report

expolosion pain fix
  code/modules/mob/living/carbon/human/human.dm
Due: report:dmdoc

fine...
  maps/interiors/blackfoot_doorgun.dmm
Due: report:map-changed-report

yanking our objects fix
  code/modules/mob/mob.dm
Due: report:dmdoc

init
  code/modules/mob/living/carbon/xenomorph/abilities/xeno_action.dm
  icons/mob/hud/actions.dmi
Due: report:dmdoc

seat bars and a rogue pixel
  code/game/turfs/open.dm
  code/modules/vehicles/blackfoot/interior.dm
  colonialmarines.dme
  icons/obj/vehicles/interiors/blackfoot.dmi
Due: report:dmdoc

doorgun type
  code/modules/vehicles/blackfoot/blackfoot.dm
Due: report:dmdoc

typo
  code/modules/vehicles/blackfoot/blackfoot.dm
Due: report:dmdoc

undo slop
  code/game/turfs/open.dm
  code/modules/vehicles/blackfoot/interior.dm
Due: report:dmdoc

weird unticking
  colonialmarines.dme
Due: none

first commit
  icons/mob/humans/onmob/inhands/weapons/melee/knives_lefthand.dmi
  icons/mob/humans/onmob/inhands/weapons/melee/knives_righthand.dmi
  icons/obj/items/weapons/guns/attachments/barrel.dmi
Due: none

buckling fix!!!
  code/modules/vehicles/blackfoot/interior.dm
Due: report:dmdoc

bleh
  code/__HELPERS/mobs.dm
  code/datums/beam.dm
  code/datums/elements/suturing.dm
  code/datums/origin/origin.dm
  code/datums/origin/upp.dm
  code/datums/origin/uscm.dm
  code/game/objects/items/reagent_containers/food/cans.dm
  code/game/objects/items/stacks/medical.dm
  code/modules/admin/admin_verbs.dm
  code/modules/client/preferences.dm
  code/modules/gear_presets/_select_equipment.dm
  code/modules/gear_presets/clf.dm
  code/modules/gear_presets/cmb.dm
  code/modules/gear_presets/contractor.dm
  code/modules/gear_presets/dust_raider.dm
  code/modules/gear_presets/dutch.dm
  code/modules/gear_presets/fun.dm
  code/modules/gear_presets/other.dm
  code/modules/gear_presets/pmc.dm
  code/modules/gear_presets/royal_marines.dm
  code/modules/gear_presets/survivors/survivors.dm
  code/modules/gear_presets/synths.dm
  code/modules/gear_presets/upp.dm
  code/modules/gear_presets/wy_goons.dm
  code/modules/gear_presets/yautja.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
Due: report:dmdoc

another untick
  colonialmarines.dme
Due: none

Removes extra engi mats, Fixes Queen cave timer, Readds back early ravs
  code/game/gamemodes/colonialmarines/whiskey_outpost/whiskey_output_waves.dm
  code/modules/gear_presets/wo.dm
  maps/map_files/Whiskey_Outpost_v2/Whiskey_Outpost_v2.dmm
Due: report:dmdoc, report:map-changed-report

Fixup maps in TGM format
  maps/map_files/Whiskey_Outpost_v2/Whiskey_Outpost_v2.dmm
Due: report:map-changed-report

hugger keybinds are done
  code/__DEFINES/keybinding.dm
  code/datums/keybinding/xenomorph.dm
Due: report:dmdoc

flare pouch to engi
  code/modules/gear_presets/wo.dm
Due: report:dmdoc

ticking
  colonialmarines.dme
Due: none

lv json
  maps/lv624.json
Due: none

Final touches on disposals and storage + areas
  code/game/area/LV624.dm
  maps/map_files/LV624/LV624.dmm
Due: report:dmdoc, report:map-changed-report

more jason
  maps/lv624.json
Due: none

why does tickening
  colonialmarines.dme
Due: none

Resin Whisperer Hivelords can now build tunnels during Whiskey
  code/modules/mob/living/carbon/xenomorph/castes/Burrower.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/hivelord/resin_whisperer.dm
Due: report:dmdoc

minor tweaks
  maps/map_files/LV624/LV624.dmm
Due: report:map-changed-report

"choose resin" ability is ready and workig and tested for all building casts
  code/__DEFINES/keybinding.dm
  code/datums/keybinding/xenomorph.dm
Due: report:dmdoc

sky layer for vtol
  maps/map_files/LV624/LV624.dmm
Due: report:map-changed-report

secrete resin and order construction are ready, they are working great, tested
  code/__DEFINES/keybinding.dm
  code/datums/keybinding/xenomorph.dm
Due: report:dmdoc
