Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

report:dmdoc:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies:
  - build:map-templates
  cache:
    key: dmdoc-${SPDMM_VERSION}
    paths:
    - dmdoc-bin
  script:
  - '[ -f dmdoc-bin ] || wget -O dmdoc-bin ${SPDMM_DOWNLOAD_URL}/dmdoc'
  - chmod u+x dmdoc-bin
  - ./dmdoc-bin
  artifacts:
    name: ci_dmdoc
  ...

report:map-changed-report:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies: []
  cache:
    key: dmm-tools-${SPDMM_VERSION}
    paths:
    - dmm-tools
  script:
  - CHANGED_MAP_FILES=`git diff-tree -r --diff-filter=d --name-only --no-commit-id ${CI_COMMIT_BEFORE_SHA}..${CI_COMMIT_SHA} maps/*.dmm`
  ...

5
  code/__DEFINES/job.dm
  code/datums/skills/uscm.dm
  code/modules/gear_presets/cia.dm
Due: report:dmdoc

secondsave
  maps/map_files/LV759_Hybrisa_Prospera/standalone/imperialoutpost.dmm
Due: report:map-changed-report

working ver, minus role sorting
  code/datums/crew_manifest.dm
  tgui/packages/tgui/interfaces/CrewManifest.tsx
  tgui/packages/tgui/interfaces/common/ManifestSection.tsx
  tgui/packages/tgui/styles/interfaces/CrewManifest.scss
  tgui/packages/tgui/styles/main.scss
Due: report:dmdoc

suggestions from code review
  code/__DEFINES/tgui.dm
  code/modules/asset_cache/assets/lobby.dm
  code/modules/mob/new_player/login.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/tgui/tgui.dm
  tgui/packages/tgui/interfaces/LobbyMenu.tsx
  tgui/packages/tgui/styles/interfaces/LobbyMenu.scss
Due: report:dmdoc

cleanup
  tgui/packages/tgui/interfaces/LobbyMenu.tsx
  tgui/packages/tgui/styles/interfaces/LobbyMenu.scss
Due: none

Fix juicer having yautja skin (#7944)
  code/game/machinery/kitchen/juicer.dm
  maps/map_files/LV624/science/10.yautja.dmm
  maps/predship/huntership.dmm
Due: report:dmdoc, report:map-changed-report

Another overwatch bugfix (#7940)
  code/modules/cm_marines/overwatch.dm
Due: report:dmdoc

upd
  code/game/objects/items/devices/lightreplacer.dm
  code/game/objects/items/pamphlets.dm
  code/game/objects/items/storage/boxes.dm
  code/game/objects/items/storage/fancy.dm
  code/game/objects/items/storage/surgical_tray.dm
  code/game/objects/items/tools/flame_tools.dm
  code/game/objects/items/tools/surgery_tools.dm
  code/modules/objectives/documents.dm
Due: report:dmdoc

Update ties.dm
  code/modules/clothing/under/ties.dm
Due: report:dmdoc

Nearly done
  code/modules/projectiles/guns/rifles.dm
  code/modules/projectiles/magazines/rifles.dm
  icons/obj/items/weapons/guns/ammo_by_faction/event.dmi
  icons/obj/items/weapons/guns/guns_by_faction/event.dmi
  icons/obj/items/weapons/guns/lineart.dmi
Due: report:dmdoc

Update code/modules/projectiles/magazines/specialist.dm
  code/modules/projectiles/magazines/specialist.dm
Due: report:dmdoc

Fixup maps in TGM format
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

RPG Ammo Type Loading Fix (#7939)
  code/modules/projectiles/magazines/specialist.dm
Due: report:dmdoc

Ship Operations Synthetic (#7743)
  code/__DEFINES/job.dm
  code/__DEFINES/mode.dm
  code/game/jobs/job/civilians/support/synthetic.dm
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
  code/modules/client/preferences.dm
  code/modules/cm_marines/marines_consoles.dm
  code/modules/gear_presets/synths.dm
  code/modules/mob/new_player/preferences_setup.dm
  html/browser/common.css
Due: report:dmdoc

merge group of course does things differently
  tools/mapmerge2/dmm_test.py
Due: none

whoops
  maps/Nightmare/maps/Ice_Colony_v3/nightmare.json
Due: none

Fixup maps in TGM format
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
Due: report:map-changed-report

init
  icons/mob/humans/onmob/clothing/feet.dmi
  icons/mob/humans/onmob/clothing/uniforms/uniforms_by_department/security.dmi
  icons/obj/items/clothing/accessory/misc.dmi
  icons/obj/items/devices.dmi
  icons/obj/items/food/slices.dmi
  icons/obj/items/robot_component.dmi
  icons/obj/pipes/pipes3.dmi
  icons/obj/structures/machinery/kitchen.dmi
  icons/obj/structures/props/furniture/misc.dmi
  icons/obj/structures/props/mining.dmi
Due: none

fix poles
  code/game/objects/items/explosives/explosive.dm
  code/game/objects/items/misc.dm
Due: report:dmdoc

Apply suggestions from code review
  code/modules/projectiles/guns/smartgun.dm
Due: report:dmdoc

Update security.dmi
  icons/obj/items/clothing/uniforms/uniforms_by_department/security.dmi
Due: none

SG Frontline Mode & Friends - Yay!!! (#7600)
  code/__DEFINES/dcs/signals/atom/signals_gun.dm
  code/__DEFINES/dcs/signals/atom/signals_item.dm
  code/__DEFINES/keybinding.dm
  code/__DEFINES/weapon_stats.dm
  code/_onclick/hud/fullscreen.dm
  code/datums/action.dm
  code/datums/ammo/bullet/special_ammo.dm
  code/datums/components/iff_fire_prevention.dm
  code/datums/keybinding/human_combat.dm
  code/modules/clothing/suits/marine_armor/spec_fire.dm
  code/modules/cm_marines/specialist.dm
  code/modules/mob/living/carbon/human/human_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/xeno_action.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/gun_attachables.dm
  code/modules/projectiles/guns/rifles.dm
  code/modules/projectiles/guns/smartgun.dm
  colonialmarines.dme
  icons/mob/hud/actions.dmi
  icons/obj/items/weapons/projectiles.dmi
  sound/weapons/smartgun_fail.ogg
Due: report:dmdoc

a
  tgui/packages/tgui/interfaces/JoeEmotes.tsx
  tgui/packages/tgui/interfaces/YautjaEmotes.tsx
  tools/UpdatePaths/6656-no-more-open-turf-edits.txt
Due: none

Update code/game/machinery/vending/vendor_types/crew/synthetic.dm
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
Due: report:dmdoc

PVE Smartgun is frontline mode, fullbelt is full
  code/game/objects/items/storage/belt.dm
  code/modules/projectiles/guns/smartgun.dm
Due: report:dmdoc

woops that has balance implications for later
  code/game/objects/items/storage/belt.dm
Due: report:dmdoc

uhh linters pls
  code/modules/projectiles/guns/smartgun.dm
Due: report:dmdoc

Second to last
  code/modules/projectiles/guns/rifles.dm
  icons/mob/humans/onmob/clothing/back/guns_by_type/assault_rifles.dmi
Due: report:dmdoc

throw stuff at the wall (linters)
  code/modules/projectiles/guns/smartgun.dm
Due: report:dmdoc

Update huntership.dmm
  maps/predship/huntership.dmm
Due: report:map-changed-report

more juice
  maps/predship/huntership.dmm
Due: report:map-changed-report

1st fix
  code/modules/projectiles/magazines/pistols.dm
Due: report:dmdoc

Fix no.2
  code/modules/gear_presets/cia.dm
Due: report:dmdoc

T
  code/modules/gear_presets/cia.dm
Due: report:dmdoc

acid.dm aktualisieren
  code/modules/mob/living/carbon/xenomorph/strains/castes/runner/acid.dm
Due: report:dmdoc

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm
