Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

report:dmdoc:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies:
  - build:map-templates
  cache:
    key: dmdoc-${SPDMM_VERSION}
    paths:
    - dmdoc-bin
  script:
  - '[ -f dmdoc-bin ] || wget -O dmdoc-bin ${SPDMM_DOWNLOAD_URL}/dmdoc'
  - chmod u+x dmdoc-bin
  - ./dmdoc-bin
  artifacts:
    name: ci_dmdoc
  ...

report:map-changed-report:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies: []
  cache:
    key: dmm-tools-${SPDMM_VERSION}
    paths:
    - dmm-tools
  script:
  - CHANGED_MAP_FILES=`git diff-tree -r --diff-filter=d --name-only --no-commit-id ${CI_COMMIT_BEFORE_SHA}..${CI_COMMIT_SHA} maps/*.dmm`
  ...

s
  code/modules/gear_presets/survivors/trijent/preset_trijent.dm
  maps/map_files/DesertDam/northcheckpoint/10.goons.dmm
  maps/map_files/DesertDam/southbridge/10.corphold.dmm
  maps/map_files/DesertDam/sprinkles/30.admin_fight.dmm
Due: report:dmdoc, report:map-changed-report

wip
  code/__DEFINES/chemistry.dm
  code/datums/ammo/xeno.dm
  code/datums/effects/neurotoxin.dm
  code/game/objects/effects/effect_system/smoke.dm
  code/modules/mob/living/carbon/xenomorph/castes/Boiler.dm
  code/modules/mob/living/carbon/xenomorph/castes/Sentinel.dm
  code/modules/reagents/chemistry_reagents/toxin.dm
  colonialmarines.dme
Due: report:dmdoc

Chances Claim - Dropship Loot Alteration + Minor Resin Change (#10861)
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
Due: report:map-changed-report

Acid spray can now pass around hybrisa poles/hydrants (#10866)
  code/game/machinery/hybrisa_lights.dm
  code/game/objects/structures/hybrisa_props.dm
Due: report:dmdoc

Facehuggers can be worn in the helmet garb slot (#10864)
  code/modules/mob/living/carbon/xenomorph/Facehuggers.dm
Due: report:dmdoc

tiles above head with stairs fix (#10859)
  code/game/objects/structures/misc.dm
Due: report:dmdoc

Restore autowiki workflow back to node (#10855)
  .github/workflows/autowiki.yml
Due: none

Update python workflow actions and include cache pip (#10766)
  .github/add_labels.py
  .github/workflows/compile_changelogs.yml
  .github/workflows/labeler.yml
  .github/workflows/update_changelog.yml
Due: none

Repeated Tackle Stun Resistance (#10845)
  code/datums/status_effects/debuffs/debuffs.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/xenomorph/attack_alien.dm
  code/modules/mob/living/living_health_procs.dm
Due: report:dmdoc

fixes working joe IFF (#10839)
  code/modules/gear_presets/synths.dm
Due: report:dmdoc

Add alt-click and ctrl-click modifers to ladder for quick climbing (#10841)
  code/game/objects/structures/ladders.dm
Due: report:dmdoc

percent -> % (#10828)
  code/controllers/subsystem/hijack.dm
Due: report:dmdoc

If it looks like a fridge, acts like a fridge, and hums like a fridge... (#10827)
  code/game/machinery/nuclearbomb.dm
Due: report:dmdoc

Allows Unique-Action to be used with all items (#10826)
  code/__DEFINES/keybinding.dm
  code/datums/keybinding/carbon.dm
  code/datums/keybinding/human_combat.dm
  code/game/objects/items.dm
  code/modules/cm_preds/yaut_weapons.dm
  code/modules/projectiles/gun_attachables.dm
  code/modules/projectiles/gun_helpers.dm
Due: report:dmdoc

Persist transfer amount when refilling reagent containers via weymed (#10838)
  code/game/machinery/vending/vendor_types/medical.dm
Due: report:dmdoc

fix chaplain survivor preset bible holding more alcohol than possible (#10821)
  code/game/objects/items/storage/bible.dm
Due: report:dmdoc

work around python requirements
  .github/workflows/compile_changelogs.yml
  .github/workflows/labeler.yml
  .github/workflows/update_changelog.yml
Due: none

clfraid
  maps/map_files/New_Varadero/standalone/clfraid.dmm
Due: report:map-changed-report

Work around python requirements (#10876)
  .github/workflows/compile_changelogs.yml
  .github/workflows/labeler.yml
  .github/workflows/update_changelog.yml
Due: none

Console
  maps/map_files/Navalis_Platform_13/Navalis_Platform_13.dmm
Due: report:map-changed-report

ConsoleFix
  maps/map_files/White_Antre_Research_Facility/White_Antre_Research_Facility.dmm
Due: report:map-changed-report

no ignite ammo
  code/datums/ammo/misc.dm
  code/modules/projectiles/gun_attachables.dm
Due: report:dmdoc

range increase
  code/modules/projectiles/gun_attachables.dm
Due: report:dmdoc

move check runtimes unit test after C&D
  code/defines/unit_tests.dm
  code/modules/unit_tests/check_runtimes.dm
Due: report:dmdoc

default m4ra attachment
  code/modules/projectiles/guns/rifles.dm
  code/modules/projectiles/guns/specialist/scout.dm
Due: report:dmdoc

correct starting attachment
  code/modules/projectiles/guns/rifles.dm
  code/modules/projectiles/guns/specialist/scout.dm
Due: report:dmdoc

Predator SD checks + New line support in tgui_alert (#10850)
  code/modules/cm_preds/yaut_bracers.dm
  tgui/packages/tgui/interfaces/AlertModal.tsx
Due: report:dmdoc

refactor cmtv events
  code/__DEFINES/dcs/signals/signals_global.dm
  code/controllers/subsystem/cmtv.dm
  code/datums/cmtv_events.dm
  code/game/cas_manager/datums/cas_fire_envelope.dm
  code/modules/cm_marines/overwatch.dm
  code/modules/mob/living/carbon/xenomorph/death.dm
  code/modules/shuttle/computers/dropship_computer.dm
  code/modules/shuttle/dropship_hijack.dm
  colonialmarines.dme
Due: report:dmdoc

cc assumes direct control of the stream
  code/controllers/subsystem/cmtv.dm
  code/modules/paperwork/photography.dm
Due: report:dmdoc

winset better to avoid constant fixchats
  tgui/packages/tgui-panel/game/reducer.ts
Due: none

i forgot the whole point of the program
  code/controllers/subsystem/cmtv.dm
Due: report:dmdoc

bit more sanity
  code/controllers/subsystem/cmtv.dm
  code/datums/cmtv_commands.dm
Due: report:dmdoc

more mapping changes
  maps/map_files/LV624_Lazarus_Landing/LV624_Lazarus_Landing.dmm
Due: report:map-changed-report

better logging
  code/controllers/subsystem/cmtv.dm
  code/datums/cmtv_commands.dm
  code/modules/paperwork/photography.dm
Due: report:dmdoc

probably some other things too
  code/game/objects/structures/window.dm
Due: report:dmdoc

Update toxin.dm
  code/modules/reagents/chemistry_reagents/toxin.dm
Due: report:dmdoc

lang and desert
  code/__DEFINES/language.dm
  code/modules/mob/language/languages.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/giant_lizard.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/playable.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  icons/mob/mob_64.dmi
Due: report:dmdoc

fix conflict
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
Due: report:map-changed-report

tongue
  code/modules/mob/living/simple_animal/hostile/retaliate/giant_lizard.dm
Due: report:dmdoc

cc sky
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
Due: report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm
