Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

report:dmdoc:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies:
  - build:map-templates
  cache:
    key: dmdoc-${SPDMM_VERSION}
    paths:
    - dmdoc-bin
  script:
  - '[ -f dmdoc-bin ] || wget -O dmdoc-bin ${SPDMM_DOWNLOAD_URL}/dmdoc'
  - chmod u+x dmdoc-bin
  - ./dmdoc-bin
  artifacts:
    name: ci_dmdoc
  ...

report:map-changed-report:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies: []
  cache:
    key: dmm-tools-${SPDMM_VERSION}
    paths:
    - dmm-tools
  script:
  - CHANGED_MAP_FILES=`git diff-tree -r --diff-filter=d --name-only --no-commit-id ${CI_COMMIT_BEFORE_SHA}..${CI_COMMIT_SHA} maps/*.dmm`
  ...

changes
  code/__DEFINES/vendors.dm
  code/game/machinery/vending/cm_vending.dm
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
  code/game/objects/items/devices/coins.dm
Due: report:dmdoc

change to better loop
  code/game/objects/structures/crates_lockers/closets/secure/kitchen.dm
Due: report:dmdoc

PO-1B
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

removes unused gau shrapnels
  code/datums/ammo/shrapnel.dm
Due: report:dmdoc

updates GAU itself
  code/modules/cm_marines/dropship_ammo.dm
Due: report:dmdoc

adds holo and slow to AP ammo
  code/modules/cm_marines/dropship_ammo.dm
Due: report:dmdoc

Update dropship_ammo.dm
  code/modules/cm_marines/dropship_ammo.dm
Due: report:dmdoc

removes shit I should not have added
  code/modules/cm_marines/dropship_ammo.dm
Due: report:dmdoc

hat
  code/modules/decorators/christmas.dm
  icons/mob/humans/onmob/head_0.dmi
  icons/obj/items/clothing/hats.dmi
Due: report:dmdoc

flags
  code/modules/decorators/christmas.dm
Due: report:dmdoc

You know maybe the green santa hats should have santa hat sprites maybe just possibly you know should probably have them
  icons/mob/humans/onmob/head_0.dmi
Due: none

okay but what about real items
  code/modules/clothing/spacesuits/miscellaneous.dm
  code/modules/cm_marines/Donator_Items.dm
Due: report:dmdoc

I guess ice colony v2 is important
  code/game/area/IceColony.dm
Due: report:dmdoc

enter key
  code/game/area/IceColony.dm
Due: report:dmdoc

individually defined /obj/structure objects detected in map files, please replace them with pre-defined objects.
  maps/map_files/Ice_Colony_v1/Ice_Colony_v1.dmm
Due: report:map-changed-report

extra space.
  code/game/objects/structures/crates_lockers/closets/secure/kitchen.dm
Due: report:dmdoc

SynthSurv Reads a For Dummies Book
  code/datums/skills/synthetic.dm
Due: report:dmdoc

ERROR: tag vars from icon state generation detected in maps, please remove them.
  maps/map_files/Ice_Colony_v1/Ice_Colony_v1.dmm
  maps/shuttles/ice_classic_shuttle.dmm
Due: report:map-changed-report

???
  maps/map_files/Ice_Colony_v1/Ice_Colony_v1.dmm
Due: report:map-changed-report

???????
  maps/map_files/Ice_Colony_v1/Ice_Colony_v1.dmm
Due: report:map-changed-report

Refactors Xenomorph initialize (#4991)
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
Due: report:dmdoc

Automatic changelog for PR #4991 [ci skip]
  html/changelogs/AutoChangeLog-pr-4991.yml
Due: none

adds le ,
  code/datums/skills/synthetic.dm
Due: report:dmdoc

Functional M5 Gasmask
  code/game/objects/items/props/helmetgarb.dm
Due: report:dmdoc

fixes orbit menu for 0 health and admins refreshing (#5032)
  code/modules/mob/dead/observer/orbit.dm
  tgui/packages/tgui/interfaces/Orbit/helpers.ts
  tgui/packages/tgui/interfaces/Orbit/index.tsx
Due: report:dmdoc

Automatic changelog for PR #5032 [ci skip]
  html/changelogs/AutoChangeLog-pr-5032.yml
Due: none

Var names
  code/game/objects/items/props/helmetgarb.dm
Due: report:dmdoc

added a file to handle the fridges in kitchen on almayer and added a bunch of food boxes. (#4586)
  code/datums/ASRS.dm
  code/datums/supply_packs/food.dm
  code/game/machinery/vending/vending_types.dm
  code/game/objects/items/storage/boxes.dm
  code/game/objects/structures/crates_lockers/closets/secure/kitchen.dm
  colonialmarines.dme
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:dmdoc, report:map-changed-report

Automatic changelog for PR #4586 [ci skip]
  html/changelogs/AutoChangeLog-pr-4586.yml
Due: none

C.M-1
  colonialmarines.dme
Due: none

I think it works?
  code/modules/admin/admin_verbs.dm
  code/modules/admin/tabs/admin_tab.dm
Due: report:dmdoc

log!
  code/modules/admin/tabs/admin_tab.dm
Due: report:dmdoc

PO-2
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Revert "C.M-1"
  colonialmarines.dme
Due: none

PO-2B
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-4586.yml
  html/changelogs/AutoChangeLog-pr-4991.yml
  html/changelogs/AutoChangeLog-pr-5032.yml
  html/changelogs/AutoChangeLog-pr-5039.yml
  html/changelogs/AutoChangeLog-pr-5050.yml
  html/changelogs/archive/2023-11.yml
Due: none

why not
  code/__DEFINES/job.dm
  code/datums/entities/player_times.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/mob/living/carbon/xenomorph/XenoUpgrade.dm
  code/modules/mob/living/carbon/xenomorph/abilities/palatine/palatine_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  icons/mob/hud/hud.dmi
Due: report:dmdoc

missed the icons
  icons/mob/hud/actions_palatine.dmi
  icons/mob/hud/actions_xeno.dmi
  icons/mob/hud/hud.dmi
Due: none

Tackles now stun. Removed some carlarc stuff
  code/__DEFINES/dcs/signals/atom/mob/living/signals_living.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/mob/living/carbon/xenomorph/attack_alien.dm
  code/modules/mob/living/damage_procs.dm
  code/modules/mob/mob_helpers.dm
Due: report:dmdoc

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm
