Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm

Fixes notifications emitting light (#6088)
  code/modules/mob/mob_helpers.dm
Due: report:dmdoc

Automatic changelog for PR #6088 [ci skip]
  html/changelogs/AutoChangeLog-pr-6088.yml
Due: none

AI Reception Remodel
  code/game/objects/structures/window.dm
  code/game/objects/structures/window_frame.dm
  icons/turf/walls/windows.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:dmdoc, report:map-changed-report

redundant _immediate
  code/modules/client/client_procs.dm
Due: report:dmdoc

ngiJFHRÖJGor^gjoqqjog
  code/controllers/subsystem/hijack.dm
  code/game/machinery/machinery.dm
Due: report:dmdoc

ergpjqofgjqjgoâôrgo^q
  code/controllers/subsystem/hijack.dm
Due: report:dmdoc

indentationnnnnnnnnnnnnnnnnnnnnnnnnn
  code/game/machinery/machinery.dm
Due: report:dmdoc

oghipzgjpjpof
  code/game/machinery/machinery.dm
Due: report:dmdoc

zgqgg
  code/game/machinery/machinery.dm
Due: report:dmdoc

ahshtsh
  code/controllers/subsystem/hijack.dm
Due: report:dmdoc

revert everything because i can't make it work and i don't want to pass one more hour turning in circle. also vsc is giving me no error so i have no idea what i going wrong.............
  code/controllers/subsystem/hijack.dm
  code/game/machinery/machinery.dm
Due: report:dmdoc

light
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

add a proper blocker made for fuel pump
  code/game/machinery/machinery.dm
  code/game/objects/structures/blocker.dm
Due: report:dmdoc

audio
  code/game/area/almayer.dm
Due: report:dmdoc

adding the blockers on the map
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Update slot_scaling.dm
  code/game/jobs/slot_scaling.dm
Due: report:dmdoc

bell fix
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

ares walkies
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

omfg forest stop spamming tiny commits
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

renames operator to human_user
  code/game/machinery/ARES/ARES_interface.dm
Due: report:dmdoc

Rework restocking and chem refilling
  code/game/machinery/vending/cm_vending.dm
  code/game/machinery/vending/vendor_types/medical.dm
Due: report:dmdoc

shutters
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Fix xenos being able to restock vendors
  code/game/machinery/vending/cm_vending.dm
Due: report:dmdoc

update5.txt
  strings/xenotips.txt
Due: none

part6
  strings/xenotips.txt
Due: none

imgoinginsane.txt
  strings/xenotips.txt
Due: none

vendor
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:dmdoc, report:map-changed-report

tech fix
  code/game/machinery/ARES/debug_pda.dm
  tgui/packages/tgui/interfaces/AresAdmin.js
Due: report:dmdoc

labels
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

access
  code/modules/gear_presets/uscm_event.dm
Due: report:dmdoc

even more changes
  strings/xenotips.txt
Due: none

electricity
  strings/xenotips.txt
Due: none

shutter floor
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

reception tables
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

tada
  code/game/objects/items/devices/defibrillator.dm
Due: report:dmdoc

sudo fix
  tgui/packages/tgui/interfaces/AresAdmin.js
Due: none

Bulk restocking from inventories
  code/game/machinery/vending/cm_vending.dm
  code/modules/vehicles/interior/interactable/vendors.dm
Due: report:dmdoc

tech delete fix
  tgui/packages/tgui/interfaces/AresAdmin.js
Due: none

effect icosn
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
Due: report:dmdoc

WJ Grammar Fix
  code/modules/mob/living/carbon/human/species/working_joe/warning.dm
Due: report:dmdoc
