Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

report:dmdoc:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies:
  - build:map-templates
  cache:
    key: dmdoc-${SPDMM_VERSION}
    paths:
    - dmdoc-bin
  script:
  - '[ -f dmdoc-bin ] || wget -O dmdoc-bin ${SPDMM_DOWNLOAD_URL}/dmdoc'
  - chmod u+x dmdoc-bin
  - ./dmdoc-bin
  artifacts:
    name: ci_dmdoc
  ...

report:map-changed-report:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies: []
  cache:
    key: dmm-tools-${SPDMM_VERSION}
    paths:
    - dmm-tools
  script:
  - CHANGED_MAP_FILES=`git diff-tree -r --diff-filter=d --name-only --no-commit-id ${CI_COMMIT_BEFORE_SHA}..${CI_COMMIT_SHA} maps/*.dmm`
  ...

review
  code/game/machinery/computer/medical.dm
Due: report:dmdoc

addition
  code/game/objects/items/devices/radio/encryptionkey.dm
Due: report:dmdoc

Prevents lurker from evolving while invisible/stealthed (#9559)
  code/modules/mob/living/carbon/xenomorph/Evolution.dm
Due: report:dmdoc

Adds button to toggle displaying Plasma on the updated Hive Status (#9441)
  tgui/packages/tgui/interfaces/HiveStatus.tsx
Due: none

fix missing predalien and hellhound icons
  code/modules/mob/living/carbon/xenomorph/hive_status.dm
Due: report:dmdoc

Abductor tail fix
  code/modules/mob/living/carbon/xenomorph/strains/castes/praetorian/oppressor.dm
Due: report:dmdoc

Single monkey burst (#9560)
  code/modules/mob/living/carbon/xenomorph/Embryo.dm
Due: report:dmdoc

missed two
  code/modules/gear_presets/synths.dm
Due: report:dmdoc

gives IO supply key in headset (#9573)
  code/game/objects/items/devices/radio/encryptionkey.dm
Due: report:dmdoc

Fix Autodoc bug caused by patient expiration (#9542)
  code/game/machinery/medical_pod/autodoc.dm
Due: report:dmdoc

Add cardboard recipes and change box text
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/modules/projectiles/ammo_boxes/magazine_boxes.dm
Due: report:dmdoc

fixes the intel sl tracker (#9445)
  icons/mob/hud/human_bronze.dmi
  icons/mob/hud/human_dark.dmi
  icons/mob/hud/human_glass.dmi
  icons/mob/hud/human_green.dmi
  icons/mob/hud/human_grey.dmi
  icons/mob/hud/human_holo.dmi
  icons/mob/hud/human_midnight.dmi
  icons/mob/hud/human_old.dmi
  icons/mob/hud/human_orange.dmi
  icons/mob/hud/human_red.dmi
  icons/mob/hud/human_white.dmi
Due: none

Weyland-Yutani Intranet Terminal (#7511)
  code/__DEFINES/ARES.dm
  code/__DEFINES/wycomputer.dm
  code/game/machinery/ARES/ARES_interface.dm
  code/game/machinery/ARES/ARES_interface_admin.dm
  code/game/machinery/ARES/ARES_interface_apollo.dm
  code/game/machinery/ARES/ARES_interface_data.dm
  code/game/machinery/ARES/apollo_pda.dm
  code/game/machinery/computer/wy_computer.dm
  code/game/machinery/doors/poddoor/almayer.dm
  code/game/objects/structures/pipes/vents/pump_scrubber.dm
  colonialmarines.dme
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  tgui/packages/tgui/interfaces/WYComputer.tsx
  tgui/packages/tgui/interfaces/common/commonTypes.ts
Due: report:dmdoc, report:map-changed-report

Cigarette Lore (#9403)
  code/game/objects/items/storage/fancy.dm
Due: report:dmdoc

Helps new players understand hivemind collapse. (#9567)
  code/game/gamemodes/colonialmarines/colonialmarines.dm
Due: report:dmdoc

Another labeler fix (#9561)
  code/datums/components/label.dm
  code/game/objects/items/tools/misc_tools.dm
Due: report:dmdoc

M10 ammo box crafting (#9577)
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/modules/projectiles/ammo_boxes/magazine_boxes.dm
Due: report:dmdoc

Fixes missing pixels on jeans (#9434)
  icons/mob/humans/onmob/clothing/uniforms/workwear.dmi
Due: none

Overwatch Console Bugfixes (#9571)
  code/modules/cm_marines/overwatch.dm
Due: report:dmdoc

Fixup maps in TGM format
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

fix
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

5s
  code/modules/shuttle/computers/dropship_computer.dm
Due: report:dmdoc

logo floors
  code/game/objects/effects/decals/floor_symbol.dm
  icons/turf/faction_flags.dmi
Due: report:dmdoc

uscm
  code/game/objects/effects/decals/floor_symbol.dm
  icons/turf/faction_flags.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  maps/templates/Chinook.dmm
Due: report:dmdoc, report:map-changed-report

patch
  code/game/machinery/computer/wy_computer.dm
Due: report:dmdoc

blight slash
  code/modules/mob/living/carbon/xenomorph/pathogen/_globalbits.dm
  code/modules/mob/living/carbon/xenomorph/pathogen/blight.dm
  code/modules/mob/living/carbon/xenomorph/pathogen/bloodburster.dm
  code/modules/mob/living/carbon/xenomorph/pathogen/neomorph.dm
  code/modules/mob/living/carbon/xenomorph/pathogen/popper.dm
  code/modules/mob/living/carbon/xenomorph/pathogen/sprinter.dm
  code/modules/mob/living/carbon/xenomorph/pathogen/venator.dm
Due: report:dmdoc

aoe spores
  code/modules/mob/living/carbon/xenomorph/pathogen/sporesac.dm
Due: report:dmdoc

brute
  code/modules/mob/living/carbon/xenomorph/pathogen/brute.dm
  code/modules/mob/living/carbon/xenomorph/pathogen/popper.dm
Due: report:dmdoc

map blip
  icons/ui_icons/map_blips.dmi
Due: none

more balance
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/carbon/xenomorph/pathogen/brute.dm
  code/modules/mob/living/carbon/xenomorph/pathogen/popper.dm
  code/modules/mob/living/carbon/xenomorph/pathogen/sporesac.dm
Due: report:dmdoc

dumbass
  code/modules/mob/living/carbon/xenomorph/pathogen/sporesac.dm
Due: report:dmdoc

radials
  icons/mob/xenos/radial_xenos.dmi
Due: none

revert map_blips
  icons/ui_icons/map_blips.dmi
Due: none

fix missing re-assessment after the do_after
  code/modules/cm_aliens/structures/tunnel.dm
Due: report:dmdoc

Autodoc and renaming
  code/game/objects/effects/aliens.dm
  code/game/objects/items.dm
Due: report:dmdoc

no delay
  code/modules/cm_aliens/structures/tunnel.dm
Due: report:dmdoc

acid now moves with acided things, you can no longer pickup acided items (#9256)
  code/__DEFINES/dcs/signals/atom/signals_item.dm
  code/game/machinery/pipe/construction.dm
  code/game/objects/effects/aliens.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/reagent_containers/glass.dm
  code/game/objects/items/reagent_containers/glass/bottle.dm
  code/game/objects/items/reagent_containers/syringes.dm
  code/game/objects/items/weapons/twohanded.dm
  code/modules/cm_preds/yaut_bracers.dm
  code/modules/cm_preds/yaut_items.dm
  code/modules/cm_preds/yaut_mask.dm
  code/modules/hydroponics/grown_inedible.dm
  code/modules/mob/inventory.dm
  code/modules/projectiles/gun_helpers.dm
  code/modules/projectiles/guns/rifles.dm
  code/modules/projectiles/guns/smartgun.dm
Due: report:dmdoc

fixes species flag
  code/modules/mob/living/carbon/human/human_attackhand.dm
Due: report:dmdoc

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm
