Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

report:dmdoc:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies:
  - build:map-templates
  cache:
    key: dmdoc-${SPDMM_VERSION}
    paths:
    - dmdoc-bin
  script:
  - '[ -f dmdoc-bin ] || wget -O dmdoc-bin ${SPDMM_DOWNLOAD_URL}/dmdoc'
  - chmod u+x dmdoc-bin
  - ./dmdoc-bin
  artifacts:
    name: ci_dmdoc
  ...

report:map-changed-report:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies: []
  cache:
    key: dmm-tools-${SPDMM_VERSION}
    paths:
    - dmm-tools
  script:
  - CHANGED_MAP_FILES=`git diff-tree -r --diff-filter=d --name-only --no-commit-id ${CI_COMMIT_BEFORE_SHA}..${CI_COMMIT_SHA} maps/*.dmm`
  ...

Update soundOutput.dm
  code/datums/soundOutput.dm
Due: report:dmdoc

Re-adds a fax machine to the WY ERT station (#6630)
  maps/templates/lazy_templates/weyland_ert_station.dmm
Due: report:map-changed-report

Automatic changelog for PR #6630 [ci skip]
  html/changelogs/AutoChangeLog-pr-6630.yml
Due: none

Cleanup
  code/datums/soundOutput.dm
Due: report:dmdoc

Update prop_neutral.dm
  code/modules/reagents/chemistry_properties/prop_neutral.dm
Due: report:dmdoc

Delete icons/mob/humans/onmob/suit_1.dmi
  icons/mob/humans/onmob/suit_1.dmi
Due: none

Add files via upload
  icons/mob/humans/onmob/suit_1.dmi
Due: none

Revert "Add files via upload"
  icons/mob/humans/onmob/suit_1.dmi
Due: none

Revert "Delete icons/mob/humans/onmob/suit_1.dmi"
  icons/mob/humans/onmob/suit_1.dmi
Due: none

Update mortar_shells.dm
  code/modules/cm_marines/equipment/mortar/mortar_shells.dm
Due: report:dmdoc

Updated Loadouts
  code/game/machinery/vending/vendor_types/squad_prep/squad_engineer.dm
Due: report:dmdoc

fix flashbang too
  code/game/objects/items/explosives/grenades/flashbang.dm
Due: report:dmdoc

woops
  code/game/objects/items/explosives/grenades/flashbang.dm
Due: report:dmdoc

use tg procs not legacy redirects
  code/game/objects/items/explosives/grenades/flashbang.dm
Due: report:dmdoc

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-6534.yml
  html/changelogs/AutoChangeLog-pr-6593.yml
  html/changelogs/AutoChangeLog-pr-6595.yml
  html/changelogs/AutoChangeLog-pr-6598.yml
  html/changelogs/AutoChangeLog-pr-6613.yml
  html/changelogs/AutoChangeLog-pr-6615.yml
  html/changelogs/AutoChangeLog-pr-6620.yml
  html/changelogs/AutoChangeLog-pr-6630.yml
  html/changelogs/archive/2024-07.yml
Due: none

MK1 For SL (#235)
  code/game/machinery/vending/vendor_types/squad_prep/squad_leader.dm
Due: report:dmdoc

Full update RU_Almayer for upstream (#229)
  maps/map_files/USS_Almayer_RU/USS_Almayer_RU.dmm
Due: report:map-changed-report

initial hair addition
  code/modules/mob/new_player/sprite_accessories/hair.dm
  icons/mob/humans/human_hair.dmi
Due: report:dmdoc

adds new hairstyles
  code/modules/mob/new_player/sprite_accessories/hair.dm
  icons/mob/humans/human_hair.dmi
Due: report:dmdoc

Fix req tutorial landmark not being cleaned up (#6634)
  code/datums/tutorial/marine/reqs_line.dm
Due: report:dmdoc

adds two scrub colors: green and grey (#6398)
  code/game/machinery/vending/vendor_types/crew/medical.dm
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
  code/modules/clothing/under/jobs/medsci.dm
  icons/mob/humans/onmob/uniform_0.dmi
  icons/obj/items/clothing/uniforms.dmi
Due: report:dmdoc

len -> length per https://github.com/cmss13-devs/cmss13/pull/6546
  code/game/machinery/vending/cm_vending.dm
Due: report:dmdoc

Adds map name to game mode logging at round start. (#6551)
  code/game/gamemodes/game_mode.dm
Due: report:dmdoc

Automatic changelog for PR #6634 [ci skip]
  html/changelogs/AutoChangeLog-pr-6634.yml
Due: none

Adds chemical property encephalophrasive (#6567)
  code/__DEFINES/chemistry.dm
  code/modules/reagents/Chemistry-Generator.dm
  code/modules/reagents/chemistry_properties/prop_neutral.dm
Due: report:dmdoc

Improvements to box vending in Requisitions (#6397)
  code/game/machinery/vending/cm_vending.dm
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/modules/projectiles/ammo_boxes/ammo_boxes.dm
  code/modules/projectiles/item_to_box_mapping.dm
Due: report:dmdoc

Automatic changelog for PR #6398 [ci skip]
  html/changelogs/AutoChangeLog-pr-6398.yml
Due: none

Automatic changelog for PR #6551 [ci skip]
  html/changelogs/AutoChangeLog-pr-6551.yml
Due: none

Upped the time to delimbing from the 10 20 to 25 35
  code/modules/mob/living/carbon/xenomorph/castes/Warrior.dm
Due: report:dmdoc

Automatic changelog for PR #6567 [ci skip]
  html/changelogs/AutoChangeLog-pr-6567.yml
Due: none

Add files via upload
  icons/mob/humans/onmob/uniform_0.dmi
Due: none

Automatic changelog for PR #6397 [ci skip]
  html/changelogs/AutoChangeLog-pr-6397.yml
Due: none

This is so dumb
  icons/mob/humans/onmob/uniform_0.dmi
Due: none

epic ties
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
Due: report:dmdoc

Tweaked values, cleaned up code.
  code/modules/gear_presets/clf.dm
  code/modules/gear_presets/pmc.dm
  code/modules/gear_presets/upp.dm
Due: report:dmdoc

Update signals_movable.dm
  code/__DEFINES/dcs/signals/atom/signals_movable.dm
Due: report:dmdoc

Update movement.dm
  code/modules/movement/movement.dm
Due: report:dmdoc

Update transit.dm
  code/game/turfs/transit.dm
Due: report:dmdoc

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm
