Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

report:dmdoc:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies:
  - build:map-templates
  cache:
    key: dmdoc-${SPDMM_VERSION}
    paths:
    - dmdoc-bin
  script:
  - '[ -f dmdoc-bin ] || wget -O dmdoc-bin ${SPDMM_DOWNLOAD_URL}/dmdoc'
  - chmod u+x dmdoc-bin
  - ./dmdoc-bin
  artifacts:
    name: ci_dmdoc
  ...

report:map-changed-report:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies: []
  cache:
    key: dmm-tools-${SPDMM_VERSION}
    paths:
    - dmm-tools
  script:
  - CHANGED_MAP_FILES=`git diff-tree -r --diff-filter=d --name-only --no-commit-id ${CI_COMMIT_BEFORE_SHA}..${CI_COMMIT_SHA} maps/*.dmm`
  ...

spacing
  strings/marinetips.txt
  strings/memetips.txt
Due: none

further changes
  code/modules/mob/living/carbon/xenomorph/strains/castes/lurker/vampire.dm
Due: report:dmdoc

fix for healer_DNH
  code/modules/mob/living/carbon/xenomorph/strains/castes/lurker/vampire.dm
Due: report:dmdoc

nerfs healing sources for vampire, prevents healer drone healing and changes fruit properties to match
  code/modules/cm_aliens/structures/fruit.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/lurker/vampire.dm
Due: report:dmdoc

linter fix
  code/modules/cm_aliens/structures/fruit.dm
Due: report:dmdoc

Update upp_commando.dm
  code/datums/emergency_calls/upp_commando.dm
Due: report:dmdoc

sadfsdag
  code/game/objects/items/devices/walkman.dm
Due: report:dmdoc

dsa
  code/game/objects/items/devices/walkman.dm
Due: report:dmdoc

dont do that
  code/__DEFINES/ss13lib.config.dm
  code/controllers/subsystem/ss13hub.dm
Due: report:dmdoc

update dme
  colonialmarines.dme
Due: none

Bleh
  code/modules/admin/player_panel/actions/general.dm
  code/modules/admin/tabs/admin_tab.dm
  code/modules/admin/verbs/mob_verbs.dm
Due: report:dmdoc

mnbm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Updates HUD icons
  icons/mob/hud/factions/marine.dmi
  icons/ui_icons/map_blips.dmi
Due: none

updates minimap and hud icons
  code/datums/factions/uscm.dm
  code/modules/gear_presets/uscm_medical.dm
  code/modules/gear_presets/uscm_police.dm
  code/modules/gear_presets/uscm_ship.dm
  code/modules/gear_presets/wo.dm
  icons/ui_icons/map_blips.dmi
Due: report:dmdoc

Adds minimap backgrounds and role comms
  code/modules/gear_presets/survivors/solaris/preset_solaris.dm
  code/modules/gear_presets/uscm_dress.dm
  code/modules/gear_presets/uscm_event.dm
Due: report:dmdoc

Fixes and addons, poster addition
  code/game/objects/effects/decals/posters.dm
  code/game/objects/effects/decals/posters/poster_list.dm
  icons/obj/structures/props/wall_decorations/posters.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:dmdoc, report:map-changed-report

Fixup maps in TGM format
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

change
  code/game/jobs/role_authority.dm
  code/modules/mob/living/carbon/xenomorph/hive_status.dm
Due: report:dmdoc

Various spellchecks
  strings/marinetips.txt
  strings/memetips.txt
  strings/metatips.txt
  strings/xenotips.txt
Due: none

Revert "New Dead Icons (#11948)"
  icons/mob/hud/hud.dmi
Due: none

Aim Assist Hotkey
  code/__DEFINES/keybinding.dm
  code/datums/keybinding/human_combat.dm
  code/modules/projectiles/guns/smartgun.dm
Due: report:dmdoc

Adds paygrade prefixes to the crew manifest
  code/datums/crew_manifest.dm
  code/datums/datacore.dm
Due: report:dmdoc

Remove comms
  code/modules/gear_presets/survivors/corsat/preset_corsat.dm
  code/modules/gear_presets/survivors/fiorina_sciannex/preset_fiorina_sciannex.dm
  code/modules/gear_presets/survivors/kutjevo/preset_kutjevo.dm
  code/modules/gear_presets/survivors/lv_624/preset_lv.dm
  code/modules/gear_presets/survivors/lv_759/preset_hybrisa.dm
  code/modules/gear_presets/survivors/misc.dm
  code/modules/gear_presets/survivors/shivas_snowball/preset_shivas_snowball.dm
  code/modules/gear_presets/survivors/solaris/preset_solaris.dm
  code/modules/gear_presets/survivors/sorokyne_strata/preset_sorokyne_strata.dm
  code/modules/gear_presets/survivors/survivors.dm
  code/modules/gear_presets/survivors/trijent/preset_trijent.dm
Due: report:dmdoc

say no to hardcode
  code/game/objects/items/storage/belt.dm
  code/modules/unit_tests/missing_icons.dm
Due: report:dmdoc

fshhhh pwoooof
  maps/map_files/USS_Sulaco/USS_Sulaco.dmm
Due: report:map-changed-report

hash minimaps + set inactive
  code/controllers/subsystem/minimap.dm
  code/datums/components/tacmap.dm
Due: report:dmdoc

That wasn't supposed to be there.
  code/datums/factions/uscm.dm
Due: report:dmdoc

Adds NSPA icons
  code/datums/factions/nspa.dm
  icons/mob/hud/factions/twe.dmi
Due: report:dmdoc

Added army minimap icons
  icons/mob/hud/factions/marine.dmi
  icons/ui_icons/map_blips.dmi
Due: none

reverts some differentiation
  icons/mob/hud/factions/marine.dmi
Due: none

DCC slipped under the radar, reverts some role comm title changes
  code/modules/gear_presets/uscm_dress.dm
  icons/mob/hud/factions/marine.dmi
Due: report:dmdoc

forgot to add that back
  icons/mob/hud/factions/marine.dmi
Due: none

Why do we need this? The borders are already drawn on.
  code/datums/factions/uscm.dm
Due: report:dmdoc

Update uscm.dm
  code/datums/factions/uscm.dm
Due: report:dmdoc

Don't need this any more.
  code/modules/gear_presets/uscm_ship.dm
  icons/ui_icons/map_blips.dmi
Due: report:dmdoc

unfinished new-ish shipmap
  code/modules/halo/unsc_map.dm
  code/modules/mob/living/simple_animal/friendly/cat.dm
  colonialmarines.dme
  icons/halo/obj/structures/drop_pod.dmi
  icons/halo/obj/structures/machinery/vending_32x64.dmi
  icons/halo/obj/structures/phones.dmi
  icons/halo/turf/floors/covenant.dmi
  icons/halo/turf/floors/floor.dmi
  icons/halo/turf/walls/cov_standard.dmi
  icons/obj/structures/machinery/hypersleep.dmi
  maps/UNSC_Valley_Forge.json
  maps/UNSC_Valley_Forge_Override.json
  maps/map_files/UNSC_Valley_Forge/UNSC_Valley_Forge.dmm
Due: report:dmdoc, report:map-changed-report

Update Desert_Dam.dmm
  maps/map_files/DesertDam/Desert_Dam.dmm
Due: report:map-changed-report

Fixup maps in TGM format
  maps/map_files/DesertDam/Desert_Dam.dmm
Due: report:map-changed-report

more ship stuff
  code/__DEFINES/mode.dm
  code/modules/halo/unsc_gear.dm
  code/modules/halo/unsc_vehicles/pelican.dm
  map_config/shipmaps.txt
  maps/Nightmare/maps/UNSC_Valley_Forge/nightmare.json
  maps/Nightmare/maps/UNSC_Valley_Forge/scenario.json
  maps/UNSC_Valley_Forge.json
  maps/UNSC_Valley_Forge_Override.json
  maps/map_files/UNSC_Valley_Forge/UNSC_Valley_Forge.dmm
Due: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm
