Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

report:dmdoc:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies:
  - build:map-templates
  cache:
    key: dmdoc-${SPDMM_VERSION}
    paths:
    - dmdoc-bin
  script:
  - '[ -f dmdoc-bin ] || wget -O dmdoc-bin ${SPDMM_DOWNLOAD_URL}/dmdoc'
  - chmod u+x dmdoc-bin
  - ./dmdoc-bin
  artifacts:
    name: ci_dmdoc
  ...

report:map-changed-report:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies: []
  cache:
    key: dmm-tools-${SPDMM_VERSION}
    paths:
    - dmm-tools
  script:
  - CHANGED_MAP_FILES=`git diff-tree -r --diff-filter=d --name-only --no-commit-id ${CI_COMMIT_BEFORE_SHA}..${CI_COMMIT_SHA} maps/*.dmm`
  ...

Fixes helmets stopping all of your limbs from being delimbed (#3422)
  code/modules/organs/limbs.dm
Due: report:dmdoc

Pre-defined armor looks, adds them to vendors via essentials sets
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
  code/modules/clothing/suits/marine_armor.dm
Due: report:dmdoc

Automatic changelog for PR #3422 [ci skip]
  html/changelogs/AutoChangeLog-pr-3422.yml
Due: none

damn you linters
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
Due: report:dmdoc

massive new addition. new subtypes for separation between grass and sand...
  code/game/turfs/open.dm
  maps/map_files/CORSAT/Corsat.dmm
  maps/map_files/CORSAT/standalone/lockdown_thetaeast.dmm
  maps/map_files/LV624/LV624.dmm
  maps/map_files/LV624/gym/20.pool.dmm
  maps/map_files/LV624/gym/30.alternate.dmm
  maps/map_files/LV624/hydro/30.destroyed.dmm
  maps/map_files/LV624/maintemple/1.intact.dmm
  maps/map_files/LV624/maintemple/2.flooded.dmm
  maps/map_files/LV624/medbay/10.destroyed.dmm
  maps/map_files/LV624/medbay/30.larvasurgery.dmm
  maps/map_files/LV624/science/10.yautja.dmm
  maps/map_files/LV624/science/40.fullylocked.dmm
  maps/map_files/LV624/standalone/leftsidepass.dmm
  maps/map_files/LV624/standalone/lv-bridge-east.dmm
  maps/map_files/LV624/standalone/lv-bridge-nofog.dmm
  maps/map_files/LV624/standalone/rightsidepass.dmm
  maps/map_files/LV624/standalone/sandtemple-jungle.dmm
  maps/map_files/LV624/standalone/sandtemple-se.dmm
  maps/map_files/Whiskey_Outpost_v2/Whiskey_Outpost_v2.dmm
  maps/predship/huntership.dmm
Due: report:dmdoc, report:map-changed-report

managed list >??>?
  code/_globalvars/global_lists.dm
Due: report:dmdoc

oopsie
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/clothing/suits/marine_armor.dm
Due: report:dmdoc

fixing my mistake...
  code/game/turfs/open.dm
  maps/map_files/CORSAT/Corsat.dmm
  maps/map_files/CORSAT/standalone/lockdown_thetaeast.dmm
  maps/map_files/LV624/LV624.dmm
  maps/map_files/LV624/gym/20.pool.dmm
  maps/map_files/LV624/gym/30.alternate.dmm
  maps/map_files/LV624/hydro/30.destroyed.dmm
  maps/map_files/LV624/maintemple/1.intact.dmm
  maps/map_files/LV624/maintemple/2.flooded.dmm
  maps/map_files/LV624/medbay/10.destroyed.dmm
  maps/map_files/LV624/medbay/30.larvasurgery.dmm
  maps/map_files/LV624/science/10.yautja.dmm
  maps/map_files/LV624/science/40.fullylocked.dmm
  maps/map_files/LV624/standalone/leftsidepass.dmm
  maps/map_files/LV624/standalone/lv-bridge-east.dmm
  maps/map_files/LV624/standalone/lv-bridge-nofog.dmm
  maps/map_files/LV624/standalone/rightsidepass.dmm
  maps/map_files/LV624/standalone/sandtemple-jungle.dmm
  maps/map_files/LV624/standalone/sandtemple-se.dmm
  maps/map_files/Whiskey_Outpost_v2/Whiskey_Outpost_v2.dmm
  maps/predship/huntership.dmm
Due: report:dmdoc, report:map-changed-report

typo
  code/_globalvars/global_lists.dm
Due: report:dmdoc

Initial
  code/modules/mob/living/carbon/xenomorph/Embryo.dm
  code/modules/mob/new_player/new_player.dm
Due: report:dmdoc

Also that
  code/modules/mob/new_player/new_player.dm
Due: report:dmdoc

Balance review reqs
  code/__DEFINES/vendors.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_engineer.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_leader.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_medic.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_rifleman.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_smartgunner.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_specialist.dm
  code/game/objects/effects/spawners/spawner.dm
Due: report:dmdoc

Acid damage is lower than before, dodge chance will be lower this time
  code/modules/mob/living/carbon/human/species/synthetic.dm
Due: report:dmdoc

Synthetic Acid Blood Dodge (#3402)
  code/modules/mob/living/carbon/human/species/synthetic.dm
Due: report:dmdoc

Fixes the error
  code/game/machinery/vending/vendor_types/squad_prep/squad_tl.dm
Due: report:dmdoc

Automatic changelog for PR #3402 [ci skip]
  html/changelogs/AutoChangeLog-pr-3402.yml
Due: none

hardcore outpost (#3395)
  code/game/gamemodes/colonialmarines/whiskey_outpost.dm
Due: report:dmdoc

Automatic changelog for PR #3395 [ci skip]
  html/changelogs/AutoChangeLog-pr-3395.yml
Due: none

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-3129.yml
  html/changelogs/AutoChangeLog-pr-3317.yml
  html/changelogs/AutoChangeLog-pr-3395.yml
  html/changelogs/AutoChangeLog-pr-3402.yml
  html/changelogs/AutoChangeLog-pr-3411.yml
  html/changelogs/AutoChangeLog-pr-3422.yml
  html/changelogs/archive/2023-05.yml
Due: none

Adds interactions with potted plants and fire alarms. (#3236)
  code/game/machinery/fire_alarm.dm
  code/game/objects/structures/flora.dm
Due: report:dmdoc

Added MRE to fieldkit to cut down on bitflag usage (Squad Spec now receives a map and MRE instead of only an MRE)
  code/game/machinery/vending/vendor_types/squad_prep/squad_engineer.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_leader.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_medic.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_rifleman.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_smartgunner.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_specialist.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_tl.dm
  code/game/objects/effects/spawners/spawner.dm
Due: report:dmdoc

Automatic changelog for PR #3236 [ci skip]
  html/changelogs/AutoChangeLog-pr-3236.yml
Due: none

Fix Rare Emergency Locker Hard Delete (#3425)
  code/_onclick/hud/map_popups.dm
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
Due: report:dmdoc

Automatic changelog for PR #3425 [ci skip]
  html/changelogs/AutoChangeLog-pr-3425.yml
Due: none

less medic vendors on WO
  maps/map_files/Whiskey_Outpost_v2/Whiskey_Outpost_v2.dmm
Due: report:map-changed-report

Adds a dartboard, pouch, and darts, sprited by Thwomper. (#3407)
  code/game/objects/items/weapons/misc.dm
  code/game/objects/structures/signs.dm
  icons/obj/items/clothing/pouches.dmi
  icons/obj/items/items.dmi
  icons/obj/structures/props/props.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:dmdoc, report:map-changed-report

Automatic changelog for PR #3407 [ci skip]
  html/changelogs/AutoChangeLog-pr-3407.yml
Due: none

messes with db
  code/datums/_ndatabase/code/brsql_persistent_connection.dm
Due: report:dmdoc

prevents splints being applied when you put them away (#3421)
  code/modules/organs/limbs.dm
Due: report:dmdoc

revert a bit of code to the original and flatten the indentation as requested and shown in predator.dm.
  code/game/objects/items/stacks/predator.dm
Due: report:dmdoc

Fix flaying making head regrow on decap bodies (#3227)
  code/__DEFINES/dcs/signals/atom/mob/living/signals_human.dm
  code/game/objects/items/stacks/predator.dm
  code/modules/cm_preds/yaut_weapons.dm
Due: report:dmdoc

Automatic changelog for PR #3227 [ci skip]
  html/changelogs/AutoChangeLog-pr-3227.yml
Due: none

fix synth names being incorrect
  code/modules/gear_presets/_select_equipment.dm
  code/modules/gear_presets/clf.dm
Due: report:dmdoc

im dumb
  code/modules/gear_presets/clf.dm
Due: report:dmdoc

VP78 Laser-Light
  code/modules/projectiles/gun_attachables.dm
  code/modules/projectiles/guns/pistols.dm
  icons/obj/items/weapons/guns/attachments.dmi
  icons/obj/items/weapons/guns/attachments/under.dmi
Due: report:dmdoc

increases the synthetic piloting skill (#3419)
  code/datums/skills.dm
Due: report:dmdoc

Automatic changelog for PR #3419 [ci skip]
  html/changelogs/AutoChangeLog-pr-3419.yml
Due: none

cala
  code/modules/projectiles/guns/pistols.dm
  icons/obj/items/weapons/guns/attachments/under.dmi
Due: report:dmdoc

Medevac Buffs (#1513)
  code/__DEFINES/dropships.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/modules/cm_marines/dropship_equipment.dm
Due: report:dmdoc

Introduces Sleen Reagent (#3431)
  code/modules/reagents/chemistry_reactions/other.dm
  code/modules/reagents/chemistry_reagents/medical.dm
  code/modules/reagents/chemistry_reagents/other.dm
Due: report:dmdoc

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm
