Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

report:dmdoc:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies:
  - build:map-templates
  cache:
    key: dmdoc-${SPDMM_VERSION}
    paths:
    - dmdoc-bin
  script:
  - '[ -f dmdoc-bin ] || wget -O dmdoc-bin ${SPDMM_DOWNLOAD_URL}/dmdoc'
  - chmod u+x dmdoc-bin
  - ./dmdoc-bin
  artifacts:
    name: ci_dmdoc
  ...

report:map-changed-report:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies: []
  cache:
    key: dmm-tools-${SPDMM_VERSION}
    paths:
    - dmm-tools
  script:
  - CHANGED_MAP_FILES=`git diff-tree -r --diff-filter=d --name-only --no-commit-id ${CI_COMMIT_BEFORE_SHA}..${CI_COMMIT_SHA} maps/*.dmm`
  ...

smelly hippie suitjacket
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/under/marine_uniform.dm
  code/modules/gear_presets/survivors/misc.dm
  code/modules/gear_presets/synths.dm
  maps/map_files/BigRed/BigRed.dmm
Due: report:dmdoc, report:map-changed-report

Update marine_uniform.dm
  code/modules/clothing/under/marine_uniform.dm
Due: report:dmdoc

spac
  code/modules/clothing/under/marine_uniform.dm
Due: report:dmdoc

review
  code/datums/xeno_shields/shield_types/destroyer_shield.dm
  code/modules/cm_aliens/XenoStructures.dm
  code/modules/cm_aliens/hivebuffs/hivebuff.dm
  code/modules/cm_aliens/structures/special/pylon_core.dm
  code/modules/mob/living/carbon/xenomorph/abilities/destroyer/destroyer_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/queen/queen_powers.dm
  code/modules/mob/living/carbon/xenomorph/hive_status.dm
  code/modules/mob/living/carbon/xenomorph/hive_status_ui.dm
Due: report:dmdoc

quickfix
  code/modules/mob/living/carbon/human/human_helpers.dm
  icons/mob/humans/species/r_predator.dmi
Due: report:dmdoc

review 2
  code/__DEFINES/mobs.dm
  code/modules/cm_aliens/hivebuffs/hivebuff.dm
  code/modules/mob/living/carbon/xenomorph/abilities/destroyer/destroyer_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/queen/queen_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Destroyer.dm
  code/modules/mob/living/carbon/xenomorph/hive_status.dm
Due: report:dmdoc

Update hivebuff.dm
  code/modules/cm_aliens/hivebuffs/hivebuff.dm
Due: report:dmdoc

flaky preview
  code/modules/mob/new_player/preferences_setup.dm
Due: report:dmdoc

Fix Airlock Destroy (#6385)
  code/game/machinery/doors/airlock.dm
Due: report:dmdoc

Fix range usages (#6378)
  code/game/turfs/turf.dm
  code/modules/admin/topic/topic_events.dm
  code/modules/cm_marines/dropship_ammo.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/organs/limbs.dm
Due: report:dmdoc

Fix Round Time Offset (#6384)
  code/game/world.dm
Due: report:dmdoc

Automatic changelog for PR #6385 [ci skip]
  html/changelogs/AutoChangeLog-pr-6385.yml
Due: none

Update pylon_core.dm
  code/modules/cm_aliens/structures/special/pylon_core.dm
Due: report:dmdoc

Automatic changelog for PR #6378 [ci skip]
  html/changelogs/AutoChangeLog-pr-6378.yml
Due: none

banish check
  code/modules/cm_aliens/XenoStructures.dm
Due: report:dmdoc

fix to the fix of the fix of the fix
  code/modules/cm_aliens/XenoStructures.dm
Due: report:dmdoc

Automatic changelog for PR #6384 [ci skip]
  html/changelogs/AutoChangeLog-pr-6384.yml
Due: none

Fix emoting past the grave (#6387)
  code/modules/mob/living/carbon/xenomorph/castes/Facehugger.dm
  code/modules/mob/living/carbon/xenomorph/castes/Larva.dm
Due: report:dmdoc

Automatic changelog for PR #6387 [ci skip]
  html/changelogs/AutoChangeLog-pr-6387.yml
Due: none

Update XenoStructures.dm
  code/modules/cm_aliens/XenoStructures.dm
Due: report:dmdoc

null safety first
  code/modules/cm_aliens/XenoStructures.dm
Due: report:dmdoc

typo
  code/modules/clothing/suits/jobs.dm
Due: report:dmdoc

adds admin panel for managing bug reports / fixes smelly code / time to beg for licensing.
  code/__DEFINES/admin.dm
  code/_globalvars/global_lists.dm
  code/datums/bug_report.dm
  code/modules/admin/topic/topic.dm
  tgui/packages/tgui/interfaces/BugReportForm.tsx
  tgui/packages/tgui/styles/interfaces/BugReportForm.scss
Due: report:dmdoc

removes nazi jacket sprite from suits.dmi (#6389)
  icons/obj/items/clothing/suits.dmi
Due: none

Automatic changelog for PR #6389 [ci skip]
  html/changelogs/AutoChangeLog-pr-6389.yml
Due: none

Update code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/life.dm
Due: report:dmdoc

Fixes getting a prayer confirmation per affected admin, instead of just once (#6382)
  code/modules/admin/verbs/pray.dm
Due: report:dmdoc

Automatic changelog for PR #6382 [ci skip]
  html/changelogs/AutoChangeLog-pr-6382.yml
Due: none

cleanup
  code/datums/bug_report.dm
Due: report:dmdoc

f
  code/datums/bug_report.dm
Due: report:dmdoc

lol
  code/datums/bug_report.dm
Due: report:dmdoc

r
  code/datums/bug_report.dm
Due: report:dmdoc

removed debug output
  code/modules/admin/topic/topic.dm
Due: report:dmdoc

makes more sense
  code/modules/admin/topic/topic.dm
Due: report:dmdoc

argument fix
  code/datums/bug_report.dm
Due: report:dmdoc

add two scrub colors
  code/game/machinery/vending/vendor_types/crew/medical.dm
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
  code/modules/clothing/under/jobs/medsci.dm
  icons/mob/humans/onmob/uniform_0.dmi
  icons/obj/items/clothing/uniforms.dmi
Due: report:dmdoc

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm
