Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm

so back maybe?
  code/modules/mob/living/carbon/human/species/hazard_joe/farewell.dm
  code/modules/mob/living/carbon/human/species/hazard_joe/greetings.dm
  code/modules/mob/living/carbon/human/species/hazard_joe/notice.dm
  code/modules/mob/living/carbon/human/species/hazard_joe/question.dm
  code/modules/mob/living/carbon/human/species/hazard_joe/quip.dm
  code/modules/mob/living/carbon/human/species/hazard_joe/restricted_area.dm
  code/modules/mob/living/carbon/human/species/hazard_joe/task_update.dm
  code/modules/mob/living/carbon/human/species/hazard_joe/warning.dm
Due: report:dmdoc

clean up
  code/datums/components/autofire/autofire.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/gun_helpers.dm
Due: report:dmdoc

De-Squads the Spotter (#3892)
  code/game/objects/items/pamphlets.dm
Due: report:dmdoc

Automatic TGS DMAPI Update (#3896)
  code/__DEFINES/tgs.dm
  code/modules/tgs/core/_definitions.dm
  code/modules/tgs/v3210/commands.dm
  code/modules/tgs/v4/commands.dm
  code/modules/tgs/v5/_defines.dm
  code/modules/tgs/v5/api.dm
  code/modules/tgs/v5/commands.dm
  code/modules/tgs/v5/serializers.dm
  code/modules/tgs/v5/topic.dm
Due: report:dmdoc

Automatic changelog for PR #3892 [ci skip]
  html/changelogs/AutoChangeLog-pr-3892.yml
Due: none

revamp clothes vendors organization
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
Due: report:dmdoc

same
  code/game/machinery/vending/vendor_types/squad_prep/squad_rifleman.dm
Due: report:dmdoc

sound
  code/modules/projectiles/gun_helpers.dm
Due: report:dmdoc

nerf barrel charger with fixes
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/lever_action.dm
  code/modules/projectiles/guns/rifles.dm
Due: report:dmdoc

a few bits
  code/datums/components/autofire/autofire.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/rifles.dm
Due: report:dmdoc

test
  code/modules/mob/living/carbon/xenomorph/castes/Lurker.dm
Due: report:dmdoc

nozzle fix
  code/modules/projectiles/gun.dm
Due: report:dmdoc

intent safety
  code/modules/projectiles/gun.dm
Due: report:dmdoc

test2
  code/modules/mob/living/carbon/xenomorph/castes/Lurker.dm
Due: report:dmdoc

test3
  code/modules/mob/living/carbon/xenomorph/castes/Lurker.dm
Due: report:dmdoc

test4
  code/modules/mob/living/carbon/xenomorph/castes/Lurker.dm
Due: report:dmdoc

ready
  code/modules/mob/living/carbon/xenomorph/castes/Lurker.dm
Due: report:dmdoc

exp. changes
  code/__DEFINES/conflict.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/gun_attachables.dm
  code/modules/projectiles/guns/flamer/flamer.dm
  code/modules/projectiles/guns/rifles.dm
  code/modules/projectiles/guns/smgs.dm
Due: report:dmdoc

uncommented code
  code/modules/clothing/gloves/marine_gloves.dm
Due: report:dmdoc

bugfix
  code/modules/projectiles/gun_helpers.dm
Due: report:dmdoc

hahah how tf did i miss this
  code/modules/projectiles/gun.dm
Due: report:dmdoc

Adds bayonet pouch to req (#3898)
  code/game/machinery/vending/vendor_types/requisitions.dm
Due: report:dmdoc

Explosive pouch size doubled (#3897)
  code/game/objects/items/storage/pouch.dm
Due: report:dmdoc

Working Joe Death Sound and Death Message (It is so Joever) (#3798)
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/carbon/human/species/working_joe/_species.dm
  sound/voice/joe/death_dream.ogg
  sound/voice/joe/death_normal.ogg
  sound/voice/joe/death_silence.ogg
  sound/voice/joe/death_tomorrow.ogg
Due: report:dmdoc

Added preference to disallow de-activation of your current ability (#3904)
  code/__DEFINES/client_prefs.dm
  code/modules/client/client_procs.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_toggles.dm
  code/modules/mob/living/carbon/xenomorph/abilities/xeno_action.dm
  code/modules/mob/living/carbon/xenomorph/xeno_verbs.dm
Due: report:dmdoc

Automatic changelog for PR #3898 [ci skip]
  html/changelogs/AutoChangeLog-pr-3898.yml
Due: none

fa removal
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/pistols.dm
  code/modules/projectiles/guns/rifles.dm
  code/modules/projectiles/guns/shotguns.dm
  code/modules/projectiles/guns/smartgun.dm
  code/modules/projectiles/guns/smgs.dm
Due: report:dmdoc

Automatic changelog for PR #3897 [ci skip]
  html/changelogs/AutoChangeLog-pr-3897.yml
Due: none

glove fix
  code/modules/clothing/gloves/marine_gloves.dm
Due: report:dmdoc

autoguns are now vastly more innacurate after firing for a while
  code/modules/projectiles/gun.dm
Due: report:dmdoc

Automatic changelog for PR #3798 [ci skip]
  html/changelogs/AutoChangeLog-pr-3798.yml
Due: none

Automatic changelog for PR #3904 [ci skip]
  html/changelogs/AutoChangeLog-pr-3904.yml
Due: none

Beginning o
  code/__DEFINES/job.dm
  code/__DEFINES/mode.dm
  code/__HELPERS/job.dm
  code/datums/factions/uscm.dm
  code/game/jobs/job/command/cic/executive.dm
  code/game/jobs/job/command/cic/operations.dm
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
  code/modules/cm_marines/marines_consoles.dm
  code/modules/cm_tech/trees/marine.dm
  code/modules/gear_presets/uscm_ship.dm
  code/modules/mob/new_player/preferences_setup.dm
  colonialmarines.dme
Due: report:dmdoc

ded
  code/modules/projectiles/gun.dm
Due: report:dmdoc

Very Minor Mapping change
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

improves check
  code/modules/projectiles/gun.dm
Due: report:dmdoc

Prevent Banished in Larva Queue and Set Queue Time for Cryoing (#3885)
  code/__HELPERS/game.dm
  code/game/gamemodes/cm_initialize.dm
  code/game/machinery/cryopod.dm
  code/modules/cm_aliens/structures/special/pylon_core.dm
  code/modules/mob/living/carbon/xenomorph/Embryo.dm
  code/modules/mob/living/carbon/xenomorph/death.dm
  code/modules/shuttle/shuttle.dm
Due: report:dmdoc

Automatic changelog for PR #3885 [ci skip]
  html/changelogs/AutoChangeLog-pr-3885.yml
Due: none

Starshell Typo Fix
  code/game/objects/items/devices/flashlight.dm
Due: report:dmdoc

Bump alternate test to 1609 finally
  .github/alternate_byond_versions.txt
Due: none
