Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm

FirstEdition
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

PRSubmissionEdition
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

MinorTweaksBeforePR
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Makes Pylon Alert Message Better Stress Its Danger To Marines (#4518)
  code/modules/cm_aliens/structures/special/pylon_core.dm
Due: report:dmdoc

Disallows taking control of crit xenos (#4517)
  code/game/gamemodes/cm_initialize.dm
Due: report:dmdoc

Automatic changelog for PR #4518 [ci skip]
  html/changelogs/AutoChangeLog-pr-4518.yml
Due: none

Conflict Solution
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

such immense suffering.
  code/modules/clothing/head/helmet.dm
  tgui/packages/tgui/interfaces/CanvasLayer.js
  tgui/packages/tgui/interfaces/TacticalMap.tsx
Due: report:dmdoc

InvalidVariableFix
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Automatic changelog for PR #4517 [ci skip]
  html/changelogs/AutoChangeLog-pr-4517.yml
Due: none

...
  tgui/packages/tgui/interfaces/TacticalMap.tsx
Due: none

Теперь техподы могут вызывать не только ФТЛ'ы
  code/modules/mob/living/carbon/human/human_abilities.dm
Due: report:dmdoc

mistake
  code/datums/tutorial/_tutorial_menu.dm
Due: report:dmdoc

Initial
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
Due: report:map-changed-report

...
  code/_globalvars/misc.dm
  code/controllers/subsystem/minimap.dm
  tgui/packages/tgui/interfaces/TacticalMap.tsx
Due: report:dmdoc

aaa
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

TheBobbyCut - Long-rests closer to prep
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Minor Fixes
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Initial
  code/datums/emergency_calls/whiskey_outpost.dm
  code/modules/admin/tabs/event_tab.dm
Due: report:dmdoc

Bugfix: Flashlights now correct their icon when disabled by a xeno slash. (#4493)
  code/game/objects/items/devices/flashlight.dm
Due: report:dmdoc

Automatic changelog for PR #4493 [ci skip]
  html/changelogs/AutoChangeLog-pr-4493.yml
Due: none

новая абилка и минорный бафф инкома ксеноморфов
  code/modules/cm_aliens/structures/special/pylon_core.dm
  code/modules/mob/living/carbon/xenomorph/abilities/carrier/carrier_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  colonialmarines.dme
  fray-marines/code/cm_tech/techs/xeno/tier1/comms_disruption.dm
  fray-marines/code/modules/mob/living/carbon/xenomorph/queen_abilities.dm
Due: report:dmdoc

минорный бафф инкома ксеноморфов №2
  code/modules/mob/living/carbon/xenomorph/abilities/queen/queen_abilities.dm
Due: report:dmdoc

...
  code/controllers/subsystem/minimap.dm
Due: report:dmdoc

Вернул шилдинг слеш в техтри ксеносов =3
  colonialmarines.dme
  fray-marines/code/cm_tech/techs/xeno/tier2/overshield.dm
  fray-marines/code/cm_tech/techs/xeno/tier2/shielding_slash.dm
  fray-marines/code/cm_tech/techs/xeno/tier2/teleport_beacon.dm
Due: report:dmdoc

Bugfix: Unorderable Black Market Crate (#4495)
  code/datums/supply_packs/black_market.dm
Due: report:dmdoc

эм ладно нельзя анинклюдать файлы так нельзя
  code/modules/objectives/communications.dm
  colonialmarines.dme
  fray-marines/code/modules/objectives/communications.dm
Due: report:dmdoc

Automatic changelog for PR #4495 [ci skip]
  html/changelogs/AutoChangeLog-pr-4495.yml
Due: none

aa
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

fix pace
  code/modules/clothing/suits/miscellaneous.dm
Due: report:dmdoc

wip medical
  code/__DEFINES/dcs/signals/atom/mob/living/signals_living.dm
  code/datums/tutorial/_tutorial.dm
  code/datums/tutorial/marine/basic_marine.dm
  code/datums/tutorial/marine/medical_basic.dm
  code/datums/tutorial/ss13/basic_ss13.dm
  code/datums/tutorial/ss13/intents.dm
  code/game/objects/items/reagent_containers/autoinjectors.dm
  code/game/objects/items/reagent_containers/hypospray.dm
  colonialmarines.dme
Due: report:dmdoc

remove timelock code
  code/game/jobs/job/special/cmb.dm
Due: report:dmdoc

sss
  code/modules/cm_tech/resources/resource.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:dmdoc, report:map-changed-report

Normalization (Thanks Quickload)
  sound/voice/joe/be_careful_with_that.ogg
  sound/voice/joe/been_looking_for_you.ogg
  sound/voice/joe/calm_down.ogg
  sound/voice/joe/come_with_me.ogg
  sound/voice/joe/dont_run.ogg
  sound/voice/joe/dontdothat.ogg
  sound/voice/joe/enough.ogg
  sound/voice/joe/existing_tasks.ogg
  sound/voice/joe/expensive_mistake.ogg
  sound/voice/joe/follow_me_please.ogg
  sound/voice/joe/glad_we_resolved.ogg
  sound/voice/joe/had_the_pleasure.ogg
  sound/voice/joe/have_a_problem.ogg
  sound/voice/joe/hold_still.ogg
  sound/voice/joe/how_inconsiderate.ogg
  sound/voice/joe/hurt_yourself.ogg
  sound/voice/joe/interloper.ogg
  sound/voice/joe/investigate_weapon.ogg
  sound/voice/joe/is_anybody_there.ogg
  sound/voice/joe/let_me_help.ogg
  sound/voice/joe/not_be_tolerated.ogg
  sound/voice/joe/pity.ogg
  sound/voice/joe/protected_area_compromised.ogg
  sound/voice/joe/really.ogg
  sound/voice/joe/really_shouldnt_be_here.ogg
  sound/voice/joe/someone_hurt.ogg
  sound/voice/joe/still_here.ogg
  sound/voice/joe/stop_that.ogg
  sound/voice/joe/support_ticket_removed.ogg
  sound/voice/joe/this_isnt_the_answer.ogg
  sound/voice/joe/tut_tut.ogg
  sound/voice/joe/unwarranted.ogg
  sound/voice/joe/what_do_you_need.ogg
Due: none

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-4493.yml
  html/changelogs/AutoChangeLog-pr-4495.yml
  html/changelogs/AutoChangeLog-pr-4517.yml
  html/changelogs/AutoChangeLog-pr-4518.yml
  html/changelogs/archive/2023-09.yml
Due: none

Moves APCs around, fixes a stray door, semiotics SEMIOTICS AAAAAAAH
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

whole bunch of junk
  code/__DEFINES/dcs/signals/atom/mob/living/signals_human.dm
  code/__DEFINES/dcs/signals/atom/signals_obj.dm
  code/datums/tutorial/_tutorial.dm
  code/datums/tutorial/marine/basic_marine.dm
  code/datums/tutorial/marine/medical_basic.dm
  code/datums/tutorial/ss13/_ss13.dm
  code/datums/tutorial/tutorial_example.dm
  code/game/objects/items/reagent_containers/autoinjectors.dm
  code/game/objects/items/shards.dm
  code/game/objects/items/stacks/medical.dm
  code/game/objects/items/weapons/blades.dm
  code/modules/gear_presets/other.dm
  code/modules/maptext_alerts/screen_alerts.dm
  code/modules/organs/limbs.dm
Due: report:dmdoc

doubled APCs in memorial
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

refactor
  code/_globalvars/global_lists.dm
  code/controllers/subsystem/minimap.dm
Due: report:dmdoc

Automatic changelog for PR #4510 [ci skip]
  html/changelogs/AutoChangeLog-pr-4510.yml
Due: none
