Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm

Automatic changelog for PR #4365 [ci skip]
  html/changelogs/AutoChangeLog-pr-4365.yml
Due: none

heavy mg ammo accuracy to 75% (#4364)
  code/modules/projectiles/ammo_datums.dm
Due: report:dmdoc

Automatic changelog for PR #4364 [ci skip]
  html/changelogs/AutoChangeLog-pr-4364.yml
Due: none

review
  code/modules/vehicles/powerloader.dm
Due: report:dmdoc

Update code/game/machinery/doors/multi_tile.dm
  code/game/machinery/doors/multi_tile.dm
Due: report:dmdoc

а вот и нёрф
  code/modules/mob/living/carbon/xenomorph/Abilities.dm
  fray-marines/code/__DEFINES/xeno.dm
  fray-marines/modules/mob/living/simple_animal/hostile/alien.dm
Due: report:dmdoc

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-4167.yml
  html/changelogs/AutoChangeLog-pr-4245.yml
  html/changelogs/AutoChangeLog-pr-4287.yml
  html/changelogs/AutoChangeLog-pr-4301.yml
  html/changelogs/AutoChangeLog-pr-4307.yml
  html/changelogs/AutoChangeLog-pr-4318.yml
  html/changelogs/AutoChangeLog-pr-4328.yml
  html/changelogs/AutoChangeLog-pr-4349.yml
  html/changelogs/AutoChangeLog-pr-4363.yml
  html/changelogs/AutoChangeLog-pr-4364.yml
  html/changelogs/AutoChangeLog-pr-4365.yml
  html/changelogs/AutoChangeLog-pr-4366.yml
  html/changelogs/archive/2023-09.yml
Due: none

Check
  code/__DEFINES/job.dm
  code/datums/factions/upp.dm
  code/datums/paygrades/factions/upp/upp.dm
  code/datums/skills.dm
  code/modules/gear_presets/upp.dm
Due: report:dmdoc

QoL fixes
  fray-marines/code/modules/vehicles/walker.dm
Due: report:dmdoc

Paygrade fix
  fray-marines/modules/gear_presets/usmc.dm
Due: report:dmdoc

Спрайтеки
  fray-marines/code/game/objects/items/weapons/st_equip.dm
  fray-marines/icons/mob/human/back.dmi
  fray-marines/icons/mob/human/items_lefthand_1.dmi
  fray-marines/icons/mob/human/items_righthand_1.dmi
  fray-marines/icons/mob/human/st_equip.dmi
  icons/obj/items/storage.dmi
Due: report:dmdoc

Automatic changelog compile [ci skip]
  html/changelogs/archive/2023-09.yml
Due: none

no more пустой прок
  fray-marines/modules/mob/living/simple_animal/hostile/alien.dm
Due: report:dmdoc

intel
  code/__DEFINES/mode.dm
Due: report:dmdoc

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-50.yml
  html/changelogs/archive/2023-09.yml
Due: none

fixes WY access to research
  code/game/machinery/doors/multi_tile.dm
Due: report:dmdoc

EZ инъекторы в паучи для тех морпехов кому спиздили скиллы
  code/game/machinery/vending/vendor_types/intelligence_officer.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_specialist.dm
  colonialmarines.dme
  fray-marines/code/game/objects/items/storage/pouch.dm
Due: report:dmdoc

twe is now humanoid again
  code/__DEFINES/mode.dm
Due: report:dmdoc

FACTION_TWE
  code/modules/admin/tabs/admin_tab.dm
Due: report:dmdoc

hhhh
  code/__DEFINES/mode.dm
Due: report:dmdoc

I think I got all the tags?
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
Due: report:map-changed-report

d
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
Due: report:map-changed-report

Hive weeds now look for a supporting structure
  code/modules/cm_aliens/weeds.dm
Due: report:dmdoc

оффы ебанулись в край и убрали скиллес инъекторы рядовым
  code/game/objects/items/storage/pouch.dm
Due: report:dmdoc

ddd
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
Due: report:map-changed-report

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-57.yml
  html/changelogs/archive/2023-09.yml
Due: none

removes powerloader
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
Due: report:map-changed-report

Fixing repair
  fray-marines/code/modules/vehicles/walker.dm
Due: report:dmdoc

Working Joe Announcement Removal (#4373)
  code/game/jobs/job/civilians/support/working_joe.dm
Due: report:dmdoc

Recalibrate limbs tweak (#4372)
  code/modules/surgery/robolimb_repair.dm
Due: report:dmdoc

Powerloader wreckage now can be attacked by xenos (#4371)
  code/modules/vehicles/powerloader.dm
Due: report:dmdoc

Firing flares into the air now produces light again (#4360)
  code/modules/projectiles/guns/flare_gun.dm
  code/modules/projectiles/guns/specialist.dm
  colonialmarines.dme
Due: report:dmdoc

Removes annoying and inaccurate to_chat from join response team menu (#4358)
  code/datums/emergency_calls/emergency_call.dm
Due: report:dmdoc

Fixes repeatable techs not having correct overlays (#4356)
  code/modules/cm_tech/techs/abstract/repeatable.dm
Due: report:dmdoc

End game timing changes (#4353)
  code/__DEFINES/xeno.dm
  code/controllers/subsystem/ticker.dm
  code/modules/cm_tech/techs/marine/tier4/nuke.dm
Due: report:dmdoc

Automatic changelog for PR #4373 [ci skip]
  html/changelogs/AutoChangeLog-pr-4373.yml
Due: none

Stops queen prying open lifeboat hatches (#4374)
  code/game/machinery/doors/multi_tile.dm
Due: report:dmdoc

TWE Tidy-up (#4367)
  code/datums/skills.dm
  code/modules/clothing/suits/marine_armor.dm
  code/modules/gear_presets/royal_marines.dm
  icons/mob/humans/onmob/suit_1.dmi
  icons/obj/items/clothing/cm_suits.dmi
Due: report:dmdoc

Project ARES: Release Gas Update (#4350)
  code/__DEFINES/atmospherics.dm
  code/__DEFINES/vv.dm
  code/game/objects/effects/effect_system/smoke.dm
  code/game/objects/items/explosives/grenades/marines.dm
  code/game/objects/structures/pipes/vents/vents.dm
  code/modules/mob/living/carbon/xenomorph/life.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:dmdoc, report:map-changed-report
