Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm

CR1
  code/controllers/subsystem/influxstats.dm
  code/game/machinery/nuclearbomb.dm
  code/game/machinery/telecomms/presets.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/defenses/sentry.dm
  code/modules/gear_presets/corpses.dm
  code/modules/gear_presets/survivors/fiorina_sciannex/riot_in_progress_insert_fiorina_nightmare.dm
  code/modules/gear_presets/survivors/lv_522/forcon_survivors.dm
  code/modules/gear_presets/survivors/lv_624/clfship_insert_lv624.dm
  code/modules/gear_presets/survivors/lv_624/corporate_dome_insert_lv624.dm
  code/modules/gear_presets/survivors/shivas_snowball/panic_room_insert_shivas.dm
  code/modules/gear_presets/survivors/solaris/crashlanding-offices_insert_bigred.dm
  code/modules/gear_presets/survivors/survivors.dm
  code/modules/gear_presets/survivors/trijent/crashlanding_upp_bar_insert_trijent.dm
  code/modules/gear_presets/synths.dm
Due: report:dmdoc

implement client control
  code/modules/mob/living/simple_animal/hostile/retaliate/giant_lizard.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
Due: report:dmdoc

Fixes list
  code/game/machinery/vending/vending_types.dm
Due: report:dmdoc

Update kit_boxes.dm
  code/modules/cm_marines/equipment/kit_boxes.dm
Due: report:dmdoc

CR3
  code/datums/factions/_modules/relations.dm
  code/datums/factions/faction.dm
  code/game/gamemodes/game_mode.dm
  code/modules/client/preferences.dm
Due: report:dmdoc

a2
  code/__DEFINES/statistic.dm
Due: report:dmdoc

a3
  code/__DEFINES/statistic.dm
Due: report:dmdoc

Fix attempt 2
  maps/map_files/FOP_v2_Cellblocks/Prison_Station_FOP.dmm
Due: report:map-changed-report

CR4/A
  code/datums/mob_hud.dm
  code/game/gamemodes/cm_process.dm
  code/game/gamemodes/colonialmarines/xenovsxeno.dm
  code/game/gamemodes/game_mode.dm
  code/game/jobs/job/antag/xeno/queen.dm
  code/game/jobs/job/antag/xeno/xenomorph.dm
  code/game/machinery/vending/vendor_types/antag/antag_guns_snowflake.dm
  code/game/machinery/vending/vendor_types/antag/antag_guns_sorted.dm
  code/game/objects/items/devices/defibrillator.dm
  code/game/objects/structures/window.dm
  code/game/verbs/records.dm
  code/modules/client/preferences.dm
  code/modules/cm_tech/implements/xeno_handler.dm
  code/modules/gear_presets/other.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/xenomorph/items/iff_tag.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/projectiles/guns/flamer/flamer.dm
  code/modules/projectiles/projectile.dm
  code/modules/round_recording/round_recorder.dm
  colonialmarines.dme
Due: report:dmdoc

Cool number count of problems mark passed
  code/datums/entities/player.dm
Due: report:dmdoc

Map fix
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

banana
  maps/map_files/FOP_v2_Cellblocks/Prison_Station_FOP.dmm
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
Due: report:map-changed-report

CR5 fuck it for now...
  code/__DEFINES/statistic.dm
  code/datums/entities/player.dm
  code/datums/medal_awards.dm
  code/datums/statistics/cause_data.dm
  code/datums/statistics/entities/death_stats.dm
  code/datums/statistics/entities/medal_stats.dm
  code/datums/statistics/entities/player_entity.dm
  code/datums/statistics/entities/player_stats.dm
  code/game/machinery/computer/dropship_weapons.dm
  code/game/machinery/computer/groundside_operations.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/stacks/flags.dm
  code/game/objects/items/tools/experimental_tools.dm
  code/game/supplyshuttle.dm
  code/modules/admin/tabs/event_tab.dm
  code/modules/mob/living/carbon/xenomorph/castes/Facehugger.dm
Due: report:dmdoc

Update code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
Due: report:dmdoc

upd
  code/game/objects/structures/barricade/folding.dm
  code/game/objects/structures/barricade/non_folding.dm
  colonialmarines.dme
Due: report:dmdoc

Fixes explosive implants (#6886)
  code/game/objects/items/implants/implant.dm
Due: report:dmdoc

Automatic changelog for PR #6886 [ci skip]
  html/changelogs/AutoChangeLog-pr-6886.yml
Due: none

Updates icon
  icons/obj/items/helmet_garb.dmi
Due: none

Accurately depicts the mine amount in box.
  code/game/machinery/vending/vendor_types/squad_prep/squad_engineer.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_leader.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_medic.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_rifleman.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_smartgunner.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_tl.dm
Due: report:dmdoc

failsafe
  code/modules/cm_tech/techtree.dm
  core_ru/code/modules/cm_tech/comms_income.dm
  core_ru/code/modules/cm_tech/techtree.dm
Due: report:dmdoc

last puuush
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
Due: report:map-changed-report

Reorders the Essential SG Kit
  code/modules/cm_marines/equipment/weapons.dm
Due: report:dmdoc

Automatic changelog for PR #6686 [ci skip]
  html/changelogs/AutoChangeLog-pr-6686.yml
Due: none

inc change
  code/modules/power/apc.dm
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
Due: report:dmdoc, report:map-changed-report

small map fixes
  maps/map_files/LV759_Hybrisa_Prospera/LV759_Hybrisa_Prospera.dmm
Due: report:map-changed-report

why do it exist
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
Due: report:map-changed-report

Shrapnel smooth movement [WIP] (#6821)
  code/datums/ammo/shrapnel.dm
  code/datums/autocells/explosion.dm
  code/game/objects/explosion_recursive.dm
  code/modules/projectiles/projectile.dm
Due: report:dmdoc

Automatic changelog for PR #6821 [ci skip]
  html/changelogs/AutoChangeLog-pr-6821.yml
Due: none

a
  code/modules/defenses/tesla_coil.dm
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
Due: report:dmdoc, report:map-changed-report

Update helmet_garb.dmi
  icons/obj/items/helmet_garb.dmi
Due: none

Update storage.dmi
  icons/obj/items/storage.dmi
Due: none

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-6686.yml
  html/changelogs/AutoChangeLog-pr-6786.yml
  html/changelogs/AutoChangeLog-pr-6821.yml
  html/changelogs/AutoChangeLog-pr-6886.yml
  html/changelogs/archive/2024-08.yml
Due: none

a
  code/controllers/configuration/entries/general.dm
  code/game/verbs/ooc.dm
  code/modules/mob/dead/observer/say.dm
  code/modules/mob/living/say.dm
  config/example/config.txt
  config/example/word_filter.txt
Due: report:dmdoc

UpdateTextPlusPatch
  code/datums/emergency_calls/solar_devils.dm
  code/modules/clothing/under/ties.dm
  icons/obj/items/clothing/ties.dmi
Due: report:dmdoc

swapped some areas color for visibility
  code/game/area/strata.dm
Due: report:dmdoc

regex
  code/modules/mob/living/say.dm
  config/example/word_filter.txt
Due: report:dmdoc
