Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

report:dmdoc:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies:
  - build:map-templates
  cache:
    key: dmdoc-${SPDMM_VERSION}
    paths:
    - dmdoc-bin
  script:
  - '[ -f dmdoc-bin ] || wget -O dmdoc-bin ${SPDMM_DOWNLOAD_URL}/dmdoc'
  - chmod u+x dmdoc-bin
  - ./dmdoc-bin
  artifacts:
    name: ci_dmdoc
  ...

report:map-changed-report:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies: []
  cache:
    key: dmm-tools-${SPDMM_VERSION}
    paths:
    - dmm-tools
  script:
  - CHANGED_MAP_FILES=`git diff-tree -r --diff-filter=d --name-only --no-commit-id ${CI_COMMIT_BEFORE_SHA}..${CI_COMMIT_SHA} maps/*.dmm`
  ...

a
  code/datums/ammo/ammo.dm
  code/datums/ammo/bullet/revolver.dm
  code/modules/projectiles/gun.dm
Due: report:dmdoc

Update Queen.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
Due: report:dmdoc

fixes vampire being able to headbite hugged marines
  code/modules/mob/living/carbon/xenomorph/abilities/lurker/lurker_powers.dm
Due: report:dmdoc

just check if it's hugged
  code/modules/mob/living/carbon/xenomorph/abilities/lurker/lurker_powers.dm
Due: report:dmdoc

early ret
  code/modules/mob/living/carbon/xenomorph/abilities/lurker/lurker_powers.dm
Due: report:dmdoc

adds z level check to cas signals
  code/game/machinery/computer/dropship_weapons.dm
Due: report:dmdoc

f
  code/game/machinery/computer/dropship_weapons.dm
Due: report:dmdoc

fixes trash cart giving req points
  code/game/objects/structures/crates_lockers/crates.dm
  code/game/supplyshuttle.dm
Due: report:dmdoc

Update xeno.dm
  code/_onclick/xeno.dm
Due: report:dmdoc

stupid crap blocking movement
  code/game/objects/structures/props.dm
Due: report:dmdoc

removed random line
  code/modules/mob/living/carbon/xenomorph/Evolution.dm
Due: report:dmdoc

update
  tgui/packages/tgui/styles/interfaces/BugReportForm.scss
Due: none

Fix expedited king ignoring votes
  code/modules/cm_aliens/XenoStructures.dm
Due: report:dmdoc

stuff
  code/modules/cm_aliens/hivebuffs/hivebuff.dm
  code/modules/mob/living/carbon/xenomorph/castes/King.dm
Due: report:dmdoc

Apply suggestions from code review
  code/modules/cm_aliens/XenoStructures.dm
Due: report:dmdoc

Update hivebuff.dm
  code/modules/cm_aliens/hivebuffs/hivebuff.dm
Due: report:dmdoc

a
  code/modules/cm_aliens/XenoStructures.dm
  code/modules/cm_aliens/hivebuffs/hivebuff.dm
  code/modules/mob/living/carbon/xenomorph/hive_status.dm
Due: report:dmdoc

Adds WY & UPP Sentries (#6327)
  code/datums/ammo/misc.dm
  code/game/machinery/sentry_holder.dm
  code/modules/defenses/defenses.dm
  code/modules/defenses/handheld.dm
  code/modules/defenses/planted_flag.dm
  code/modules/defenses/sentry.dm
  code/modules/defenses/sentry_flamer.dm
  code/modules/gear_presets/pmc.dm
  code/modules/gear_presets/upp.dm
  code/modules/projectiles/magazines/sentries.dm
  icons/obj/items/weapons/guns/ammo_by_faction/upp.dmi
  icons/obj/items/weapons/guns/ammo_by_faction/wy.dmi
  icons/obj/structures/machinery/defenses/upp_defenses.dmi
  icons/obj/structures/machinery/defenses/wy_defenses.dmi
  icons/obj/structures/machinery/defenses/wy_heavy.dmi
  icons/obj/structures/machinery/defenses/wy_static.dmi
Due: report:dmdoc

Resprite of Spearhead Revolver (#6440)
  icons/mob/humans/onmob/items_lefthand_1.dmi
  icons/mob/humans/onmob/items_righthand_1.dmi
  icons/obj/items/clothing/belts.dmi
  icons/obj/items/weapons/guns/guns_by_faction/colony.dmi
  icons/obj/items/weapons/guns/lineart.dmi
Due: none

Automatic changelog for PR #6327 [ci skip]
  html/changelogs/AutoChangeLog-pr-6327.yml
Due: none

Update XenoStructures.dm
  code/modules/cm_aliens/XenoStructures.dm
Due: report:dmdoc

Automatic changelog for PR #6440 [ci skip]
  html/changelogs/AutoChangeLog-pr-6440.yml
Due: none

bumps size of stickyban database field
  code/datums/entities/player_sticky_ban.dm
Due: report:dmdoc

Replaces the ARC interior & ARC tweaks (#6383)
  code/datums/ammo/bullet/arc.dm
  code/game/machinery/computer/groundside_operations.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/modules/almayer/machinery.dm
  code/modules/cm_marines/overwatch.dm
  code/modules/objectives/objective_memory_storage.dm
  code/modules/shuttle/shuttle_rotate.dm
  code/modules/vehicles/arc/arc.dm
  code/modules/vehicles/arc/interior.dm
  code/modules/vehicles/interior/interior_landmarks.dm
  colonialmarines.dme
  icons/obj/vehicles/arc.dmi
  icons/obj/vehicles/interiors/arc.dmi
  icons/obj/vehicles/interiors/arc_chassis.dmi
  maps/interiors/arc.dmm
Due: report:dmdoc, report:map-changed-report

Fixes admins not being able to award queens (#6445)
  code/datums/medal_awards.dm
Due: report:dmdoc

Automatic changelog for PR #6383 [ci skip]
  html/changelogs/AutoChangeLog-pr-6383.yml
Due: none

Automatic changelog for PR #6445 [ci skip]
  html/changelogs/AutoChangeLog-pr-6445.yml
Due: none

Pyro spec kit now autolinks tank and flamer (#6437)
  code/game/objects/items/storage/large_holster.dm
  code/game/objects/items/storage/storage.dm
  code/modules/cm_marines/equipment/kit_boxes.dm
Due: report:dmdoc

gives small pistol mag pouch a reason to exist (#6374)
  code/game/objects/items/storage/pouch.dm
  icons/obj/items/clothing/pouches.dmi
Due: report:dmdoc

Automatic changelog for PR #6437 [ci skip]
  html/changelogs/AutoChangeLog-pr-6437.yml
Due: none

preview sticks around after screen is cleared (#6396)
  code/modules/mob/new_player/preferences_setup.dm
Due: report:dmdoc

Automatic changelog for PR #6374 [ci skip]
  html/changelogs/AutoChangeLog-pr-6374.yml
Due: none

Adds some missing objectives to xeno tutorial basic (#6448)
  code/datums/tutorial/xenomorph/xenomorph_basic.dm
Due: report:dmdoc

Automatic changelog for PR #6396 [ci skip]
  html/changelogs/AutoChangeLog-pr-6396.yml
Due: none

Fax machine sfx preference (#6446)
  code/__DEFINES/__game.dm
  code/game/machinery/fax_machine.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/client/preferences_toggles.dm
Due: report:dmdoc

Automatic changelog for PR #6448 [ci skip]
  html/changelogs/AutoChangeLog-pr-6448.yml
Due: none

Automatic changelog for PR #6446 [ci skip]
  html/changelogs/AutoChangeLog-pr-6446.yml
Due: none

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm
