Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm

supply drops, cleanup
  code/__DEFINES/mode.dm
  code/game/gamemodes/colonialmarines/hunter_games.dm
  code/game/gamemodes/colonialmarines/hunter_games/hunter_games_objects.dm
  code/modules/mob/dead/observer/observer.dm
Due: report:dmdoc

more cleanup
  code/__DEFINES/__game.dm
  code/__DEFINES/job.dm
  code/__DEFINES/origins.dm
  code/_globalvars/lists/mapping_globals.dm
  code/game/gamemodes/colonialmarines/hunter_games/hunter_games_landmarks.dm
  code/game/gamemodes/colonialmarines/hunter_games/hunter_games_skills.dm
Due: report:dmdoc

remove mode from unsupported maps
  maps/corsat.json
  maps/desert_dam.json
  maps/fiorina_sciannex.json
  maps/ice_colony_v2.json
  maps/kutjevo.json
  maps/lv522_chances_claim.json
  maps/lv759_hybrisa_prospera.json
  maps/new_varadero.json
  maps/prison_station_fop.json
  maps/sorokyne_strata.json
Due: none

remove upp sadar and GL spec belt from soro (#9767)
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
  maps/map_files/Sorokyne_Strata/standalone/sof_insert_supplyship.dmm
Due: report:map-changed-report

Fixup maps in TGM format
  maps/map_files/DesertDam/standalone/clfpods.dmm
Due: report:map-changed-report

conflicts
  code/modules/gear_presets/corpses.dm
  code/modules/gear_presets/survivors/trijent/preset_trijent.dm
Due: report:dmdoc

area changes
  code/game/area/DesertDam.dm
  maps/map_files/DesertDam/standalone/clfpods.dmm
Due: report:dmdoc, report:map-changed-report

apcs
  maps/map_files/DesertDam/Desert_Dam.dmm
Due: report:map-changed-report

double barrels merge conflict
  code/game/objects/effects/spawners/random.dm
  maps/map_files/DesertDam/engicheckpoint/10.destroyed.dmm
  maps/map_files/DesertDam/standalone/barhold.dmm
Due: report:dmdoc, report:map-changed-report

review
  code/__DEFINES/dcs/signals/atom/signals_obj.dm
  code/game/machinery/computer/arcade.dm
Due: report:dmdoc

Update code/game/machinery/computer/arcade.dm
  code/game/machinery/computer/arcade.dm
Due: report:dmdoc

Update code/modules/projectiles/guns/specialist/launcher/rocket_launcher.dm
  code/modules/projectiles/guns/specialist/launcher/rocket_launcher.dm
Due: report:dmdoc

M6H-BRUTE (#9310)
  code/datums/ASRS.dm
  code/datums/ammo/rocket.dm
  code/datums/ammo/shrapnel.dm
  code/datums/supply_packs/ammo.dm
  code/datums/supply_packs/explosives.dm
  code/datums/supply_packs/weapons.dm
  code/datums/tutorial/marine/reqs_line.dm
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_engineer.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
  code/game/objects/items/storage/large_holster.dm
  code/game/turfs/walls/walls.dm
  code/modules/clothing/head/helmet.dm
  code/modules/cm_marines/equipment/kit_boxes.dm
  code/modules/projectiles/guns/specialist/launcher/rocket_launcher.dm
  code/modules/projectiles/magazines/specialist.dm
  icons/effects/Targeted.dmi
  icons/effects/beam.dmi
  icons/mob/humans/onmob/clothing/back/backpacks_by_faction/UA.dmi
  icons/mob/humans/onmob/inhands/weapons/guns/rocket_launchers_lefthand.dmi
  icons/mob/humans/onmob/inhands/weapons/guns/rocket_launchers_righthand.dmi
  icons/obj/items/clothing/backpack/backpacks_by_faction/UA.dmi
  icons/obj/items/clothing/belts/holstered_guns.dmi
  icons/obj/items/weapons/guns/ammo_by_faction/USCM/rocket_launchers.dmi
  icons/obj/items/weapons/guns/guns_by_faction/USCM/rocket_launchers.dmi
  icons/obj/items/weapons/guns/lineart.dmi
  icons/obj/items/weapons/projectiles.dmi
Due: report:dmdoc

caves being fleshed out. Also smol lizzer
  maps/map_files/LV624/LV624.dmm
Due: report:map-changed-report

FinalTouchesPart1
  maps/map_files/Tyrargo_Rift/Tyrargo_Rift.dmm
Due: report:map-changed-report

OneUPPColour
  tgui/packages/tgui-say/styles/colors.scss
Due: none

DrathekRidesAgain
  code/modules/client/preferences.dm
  code/modules/mob/language/language_handling.dm
  code/modules/mob/living/carbon/human/say.dm
  code/modules/mob/login.dm
  code/modules/tgui/tgui-say/modal.dm
  tgui/packages/tgui-say/TguiSay.tsx
Due: report:dmdoc

Adds JTAC radio kit instead of breacher.
  code/game/machinery/vending/vendor_types/squad_prep/squad_leader.dm
Due: report:dmdoc

...INeedThat
  tgui/packages/tgui-say/styles/colors.scss
Due: none

Added terrain-specific versions of rain covers, helmet nettings, and boots to the loadout.
  code/game/objects/items/props/helmetgarb.dm
  code/modules/client/preferences_gear.dm
  code/modules/clothing/shoes/marine_shoes.dm
  icons/obj/items/clothing/helmet_garb.dmi
Due: report:dmdoc

adds the faction group to code rather then var edit.
  code/modules/defenses/sentry.dm
Due: report:dmdoc

Remove max youngblood time timelock (#344)
  code/datums/emergency_calls/pred_hunt/hunting_calls.dm
Due: report:dmdoc

removes faction var edits.
  maps/map_files/BigRed/standalone/clfmining.dmm
  maps/map_files/DesertDam/standalone/clfpods.dmm
  maps/map_files/Ice_Colony_v3/standalone/clfraid.dmm
  maps/map_files/Kutjevo/standalone/clfsmugglers.dmm
  maps/map_files/LV624/standalone/clfship.dmm
  maps/map_files/New_Varadero/standalone/clfraid.dmm
  maps/map_files/Sorokyne_Strata/standalone/clfcamp.dmm
Due: report:map-changed-report

hybrisa
  maps/map_files/LV759_Hybrisa_Prospera/standalone/clfspaceport.dmm
Due: report:map-changed-report

Fixup maps in TGM format
  maps/map_files/Kutjevo/standalone/clfsmugglers.dmm
Due: report:map-changed-report

temp debug
  code/modules/movement/movement.dm
Due: report:dmdoc

movement change revert
  code/modules/movement/movement.dm
Due: report:dmdoc

spawn them here
  code/modules/client/client_procs.dm
Due: report:dmdoc

woopsies
  code/modules/mob/living/carbon/xenomorph/abilities/general_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/queen/queen_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/queen/queen_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
Due: report:dmdoc

removes paramedic from LV and gives default paramedic skills instead. Also adds unique survivor to NV.
  code/modules/gear_presets/survivors/lv_624/preset_lv.dm
  maps/lv624.json
  maps/new_varadero.json
Due: report:dmdoc

it compiles!
  code/modules/mob/living/carbon/xenomorph/abilities/general_abilities.dm
Due: report:dmdoc

Update royal_marines.dm
  code/modules/gear_presets/royal_marines.dm
Due: report:dmdoc

MinorChangesPart2
  maps/map_files/Tyrargo_Rift/Tyrargo_Rift.dmm
Due: report:map-changed-report

Adds sterile mask to character set up menu (#9763)
  code/modules/client/preferences_gear.dm
Due: report:dmdoc

touchups
  code/modules/mob/unauthenticated/unauthenticated.dm
Due: report:dmdoc

acid spray immediate cast
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_abilities.dm
Due: report:dmdoc

Fix 2
  icons/obj/items/weapons/guns/lineart.dmi
Due: none

Apply suggestions from code review
  code/modules/mob/living/carbon/xenomorph/say.dm
  tgui/packages/tgui-say/helpers.ts
Due: report:dmdoc

MoveUpVarPrefix
  code/modules/mob/living/carbon/xenomorph/say.dm
Due: report:dmdoc

Language prefix to '!', Minor ReOrg of related lists, Provost to '#l', pass prefixes as lowercase, Remove uppercase instances. + Misc. (#9804)
  code/_globalvars/global_lists.dm
  code/modules/client/preferences.dm
  code/modules/mob/language/language_handling.dm
  code/modules/mob/language/languages.dm
  code/modules/mob/living/carbon/human/say.dm
  code/modules/mob/living/carbon/human/whisper.dm
  code/modules/mob/living/carbon/xenomorph/say.dm
  code/modules/mob/living/say.dm
  code/modules/mob/living/silicon/say.dm
  code/modules/mob/login.dm
  code/modules/mob/say.dm
  code/modules/tgui/tgui-say/modal.dm
  tgui/packages/tgui-say/TguiSay.tsx
  tgui/packages/tgui-say/constants.ts
  tgui/packages/tgui-say/helpers.ts
  tgui/packages/tgui-say/styles/colors.scss
  tgui/packages/tgui/constants.ts
  tgui/packages/tgui/interfaces/LanguageMenu.tsx
Due: report:dmdoc
