Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm

516 UI fixies
  tgui/packages/tgui/interfaces/FlightComputer.tsx
Due: none

try try try again?
  code/game/machinery/ARES/ARES_interface_data.dm
Due: report:dmdoc

style fixes
  code/datums/tutorial/marine/hospital_corpsman_sandbox.dm
  code/modules/mob/living/carbon/human/human_dummy.dm
Due: report:dmdoc

no more istype(src
  code/game/objects/items.dm
  code/game/objects/items/stacks/repairables_craftables.dm
  code/modules/mob/living/carbon/xenomorph/attack_alien.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/gun_helpers.dm
Due: report:dmdoc

snake case issue
  code/modules/mob/living/carbon/xenomorph/attack_alien.dm
Due: report:dmdoc

FinishedCityPlusWesternStart
  maps/map_files/Tyrargo_Rift/Tyrargo_Rift.dmm
Due: report:map-changed-report

fix compile
  code/modules/mob/living/carbon/human/death.dm
Due: report:dmdoc

climbing tweeks
  code/game/turfs/closed.dm
Due: report:dmdoc

checks correct location
  code/game/turfs/closed.dm
  code/modules/gear_presets/survivors/navalis/preset_navalis.dm
  icons/ui_icons/map_blips.dmi
Due: report:dmdoc

init
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  code/modules/mob/living/carbon/xenomorph/death.dm
  code/modules/mob/living/carbon/xenomorph/hive_status.dm
Due: report:dmdoc

I fucked up
  code/modules/gear_presets/survivors/navalis/preset_navalis.dm
Due: report:dmdoc

same my soul
  icons/ui_icons/map_blips.dmi
Due: none

Update clfship_insert_lv624.dm
  code/modules/gear_presets/survivors/lv_624/clfship_insert_lv624.dm
Due: report:dmdoc

Inverts multi pill bottle filling to opt in + Fixes (#8543)
  code/modules/reagents/chemistry_machinery/chem_master.dm
  tgui/packages/tgui/interfaces/ChemMaster.tsx
Due: report:dmdoc

rare item wip
  code/__DEFINES/dcs/signals/signals_moba.dm
  code/__DEFINES/xeno.dm
  code/datums/components/moba/moba_player.dm
  code/datums/components/moba/moba_vampire_execute_tracker.dm
  code/datums/moba/castes/drone.dm
  code/datums/moba/castes/vampire.dm
  code/datums/moba/items/_item.dm
  code/datums/moba/items/rare.dm
  code/datums/moba/moba_player.dm
  code/datums/status_effects/debuffs/acid_neutralized.dm
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
  colonialmarines.dme
Due: report:dmdoc

NewTreesNewWesternZone
  code/game/objects/structures/flora.dm
  icons/obj/structures/props/natural/vegetation/tyrargo_dead_trees.dmi
  icons/obj/structures/props/natural/vegetation/tyrargo_pine_tree.dmi
  maps/map_files/Tyrargo_Rift/Tyrargo_Rift.dmm
  maps/tyrargo_rift.json
Due: report:dmdoc, report:map-changed-report

map
  maps/templates/lazy_templates/fax_responder_base.dmm
Due: report:map-changed-report

screen position fix
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

work
  code/__DEFINES/dcs/signals/atom/signals_atom.dm
  code/datums/components/moba/moba_player.dm
  code/datums/moba/items/rare.dm
  code/datums/status_effects/buffs/furious_haste.dm
  code/modules/projectiles/projectile.dm
  colonialmarines.dme
Due: report:dmdoc

fixes
  code/game/objects/items/stacks/repairables_craftables.dm
  code/modules/projectiles/ammunition.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/gun_helpers.dm
  code/modules/projectiles/guns/boltaction.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/pistols.dm
  code/modules/projectiles/guns/revolvers.dm
  code/modules/projectiles/guns/rifles.dm
  code/modules/projectiles/guns/shotguns.dm
  code/modules/projectiles/guns/smartgun.dm
  code/modules/projectiles/guns/smgs.dm
  code/modules/projectiles/guns/specialist/scout.dm
  code/modules/projectiles/guns/specialist/sniper.dm
Due: report:dmdoc

No engineer lights either Minor refactoring
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
Due: report:dmdoc

trial fix
  code/game/objects/effects/landmarks/landmarks.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  maps/templates/lazy_templates/fax_responder_base.dmm
Due: report:dmdoc, report:map-changed-report

unshittifies more code
  code/__DEFINES/conflict.dm
  code/game/objects/items/stacks/repairables_craftables.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/gun_helpers.dm
  code/modules/projectiles/guns/smartgun.dm
Due: report:dmdoc

deshittify again
  code/__DEFINES/conflict.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/smartgun.dm
Due: report:dmdoc

this was a pain
  code/_globalvars/lists/names.dm
  strings/first_female_pmc.txt
  strings/first_male_pmc.txt
  strings/last_pmc.txt
Due: report:dmdoc

.
  code/datums/vehicles.dm
  code/modules/vehicles/blackfoot/blackfoot.dm
  code/modules/vehicles/blackfoot/interior.dm
  icons/obj/structures/props/stationobjs.dmi
  icons/obj/vehicles/interiors/blackfoot_64x64.dmi
  maps/interiors/blackfoot_doorgun.dmm
Due: report:dmdoc, report:map-changed-report

new sprites by wei (:
  code/__DEFINES/moba.dm
  code/datums/components/moba/moba_death_reward.dm
  code/datums/components/moba/moba_obj_destroyed_reward.dm
  code/datums/moba/castes/drone.dm
  code/datums/moba/map/hive_core.dm
  code/datums/moba/map/turret.dm
  code/datums/moba/moba_controller.dm
  code/datums/moba/moba_hive.dm
  colonialmarines.dme
  icons/effects/beam.dmi
  icons/obj/structures/alien/structures64x96.dmi
  icons/obj/structures/alien/structures96x96.dmi
Due: report:dmdoc

these shitty xeno devs have done it yet again
  code/datums/ammo/bullet/shotgun.dm
Due: report:dmdoc

doorgun offsets and sprites
  code/modules/vehicles/blackfoot/blackfoot.dm
  icons/obj/vehicles/blackfoot.dmi
  icons/obj/vehicles/interiors/blackfoot.dmi
  icons/obj/vehicles/interiors/blackfoot_64x64.dmi
  maps/interiors/blackfoot_doorgun.dmm
Due: report:dmdoc, report:map-changed-report

adds cassette player sprites
  icons/obj/vehicles/interiors/blackfoot.dmi
Due: none

NorthWestLZ
  code/game/objects/structures/tyrargo_props.dm
  maps/map_files/Tyrargo_Rift/Tyrargo_Rift.dmm
  maps/tyrargo_rift.json
Due: report:dmdoc, report:map-changed-report

FIXTHISSHITMOV
  code/modules/mob/living/carbon/human/examine.dm
Due: report:dmdoc

Added Urban/Snow variants for M70B1 light flak jacket and the tactical pilot officer flightsuit.
  code/game/machinery/vending/vendor_types/crew/pilot_officer.dm
  code/game/objects/structures/crates_lockers/closets/secure/cm_closets.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/marine_coat.dm
  code/modules/clothing/under/marine_uniform.dm
  code/modules/gear_presets/uscm_ship.dm
  icons/mob/humans/onmob/clothing/suits/suits_by_faction/UA.dmi
  icons/mob/humans/onmob/clothing/suits/suits_by_map/classic.dmi
  icons/mob/humans/onmob/clothing/suits/suits_by_map/desert.dmi
  icons/mob/humans/onmob/clothing/suits/suits_by_map/jungle.dmi
  icons/mob/humans/onmob/clothing/suits/suits_by_map/snow.dmi
  icons/mob/humans/onmob/clothing/suits/suits_by_map/urban.dmi
  icons/mob/humans/onmob/clothing/uniforms/uniforms_by_faction/UA.dmi
  icons/mob/humans/onmob/clothing/uniforms/uniforms_by_map/classic.dmi
  icons/mob/humans/onmob/clothing/uniforms/uniforms_by_map/desert.dmi
  icons/mob/humans/onmob/clothing/uniforms/uniforms_by_map/jungle.dmi
  icons/mob/humans/onmob/clothing/uniforms/uniforms_by_map/snow.dmi
  icons/mob/humans/onmob/clothing/uniforms/uniforms_by_map/urban.dmi
  icons/obj/items/clothing/suits/suits_by_faction/UA.dmi
  icons/obj/items/clothing/suits/suits_by_map/classic.dmi
  icons/obj/items/clothing/suits/suits_by_map/desert.dmi
  icons/obj/items/clothing/suits/suits_by_map/jungle.dmi
  icons/obj/items/clothing/suits/suits_by_map/snow.dmi
  icons/obj/items/clothing/suits/suits_by_map/urban.dmi
  icons/obj/items/clothing/uniforms/uniforms_by_faction/UA.dmi
  icons/obj/items/clothing/uniforms/uniforms_by_map/classic.dmi
  icons/obj/items/clothing/uniforms/uniforms_by_map/desert.dmi
  icons/obj/items/clothing/uniforms/uniforms_by_map/jungle.dmi
  icons/obj/items/clothing/uniforms/uniforms_by_map/snow.dmi
  icons/obj/items/clothing/uniforms/uniforms_by_map/urban.dmi
Due: report:dmdoc

some descriptions for moduels
  code/modules/vehicles/blackfoot/blackfoot.dm
  code/modules/vehicles/hardpoints/primary/chimera_launchers.dm
  code/modules/vehicles/hardpoints/support/sensor_array.dm
  code/modules/vehicles/hardpoints/wheels/blackfoot_thrusters.dm
Due: report:dmdoc

fixes tug layering and hangar mapping stuff
  code/modules/vehicles/blackfoot/blackfoot.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:dmdoc, report:map-changed-report

Code clean up
  code/modules/clothing/suits/armor.dm
Due: report:dmdoc

Also do all this stuff
  code/modules/mob/living/carbon/human/examine.dm
Due: report:dmdoc

fix runtime
  code/datums/balloon_alerts/balloon_alerts.dm
  code/game/objects/items/stacks/repairables_craftables.dm
  code/modules/projectiles/gun_helpers.dm
Due: report:dmdoc

Whoopsie
  code/modules/mob/living/carbon/human/examine.dm
Due: report:dmdoc
