Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm

door fix
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

mapping
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Mistake fixes, dirt mud border fix
  code/game/turfs/soro.dm
  maps/map_files/LV624/LV624.dmm
Due: report:dmdoc, report:map-changed-report

more dirtmud border fixes
  code/game/turfs/soro.dm
Due: report:dmdoc

changed mapping
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

updated map with new dirtmud borders
  maps/map_files/LV624/LV624.dmm
Due: report:map-changed-report

Misnamed button fix
  maps/map_files/LV624/LV624.dmm
Due: report:map-changed-report

2nd misnamed button
  maps/map_files/LV624/LV624.dmm
Due: report:map-changed-report

clipping issue
  maps/map_files/LV624/LV624.dmm
Due: report:map-changed-report

Door bugfix
  maps/map_files/LV624/LV624.dmm
Due: report:map-changed-report

Door fix number 2
  maps/map_files/LV624/LV624.dmm
Due: report:map-changed-report

fixed welded door errors
  maps/map_files/LV624/LV624.dmm
Due: report:map-changed-report

adds pharmaceutical physician gear to chemistry wardrobe
  code/game/machinery/vending/vendor_types/crew/medical.dm
  code/game/objects/items/storage/pouch.dm
  code/game/objects/structures/crates_lockers/closets/secure/cm_closets.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/game/objects/structures/crates_lockers/closets/wardrobe.dm
  code/modules/clothing/under/jobs/medsci.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:dmdoc, report:map-changed-report

Fixed chair layer mistake
  maps/map_files/LV624/LV624.dmm
Due: report:map-changed-report

Fixed more layering issues.
  maps/map_files/LV624/LV624.dmm
Due: report:map-changed-report

Final layer bugfixes
  maps/map_files/LV624/LV624.dmm
Due: report:map-changed-report

Actually the final layer bugfix
  maps/map_files/LV624/LV624.dmm
Due: report:map-changed-report

handrail fix
  maps/map_files/LV624/LV624.dmm
Due: report:map-changed-report

corpo apartment labels and bedsheets
  maps/map_files/LV624/LV624.dmm
Due: report:map-changed-report

Okay I actually definitely fixed it this time
  maps/map_files/LV624/LV624.dmm
Due: report:map-changed-report

Purge of old incompatible nightmare inserts
  maps/map_files/LV624/LV624.dmm
  maps/map_files/LV624/armory/10.cheese.dmm
  maps/map_files/LV624/armory/10.extra.dmm
  maps/map_files/LV624/armory/10.looted.dmm
  maps/map_files/LV624/cargospecial/cargospecial1_mines.dmm
  maps/map_files/LV624/cargospecial/cargospecial2_weapons.dmm
  maps/map_files/LV624/cargospecial/cargospecial3_gear.dmm
  maps/map_files/LV624/centralcaves/10.T.dmm
  maps/map_files/LV624/centralcaves/10.qc.dmm
  maps/map_files/LV624/crashedship/10.digsite.dmm
  maps/map_files/LV624/crashedship/10.swapped.dmm
  maps/map_files/LV624/gym/20.pool.dmm
  maps/map_files/LV624/gym/30.alternate.dmm
  maps/map_files/LV624/hydro/30.destroyed.dmm
  maps/map_files/LV624/maintemple/1.intact.dmm
  maps/map_files/LV624/maintemple/2.flooded.dmm
  maps/map_files/LV624/medbay/10.destroyed.dmm
  maps/map_files/LV624/medbay/30.larvasurgery.dmm
  maps/map_files/LV624/science/10.yautja.dmm
  maps/map_files/LV624/science/40.fullylocked.dmm
  maps/map_files/LV624/sprinkles/20.lz-containers_swapped.dmm
  maps/map_files/LV624/sprinkles/30.nexuscenter_barricaded.dmm
  maps/map_files/LV624/standalone/clfship.dmm
  maps/map_files/LV624/standalone/corporatedome.dmm
  maps/map_files/LV624/standalone/landingzone_624_upp_lz1.dmm
  maps/map_files/LV624/standalone/landingzone_624_uscm_lz1.dmm
  maps/map_files/LV624/standalone/laststand.dmm
  maps/map_files/LV624/standalone/leftsidepass.dmm
  maps/map_files/LV624/standalone/lv-bridge-east.dmm
  maps/map_files/LV624/standalone/lv-bridge-nofog.dmm
  maps/map_files/LV624/standalone/rightsidepass.dmm
  maps/map_files/LV624/standalone/sandtemple-jungle.dmm
  maps/map_files/LV624/standalone/sandtemple-se.dmm
  maps/map_files/LV624/storage-crashed-ship/10.armorystorage.dmm
  maps/map_files/LV624/storage-crashed-ship/10.valuables.dmm
Due: report:map-changed-report

Major lighting fixes and additions
  maps/map_files/LV624/LV624.dmm
Due: report:map-changed-report

Minor tweaks from feedback
  maps/map_files/LV624/LV624.dmm
Due: report:map-changed-report

i forgor to push
  icons/mob/xenos/castes/tier_4/queen.dmi
Due: none

Disables undershirt/wear camo variants that do not match the current map
  code/modules/mob/new_player/sprite_accessories/undershirt.dm
  code/modules/mob/new_player/sprite_accessories/underwear.dm
  icons/mob/humans/underwear.dmi
Due: report:dmdoc

Fixed .dme file issue and other map tweaks
  colonialmarines.dme
  maps/map_files/LV624/LV624.dmm
Due: report:map-changed-report

weedkiller areas
  code/game/area/LV624.dm
Due: report:dmdoc

fix on weedkillers
  code/game/area/LV624.dm
Due: report:dmdoc

added hybrisa sidewalk corner subtypes
  code/game/turfs/hybrisa.dm
Due: report:dmdoc

Many linters fixes
  maps/map_files/LV624/LV624.dmm
Due: report:map-changed-report

More linters and duplicates fixes
  maps/map_files/LV624/LV624.dmm
Due: report:map-changed-report

sky blue scrubs and caps are a bit darker now
  icons/mob/humans/onmob/clothing/head/surgical_caps.dmi
  icons/mob/humans/onmob/clothing/uniforms/uniforms_by_department/medical.dmi
  icons/obj/items/clothing/hats/surgical_caps.dmi
  icons/obj/items/clothing/uniforms/uniforms_by_department/medical.dmi
Due: none

freezer fixes, I hope
  maps/map_files/LV624/LV624.dmm
Due: report:map-changed-report

Final linters fixes and removed freezer for now
  maps/map_files/LV624/LV624.dmm
Due: report:map-changed-report

re-adding to fix conflict. Delete later.
  maps/map_files/LV624/maintemple/1.intact.dmm
Due: report:map-changed-report

Farewell once more, file
  maps/map_files/LV624/maintemple/1.intact.dmm
Due: report:map-changed-report

fog create and destroy
  code/datums/weather/weather_events/lv624.dm
Due: report:dmdoc

just empting the files
  maps/Nightmare/maps/LV624/mapgen_variations.json
  maps/Nightmare/maps/LV624/nightmare.json
  maps/Nightmare/maps/LV624/scenario.json
Due: none

hm
  maps/Nightmare/maps/LV624/nightmare.json
Due: none

now
  maps/Nightmare/maps/LV624/nightmare.json
Due: none
