Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm

fixes
  code/modules/hydroponics/hydro_tray.dm
Due: report:dmdoc

conflicts
  code/_globalvars/global_lists.dm
Due: report:dmdoc

Add timelock for JOB_POLICE_ROLES in executive officer
  code/game/jobs/job/command/cic/executive.dm
Due: report:dmdoc

fixes some disposal pipes
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Ready for PRing
  code/datums/emergency_calls/solar_devils.dm
  maps/templates/lazy_templates/ert_station_test.dmm
  maps/templates/lazy_templates/solar_devils_ert_station.dmm
Due: report:dmdoc, report:map-changed-report

D05M01S02
  maps/map_files/OilRig/testbed.dmm
Due: report:map-changed-report

dsafojh dsafouy
  code/__DEFINES/__game.dm
  code/modules/client/preferences_savefile.dm
Due: report:dmdoc

sprite fix
  icons/obj/items/hunter/prey_items.dmi
Due: none

new reporter office
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

yeahg
  code/__DEFINES/gamemode.dm
  code/datums/statistics/entities/round_caste_picks.dm
  code/datums/statistics/entities/round_stats.dm
  code/game/gamemodes/cm_process.dm
  code/modules/mob/living/carbon/xenomorph/Evolution.dm
  colonialmarines.dme
Due: report:dmdoc

undos this
  code/datums/statistics/entities/round_stats.dm
Due: report:dmdoc

good catch fira
  code/datums/statistics/entities/xeno_death.dm
Due: report:dmdoc

small fixes
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Fixes absurdly high item weight in arcade machines (#8268)
  code/game/machinery/computer/arcade.dm
Due: report:dmdoc

removal of some redundant walls
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

CBRN closet for the new room in engineering
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
  icons/obj/structures/closet.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:dmdoc, report:map-changed-report

small whoopsie
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
Due: report:dmdoc

removed 1 mopp suit for balance
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

air pipe
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

use angles instead
  code/datums/ammo/rocket.dm
  code/game/objects/items/explosives/explosive.dm
  code/game/objects/items/explosives/mine.dm
  code/game/objects/items/explosives/plastic.dm
  code/game/objects/items/explosives/warhead.dm
  code/game/objects/shrapnel.dm
  code/modules/reagents/Chemistry-Holder.dm
Due: report:dmdoc

Locks 2 CBRN suits behind CO only access
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

more sprite changes, map changes
  code/game/objects/items/weapons/blades.dm
  code/game/objects/structures/hunter_props.dm
  icons/mob/humans/onmob/inhands/weapons/melee/shields_lefthand.dmi
  icons/mob/humans/onmob/inhands/weapons/melee/shields_righthand.dmi
  icons/mob/humans/onmob/inhands/weapons/melee/swords_lefthand.dmi
  icons/mob/humans/onmob/inhands/weapons/melee/swords_righthand.dmi
  icons/obj/structures/props/hunter/32x32-hunter_props.dmi
  icons/obj/structures/props/ice_colony/Tiger_Rugs.dmi
  maps/predship/huntership.dmm
Due: report:dmdoc, report:map-changed-report

added decon showers to cbrn room as fluff
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

cyrillic char filter (#13)
  code/modules/mob/living/say.dm
  config/example/admin_ranks.txt
Due: report:dmdoc

Xeno deaths are now tracked in the DB (#8257)
  code/datums/statistics/entities/round_stats.dm
  code/datums/statistics/entities/xeno_death.dm
  code/modules/mob/living/carbon/xenomorph/Embryo.dm
  code/modules/mob/living/carbon/xenomorph/Evolution.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/death.dm
  colonialmarines.dme
Due: report:dmdoc

AAAAAAAAAAAAAAAAAAAAA
  code/datums/statistics/entities/xeno_death.dm
Due: report:dmdoc

D05M01S03
  code/game/objects/structures/hybrisa_props.dm
  code/game/turfs/floor_types.dm
  icons/obj/structures/props/hybrisa/grates.dmi
  maps/map_files/OilRig/testbed.dmm
Due: report:dmdoc, report:map-changed-report

Adds three quarters nvg for ghosts and xenos (#8262)
  code/__DEFINES/lighting.dm
  code/__DEFINES/misc.dm
  code/__DEFINES/xeno.dm
  code/_onclick/hud/screen_objects.dm
  code/datums/diseases/black_goo.dm
  code/game/camera_manager/camera_manager.dm
  code/game/cas_manager/datums/cas_fire_envelope.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/clothing/glasses/meson.dm
  code/modules/clothing/glasses/night.dm
  code/modules/clothing/glasses/thermal.dm
  code/modules/cm_tech/implements/implants.dm
  code/modules/gear_presets/other.dm
  code/modules/mob/camera/imaginary_friend.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/human/powers/human_powers.dm
  code/modules/mob/living/carbon/human/species/synthetic.dm
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/giant_lizard.dm
  icons/mob/hud/alien_standard.dmi
Due: report:dmdoc

address sprite concern
  code/modules/projectiles/gun_attachables.dm
  icons/obj/items/weapons/guns/attachments/barrel.dmi
Due: report:dmdoc

Replaces placeholder rats with real rats (#8274)
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  maps/templates/lazy_templates/fax_responder_base.dmm
Due: report:dmdoc, report:map-changed-report

Update code/game/gamemodes/cm_initialize.dm
  code/game/gamemodes/cm_initialize.dm
Due: report:dmdoc

D05M01S04
  maps/map_files/OilRig/testbed.dmm
Due: report:map-changed-report

Cyrillic speech filter (#16)
  code/controllers/configuration/configuration.dm
  code/modules/mob/living/say.dm
  modular/modular.dme
  modular/speech_filter/_speech_filter.dm
  modular/speech_filter/_speech_filter.dme
  modular/speech_filter/code/speech_filter.dm
Due: report:dmdoc

init
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/xenomorph/XenoAttacks.dm
Due: report:dmdoc

D05M01S05
  maps/map_files/OilRig/testbed.dmm
Due: report:map-changed-report

Apply suggestions from code review
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/xenomorph/XenoAttacks.dm
Due: report:dmdoc

no more fortune seeing
  code/modules/paperwork/paper.dm
Due: report:dmdoc

Welcome Translate (#17)
  code/controllers/subsystem/ticker.dm
  config/example/motd.txt
Due: report:dmdoc

why
  code/modules/paperwork/paper.dm
Due: report:dmdoc
