Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm

works with the CDN.
  code/game/objects/items/tools/misc_tools.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/paperwork/paper.dm
  code/modules/paperwork/prefab_papers.dm
  code/modules/paperwork/prefab_papers/provost/apology_notice.dm
  code/modules/paperwork/prefab_papers/provost/appeal_form.dm
  code/modules/paperwork/prefab_papers/provost/confiscation_receipt.dm
  code/modules/paperwork/prefab_papers/provost/dao_request.dm
  code/modules/paperwork/prefab_papers/wey_yu/liability.dm
  code/modules/paperwork/prefab_papers/wey_yu/nda_long.dm
  code/modules/paperwork/prefab_papers/wey_yu/nda_short.dm
  code/modules/paperwork/prefab_papers/wey_yu/preserve_intent.dm
  colonialmarines.dme
  paper_reference_files/ColonialSpaceGruntsEZ.png
  paper_reference_files/background_dark_fractal.png
  paper_reference_files/background_white.jpg
  paper_reference_files/logo_cmb.png
  paper_reference_files/logo_provost.png
  paper_reference_files/logo_upp.png
  paper_reference_files/logo_uscm.png
  paper_reference_files/logo_wy.png
  paper_reference_files/logo_wy_bw.png
  paperwork/Military Police/apology_notice.html
  paperwork/Military Police/appeal_form.html
  paperwork/Military Police/confiscation_receipt.html
  paperwork/Military Police/dao_request.html
  paperwork/Military Police/template.html
  paperwork/Weyland Yutani/liability.html
  paperwork/Weyland Yutani/nda_long.html
  paperwork/Weyland Yutani/nda_short.html
  paperwork/Weyland Yutani/preserve_intent.html
  paperwork/Weyland Yutani/template.html
Due: report:dmdoc

Apply suggestions from code review
  code/modules/reagents/chemistry_machinery/chem_simulator.dm
Due: report:dmdoc

reset almayer to master
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

cl and brig
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

chinook pens
  maps/templates/Chinook.dmm
Due: report:map-changed-report

icons
  icons/obj/items/paper.dmi
Due: none

wrong cabinet!
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

wy_bw
  code/modules/paperwork/paper.dm
Due: report:dmdoc

Hybrisa Alpha 0.52
  code/game/area/LV759_Hybrisa_Prospera.dm
  maps/map_files/LV759_Hybrisa_Prospera/LV759_Hybrisa_Prospera.dmm
Due: report:dmdoc, report:map-changed-report

replacement + fix
  tgui/.swcrc
  tgui/babel.config.js
  tgui/jest.config.js
  tgui/package.json
  tgui/packages/tgui/components/Button.jsx
  tgui/packages/tgui/components/Chart.jsx
  tgui/packages/tgui/components/ColorBox.jsx
  tgui/packages/tgui/components/DraggableControl.jsx
  tgui/packages/tgui/components/Grid.jsx
  tgui/packages/tgui/components/Icon.jsx
  tgui/packages/tgui/components/NoticeBox.jsx
  tgui/packages/tgui/components/Table.jsx
  tgui/public/tgui-panel.bundle.css
  tgui/webpack.config.js
  tgui/yarn.lock
Due: none

crayon blanks
  code/modules/paperwork/paper.dm
Due: report:dmdoc

reception bell
  code/modules/paperwork/desk_bell.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:dmdoc, report:map-changed-report

Unused hooks pointed out by jlsnow
  tgui/packages/tgui/components/Grid.jsx
Due: none

last fix before bed
  code/modules/paperwork/desk_bell.dm
Due: report:dmdoc

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-6193.yml
  html/changelogs/archive/2024-04.yml
Due: none

mapping it in
  code/datums/research_upgrade_datum.dm
  code/modules/surgery/xeno.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  tgui/packages/tgui/interfaces/XenomorphExtractor.jsx
Due: report:dmdoc, report:map-changed-report

this too pls
  code/modules/reagents/chemistry_machinery/xenomorph_analyzer.dm
Due: report:dmdoc

bye board
  code/game/objects/items/circuitboards/machine.dm
Due: report:dmdoc

Guh
  code/game/objects/items/devices/data_detector.dm
Due: report:dmdoc

wip3
  .prettierignore
  tgui/.eslintrc.yml
  tgui/.yarn/sdks/eslint/bin/eslint.js
  tgui/.yarn/sdks/eslint/lib/api.js
  tgui/docs/component-reference.md
  tgui/package.json
  tgui/packages/common/collections.ts
  tgui/packages/tgui-dev-server/link/server.js
  tgui/packages/tgui-dev-server/util.js
  tgui/packages/tgui-dev-server/webpack.js
  tgui/packages/tgui-dev-server/winreg.js
  tgui/packages/tgui-panel/chat/actions.js
  tgui/packages/tgui-panel/settings/SettingsPanel.jsx
  tgui/packages/tgui-panel/settings/middleware.js
  tgui/packages/tgui/assets/bg-cat.svg
  tgui/packages/tgui/assets/bg-synthsunset-c-grid-size.svg
  tgui/packages/tgui/assets/bg-synthsunset-c-grid.svg
  tgui/packages/tgui/components/BodyZoneSelector.tsx
  tgui/packages/tgui/components/Flex.tsx
  tgui/packages/tgui/components/KeyListener.tsx
  tgui/packages/tgui/components/LabeledList.tsx
  tgui/packages/tgui/hotkeys.ts
  tgui/packages/tgui/interfaces/NumberInputModal.tsx
  tgui/packages/tgui/interfaces/Radio.jsx
  tgui/packages/tgui/routes.tsx
  tgui/packages/tgui/store.ts
  tgui/packages/tgui/styles/components/Tooltip.scss
  tgui/public/tgui.html
  tgui/webpack.config.js
  tgui/yarn.lock
  yarn.lock
Due: none

whitespace
  tools/build/juke/index.js
Due: none

Hybrisa Alpha 0.53
  code/game/machinery/doors/poddoor.dm
  icons/obj/structures/doors/zenithshutters.dmi
  icons/obj/structures/props/zenithshutter.dmi
  icons/obj/structures/props/zenithshutters.dmi
  maps/map_files/LV759_Hybrisa_Prospera/LV759_Hybrisa_Prospera.dmm
Due: report:dmdoc, report:map-changed-report

Update human.dm
  code/modules/mob/living/carbon/human/human.dm
Due: report:dmdoc

I fixed fields!
  code/modules/paperwork/paper.dm
Due: report:dmdoc

Update neurotoxin.dm
  code/datums/effects/neurotoxin.dm
Due: report:dmdoc

interior fix (upstream auto merge issue probably)
  code/controllers/subsystem/interior.dm
Due: report:dmdoc

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-157.yml
  html/changelogs/AutoChangeLog-pr-5855.yml
  html/changelogs/archive/2024-04.yml
Due: none

Apply suggestions from code review
  code/datums/research_upgrade_datum.dm
  code/game/machinery/computer/research.dm
  code/game/machinery/medical_pod/autodoc.dm
  code/game/machinery/medical_pod/sleeper.dm
  code/game/objects/items/research_upgrades.dm
Due: report:dmdoc

Techtree rebalance (Make IO great again!) (#162)
  code/controllers/subsystem/techtree.dm
  code/modules/cm_tech/techs/marine/tier1/points.dm
  fray-marines/code/cm_tech/techs/marine/tier1/engi_upgrade_mod.dm
  fray-marines/code/cm_tech/techs/marine/tier1/medic_upgrade_qol.dm
  fray-marines/code/cm_tech/techs/marine/tier1/mod_armor.dm
  fray-marines/code/cm_tech/techs/marine/tier2/enhanced_antibiologicals.dm
  fray-marines/code/cm_tech/techs/marine/tier3/combat_implants.dm
  fray-marines/code/cm_tech/techs/marine/tier3/experimentals.dm
  fray-marines/code/cm_tech/techs/xeno/tier1/build_for_all.dm
  fray-marines/code/cm_tech/techs/xeno/tier1/comms_disruption.dm
  fray-marines/code/cm_tech/techs/xeno/tier2/evo_boost.dm
  fray-marines/code/cm_tech/techs/xeno/tier3/acid_blood.dm
  fray-marines/code/cm_tech/techs/xeno/tier3/rev_jelly.dm
Due: report:dmdoc

Automatic changelog compile [ci skip]
  html/changelogs/archive/2024-04.yml
Due: none

Unnecessary Door Removal (#159)
  maps/map_files/USS_Almayer_RU/USS_Almayer_RU.dmm
Due: report:map-changed-report

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-162.yml
Due: none

code review
  code/__DEFINES/misc.dm
  code/datums/research_upgrade_datum.dm
  code/game/machinery/medical_pod/autodoc.dm
  code/game/machinery/medical_pod/sleeper.dm
  code/game/objects/items/research_upgrades.dm
  code/modules/cm_tech/implements/armor.dm
  code/modules/reagents/chemistry_machinery/xenomorph_analyzer.dm
Due: report:dmdoc

braindeath
  code/game/machinery/medical_pod/autodoc.dm
  code/modules/cm_tech/implements/armor.dm
Due: report:dmdoc

dehardcode
  code/game/machinery/computer/research.dm
  code/game/objects/items/research_upgrades.dm
Due: report:dmdoc

Restore onConfirmChange addition to Button.Confirm Restore button alignment fix
  tgui/packages/tgui/components/Button.tsx
  tgui/packages/tgui/styles/components/Button.scss
Due: none
