Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

report:dmdoc:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies:
  - build:map-templates
  cache:
    key: dmdoc-${SPDMM_VERSION}
    paths:
    - dmdoc-bin
  script:
  - '[ -f dmdoc-bin ] || wget -O dmdoc-bin ${SPDMM_DOWNLOAD_URL}/dmdoc'
  - chmod u+x dmdoc-bin
  - ./dmdoc-bin
  artifacts:
    name: ci_dmdoc
  ...

report:map-changed-report:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies: []
  cache:
    key: dmm-tools-${SPDMM_VERSION}
    paths:
    - dmm-tools
  script:
  - CHANGED_MAP_FILES=`git diff-tree -r --diff-filter=d --name-only --no-commit-id ${CI_COMMIT_BEFORE_SHA}..${CI_COMMIT_SHA} maps/*.dmm`
  ...

Add files via upload
  icons/obj/structures/machinery/defenses/planted_flag.dmi
Due: none

further hivebuff implementation through pylons
  code/modules/cm_aliens/hivebuffs/hivebuff.dm
  code/modules/cm_aliens/structures/special/pylon_core.dm
Due: report:dmdoc

behavior delegates and stuff the calculation
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_powers.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/praetorian/warden.dm
Due: report:dmdoc

ability rearranging
  code/modules/mob/living/carbon/xenomorph/mutators/strains/praetorian/warden.dm
Due: report:dmdoc

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-5437.yml
  html/changelogs/AutoChangeLog-pr-5538.yml
  html/changelogs/AutoChangeLog-pr-5592.yml
  html/changelogs/archive/2024-02.yml
Due: none

F.C.D.1
  code/game/machinery/vending/vendor_types/crew/pilot_officer.dm
  code/game/objects/effects/landmarks/landmarks.dm
  code/modules/gear_presets/uscm_ship.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:dmdoc, report:map-changed-report

Initial Commit
  maps/map_files/Space_Hulk/space_hulk.dmm
Due: report:map-changed-report

Desc Update thanks Aegis Memebat System
  code/modules/clothing/suits/marine_armor.dm
Due: report:dmdoc

A bunch of changes and crashed lifeboat making a big hole in the ship
  maps/map_files/Space_Hulk/space_hulk.dmm
Due: report:map-changed-report

CommitTime
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
  code/game/objects/items/storage/backpack.dm
  icons/mob/humans/onmob/back.dmi
  icons/obj/items/clothing/backpacks.dmi
Due: report:dmdoc

Allow surgery on crashed ships (and new tile variants allowing surgury & construction) (#5579)
  code/game/turfs/open.dm
  maps/map_files/BigRed/standalone/crashlanding-eva.dmm
  maps/map_files/BigRed/standalone/crashlanding-offices.dmm
  maps/map_files/DesertDam/Desert_Dam.dmm
  maps/map_files/DesertDam/standalone/crashlanding-upp-alt1.dmm
  maps/map_files/DesertDam/standalone/crashlanding-upp-bar.dmm
  maps/map_files/Ice_Colony_v2/Ice_Colony_v2.dmm
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
Due: report:dmdoc, report:map-changed-report

a bunch of changes
  maps/map_files/Space_Hulk/space_hulk.dmm
Due: report:map-changed-report

Automatic changelog for PR #5579 [ci skip]
  html/changelogs/AutoChangeLog-pr-5579.yml
Due: none

Fixes lesser drones not being able to flip tables (#5608)
  code/game/objects/structures/tables_racks.dm
Due: report:dmdoc

Automatic changelog for PR #5608 [ci skip]
  html/changelogs/AutoChangeLog-pr-5608.yml
Due: none

Moves a table, adds a photocopier to brig.
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Fix medbay vendor access (#5597)
  code/game/machinery/vending/vendor_types/medical.dm
Due: report:dmdoc

Automatic changelog for PR #5597 [ci skip]
  html/changelogs/AutoChangeLog-pr-5597.yml
Due: none

improvmens
  code/controllers/subsystem/stickyban.dm
  code/datums/entities/player.dm
  code/game/world.dm
Due: report:dmdoc

Tweak flare incend fire stacks/damage
  code/datums/ammo/misc.dm
Due: report:dmdoc

Update code/modules/mob/living/carbon/xenomorph/mutators/strains/praetorian/warden.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/praetorian/warden.dm
Due: report:dmdoc

Update code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_powers.dm
Due: report:dmdoc

Update code/modules/cm_aliens/structures/fruit.dm
  code/modules/cm_aliens/structures/fruit.dm
Due: report:dmdoc

Gardener QOL changes (#5514)
  code/modules/cm_aliens/structures/fruit.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/drone/gardener.dm
Due: report:dmdoc

EMERGENCY FIX
  code/modules/clothing/suits/marine_coat.dm
Due: report:dmdoc

WIP
  code/datums/tutorial/marine/reqs_line.dm
  code/game/objects/effects/elevator.dm
  maps/tutorial/tutorial_reqs.dmm
Due: report:dmdoc, report:map-changed-report

WIP
  code/datums/tutorial/marine/reqs_line.dm
  maps/tutorial/tutorial_reqs.dmm
Due: report:dmdoc, report:map-changed-report

WIP
  code/datums/tutorial/marine/reqs_line.dm
  code/game/objects/effects/elevator.dm
Due: report:dmdoc

F.Y.N.1
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

tutorial finished
  code/__DEFINES/vendors.dm
  code/datums/tutorial/marine/reqs_line.dm
  code/game/machinery/vending/cm_vending.dm
  code/game/objects/prop.dm
  code/game/objects/structures/blocker.dm
  code/modules/gear_presets/other.dm
  code/modules/mob/mob.dm
  colonialmarines.dme
  maps/tutorial/tutorial_reqs.dmm
Due: report:dmdoc, report:map-changed-report

F.Y.N.2
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

camera console now uses camera manager (#5310)
  code/__DEFINES/dcs/signals/atom/signals_item.dm
  code/game/camera_manager/camera_manager.dm
  code/game/machinery/computer/camera_console.dm
Due: report:dmdoc

MapTweaks: removed a bed sheet for soul and added warning stripes bellow doors that didn't have them for safety. (#5611)
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Oppressor tailstab nerf (#5544)
  code/datums/ammo/xeno.dm
Due: report:dmdoc

changes
  code/game/objects/items/weapons/stunbaton.dm
Due: report:dmdoc

Removes burrower from feral ERT (#5570)
  code/datums/emergency_calls/feral_xenos.dm
Due: report:dmdoc

fixes medal saving (#5607)
  code/datums/statistics/entities/medal_stats.dm
Due: report:dmdoc

M3-L Pattern Light Armor Added to IO Prep (#5574)
  code/game/machinery/vending/vendor_types/intelligence_officer.dm
Due: report:dmdoc

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm
