Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

report:dmdoc:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies:
  - build:map-templates
  cache:
    key: dmdoc-${SPDMM_VERSION}
    paths:
    - dmdoc-bin
  script:
  - '[ -f dmdoc-bin ] || wget -O dmdoc-bin ${SPDMM_DOWNLOAD_URL}/dmdoc'
  - chmod u+x dmdoc-bin
  - ./dmdoc-bin
  artifacts:
    name: ci_dmdoc
  ...

report:map-changed-report:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies: []
  cache:
    key: dmm-tools-${SPDMM_VERSION}
    paths:
    - dmm-tools
  script:
  - CHANGED_MAP_FILES=`git diff-tree -r --diff-filter=d --name-only --no-commit-id ${CI_COMMIT_BEFORE_SHA}..${CI_COMMIT_SHA} maps/*.dmm`
  ...

Corporate Security Division
  code/game/objects/items/devices/portable_vendor.dm
  code/game/objects/items/handheld_distress_beacon.dm
Due: report:dmdoc

doubles size of flarepouch (#5614)
  code/game/objects/items/storage/pouch.dm
Due: report:dmdoc

Faxpansion - Adds TWE/UPP/CLF Channels to Fax Life (#5508)
  code/_globalvars/global_lists.dm
  code/game/machinery/fax_machine.dm
  code/modules/admin/tabs/event_tab.dm
  code/modules/admin/topic/topic.dm
  icons/obj/items/paper.dmi
Due: report:dmdoc

Helmet HUDs skip over HUDs that are already in effect on the player (#5600)
  code/modules/clothing/head/helmet.dm
Due: report:dmdoc

Fix for Ceiling(). (#5637)
  code/__HELPERS/#maths.dm
Due: report:dmdoc

Automatic changelog for PR #5614 [ci skip]
  html/changelogs/AutoChangeLog-pr-5614.yml
Due: none

Automatic changelog for PR #5508 [ci skip]
  html/changelogs/AutoChangeLog-pr-5508.yml
Due: none

Automatic changelog for PR #5600 [ci skip]
  html/changelogs/AutoChangeLog-pr-5600.yml
Due: none

Automatic changelog for PR #5637 [ci skip]
  html/changelogs/AutoChangeLog-pr-5637.yml
Due: none

Revert "refactor : turn some "# and use the proper define from colour.dm for 21 files." (#5626)
  code/__HELPERS/icons.dm
  code/_onclick/hud/fullscreen.dm
  code/_onclick/hud/human.dm
  code/datums/_atmos_setup.dm
  code/datums/custom_hud.dm
  code/datums/entities/clans.dm
  code/datums/entities/player_times.dm
  code/datums/langchat/langchat.dm
  code/game/objects/effects/decals/cleanable/blood/xeno.dm
  code/game/objects/items/handcuffs.dm
  code/game/objects/items/reagent_containers/food/snacks/meat.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/asset_cache/assets/vending.dm
  code/modules/client/preferences.dm
  code/modules/cm_preds/yaut_bracers.dm
  code/modules/lighting/lighting_mask/lighting_mask.dm
  code/modules/lighting/lighting_mask/shadow_calculator.dm
  code/modules/maptext_alerts/screen_alerts.dm
  code/modules/maptext_alerts/text_blurbs.dm
  code/modules/mob/living/carbon/human/species/synthetic.dm
  code/modules/projectiles/magazines/shotguns.dm
Due: report:dmdoc

fix input number issue, migrated from tg and fixed upstream issue
  tgui/packages/tgui/components/RestrictedInput.jsx
  tgui/packages/tgui/interfaces/NumberInputModal.tsx
Due: none

Automatic changelog for PR #5626 [ci skip]
  html/changelogs/AutoChangeLog-pr-5626.yml
Due: none

more ability checks
  code/modules/mob/living/carbon/xenomorph/abilities/destroyer/destroyer_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/destroyer/destroyer_powers.dm
Due: report:dmdoc

Adds a new nightmare insert on LV
  code/game/objects/effects/landmarks/survivor_spawner.dm
  code/modules/gear_presets/survivors/lv_624/corporate_dome_insert_lv624.dm
  colonialmarines.dme
  maps/Nightmare/maps/LV624/nightmare.json
  maps/Nightmare/maps/LV624/scenario.json
  maps/map_files/LV624/LV624.dmm
  maps/map_files/LV624/standalone/corporatedome.dmm
Due: report:dmdoc, report:map-changed-report

Fix?
  colonialmarines.dme
Due: none

fixitself
  code/modules/clothing/suits/marine_armor.dm
Due: report:dmdoc

tgs logging improvements
  code/datums/entities/player.dm
  code/defines/procs/admin.dm
  code/modules/admin/NewBan.dm
  code/modules/admin/topic/topic.dm
Due: report:dmdoc

drathek improvement
  code/modules/tgui_panel/telemetry.dm
Due: report:dmdoc

this uses... british?
  code/defines/procs/admin.dm
Due: report:dmdoc

initial
  code/__DEFINES/__game.dm
  code/__DEFINES/_math.dm
  code/__DEFINES/xeno.dm
  code/__HELPERS/#maths.dm
  code/__HELPERS/unsorted.dm
  code/_macros.dm
Due: report:dmdoc

adds shield to icons
  icons/mob/xenos/overlay_effects64x64.dmi
Due: none

Revert "Helmet HUDs skip over HUDs that are already in effect on the player (#5600)"
  code/modules/clothing/head/helmet.dm
Due: report:dmdoc

value changes adds heal resting multiplier
  code/modules/cm_aliens/structures/special/recovery_node.dm
Due: report:dmdoc

fix
  code/modules/cm_aliens/structures/special/recovery_node.dm
Due: report:dmdoc

ok ok sorry doing it then
  code/modules/cm_aliens/structures/special/recovery_node.dm
Due: report:dmdoc

initial
  code/__DEFINES/dcs/signals/signals_global.dm
  code/controllers/subsystem/hijack.dm
  code/game/gamemodes/events/power_failure.dm
  code/game/machinery/colony_floodlights.dm
  code/game/machinery/fuelcell_recycler.dm
  code/game/machinery/fusion_engine.dm
  code/modules/admin/tabs/event_tab.dm
  colonialmarines.dme
  icons/obj/structures/machinery/fusion_eng.dmi
  icons/obj/structures/machinery/geothermal.dmi
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/BigRed/sprinkles/15.reactor_meltdown.dmm
  maps/map_files/BigRed/sprinkles/25.chapel_cult.dmm
  maps/map_files/CORSAT/Corsat.dmm
  maps/map_files/DesertDam/Desert_Dam.dmm
  maps/map_files/DesertDam/purpleriver/newbridge.dmm
  maps/map_files/DesertDam/sprinkles/15.shipgone_northlz.dmm
  maps/map_files/FOP_v2_Cellblocks/Prison_Station_FOP.dmm
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
  maps/map_files/Ice_Colony_v2/Ice_Colony_v2.dmm
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
  maps/map_files/Kutjevo/Kutjevo.dmm
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
  maps/map_files/LV624/LV624.dmm
  maps/map_files/New_Varadero/New_Varadero.dmm
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  maps/map_files/Whiskey_Outpost_v2/Whiskey_Outpost_v2.dmm
  maps/templates/Chinook.dmm
  maps/templates/baseone.dmm
Due: report:dmdoc, report:map-changed-report

minor copy pasting mistake
  code/game/machinery/fusion_engine.dm
Due: report:dmdoc

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-5508.yml
  html/changelogs/AutoChangeLog-pr-5595.yml
  html/changelogs/AutoChangeLog-pr-5600.yml
  html/changelogs/AutoChangeLog-pr-5614.yml
  html/changelogs/AutoChangeLog-pr-5622.yml
  html/changelogs/AutoChangeLog-pr-5623.yml
  html/changelogs/AutoChangeLog-pr-5624.yml
  html/changelogs/AutoChangeLog-pr-5626.yml
  html/changelogs/AutoChangeLog-pr-5637.yml
  html/changelogs/AutoChangeLog-pr-5647.yml
  html/changelogs/archive/2024-02.yml
Due: none

test
  icons/obj/structures/machinery/fusion_eng.dmi
Due: none

test2
  icons/obj/structures/machinery/fusion_eng.dmi
Due: none

Update colonialmarines.dm
  code/game/gamemodes/colonialmarines/colonialmarines.dm
Due: report:dmdoc

I have no idea if this works - I have no reproduction.
  code/modules/clothing/head/helmet.dm
Due: report:dmdoc

increases recovery node healing from 2 per sec to 8 per sec (#5517)
  code/modules/cm_aliens/structures/special/recovery_node.dm
Due: report:dmdoc

Automatic changelog for PR #5517 [ci skip]
  html/changelogs/AutoChangeLog-pr-5517.yml
Due: none

Pizza ERT readded, fixes(?) UPP spawn chance
  code/datums/emergency_calls/pizza.dm
  code/datums/emergency_calls/upp.dm
Due: report:dmdoc

let's see the number of errors i get...
  code/game/objects/items/reagent_containers/food/snacks.dm
  code/modules/reagents/Chemistry-Holder.dm
Due: report:dmdoc

start of a fix.
  code/game/objects/items/reagent_containers/food/snacks.dm
  code/game/objects/items/reagent_containers/reagent_container.dm
Due: report:dmdoc

better fix. noticed reagent_container add an s at the end on TGMC
  code/game/objects/items/reagent_containers/food/snacks.dm
  code/game/objects/items/reagent_containers/reagent_container.dm
  code/modules/reagents/Chemistry-Holder.dm
Due: report:dmdoc

commenting some stuff to see how viable my code is where could conflict/issue could come from...
  code/game/objects/items/reagent_containers/food/snacks.dm
Due: report:dmdoc

add some missing var...
  code/game/objects/items/reagent_containers/reagent_container.dm
Due: report:dmdoc

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm
