Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm

Automatic changelog compile [ci skip]
  html/changelogs/archive/2022-08.yml
Due: none

review
  code/modules/cm_marines/overwatch.dm
  code/modules/maptext_alerts/text_blurbs.dm
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
Due: report:dmdoc

hud fixes
  code/datums/factions/clf.dm
  code/datums/factions/pmc.dm
  code/datums/factions/upp.dm
  code/datums/mob_hud.dm
  code/modules/mob/living/carbon/human/human_abilities.dm
Due: report:dmdoc

init
  code/modules/paperwork/paper.dm
Due: report:dmdoc

High-Capacity Laser Battery Point Increase
  code/modules/cm_marines/dropship_ammo.dm
Due: report:dmdoc

Big Red UnCASable Caves (#740)
  code/game/area/BigRed.dm
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/BigRed/sprinkles/10.tcomms_open.dmm
  maps/map_files/BigRed/sprinkles/15.reactor_meltdown.dmm
  maps/map_files/BigRed/sprinkles/20.etatunnel_open.dmm
  maps/map_files/BigRed/sprinkles/20.lz1north_mining.dmm
  maps/map_files/BigRed/sprinkles/25.lz1cave_flank.dmm
  maps/map_files/BigRed/sprinkles/35.filtration_restored.dmm
  maps/map_files/BigRed/sprinkles/70.se-checkpoint.dmm
Due: report:dmdoc, report:map-changed-report

deconflict
  maps/map_files/BigRed/BigRed.dmm
Due: report:map-changed-report

sq
  code/game/objects/structures/window.dm
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/BigRed/sprinkles/20.etatunnel_open.dmm
Due: report:dmdoc, report:map-changed-report

Apply suggestions from code review
  code/modules/vehicles/interior/interactable/vendors.dm
Due: report:dmdoc

what stan actually wanted
  code/game/objects/items/storage/pouch.dm
Due: report:dmdoc

fixes two
  code/modules/cm_marines/overwatch.dm
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
Due: report:dmdoc

Adds wield sound for machete pouch (#814)
  code/game/objects/items/storage/pouch.dm
Due: report:dmdoc

APC supply vendor QoL (#789)
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/modules/vehicles/interior/interactable/vendors.dm
Due: report:dmdoc

sound
  code/game/objects/structures/window.dm
  sound/effects/glassbash.ogg
Due: report:dmdoc

Update code/modules/cm_marines/dropship_ammo.dm
  code/modules/cm_marines/dropship_ammo.dm
Due: report:dmdoc

buff to 60 stunforce
  code/game/objects/items/weapons/swords_axes_etc.dm
Due: report:dmdoc

init
  code/game/machinery/bio-dome_floodlights.dm
  code/game/machinery/camera/camera.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/groundmap_geothermal.dm
  code/game/machinery/kitchen/smartfridge.dm
  code/game/machinery/newscaster.dm
  code/game/machinery/vending/cm_vending.dm
  code/game/machinery/vending/vending.dm
  code/game/machinery/vending/vendor_types/wo_vendors.dm
  code/game/objects/structures/stool_bed_chair_nest/xeno_nest.dm
  code/modules/gear_presets/corpses.dm
  code/modules/projectiles/guns/shotguns.dm
Due: report:dmdoc

Balloon alerts port (#754)
  ColonialMarinesALPHA.dme
  code/__DEFINES/combat.dm
  code/__DEFINES/layers.dm
  code/__DEFINES/text.dm
  code/__HELPERS/game.dm
  code/__HELPERS/text.dm
  code/__HELPERS/unsorted.dm
  code/datums/balloon_alerts/balloon_alerts.dm
  code/game/objects/items/devices/multitool.dm
  code/modules/mob/mob_helpers.dm
Due: report:dmdoc

fixes non-uscm faction huds + mutiny faction huds (#815)
  code/datums/factions/clf.dm
  code/datums/factions/pmc.dm
  code/datums/factions/upp.dm
  code/datums/mob_hud.dm
  code/modules/mob/living/carbon/human/human_abilities.dm
Due: report:dmdoc

Fixes bravos briefing chairs (#811)
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

big red map minor tweaks (#733)
  code/game/objects/structures/window.dm
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/BigRed/sprinkles/20.etatunnel_open.dmm
Due: report:dmdoc, report:map-changed-report

reupload
  code/modules/gear_presets/survivors.dm
Due: report:dmdoc

reuploaded code and maps
  code/game/objects/effects/landmarks/survivor_spawner.dm
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/BigRed/sprinkles/25.bigredbarls.dmm
  maps/map_files/BigRed/sprinkles/25.clfmarshalls.dmm
  maps/map_files/BigRed/sprinkles/25.dndsolaris.dmm
Due: report:dmdoc, report:map-changed-report

fixed maps after geeves update
  maps/map_files/BigRed/sprinkles/25.bigredbarls.dmm
  maps/map_files/BigRed/sprinkles/25.dndsolaris.dmm
Due: report:map-changed-report

resolved map issue
  maps/map_files/BigRed/sprinkles/25.bigredbarls.dmm
Due: report:map-changed-report

reuploaded code and maps
  maps/map_files/BigRed/sprinkles/25.bigredbarls.dmm
  maps/map_files/BigRed/sprinkles/25.dndsolaris.dmm
Due: report:map-changed-report
