Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm

New Corporate Bodyguard Icons (#11907)
  code/__DEFINES/paygrade_defs/weyland.dm
  code/datums/factions/wy.dm
  code/datums/paygrades/factions/wy/security.dm
  icons/mob/hud/factions/wy.dmi
Due: report:dmdoc

fixes
  code/game/turfs/hunter_turf.dm
  code/game/turfs/walls/wall_types.dm
Due: report:dmdoc

Update2
  code/modules/client/preferences_gear.dm
  code/modules/clothing/head/head.dm
Due: report:dmdoc

flashlight too sure
  code/modules/gear_presets/clf.dm
Due: report:dmdoc

turf updates
  maps/shuttles/ert_mcaste_shuttle.dmm
  maps/templates/lazy_templates/yautja_ert_station.dmm
Due: report:map-changed-report

more turf issues
  maps/templates/lazy_templates/yautja_ert_station.dmm
Due: report:map-changed-report

final map touches
  maps/shuttles/ert_mcaste_shuttle.dmm
Due: report:map-changed-report

light tubes check
  maps/templates/lazy_templates/yautja_ert_station.dmm
Due: report:map-changed-report

x
  maps/templates/lazy_templates/pred/desert_moon.dmm
Due: report:map-changed-report

Dupe icon fix
  code/modules/shuttle/computer.dm
  icons/obj/structures/machinery/yautja_machines.dmi
Due: report:dmdoc

stuff
  code/game/machinery/vending/cm_vending.dm
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_engineer.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_leader.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_medic.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_rifleman.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_smartgunner.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_specialist.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_tl.dm
  code/game/supplyshuttle.dm
Due: report:dmdoc

More ERTs to ignore ftl
  code/datums/emergency_calls/cryo_marines.dm
  code/datums/emergency_calls/cryo_spec.dm
  code/datums/emergency_calls/custom.dm
  code/datums/emergency_calls/pred_hunt/hunting_calls.dm
  code/modules/admin/topic/topic_events.dm
Due: report:dmdoc

tank
  code/game/jobs/job/command/auxiliary/tank_crew.dm
Due: report:dmdoc

x
  code/datums/emergency_calls/cia_response.dm
Due: report:dmdoc

start work on armour
  code/game/machinery/vending/vendor_types/antag/antag_predator.dm
  code/modules/cm_preds/thrall_items.dm
  code/modules/cm_preds/yaut_items.dm
  code/modules/cm_preds/yaut_mask.dm
  code/modules/gear_presets/yautja.dm
  icons/mob/humans/onmob/hunter/badblood_gear.dmi
  icons/mob/humans/onmob/hunter/pred_gear.dmi
  icons/obj/items/hunter/badblood_gear.dmi
  icons/obj/items/hunter/pred_gear.dmi
Due: report:dmdoc

uses the script
  maps/map_files/USASF_Point_Loma/USASF_Point_Loma.dmm
Due: report:map-changed-report

fixes types
  maps/map_files/USASF_Point_Loma/USASF_Point_Loma.dmm
Due: report:map-changed-report

Update inspection.dm
  code/datums/emergency_calls/inspection.dm
Due: report:dmdoc

updates tile paths
  maps/map_files/USASF_Point_Loma/USASF_Point_Loma.dmm
Due: report:map-changed-report

Small fix
  code/game/gamemodes/colonialmarines/colonialmarines.dm
Due: report:dmdoc

Unnecessary
  code/__DEFINES/job.dm
Due: report:dmdoc

test
  code/datums/tutorial/_tutorial.dm
  code/datums/tutorial/ss13/tutorial_debug.dm
  colonialmarines.dme
  maps/tutorial/tutorial_test.dmm
Due: report:dmdoc, report:map-changed-report

0.2
  maps/map_files/USASF_Point_Loma/USASF_Point_Loma.dmm
Due: report:map-changed-report

Welding
  code/modules/cm_marines/dropship_equipment.dm
Due: report:dmdoc

Melting
  code/modules/mob/living/carbon/xenomorph/abilities/ability_helper_procs.dm
Due: report:dmdoc

Standardize
  code/modules/cm_marines/dropship_equipment.dm
Due: report:dmdoc

Single letter vars
  code/modules/cm_marines/dropship_equipment.dm
Due: report:dmdoc

text
  code/datums/tutorial/_tutorial.dm
  code/datums/tutorial/ss13/basic_ss13.dm
  code/modules/maptext_alerts/screen_alerts.dm
Due: report:dmdoc

Trash into hand
  code/game/objects/items/reagent_containers/food/snacks.dm
Due: report:dmdoc

Unwrap
  code/game/objects/items/reagent_containers/food/snacks.dm
Due: report:dmdoc

Oops.
  code/datums/mob_hud.dm
  code/game/objects/items/cards_ids.dm
Due: report:dmdoc

Medic and Synth
  code/__DEFINES/job.dm
  code/__DEFINES/paygrade_defs/cia.dm
  code/datums/agents/tools.dm
  code/datums/agents/tools/badass_kit.dm
  code/datums/factions/cia.dm
  code/datums/paygrades/factions/other/cia.dm
  code/datums/skills/cia.dm
  code/game/jobs/job/special/cia.dm
  code/modules/cm_marines/marines_consoles.dm
  code/modules/gear_presets/cia/uacqs.dm
  icons/mob/hud/factions/cia.dmi
Due: report:dmdoc

We steal the data :)
  code/modules/mob/living/carbon/xenomorph/Evolution.dm
  code/modules/mob/living/carbon/xenomorph/hive_status.dm
Due: report:dmdoc

No pain from healing
  code/modules/organs/organ_internal.dm
Due: report:dmdoc

hm
  code/datums/agents/tools/badass_kit.dm
  code/modules/gear_presets/cia/uacqs.dm
Due: report:dmdoc

Added the HealthMate HUD under "Standard Equipment" instead of a purchasable item
  code/game/machinery/vending/vendor_types/squad_prep/squad_medic.dm
Due: report:dmdoc

senior
  code/__DEFINES/paygrade_defs/cia.dm
  code/datums/factions/cia.dm
  code/modules/gear_presets/cia/uacqs.dm
  icons/mob/hud/factions/cia.dmi
Due: report:dmdoc

armors
  code/game/machinery/vending/vendor_types/antag/antag_predator.dm
  code/modules/cm_preds/yaut_items.dm
  code/modules/cm_preds/yaut_mask.dm
  code/modules/gear_presets/yautja.dm
Due: report:dmdoc
