Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm

refactor open/gm/grass
  code/game/turfs/open.dm
  maps/map_files/Ice_Colony_v2/Ice_Colony_v2.dmm
  maps/map_files/LV624/LV624.dmm
  maps/map_files/LV624/cargospecial/cargospecial1_mines.dmm
  maps/map_files/LV624/gym/20.pool.dmm
  maps/map_files/LV624/gym/30.alternate.dmm
  maps/map_files/LV624/hydro/30.destroyed.dmm
  maps/map_files/LV624/maintemple/1.intact.dmm
  maps/map_files/LV624/maintemple/2.flooded.dmm
  maps/map_files/LV624/medbay/10.destroyed.dmm
  maps/map_files/LV624/medbay/30.larvasurgery.dmm
  maps/map_files/LV624/science/10.yautja.dmm
  maps/map_files/LV624/science/40.fullylocked.dmm
  maps/map_files/LV624/standalone/leftsidepass.dmm
  maps/map_files/LV624/standalone/lv-bridge-east.dmm
  maps/map_files/LV624/standalone/lv-bridge-nofog.dmm
  maps/map_files/LV624/standalone/rightsidepass.dmm
  maps/map_files/LV624/standalone/sandtemple-jungle.dmm
  maps/map_files/LV624/standalone/sandtemple-se.dmm
  maps/map_files/Whiskey_Outpost_v2/Whiskey_Outpost_v2.dmm
Due: report:dmdoc, report:map-changed-report

fix
  maps/map_files/LV624/LV624.dmm
  maps/map_files/Whiskey_Outpost_v2/Whiskey_Outpost_v2.dmm
Due: report:map-changed-report

Adds medic clothing racks to WO (#3313)
  maps/map_files/Whiskey_Outpost_v2/Whiskey_Outpost_v2.dmm
Due: report:map-changed-report

real fix
  maps/map_files/LV624/LV624.dmm
  maps/map_files/Whiskey_Outpost_v2/Whiskey_Outpost_v2.dmm
Due: report:map-changed-report

Automatic changelog for PR #3313 [ci skip]
  html/changelogs/AutoChangeLog-pr-3313.yml
Due: none

Fix for IV drips and xenos.
  code/game/machinery/iv_drip.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defines.dm
Due: report:dmdoc

M276 Combat Toolbelt for SEAs (#3388)
  code/game/machinery/vending/vendor_types/crew/sea.dm
Due: report:dmdoc

Fix for IV drips and xenos. (#3397)
  code/game/machinery/iv_drip.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defines.dm
Due: report:dmdoc

Automatic changelog for PR #3388 [ci skip]
  html/changelogs/AutoChangeLog-pr-3388.yml
Due: none

Acid blood buff (ping pong edition) (#3374)
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
Due: report:dmdoc

Automatic changelog for PR #3397 [ci skip]
  html/changelogs/AutoChangeLog-pr-3397.yml
Due: none

Automatic changelog for PR #3374 [ci skip]
  html/changelogs/AutoChangeLog-pr-3374.yml
Due: none

Adds squad driver.
  code/__DEFINES/access.dm
  code/__DEFINES/job.dm
  code/__DEFINES/mode.dm
  code/__HELPERS/job.dm
  code/datums/factions/uscm.dm
  code/datums/skills.dm
  code/game/jobs/job/marine/squad/driver.dm
  code/game/jobs/job/marine/squad_info.dm
  code/game/jobs/job/marine/squads.dm
  code/game/jobs/role_authority.dm
  code/game/jobs/slot_scaling.dm
  code/game/machinery/doors/airlock_types.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_driver.dm
  code/game/objects/effects/landmarks/landmarks.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/supplyshuttle.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/client/preferences.dm
  code/modules/cm_marines/marines_consoles.dm
  code/modules/cm_marines/overwatch.dm
  code/modules/gear_presets/uscm.dm
  code/modules/mob/new_player/preferences_setup.dm
  colonialmarines.dme
  colonialmarines.dmm-pal
Due: report:dmdoc

remove a bunch of pixelx =0 doing nothing
  maps/map_files/LV624/standalone/sandtemple-se.dmm
Due: report:map-changed-report

Initial
  code/_onclick/click.dm
  code/_onclick/hud/human.dm
  code/_onclick/hud/robot.dm
  code/_onclick/hud/screen_objects.dm
  code/game/objects/items/devices/radio/radio.dm
  code/modules/cm_preds/smartdisc.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/carbon/xenomorph/update_icons.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/mob_movement.dm
  code/modules/projectiles/full_auto.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/gun_helpers.dm
  code/modules/projectiles/targeting.dm
Due: report:dmdoc

create new subtype for direction of sprites
  code/game/turfs/open.dm
  maps/map_files/LV624/LV624.dmm
  maps/map_files/Whiskey_Outpost_v2/Whiskey_Outpost_v2.dmm
Due: report:dmdoc, report:map-changed-report

Oh right lmao
  code/modules/projectiles/targeting.dm
  colonialmarines.dme
Due: report:dmdoc

adds space
  code/game/machinery/vending/vendor_types/requisitions.dm
Due: report:dmdoc

refactor of the coast tiles... could be optimise further probably..
  code/game/turfs/open.dm
  maps/map_files/CORSAT/Corsat.dmm
  maps/map_files/LV624/LV624.dmm
  maps/map_files/LV624/maintemple/1.intact.dmm
  maps/map_files/LV624/maintemple/2.flooded.dmm
  maps/map_files/LV624/standalone/leftsidepass.dmm
  maps/map_files/LV624/standalone/lv-bridge-east.dmm
  maps/map_files/LV624/standalone/lv-bridge-nofog.dmm
  maps/map_files/LV624/standalone/rightsidepass.dmm
  maps/map_files/New_Varadero/New_Varadero.dmm
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
  maps/map_files/Whiskey_Outpost_v2/Whiskey_Outpost_v2.dmm
Due: report:dmdoc, report:map-changed-report

Removes the mapload init from the ammo rack
  code/game/objects/items/storage/backpack.dm
Due: report:dmdoc

Makes the IMP Rack unthrowable (0 range)
  code/game/objects/items/storage/backpack.dm
Due: report:dmdoc

200 -> 250ish
  code/modules/cm_marines/dropship_ammo.dm
Due: report:dmdoc

oopies
  code/modules/cm_marines/dropship_ammo.dm
Due: report:dmdoc

Adds a slowdown to the ammo rack of 200%
  code/game/objects/items/storage/backpack.dm
Due: report:dmdoc

flat 1 second added move delay
  code/game/objects/items/storage/backpack.dm
Due: report:dmdoc

flat .5 second move delay (stackable on heavy armor/weeds/gun slowdown)
  code/game/objects/items/storage/backpack.dm
Due: report:dmdoc

B12 Padless Variant
  code/game/machinery/vending/vendor_types/squad_prep/squad_engineer.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_leader.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_medic.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_rifleman.dm
  code/modules/clothing/suits/marine_armor.dm
  icons/mob/humans/onmob/suit_1.dmi
  icons/obj/items/clothing/cm_suits.dmi
Due: report:dmdoc

B12 Padless Variant (minor fix)
  icons/mob/humans/onmob/suit_1.dmi
Due: none

Fixes for boiler. (#3390)
  code/modules/mob/living/carbon/xenomorph/abilities/ability_helper_procs.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_abilities.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/boiler/trapper.dm
Due: report:dmdoc

Fire Shutters (#3389)
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Langchat popup for Show Held Item. (#3391)
  code/game/objects/items.dm
Due: report:dmdoc

Update code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/adminhelp.dm
Due: report:dmdoc

Automatic changelog for PR #3390 [ci skip]
  html/changelogs/AutoChangeLog-pr-3390.yml
Due: none

Update code/game/objects/items/storage/backpack.dm
  code/game/objects/items/storage/backpack.dm
Due: report:dmdoc

Updates Tickets and Autoreplies (#3347)
  code/modules/admin/autoreply.dm
  code/modules/admin/verbs/adminhelp.dm
Due: report:dmdoc
