Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

report:dmdoc:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies:
  - build:map-templates
  cache:
    key: dmdoc-${SPDMM_VERSION}
    paths:
    - dmdoc-bin
  script:
  - '[ -f dmdoc-bin ] || wget -O dmdoc-bin ${SPDMM_DOWNLOAD_URL}/dmdoc'
  - chmod u+x dmdoc-bin
  - ./dmdoc-bin
  artifacts:
    name: ci_dmdoc
  ...

report:map-changed-report:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies: []
  cache:
    key: dmm-tools-${SPDMM_VERSION}
    paths:
    - dmm-tools
  script:
  - CHANGED_MAP_FILES=`git diff-tree -r --diff-filter=d --name-only --no-commit-id ${CI_COMMIT_BEFORE_SHA}..${CI_COMMIT_SHA} maps/*.dmm`
  ...

synth vendor 2 additions, adds colony clone of antiquated named uniform
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
  code/modules/clothing/under/marine_uniform.dm
  code/modules/gear_presets/corpses.dm
  code/modules/gear_presets/survivors/corsat/preset_corsat.dm
  code/modules/gear_presets/survivors/lv_624/preset_lv.dm
  code/modules/gear_presets/synths.dm
Due: report:dmdoc

Working Joe Respawn Disable flag
  code/__DEFINES/mode.dm
  code/_globalvars/bitfields.dm
  code/game/gamemodes/cm_initialize.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/tabs/admin_tab.dm
Due: report:dmdoc

Allows helmets to protect Synthetics
  code/modules/organs/limbs.dm
Due: report:dmdoc

a
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
Due: report:map-changed-report

increased the force of the chocolate box
  code/game/objects/items/reagent_containers/food/snacks.dm
Due: report:dmdoc

Auto CPR more efficient, artfully
  code/game/objects/items/tools/experimental_tools.dm
Due: report:dmdoc

fixes demon
  code/game/objects/items/tools/experimental_tools.dm
Due: report:dmdoc

Autocompressor efficiency
  code/game/objects/items/tools/experimental_tools.dm
Due: report:dmdoc

semicolon quip
  code/modules/mob/living/carbon/human/species/working_joe/quip.dm
Due: report:dmdoc

I see
  maps/map_files/Isaacs_Lament/Isaacs_Lament.dmm
Due: report:map-changed-report

Fixes zombies missing claws on transformation (#5998)
  code/datums/diseases/black_goo.dm
Due: report:dmdoc

[FIX,MAP] move semiotic in north evac pod so you can't see it when your behind in hull maintenance. (#5991)
  maps/shuttles/escape_shuttle_n.dmm
Due: report:map-changed-report

Automatic changelog for PR #5998 [ci skip]
  html/changelogs/AutoChangeLog-pr-5998.yml
Due: none

Automatic changelog for PR #5991 [ci skip]
  html/changelogs/AutoChangeLog-pr-5991.yml
Due: none

reset hunk force
  code/game/objects/items/reagent_containers/food/snacks.dm
Due: report:dmdoc

heal message
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_powers.dm
Due: report:dmdoc

Allows wardens to heal eachother again at half the health and gives a bigger message (#5982)
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_powers.dm
Due: report:dmdoc

Automatic changelog for PR #5982 [ci skip]
  html/changelogs/AutoChangeLog-pr-5982.yml
Due: none

grammar
  code/modules/mob/living/carbon/human/species/working_joe/quip.dm
Due: report:dmdoc

requested changes
  code/game/gamemodes/cm_initialize.dm
  code/modules/admin/tabs/admin_tab.dm
Due: report:dmdoc

fix
  code/game/gamemodes/cm_initialize.dm
Due: report:dmdoc

me forgor this
  code/game/gamemodes/cm_initialize.dm
Due: report:dmdoc

Update code/game/machinery/vending/cm_vending.dm
  code/game/machinery/vending/cm_vending.dm
Due: report:dmdoc

Adds USCM Patch to Uniforms (#5868)
  code/game/machinery/vending/cm_vending.dm
Due: report:dmdoc

Automatic changelog for PR #5868 [ci skip]
  html/changelogs/AutoChangeLog-pr-5868.yml
Due: none

Body zone targeting keybinds refactor and a fix (#5943)
  code/_onclick/hud/hud.dm
  code/_onclick/hud/screen_objects.dm
  code/datums/keybinding/mob.dm
  code/modules/mob/mob_helpers.dm
Due: report:dmdoc

Automatic changelog for PR #5943 [ci skip]
  html/changelogs/AutoChangeLog-pr-5943.yml
Due: none

Fixes indefinite stasis bug (#5996)
  code/modules/mob/living/living_verbs.dm
Due: report:dmdoc

Automatic changelog for PR #5996 [ci skip]
  html/changelogs/AutoChangeLog-pr-5996.yml
Due: none

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-5868.yml
  html/changelogs/AutoChangeLog-pr-5943.yml
  html/changelogs/AutoChangeLog-pr-5982.yml
  html/changelogs/AutoChangeLog-pr-5991.yml
  html/changelogs/AutoChangeLog-pr-5996.yml
  html/changelogs/AutoChangeLog-pr-5998.yml
  html/changelogs/archive/2024-03.yml
Due: none

What is this?
  sound/voice/joe/what_is_this_haz.ogg
Due: none

Update code/datums/autocells/explosion.dm
  code/datums/autocells/explosion.dm
Due: report:dmdoc

Update code/game/objects/effects/temporary_visuals.dm
  code/game/objects/effects/temporary_visuals.dm
Due: report:dmdoc

removes qdel in stoppable
  code/__DEFINES/qdel.dm
Due: report:dmdoc

battlepass
  code/__DEFINES/battlepass.dm
  code/__DEFINES/subsystems.dm
  code/controllers/subsystem/battlepass.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/battlepass/battlepass.dm
  code/modules/battlepass/battlepass_client.dm
  code/modules/battlepass/rewards/marine_rewards.dm
  code/modules/battlepass/rewards/sprites/battlepass.dmi
  code/modules/battlepass/rewards/sprites/halo_red.dmi
  code/modules/battlepass/rewards/sprites/helmetfire.dmi
  code/modules/battlepass/rewards/xeno_rewards.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/shoes/marine_shoes.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/carbon/xenomorph/update_icons.dm
  code/modules/mob/new_player/new_player.dm
  icons/mob/humans/onmob/back.dmi
  icons/mob/humans/onmob/items_lefthand_1.dmi
  icons/mob/humans/onmob/items_righthand_1.dmi
  icons/obj/items/weapons/guns/guns_by_faction/uscm.dmi
  tgui/packages/tgui/interfaces/Battlepass.tsx
Due: report:dmdoc

whoopsies forgot to commit
  code/game/objects/effects/temporary_visuals.dm
Due: report:dmdoc

turns off light when mob is stripped
  code/modules/mob/living/carbon/human/inventory.dm
Due: report:dmdoc

turns off armor light when user removes uniform
  code/game/objects/items.dm
Due: report:dmdoc

Working Joes now Respawn (The PR respawned again) (#6009)
  code/__DEFINES/ARES.dm
  code/__DEFINES/mode.dm
  code/_globalvars/bitfields.dm
  code/game/gamemodes/cm_initialize.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/tabs/admin_tab.dm
Due: report:dmdoc

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm
