Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

report:dmdoc:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies:
  - build:map-templates
  cache:
    key: dmdoc-${SPDMM_VERSION}
    paths:
    - dmdoc-bin
  script:
  - '[ -f dmdoc-bin ] || wget -O dmdoc-bin ${SPDMM_DOWNLOAD_URL}/dmdoc'
  - chmod u+x dmdoc-bin
  - ./dmdoc-bin
  artifacts:
    name: ci_dmdoc
  ...

report:map-changed-report:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies: []
  cache:
    key: dmm-tools-${SPDMM_VERSION}
    paths:
    - dmm-tools
  script:
  - CHANGED_MAP_FILES=`git diff-tree -r --diff-filter=d --name-only --no-commit-id ${CI_COMMIT_BEFORE_SHA}..${CI_COMMIT_SHA} maps/*.dmm`
  ...

Update maintenance_tools.dm
  code/game/objects/items/tools/maintenance_tools.dm
Due: report:dmdoc

Fix access requirements ignoring ID_Check wire being cut (hacking_safety still works correctly)
  tgui/packages/tgui/interfaces/Vending.tsx
Due: none

eepy
  code/__HELPERS/type2type.dm
  code/modules/mob/hear_say.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/living/carbon/human/say.dm
  code/modules/mob/living/carbon/human/whisper.dm
  code/modules/mob/mob_helpers.dm
  code/modules/mob/mob_status_procs.dm
Due: report:dmdoc

Bolus time
  code/game/objects/items/reagent_containers/blood_pack.dm
Due: report:dmdoc

huh
  code/modules/mob/hear_say.dm
Due: report:dmdoc

fix
  code/game/cas_manager/datums/cas_fire_mission.dm
Due: report:dmdoc

390
  code/game/objects/items/devices/binoculars.dm
  code/game/objects/items/devices/camera_bug.dm
  code/game/objects/items/devices/data_detector.dm
Due: report:dmdoc

400
  code/game/objects/items/devices/RCD.dm
  code/game/objects/items/devices/RSF.dm
  code/game/objects/items/devices/defibrillator.dm
  code/game/objects/items/devices/drone_devices.dm
  code/game/objects/items/devices/motion_detector.dm
  code/game/objects/items/devices/multitool.dm
  code/game/objects/items/devices/pinpointer.dm
  code/game/objects/items/devices/pipe_painter.dm
  code/game/objects/items/devices/portable_vendor.dm
  code/game/objects/items/devices/transfer_valve.dm
Due: report:dmdoc

finished up Hazardous Environment Joe, possibly adds scaling slot
  code/game/jobs/job/civilians/support/working_joe.dm
  code/modules/clothing/gloves/marine_gloves.dm
  code/modules/clothing/shoes/marine_shoes.dm
  code/modules/clothing/under/marine_uniform.dm
  code/modules/gear_presets/synths.dm
  icons/mob/humans/onmob/hands.dmi
  icons/obj/items/clothing/gloves.dmi
Due: report:dmdoc

fix
  code/game/objects/items/devices/defibrillator.dm
Due: report:dmdoc

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-3243.yml
  html/changelogs/AutoChangeLog-pr-3263.yml
  html/changelogs/AutoChangeLog-pr-3264.yml
  html/changelogs/AutoChangeLog-pr-3267.yml
  html/changelogs/AutoChangeLog-pr-3268.yml
  html/changelogs/archive/2023-05.yml
Due: none

weapon hull damage defs. Makes it easier to alter damage values for tweaking.
  code/modules/almayer/weaponhits.dm
Due: report:dmdoc

Initial
  code/__DEFINES/conflict.dm
  code/_onclick/click.dm
  code/modules/mob/mob_defines.dm
Due: report:dmdoc

Update marine_shoes.dm
  code/modules/clothing/shoes/marine_shoes.dm
Due: report:dmdoc

throw buffer, two hands, two throws
  code/_onclick/click.dm
  code/modules/mob/mob_defines.dm
Due: report:dmdoc

a
  code/modules/mob/living/carbon/xenomorph/abilities/general_abilities.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/praetorian/warden.dm
Due: report:dmdoc

screaming
  code/modules/cm_preds/yaut_items.dm
  icons/landmarks.dmi
Due: report:dmdoc

lala
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

aa
  config/names/clown.txt
  config/names/first_female.txt
  config/names/verbs.txt
Due: none

aa
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Boots can now hold a scalpel (#3281)
  code/modules/clothing/shoes/marine_shoes.dm
Due: report:dmdoc

Fixes a runtime with tape recorder (#3277)
  code/game/objects/items/storage/storage.dm
  code/modules/clothing/suits/storage.dm
Due: report:dmdoc

Bioscan larva issue (#3270)
  code/game/bioscans.dm
Due: report:dmdoc

Fix tackling infected resetting tackles (#3280)
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
Due: report:dmdoc

Fix re-zooming when observing a mark or xeno (#3252)
  code/modules/mob/living/carbon/xenomorph/abilities/general_abilities.dm
Due: report:dmdoc

Rework of the IO Computer Lab Area. (#3235)
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Add Cash & Access Support to Vending Machines & Fix ATM Security Levels (#3247)
  code/game/machinery/vending/vending.dm
  code/game/machinery/vending/vending_types.dm
  code/modules/economy/ATM.dm
  sound/machines/vending.ogg
  tgui/packages/tgui/interfaces/Vending.tsx
Due: report:dmdoc

Fixes a runtime with vehicles (#3272)
  code/modules/vehicles/hardpoints/hardpoint.dm
Due: report:dmdoc

Automatic changelog for PR #3281 [ci skip]
  html/changelogs/AutoChangeLog-pr-3281.yml
Due: none

Adds NM inserts
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
  maps/map_files/FOP_v3_Sciannex/sprinkles/15.wardenofficedecorated.dmm
  maps/map_files/FOP_v3_Sciannex/sprinkles/20.gamertime.dmm
  maps/map_files/FOP_v3_Sciannex/sprinkles/20.poolparty.dmm
  maps/map_files/FOP_v3_Sciannex/sprinkles/30.pizzatime.dmm
Due: report:map-changed-report

Automatic changelog for PR #3277 [ci skip]
  html/changelogs/AutoChangeLog-pr-3277.yml
Due: none

Automatic changelog for PR #3270 [ci skip]
  html/changelogs/AutoChangeLog-pr-3270.yml
Due: none

Automatic changelog for PR #3280 [ci skip]
  html/changelogs/AutoChangeLog-pr-3280.yml
Due: none

Automatic changelog for PR #3252 [ci skip]
  html/changelogs/AutoChangeLog-pr-3252.yml
Due: none

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-3252.yml
  html/changelogs/AutoChangeLog-pr-3270.yml
  html/changelogs/AutoChangeLog-pr-3277.yml
  html/changelogs/AutoChangeLog-pr-3280.yml
  html/changelogs/AutoChangeLog-pr-3281.yml
  html/changelogs/archive/2023-05.yml
Due: none

Automatic changelog for PR #3235 [ci skip]
  html/changelogs/AutoChangeLog-pr-3235.yml
Due: none

Removed attack log from debug group since it requires R_MOD not R_DEBUG
  code/modules/admin/admin_verbs.dm
Due: report:dmdoc

Tweak terminology from today to this round
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/getlogs.dm
Due: report:dmdoc

Automatic changelog for PR #3247 [ci skip]
  html/changelogs/AutoChangeLog-pr-3247.yml
Due: none

Automatic changelog for PR #3272 [ci skip]
  html/changelogs/AutoChangeLog-pr-3272.yml
Due: none

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm
