Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm

pushups bugfix (#1018)
  code/modules/mob/living/carbon/human/exercise.dm
Due: report:dmdoc

Automatic changelog compile [ci skip]
  html/changelogs/archive/2022-09.yml
Due: none

init
  code/modules/client/client_procs.dm
Due: report:dmdoc

Possible crashfix (#1028)
  code/modules/client/client_procs.dm
Due: report:dmdoc

dir armor bugs sound fix
  code/modules/mob/living/carbon/xenomorph/abilities/boiler/boiler_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Boiler.dm
Due: report:dmdoc

code review
  code/datums/supply_packs/ammo.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/projectiles/ammo_boxes.dm
  code/modules/projectiles/gun_attachables.dm
  code/modules/projectiles/guns/rifles.dm
  code/modules/projectiles/magazines/rifles.dm
  icons/obj/items/weapons/guns/ammo_box.dmi
Due: report:dmdoc

Update code/modules/mob/living/carbon/xenomorph/abilities/boiler/boiler_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/boiler/boiler_powers.dm
Due: report:dmdoc

Defines, sprites, etc
  ColonialMarinesALPHA.dme
  code/__DEFINES/job.dm
  code/datums/emergency_calls/provost.dm
  code/datums/factions/uscm.dm
  code/game/jobs/job/special/uaac.dm
  code/game/jobs/job/special/uscm.dm
  code/modules/clothing/head/head.dm
  code/modules/clothing/suits/marine_armor.dm
  code/modules/clothing/under/marine_uniform.dm
  code/modules/cm_marines/marines_consoles.dm
  code/modules/gear_presets/uscm_event.dm
  icons/mob/hud/hud.dmi
  icons/mob/hud/marine_hud.dmi
  icons/mob/humans/onmob/head_1.dmi
  icons/mob/humans/onmob/suit_1.dmi
  icons/mob/humans/onmob/uniform_0.dmi
  icons/obj/items/clothing/cm_hats.dmi
  icons/obj/items/clothing/cm_suits.dmi
  icons/obj/items/clothing/uniforms.dmi
Due: report:dmdoc

Fixes one of the initialization runtimes that seemed to be preventing world/Error initialization.
  code/game/objects/effects/spawners/random.dm
Due: report:dmdoc

Fix double spawning weapons
  code/game/objects/effects/spawners/random.dm
Due: report:dmdoc

World/Error Hotfix (#1030)
  code/game/objects/effects/spawners/random.dm
Due: report:dmdoc

Apply suggestions from code review
  code/modules/clothing/head/head.dm
  maps/templates/Chinook.dmm
Due: report:dmdoc, report:map-changed-report

ERT definitions, debugging
  ColonialMarinesALPHA.dme
  code/__DEFINES/job.dm
  code/datums/emergency_calls/inspection.dm
  code/datums/emergency_calls/provost.dm
  code/game/jobs/job/special/uaac.dm
  code/modules/clothing/under/marine_uniform.dm
  code/modules/gear_presets/uscm_event.dm
Due: report:dmdoc

Fixed duplicate datum name initialization error. The flag will not actually initialize.
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem/vote.dm
Due: report:dmdoc

Fix init runtime where obj/effect/statclick/ticket_list would trigger cameranet.updateVisibility
  code/_onclick/click.dm
  code/controllers/mc/admin.dm
  code/controllers/mc/controller.dm
  code/modules/admin/verbs/adminhelp.dm
Due: report:dmdoc

typo and text fixes, final touches
  code/datums/emergency_calls/inspection.dm
  code/modules/clothing/head/head.dm
  code/modules/clothing/suits/marine_armor.dm
Due: report:dmdoc

one lil icon
  code/datums/factions/uscm.dm
Due: report:dmdoc

icon_fix1
  icons/mob/hud/marine_hud.dmi
Due: none

icon_fix2
  icons/mob/hud/marine_hud.dmi
Due: none

icon_fix_3
  icons/mob/humans/onmob/uniform_0.dmi
Due: none

final icon fix
  icons/mob/hud/marine_hud.dmi
  icons/mob/humans/onmob/uniform_0.dmi
Due: none

conflicts
  icons/mob/hud/marine_hud.dmi
Due: none

text
  ColonialMarinesALPHA.dme
  code/__DEFINES/job.dm
  code/datums/emergency_calls/inspection.dm
  code/datums/emergency_calls/provost.dm
  code/datums/factions/uscm.dm
  code/game/jobs/job/special/uaac.dm
  code/game/jobs/job/special/uscm.dm
  code/modules/clothing/head/head.dm
  code/modules/clothing/suits/marine_armor.dm
  code/modules/clothing/under/marine_uniform.dm
  code/modules/cm_marines/marines_consoles.dm
  code/modules/gear_presets/uscm_event.dm
Due: report:dmdoc

icons
  icons/mob/hud/hud.dmi
  icons/mob/hud/marine_hud.dmi
  icons/mob/humans/onmob/head_1.dmi
  icons/mob/humans/onmob/suit_1.dmi
  icons/mob/humans/onmob/uniform_0.dmi
  icons/obj/items/clothing/cm_hats.dmi
  icons/obj/items/clothing/cm_suits.dmi
  icons/obj/items/clothing/uniforms.dmi
Due: none

aa
  code/__HELPERS/game.dm
  code/controllers/subsystem/tgui.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/turfs/walls/walls.dm
  code/modules/nano/nanoui.dm
Due: report:dmdoc

Unbuckle action for vehicles
  code/modules/mob/living/carbon/human/human_abilities.dm
  code/modules/vehicles/hardpoints/support/artillery.dm
  code/modules/vehicles/interior/interactable/seats.dm
  code/modules/vehicles/interior/interactable/viewports.dm
  code/modules/vehicles/multitile/multitile.dm
Due: report:dmdoc

Changed name
  code/modules/mob/living/carbon/human/human_abilities.dm
Due: report:dmdoc

Merge conflict fix
  icons/mob/hud/actions.dmi
Due: none

orbit menu fixes (#1016)
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/dead/observer/orbit.dm
  tgui/packages/tgui/interfaces/Orbit.tsx
Due: report:dmdoc

HUD fix for Colonels
  code/datums/factions/uscm.dm
Due: report:dmdoc

review 2 electric boogaloo
  code/modules/projectiles/ammo_datums.dm
  code/modules/projectiles/gun_attachables.dm
  code/modules/projectiles/guns/rifles.dm
Due: report:dmdoc

Commodore? Where? (#1023)
  code/game/jobs/job/command/cic/captain.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/storage/misc.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/clothing/head/head.dm
  code/modules/gear_presets/uscm_ship.dm
  code/modules/gear_presets/wo.dm
  maps/templates/Chinook.dmm
Due: report:dmdoc, report:map-changed-report

hwoops
  code/modules/projectiles/guns/specialist.dm
Due: report:dmdoc

Unbuckle action for vehicles (#813)
  code/modules/mob/living/carbon/human/human_abilities.dm
  code/modules/vehicles/hardpoints/support/artillery.dm
  code/modules/vehicles/interior/interactable/seats.dm
  code/modules/vehicles/interior/interactable/viewports.dm
  code/modules/vehicles/multitile/multitile.dm
  icons/mob/hud/actions.dmi
Due: report:dmdoc
