Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

report:dmdoc:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies:
  - build:map-templates
  cache:
    key: dmdoc-${SPDMM_VERSION}
    paths:
    - dmdoc-bin
  script:
  - '[ -f dmdoc-bin ] || wget -O dmdoc-bin ${SPDMM_DOWNLOAD_URL}/dmdoc'
  - chmod u+x dmdoc-bin
  - ./dmdoc-bin
  artifacts:
    name: ci_dmdoc
  ...

report:map-changed-report:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies: []
  cache:
    key: dmm-tools-${SPDMM_VERSION}
    paths:
    - dmm-tools
  script:
  - CHANGED_MAP_FILES=`git diff-tree -r --diff-filter=d --name-only --no-commit-id ${CI_COMMIT_BEFORE_SHA}..${CI_COMMIT_SHA} maps/*.dmm`
  ...

speed and deltatime
  code/modules/mob/living/carbon/human/human_abilities.dm
  code/modules/reagents/chemistry_properties/prop_positive.dm
Due: report:dmdoc

Adds Chinese to UPP and UPP commandos
  code/modules/gear_presets/upp.dm
Due: report:dmdoc

Chance's claim dirt now has a proper name for the shovel.
  code/game/objects/items/tools/shovel_tools.dm
Due: report:dmdoc

changed it to black soil
  code/game/objects/items/tools/shovel_tools.dm
Due: report:dmdoc

this is like the protestant reformation but for dirt
  code/game/objects/items/tools/shovel_tools.dm
Due: report:dmdoc

The Peridaxon Incident
  code/__DEFINES/chemistry.dm
  code/game/objects/items/reagent_containers/pill.dm
  code/modules/reagents/chemistry_properties/prop_positive.dm
  code/modules/reagents/chemistry_reagents/medical.dm
Due: report:dmdoc

Brings the nightmare inserts inline with the new changes.
  maps/map_files/LV624/LV624.dmm
  maps/map_files/LV624/standalone/clfship.dmm
  maps/map_files/LV624/standalone/leftsidepass.dmm
  maps/map_files/LV624/standalone/lv-bridge-east.dmm
  maps/map_files/LV624/standalone/lv-bridge-nofog.dmm
  maps/map_files/LV624/standalone/rightsidepass.dmm
  maps/map_files/LV624/standalone/sandtemple-jungle.dmm
  maps/map_files/LV624/standalone/sandtemple-se.dmm
Due: report:map-changed-report

This stasis
  code/modules/organs/organ_internal.dm
Due: report:dmdoc

E.M.C.T.D.P.3
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

M.C.P.4
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Created new van map to expand the tiles from 2x4 to 2x5
  maps/interiors/van.dmm
Due: report:map-changed-report

Changes the LV624 van to a "Colony Truck" with 0 health.
  maps/map_files/LV624/LV624.dmm
Due: report:map-changed-report

Changes the van on Trijent Dam to a "Colony Truck" with 0 health.
  maps/map_files/DesertDam/Desert_Dam.dmm
Due: report:map-changed-report

Changes the van on Solaris Ridge to a "Colony Truck" with 0 health.
  maps/map_files/BigRed/BigRed.dmm
Due: report:map-changed-report

Bugfixed the linter
  code/game/objects/structures/crates_lockers/closets/wardrobe.dm
Due: report:dmdoc

Fixes random space gap, makes the truck a "medium vehicle" so it can haul big crates.
  code/modules/vehicles/van/van.dm
  maps/map_files/LV624/LV624.dmm
Due: report:dmdoc, report:map-changed-report

fixes last typo and completes faxification
  code/_globalvars/global_lists.dm
  code/game/machinery/fax_machine.dm
  code/game/objects/items/storage/belt.dm
  code/modules/admin/tabs/event_tab.dm
  code/modules/admin/topic/topic.dm
Due: report:dmdoc

what proc?
  code/modules/admin/topic/topic.dm
Due: report:dmdoc

how is this proc undefined
  code/modules/admin/topic/topic.dm
Due: report:dmdoc

switches staff to admins ty harry
  code/modules/admin/topic/topic.dm
Due: report:dmdoc

ditto?
  code/modules/admin/topic/topic.dm
Due: report:dmdoc

E.M.C.T.D.P.4
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

should be good
  code/modules/mob/living/carbon/human/human_abilities.dm
Due: report:dmdoc

shouldbe all part 2
  code/datums/disease.dm
  code/datums/diseases/black_goo.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/reagents/chemistry_properties/prop_positive.dm
  icons/mob/hud/actions.dmi
Due: report:dmdoc

E.M.C.T.D.P.5
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

M.C.P.5
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

gotta love it
  code/datums/diseases/black_goo.dm
Due: report:dmdoc

Removes legacy unathi and tajaran clothing. (#2751)
  ColonialMarinesALPHA.dme
  code/game/objects/structures/crates_lockers/closets/wardrobe.dm
  code/modules/clothing/suits/alien.dm
Due: report:dmdoc

Boiler Glob Projectile Icon Update (#2793)
  icons/mob/hud/actions_xeno.dmi
  icons/obj/items/weapons/projectiles.dmi
Due: none

the unfucking
  code/datums/diseases/black_goo.dm
Due: report:dmdoc

M.C.P.6
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

links
  code/__DEFINES/urls.dm
  config/example/config.txt
Due: report:dmdoc

Forum link updates (#2809)
  code/__DEFINES/urls.dm
  config/example/config.txt
Due: report:dmdoc

dist
  code/modules/mob/living/carbon/human/human_abilities.dm
Due: report:dmdoc

dist2
  code/datums/diseases/black_goo.dm
Due: report:dmdoc

M.C.P.7
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

M.C.P.8
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

You can now use a UI button to pull a mask up and down.
  code/modules/clothing/masks/breath.dm
Due: report:dmdoc

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm
