Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

report:dmdoc:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies:
  - build:map-templates
  cache:
    key: dmdoc-${SPDMM_VERSION}
    paths:
    - dmdoc-bin
  script:
  - '[ -f dmdoc-bin ] || wget -O dmdoc-bin ${SPDMM_DOWNLOAD_URL}/dmdoc'
  - chmod u+x dmdoc-bin
  - ./dmdoc-bin
  artifacts:
    name: ci_dmdoc
  ...

report:map-changed-report:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies: []
  cache:
    key: dmm-tools-${SPDMM_VERSION}
    paths:
    - dmm-tools
  script:
  - CHANGED_MAP_FILES=`git diff-tree -r --diff-filter=d --name-only --no-commit-id ${CI_COMMIT_BEFORE_SHA}..${CI_COMMIT_SHA} maps/*.dmm`
  ...

balance
  code/modules/projectiles/ammo_datums.dm
  code/modules/projectiles/gun_attachables.dm
  code/modules/projectiles/guns/rifles.dm
  code/modules/projectiles/guns/specialist.dm
Due: report:dmdoc

changes defines to my ver
  code/__DEFINES/objects.dm
  code/game/machinery/computer/camera_console.dm
  code/game/machinery/machinery.dm
  code/modules/power/power.dm
Due: report:dmdoc

:airplane:
  icons/obj/items/weapons/guns/ammo_box.dmi
Due: none

Create TornScarves (1).dmi
  icons/obj/items/clothing/TornScarves (1).dmi
Due: none

On branch dropship_crew_bunk_revamp Changes to be committed: modified: maps/map_files/USS_Almayer/USS_Almayer.dmm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

init
  code/modules/client/preferences_gear.dm
  code/modules/clothing/masks/breath.dm
  icons/mob/humans/onmob/mask.dmi
  icons/obj/items/clothing/TornScarves (1).dmi
  icons/obj/items/clothing/masks.dmi
Due: report:dmdoc

Smartfridge tgui (#1623)
  code/game/machinery/kitchen/smartfridge.dm
  code/modules/reagents/chemical_research/Chemical-Research.dm
  code/modules/reagents/chemistry_machinery/autodispenser.dm
  code/modules/reagents/chemistry_machinery/chem_master.dm
  code/modules/reagents/chemistry_machinery/reagent_grinder.dm
  nano/templates/smartfridge.tmpl
  tgui/packages/tgui/interfaces/SmartFridge.tsx
  tgui/packages/tgui/interfaces/common/ElectricalPanel.tsx
  tgui/packages/tgui/styles/interfaces/SmartFridge.scss
  tgui/packages/tgui/styles/interfaces/common/ElectricalPanel.scss
  tgui/packages/tgui/styles/main.scss
Due: report:dmdoc

Initial SO Cap
  code/modules/clothing/head/head.dm
  code/modules/gear_presets/uscm_ship.dm
  icons/mob/humans/onmob/head_1.dmi
  icons/obj/items/clothing/Service_hat.dmi
  icons/obj/items/clothing/cm_hats.dmi
Due: report:dmdoc

Initial
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

CO's Deagle and Mateba Rebalance (#1760)
  code/game/machinery/vending/vendor_types/crew/commanding_officer.dm
  code/game/objects/items/storage/belt.dm
  code/modules/projectiles/ammo_datums.dm
  code/modules/projectiles/guns/pistols.dm
  code/modules/projectiles/guns/revolvers.dm
  code/modules/projectiles/magazines/pistols.dm
  code/modules/projectiles/magazines/revolvers.dm
  icons/obj/items/weapons/guns/ammo.dmi
Due: report:dmdoc

Initial
  code/modules/clothing/under/ties.dm
  code/modules/gear_presets/forcon_survivors.dm
  icons/mob/humans/onmob/ties.dmi
  icons/obj/items/clothing/ties.dmi
Due: report:dmdoc

Gloves + Web
  code/game/machinery/vending/vendor_types/crew/staff_officer.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:dmdoc, report:map-changed-report

sidearms + vendors
  code/game/machinery/vending/vendor_types/crew/staff_officer.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:dmdoc, report:map-changed-report

Update USS_Almayer.dmm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Helmet_fix
  code/game/machinery/vending/vendor_types/crew/staff_officer.dm
Due: report:dmdoc

Requested changes
  code/game/machinery/vending/vendor_types/medical.dm
  code/modules/vehicles/interior/interactable/vendors.dm
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/CORSAT/Corsat.dmm
  maps/map_files/DesertDam/Desert_Dam.dmm
  maps/map_files/FOP_v2_Cellblocks/Prison_Station_FOP.dmm
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
  maps/map_files/Ice_Colony_v2/Ice_Colony_v2.dmm
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
  maps/map_files/Kutjevo/Kutjevo.dmm
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
  maps/map_files/LV624/LV624.dmm
  maps/map_files/LV624/gym/20.pool.dmm
  maps/map_files/New_Varadero/New_Varadero.dmm
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
Due: report:dmdoc, report:map-changed-report

the nanu strikes back
  maps/map_files/BigRed/sprinkles/40.admin_pmc.dmm
  maps/map_files/BigRed/standalone/crashlanding-offices.dmm
Due: report:map-changed-report

Re-Initial
  code/__DEFINES/xeno.dm
  code/game/machinery/doors/airlock.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
Due: report:dmdoc

\the
  code/game/machinery/doors/airlock.dm
Due: report:dmdoc

Emote
  code/modules/mob/emote.dm
Due: report:dmdoc

reduces amount of loot replaces wysec with wygoons
  code/game/objects/effects/landmarks/corpsespawner.dm
  code/modules/gear_presets/corpses.dm
  maps/map_files/BigRed/sprinkles/40.admin_pmc.dmm
  maps/map_files/BigRed/standalone/crashlanding-eva.dmm
  maps/map_files/BigRed/standalone/crashlanding-offices.dmm
  maps/map_files/BigRed/standalone/medbay-v3.dmm
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
  maps/map_files/Kutjevo/Kutjevo.dmm
  maps/map_files/LV624/LV624.dmm
Due: report:dmdoc, report:map-changed-report

Changes discord link
  tgui/packages/tgui/interfaces/Changelog.js
Due: none

InterfDisc
  interface/interface.dm
Due: report:dmdoc

Defines
  code/__DEFINES/chemistry.dm
  code/modules/reagents/Chemistry-Holder.dm
Due: report:dmdoc

Observers can now join as huggers from eggs and Carriers
  code/modules/cm_aliens/structures/egg.dm
  code/modules/cm_aliens/structures/special/egg_morpher.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/xenomorph/castes/Carrier.dm
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
Due: report:dmdoc

Kill debug stuff
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
Due: report:dmdoc

Code fixes
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/xenomorph/castes/Carrier.dm
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
Due: report:dmdoc

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-1519.yml
  html/changelogs/AutoChangeLog-pr-1623.yml
  html/changelogs/AutoChangeLog-pr-1687.yml
  html/changelogs/AutoChangeLog-pr-1760.yml
  html/changelogs/AutoChangeLog-pr-1863.yml
  html/changelogs/AutoChangeLog-pr-1865.yml
  html/changelogs/AutoChangeLog-pr-1889.yml
  html/changelogs/AutoChangeLog-pr-1890.yml
  html/changelogs/AutoChangeLog-pr-1891.yml
  html/changelogs/AutoChangeLog-pr-1892.yml
  html/changelogs/archive/2022-12.yml
Due: none

Update girders.dm
  code/game/objects/structures/girders.dm
Due: report:dmdoc

Update walls.dm
  code/game/turfs/walls/walls.dm
Due: report:dmdoc

Update r_wall.dm
  code/game/turfs/walls/r_wall.dm
Due: report:dmdoc

Update twohanded.dm
  code/game/objects/items/weapons/twohanded.dm
Due: report:dmdoc

Moved code around
  code/modules/cm_aliens/structures/egg.dm
  code/modules/cm_aliens/structures/special/egg_morpher.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/xenomorph/castes/Carrier.dm
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
Due: report:dmdoc

Added hugger reserve
  code/modules/mob/living/carbon/xenomorph/abilities/carrier/carrier_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/carrier/carrier_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Carrier.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/carrier/eggsac.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/carrier/shaman.dm
Due: report:dmdoc

MassMod fix
  code/modules/admin/verbs/massmodvar.dm
Due: report:dmdoc

guh
  code/modules/admin/verbs/massmodvar.dm
Due: report:dmdoc

Dead Carrier
  code/modules/mob/living/carbon/xenomorph/castes/Carrier.dm
Due: report:dmdoc

Different hugger limit calculation
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
Due: report:dmdoc

Queen eye shuffles weed sprites when passing over them. (#1901)
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
Due: report:dmdoc

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm
