Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm

adjustments
  code/__DEFINES/minimap.dm
  code/modules/admin/tabs/round_tab.dm
  code/modules/mob/living/carbon/xenomorph/abilities/predalien/predalien_powers.dm
  code/modules/mob/living/carbon/xenomorph/pathogen/castes/popper.dm
  code/modules/mob/living/carbon/xenomorph/pathogen/castes/sprinter.dm
Due: report:dmdoc

RaiseThisCap
  code/__HELPERS/lists.dm
Due: report:dmdoc

Words
  code/__DEFINES/minimap.dm
Due: report:dmdoc

Acid Runner Resprite V2 (#12328)
  code/modules/mob/living/carbon/xenomorph/castes/Runner.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/runner/acider.dm
  icons/mob/xenos/castes/tier_1/runner.dmi
  icons/mob/xenos/castes/tier_1/runner_strain_overlays.dmi
Due: report:dmdoc

maybe fix pharm phys showing as misc dept
  code/modules/gear_presets/uscm_medical.dm
Due: report:dmdoc

UpdatesForTheDay
  code/game/gamemodes/colonialmarines/colonialmarines.dm
  maps/map_files/LV1021_Falcons_Fury/LV1021_Falcons_Fury.dmm
Due: report:dmdoc, report:map-changed-report

replaces sound file
  sound/voice/joe/disturbance_haz.ogg
Due: none

Update preferences_gear.dm
  code/modules/client/preferences_gear.dm
Due: report:dmdoc

I feel like i am stared at
  code/modules/projectiles/projectile.dm
Due: report:dmdoc

Addit
  code/game/area/tyrargo_rift.dm
  maps/map_files/Tyrargo_Rift/Tyrargo_Rift.dmm
Due: report:dmdoc, report:map-changed-report

Update medical.dm
  code/game/machinery/vending/vendor_types/crew/medical.dm
Due: report:dmdoc

asd
  maps/map_files/Tyrargo_Rift/Tyrargo_Rift.dmm
Due: report:map-changed-report

Update White_Antre_Research_Facility.dmm
  maps/map_files/White_Antre_Research_Facility/White_Antre_Research_Facility.dmm
Due: report:map-changed-report

Why was this changed?
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
Due: report:dmdoc

Fixes missing things
  code/game/machinery/vending/vendor_types/crew/medical.dm
Due: report:dmdoc

Found some more.
  code/game/machinery/OpTable.dm
  code/game/machinery/washing_machine.dm
  code/game/objects/items/weapons/blades.dm
  code/game/objects/items/weapons/misc.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/drone/gardener.dm
  code/modules/paperwork/photography.dm
  code/modules/projectiles/guns/lever_action.dm
  code/modules/projectiles/guns/shotguns.dm
  code/modules/reagents/chemistry_machinery/centrifuge.dm
  code/modules/reagents/chemistry_machinery/chem_master.dm
  code/modules/reagents/chemistry_machinery/reagent_grinder.dm
  code/modules/vehicles/multitile/multitile_interaction.dm
Due: report:dmdoc

Woops
  icons/obj/items/clothing/suits/coats_robes.dmi
Due: none

67
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

changes fax machine stuff + station additions
  code/game/area/admin_level.dm
  code/game/machinery/fax_machine.dm
  maps/templates/lazy_templates/cmb_ert_station.dmm
  maps/templates/lazy_templates/fax_responder_base.dmm
Due: report:dmdoc, report:map-changed-report

check for tab/ow, ghost notifcations work
  code/game/objects/items/devices/cictablet.dm
  code/modules/maptext_alerts/command_alert.dm
  code/modules/maptext_alerts/misc_alert.dm
  code/modules/maptext_alerts/screen_alerts.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/mob_helpers.dm
  icons/mob/hud/actions.dmi
Due: report:dmdoc

Update uscm.dm
  code/datums/factions/uscm.dm
Due: report:dmdoc

More Character Slots (#12203)
  code/__DEFINES/client_prefs.dm
Due: report:dmdoc

too many o's
  code/modules/projectiles/projectile.dm
Due: report:dmdoc

SouthComms
  maps/map_files/LV1021_Falcons_Fury/LV1021_Falcons_Fury.dmm
Due: report:map-changed-report

The Nicotine-ing or: How I Learned to Stop Worrying and Love the Desc_Lore (#12384)
  code/game/objects/items/storage/fancy.dm
Due: report:dmdoc

Update code/__DEFINES/minimap.dm
  code/__DEFINES/minimap.dm
Due: report:dmdoc

Suggestion
  code/__HELPERS/lists.dm
Due: report:dmdoc

Revert "LeSigh"
  code/__DEFINES/conflict.dm
  code/modules/cm_tech/implements/adv_weapon.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/gun_attachables.dm
  code/modules/projectiles/guns/boltaction.dm
  code/modules/projectiles/guns/flare_gun.dm
  code/modules/projectiles/guns/lever_action.dm
  code/modules/projectiles/guns/pistols.dm
  code/modules/projectiles/guns/revolvers.dm
  code/modules/projectiles/guns/rifles.dm
  code/modules/projectiles/guns/shotguns.dm
  code/modules/projectiles/guns/smartgun.dm
  code/modules/projectiles/guns/smgs.dm
  code/modules/projectiles/guns/specialist/launcher/grenade_launcher.dm
  code/modules/projectiles/guns/specialist/launcher/rocket_launcher.dm
  code/modules/projectiles/guns/specialist/sharp.dm
  code/modules/projectiles/guns/specialist/sniper.dm
  code/modules/projectiles/magazines/smgs.dm
Due: report:dmdoc

Revert all the Balance stuff
  code/__DEFINES/__game.dm
  code/__DEFINES/conflict.dm
  code/modules/cm_tech/implements/adv_weapon.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/gun_attachables.dm
  code/modules/projectiles/guns/boltaction.dm
  code/modules/projectiles/guns/flare_gun.dm
  code/modules/projectiles/guns/lever_action.dm
  code/modules/projectiles/guns/pistols.dm
  code/modules/projectiles/guns/revolvers.dm
  code/modules/projectiles/guns/rifles.dm
  code/modules/projectiles/guns/shotguns.dm
  code/modules/projectiles/guns/smartgun.dm
  code/modules/projectiles/guns/smgs.dm
  code/modules/projectiles/guns/specialist/launcher/grenade_launcher.dm
  code/modules/projectiles/guns/specialist/launcher/rocket_launcher.dm
  code/modules/projectiles/guns/specialist/sharp.dm
  code/modules/projectiles/guns/specialist/sniper.dm
  code/modules/projectiles/magazines/smgs.dm
Due: report:dmdoc

WeBloat
  code/__DEFINES/__game.dm
  code/__DEFINES/conflict.dm
  code/modules/cm_tech/implements/adv_weapon.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/gun_attachables.dm
  code/modules/projectiles/guns/boltaction.dm
  code/modules/projectiles/guns/flare_gun.dm
  code/modules/projectiles/guns/lever_action.dm
  code/modules/projectiles/guns/pistols.dm
  code/modules/projectiles/guns/revolvers.dm
  code/modules/projectiles/guns/rifles.dm
  code/modules/projectiles/guns/shotguns.dm
  code/modules/projectiles/guns/smartgun.dm
  code/modules/projectiles/guns/smgs.dm
  code/modules/projectiles/guns/specialist/launcher/grenade_launcher.dm
  code/modules/projectiles/guns/specialist/launcher/rocket_launcher.dm
  code/modules/projectiles/guns/specialist/sharp.dm
  code/modules/projectiles/guns/specialist/sniper.dm
  code/modules/projectiles/magazines/smgs.dm
Due: report:dmdoc

LeSigh
  code/__DEFINES/conflict.dm
  code/modules/cm_tech/implements/adv_weapon.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/gun_attachables.dm
  code/modules/projectiles/guns/boltaction.dm
  code/modules/projectiles/guns/flare_gun.dm
  code/modules/projectiles/guns/lever_action.dm
  code/modules/projectiles/guns/pistols.dm
  code/modules/projectiles/guns/revolvers.dm
  code/modules/projectiles/guns/rifles.dm
  code/modules/projectiles/guns/shotguns.dm
  code/modules/projectiles/guns/smartgun.dm
  code/modules/projectiles/guns/smgs.dm
  code/modules/projectiles/guns/specialist/launcher/grenade_launcher.dm
  code/modules/projectiles/guns/specialist/launcher/rocket_launcher.dm
  code/modules/projectiles/guns/specialist/sharp.dm
  code/modules/projectiles/guns/specialist/sniper.dm
  code/modules/projectiles/magazines/smgs.dm
Due: report:dmdoc

MaybeABitLighter
  code/__DEFINES/conflict.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/gun_attachables.dm
  code/modules/projectiles/guns/rifles.dm
  code/modules/projectiles/guns/shotguns.dm
  code/modules/projectiles/guns/smgs.dm
Due: report:dmdoc

First commit
  code/datums/factions/uscm.dm
  code/modules/gear_presets/survivors/tyrargo_rift/us_army_survivors.dm
  code/modules/gear_presets/us_army.dm
  icons/mob/hud/factions/marine.dmi
  icons/ui_icons/map_blips.dmi
Due: report:dmdoc

LetsNotBlockThemForLongerActually
  code/modules/projectiles/gun.dm
Due: report:dmdoc

changes to material spawn for survs
  maps/map_files/USASF_Point_Loma/USASF_Point_Loma.dmm
Due: report:map-changed-report

Bleh
  code/__DEFINES/conflict.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/smgs.dm
Due: report:dmdoc

Bleh
  code/modules/projectiles/guns/shotguns.dm
Due: report:dmdoc

various fixes + disable upper pred ship for good
  maps/map_files/USASF_Point_Loma/USASF_Point_Loma.dmm
Due: report:map-changed-report

capitalise corpse spawner names
  code/modules/gear_presets/corpses.dm
Due: report:dmdoc
