Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

report:dmdoc:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies:
  - build:map-templates
  cache:
    key: dmdoc-${SPDMM_VERSION}
    paths:
    - dmdoc-bin
  script:
  - '[ -f dmdoc-bin ] || wget -O dmdoc-bin ${SPDMM_DOWNLOAD_URL}/dmdoc'
  - chmod u+x dmdoc-bin
  - ./dmdoc-bin
  artifacts:
    name: ci_dmdoc
  ...

report:map-changed-report:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies: []
  cache:
    key: dmm-tools-${SPDMM_VERSION}
    paths:
    - dmm-tools
  script:
  - CHANGED_MAP_FILES=`git diff-tree -r --diff-filter=d --name-only --no-commit-id ${CI_COMMIT_BEFORE_SHA}..${CI_COMMIT_SHA} maps/*.dmm`
  ...

finishuppers
  code/datums/diseases/black_goo.dm
  code/modules/mob/living/carbon/human/human_abilities.dm
Due: report:dmdoc

Adds breaching charges to the RTO vendor
  code/game/machinery/vending/vendor_types/squad_prep/squad_rto.dm
Due: report:dmdoc

actually, one last thing
  code/modules/mob/living/carbon/human/human_abilities.dm
Due: report:dmdoc

Revert "Adds Chinese to UPP and UPP commandos"
  code/modules/gear_presets/upp.dm
Due: report:dmdoc

DRAFT: Adds the role navigations officer.
  ColonialMarinesALPHA.dme
  code/__DEFINES/job.dm
  code/__DEFINES/mode.dm
  code/__HELPERS/job.dm
  code/datums/factions/uscm.dm
  code/datums/skills.dm
  code/game/jobs/job/command/auxiliary/Navigations_Officer.dm
  code/modules/cm_marines/marines_consoles.dm
  code/modules/gear_presets/uscm_ship.dm
  code/modules/mob/new_player/preferences_setup.dm
Due: report:dmdoc

M.C.P.9
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

adjusted the random crate numbers to account for the removal of the dutch crate.
  code/datums/supply_packs/black_market.dm
Due: report:dmdoc

oops forgot some
  code/datums/supply_packs/black_market.dm
Due: report:dmdoc

Surv type soft caps, removes some duplicated definitions
  code/__DEFINES/job.dm
  code/game/gamemodes/cm_initialize.dm
  code/game/jobs/job/civilians/other/survivors.dm
  code/modules/gear_presets/synths.dm
Due: report:dmdoc

Changes CLF weapons to use security
  code/modules/gear_presets/survivors.dm
Due: report:dmdoc

Removes surv marine IFF
  code/modules/gear_presets/survivors.dm
Due: report:dmdoc

Adds ICON; Uniform; Equiptment; Skills
  ColonialMarinesALPHA.dme
  code/__DEFINES/mode.dm
  code/datums/factions/uscm.dm
  code/datums/skills.dm
  code/modules/clothing/under/marine_uniform.dm
  code/modules/gear_presets/uscm_ship.dm
  icons/mob/hud/marine_hud.dmi
Due: report:dmdoc

no more hvh scoping
  code/modules/projectiles/guns/specialist.dm
Due: report:dmdoc

M.C.P.10 - Area fix
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

D
  code/modules/vehicles/van/van.dm
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/DesertDam/Desert_Dam.dmm
  maps/map_files/LV624/LV624.dmm
Due: report:dmdoc, report:map-changed-report

i forgot these ones
  code/modules/projectiles/guns/specialist.dm
Due: report:dmdoc

You can now remove shrapnel from others and fix robolimbs on the DS.
  code/modules/surgery/surgery_initiator.dm
Due: report:dmdoc

Fixes instanced trucks on the colonies.
  code/modules/vehicles/van/van.dm
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/DesertDam/Desert_Dam.dmm
  maps/map_files/LV624/LV624.dmm
Due: report:dmdoc, report:map-changed-report

why was this even /rebreather
  code/modules/client/preferences_gear.dm
  code/modules/clothing/masks/breath.dm
Due: report:dmdoc

Defaults to civilian if over survivor type cap
  code/game/gamemodes/cm_initialize.dm
  code/game/jobs/job/civilians/other/survivors.dm
Due: report:dmdoc

Removes DD gear and a combat drone from Black Market (#2802)
  code/datums/supply_packs/black_market.dm
Due: report:dmdoc

Oops.
  code/datums/supply_packs/black_market.dm
Due: report:dmdoc

Adds Chinese to UPP and UPP commandos (#2804)
  code/modules/gear_presets/upp.dm
Due: report:dmdoc

And back to any
  code/game/gamemodes/cm_initialize.dm
  code/game/jobs/job/civilians/other/survivors.dm
Due: report:dmdoc

increases medical and engineering totals
  code/__DEFINES/job.dm
Due: report:dmdoc

Restores all missing clothing icon states
  code/game/objects/effects/spawners/wo_spawners/supplies.dm
  code/modules/clothing/head/head.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/masks/breath.dm
  code/modules/clothing/suits/marine_coat.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/under/marine_uniform.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/cm_tech/implements/armor.dm
  icons/mob/humans/onmob/head_0.dmi
  icons/mob/humans/onmob/suit_0.dmi
  icons/mob/humans/onmob/uniform_0.dmi
  icons/obj/items/clothing/backpacks.dmi
  icons/obj/items/clothing/cm_hats.dmi
  icons/obj/items/clothing/hats.dmi
  icons/obj/items/clothing/suits.dmi
  icons/obj/items/clothing/uniforms.dmi
Due: report:dmdoc

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-2751.yml
  html/changelogs/AutoChangeLog-pr-2802.yml
  html/changelogs/AutoChangeLog-pr-2804.yml
  html/changelogs/AutoChangeLog-pr-2809.yml
  html/changelogs/archive/2023-03.yml
Due: none

Adds new hud icon.
  icons/mob/hud/marine_hud.dmi
Due: none

Initial
  code/modules/mob/living/carbon/human/human.dm
Due: report:dmdoc

condenses faction away, changes a survivor loadout, fixes anchorpoint, no hud for squad still
  code/__DEFINES/mode.dm
  code/datums/factions/cmb.dm
  code/game/objects/items/devices/radio/headset.dm
  code/modules/gear_presets/cmb.dm
  code/modules/gear_presets/survivors.dm
Due: report:dmdoc

Forum link update
  README.md
Due: none

Initial
  code/modules/vehicles/interior/interactable/seats.dm
Due: report:dmdoc

Fixes a vital bug involving dirt on LV-552. (#2805)
  code/game/objects/items/tools/shovel_tools.dm
Due: report:dmdoc

volumes changes
  code/game/gamemodes/colonialmarines/colonialmarines.dm
  code/modules/cm_tech/droppod/lz_effect.dm
Due: report:dmdoc

M.C.P.11
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

notes and combat logs view
  code/__DEFINES/admin.dm
  code/modules/admin/topic/topic.dm
  code/modules/admin/verbs/adminpm.dm
Due: report:dmdoc

better font color
  code/modules/admin/verbs/adminpm.dm
Due: report:dmdoc

Update uscm.dm
  code/modules/gear_presets/uscm.dm
Due: report:dmdoc

Adds in global vars and a define so we can adjust the highpop
  code/modules/gear_presets/uscm.dm
Due: report:dmdoc

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm
