Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm

removes goto
  code/game/objects/shrapnel.dm
Due: report:dmdoc

This is probably the worst code ive written but i also couldnt figure out actions so dont blame me
  code/__DEFINES/weapon_stats.dm
  code/modules/projectiles/guns/revolvers.dm
Due: report:dmdoc

forgot a var
  code/modules/projectiles/guns/revolvers.dm
Due: report:dmdoc

shrap
  code/datums/ammo/shrapnel.dm
  code/game/objects/items/explosives/grenades/marines.dm
  code/game/objects/items/explosives/mine.dm
  code/game/objects/items/explosives/plastic.dm
Due: report:dmdoc

vegetables -> vegetable
  code/game/objects/items/reagent_containers/food/canned_food.dm
  code/game/objects/items/reagent_containers/food/mre_food/twe.dm
  code/game/objects/items/reagent_containers/food/mre_food/uscm.dm
Due: report:dmdoc

Part 1 still not done
  code/__DEFINES/_math.dm
  code/__DEFINES/dcs/signals/atom/mob/living/signals_xeno.dm
  code/__DEFINES/mobs.dm
  code/__DEFINES/subsystems.dm
  code/__DEFINES/xeno_ai.dm
  code/__HELPERS/unsorted.dm
  code/_globalvars/lists/object_lists.dm
  code/controllers/subsystem/pathfinding.dm
  code/controllers/subsystem/xeno_ai.dm
  code/datums/components/xeno/ai_behavior_overrides/attack_override_behavior.dm
  code/datums/components/xeno/ai_behavior_overrides/base_override_behavior.dm
  code/datums/components/xeno/ai_behavior_overrides/build_override_behavior.dm
  code/datums/components/xeno/ai_behavior_overrides/capture_override_behavior.dm
  code/datums/components/xeno/ai_behavior_overrides/hive_override_behavior.dm
  code/modules/defenses/defenses.dm
  code/modules/mob/living/carbon/xenomorph/abilities/xeno_action.dm
  code/modules/mob/living/carbon/xenomorph/ai/movement/base_define.dm
  code/modules/mob/living/carbon/xenomorph/ai/movement/crusher.dm
  code/modules/mob/living/carbon/xenomorph/ai/movement/drone.dm
  code/modules/mob/living/carbon/xenomorph/ai/movement/facehugger.dm
  code/modules/mob/living/carbon/xenomorph/ai/movement/linger.dm
  code/modules/mob/living/carbon/xenomorph/ai/movement/lurking.dm
  code/modules/mob/living/carbon/xenomorph/ai/xeno_ai.dm
  code/modules/mob/living/carbon/xenomorph/xeno_ai_interaction.dm
  colonialmarines.dme
Due: report:dmdoc

d
  code/datums/ammo/shrapnel.dm
Due: report:dmdoc

a
  code/game/objects/items/explosives/grenades/marines.dm
Due: report:dmdoc

remove_firemode
  code/modules/projectiles/guns/revolvers.dm
Due: report:dmdoc

fixed it guys thank you
  code/modules/mob/mob.dm
Due: report:dmdoc

poddoor subtyping & armory fix
  code/game/machinery/doors/poddoor/shutters/shutters.dm
  maps/predship/huntership.dmm
  maps/templates/lazy_templates/pred/jungle_moon.dmm
Due: report:dmdoc, report:map-changed-report

More icons!
  code/modules/cm_aliens/structures/special/egg_morpher.dm
  code/modules/cm_aliens/structures/special/recovery_node.dm
  icons/ui_icons/map_blips.dmi
Due: report:dmdoc

palces icons back in place
  icons/ui_icons/map_blips.dmi
Due: none

href fix
  code/modules/borer/borer_procs.dm
Due: report:dmdoc

Hopefully fixes it for real this time
  icons/ooc.dmi
Due: none

staff manager
  icons/ooc.dmi
Due: none

Stricter AFK timer
  code/modules/mob/mob.dm
Due: report:dmdoc

lots more work
  code/controllers/subsystem/moba.dm
  code/datums/components/moba/moba_death_reward.dm
  code/datums/components/moba/moba_player.dm
  code/datums/moba/items/_item.dm
  code/datums/moba/items/testing_items.dm
  code/datums/moba/map/hive_core.dm
  code/datums/moba/map/misc.dm
  code/datums/moba/map/moba_tunnel.dm
  code/datums/moba/map/turret.dm
  code/datums/moba/moba_controller.dm
  code/datums/moba/moba_player.dm
  code/game/objects/effects/decals/remains.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/death.dm
  maps/map_files/MOBA/moba_map.dmm
Due: report:dmdoc, report:map-changed-report

component no longer holds gold/xp/level
  code/datums/components/moba/moba_player.dm
  code/datums/moba/castes/_moba_caste.dm
  code/datums/moba/moba_player.dm
Due: report:dmdoc

first commit
  code/__DEFINES/colours.dm
  code/datums/weather/weather_events/sorokyne.dm
  code/datums/weather/weather_map_holders/sorokyne.dm
  code/game/area/strata.dm
  code/game/objects/effects/decals/posters.dm
  code/game/objects/effects/decals/posters/poster_list.dm
  code/game/objects/effects/decals/strata_decals.dm
  code/game/objects/items/props/rocks.dm
  code/game/objects/structures/cargo_container.dm
  code/game/objects/structures/flora.dm
  code/game/objects/structures/mineral_doors.dm
  code/game/objects/structures/platforms.dm
  code/game/objects/structures/shower.dm
  code/game/turfs/auto_turf.dm
  code/game/turfs/soro.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/sorokyne/sorokyne_cold_water.dm
  colonialmarines.dme
  icons/effects/strata_decals.dmi
  icons/obj/structures/doors/mineral_doors.dmi
  icons/obj/structures/props/containers/contain.dmi
  icons/obj/structures/props/landing_signs.dmi
  icons/obj/structures/props/natural/rocks.dmi
  icons/obj/structures/props/natural/vegetation/colorable_junge_bush.dmi
  icons/obj/structures/props/platforms.dmi
  icons/obj/structures/props/wall_decorations/posters.dmi
  icons/obj/structures/props/watercloset.dmi
  icons/turf/floors/ground_map_dirt.dmi
  icons/turf/floors/strata_floor.dmi
  icons/turf/walls/jungle_soro_rock_walls.dmi
  icons/turf/walls/rwall.dmi
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
  maps/sorokyne_strata.json
Due: report:dmdoc, report:map-changed-report

items on respawn, no more minion passthrough
  code/datums/components/moba/moba_minion.dm
  code/datums/components/moba/moba_player.dm
Due: report:dmdoc

new van and altered lv624 crash
  code/game/turfs/walls/wall_types.dm
  code/modules/vehicles/van/clf_van.dm
  icons/obj/vehicles/CLF_van.dmi
  maps/map_files/LV624/standalone/clfship.dmm
Due: report:dmdoc, report:map-changed-report

Fixup maps in TGM format
  maps/map_files/LV624/standalone/clfship.dmm
Due: report:map-changed-report

timer
  maps/map_files/LV624/standalone/clfship.dmm
Due: report:map-changed-report

final, added warning stripes to cryo areas.
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Fixup maps in TGM format
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

forgot synth
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

upd
  code/modules/projectiles/guns/flamer/flamer.dm
  code/modules/projectiles/magazines/flamer.dm
  icons/mob/humans/onmob/inhands/weapons/guns/flamers_lefthand.dmi
  icons/mob/humans/onmob/inhands/weapons/guns/flamers_righthand.dmi
  icons/obj/items/weapons/guns/guns_by_faction/colony/flamers.dmi
  icons/obj/items/weapons/guns/lineart.dmi
Due: report:dmdoc

major code cleanups
  code/modules/cm_marines/overwatch.dm
  tgui/packages/tgui/interfaces/CentralOverwatchConsole.jsx
Due: report:dmdoc

typo fix
  tgui/packages/tgui/interfaces/CentralOverwatchConsole.jsx
Due: none

finishing touches
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

fixes a single vent
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

fixie linties yummy yummy
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Almayer tacmap for marines
  code/controllers/subsystem/minimap.dm
  tgui/packages/tgui/interfaces/TacticalMap.tsx
Due: report:dmdoc

Some renaming
  code/controllers/subsystem/minimap.dm
  tgui/packages/tgui/interfaces/TacticalMap.tsx
Due: report:dmdoc

Adds missing OOC icon (#8632)
  icons/ooc.dmi
Due: none

StairFixUp
  maps/map_files/Navalis_Platform_13/Navalis_Platform_13.dmm
  maps/map_files/Navalis_Platform_13_singlez/Navalis_Platform_13_singlez.dmm
Due: report:map-changed-report
