Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

report:dmdoc:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies:
  - build:map-templates
  cache:
    key: dmdoc-${SPDMM_VERSION}
    paths:
    - dmdoc-bin
  script:
  - '[ -f dmdoc-bin ] || wget -O dmdoc-bin ${SPDMM_DOWNLOAD_URL}/dmdoc'
  - chmod u+x dmdoc-bin
  - ./dmdoc-bin
  artifacts:
    name: ci_dmdoc
  ...

report:map-changed-report:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies: []
  cache:
    key: dmm-tools-${SPDMM_VERSION}
    paths:
    - dmm-tools
  script:
  - CHANGED_MAP_FILES=`git diff-tree -r --diff-filter=d --name-only --no-commit-id ${CI_COMMIT_BEFORE_SHA}..${CI_COMMIT_SHA} maps/*.dmm`
  ...

Spaceport ERT additions/changes, PMC/Commando objective change (#12052)
  code/datums/emergency_calls/pmc.dm
  code/datums/emergency_calls/wy_commando.dm
  code/datums/spaceports.dm
Due: report:dmdoc

We are covering in veil again
  code/modules/cm_aliens/structures/special_structure.dm
Due: report:dmdoc

vailed creature
  code/modules/cm_aliens/structures/special_structure.dm
Due: report:dmdoc

MultiZRoofs
  maps/map_files/Fort_McNeil/Fort_McNeil.dmm
Due: report:map-changed-report

JSON
  maps/fort_mcneil.json
Due: none

changes
  code/game/gamemodes/cm_initialize.dm
Due: report:dmdoc

Whitespace
  code/modules/paperwork/filingcabinet.dm
Due: report:dmdoc

Refactor new filing cabinets
  code/modules/paperwork/filingcabinet.dm
Due: report:dmdoc

Acid Sac Overlay Code
  code/modules/mob/living/carbon/xenomorph/castes/Runner.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/runner/acider.dm
Due: report:dmdoc

small fix
  code/game/objects/structures/landing_signs.dm
  maps/map_files/Fire_Colony/Fire_Colony.dmm
Due: report:dmdoc, report:map-changed-report

fixes
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  icons/turf/floors/hybrisafloors.dmi
  maps/map_files/Fire_Colony/Fire_Colony.dmm
Due: report:dmdoc, report:map-changed-report

missing floor icon fix
  icons/turf/floors/hybrisafloors.dmi
Due: none

mutant start
  code/__DEFINES/mobs.dm
  code/modules/mob/living/carbon/human/species/yautja/_species.dm
  code/modules/mob/living/carbon/human/species/yautja/mutant.dm
  colonialmarines.dme
  icons/mob/humans/species/r_predator_mutant.dmi
Due: report:dmdoc

fixes areas
  code/game/area/Point_Loma.dm
  maps/map_files/USASF_Point_Loma/USASF_Point_Loma.dmm
Due: report:dmdoc, report:map-changed-report

fix some areas in caves
  maps/map_files/USASF_Point_Loma/USASF_Point_Loma.dmm
Due: report:map-changed-report

suit
  .vscode/settings.json
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
  code/modules/clothing/suits/marine_armor/ert.dm
  code/modules/clothing/suits/utility.dm
  code/modules/clothing/under/marine_uniform.dm
Due: report:dmdoc

shades fix and minor fixes
  icons/mob/humans/onmob/clothing/glasses/glasses.dmi
  maps/map_files/Fire_Colony/Fire_Colony.dmm
Due: report:map-changed-report

should fix it?
  code/modules/client/preferences_gear.dm
Due: report:dmdoc

vic
  code/game/turfs/lava.dm
  code/modules/fire_colony/lava.dm
  code/modules/vehicles/hardpoints/wheels/locomotion.dm
Due: report:dmdoc

thanks vscode
  .vscode/settings.json
Due: none

Visitation access
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

fixes
  code/game/objects/structures/hybrisa_props.dm
  code/modules/clothing/suits/utility.dm
  icons/obj/items/clothing/shoes.dmi
  maps/map_files/Fire_Colony/Fire_Colony.dmm
Due: report:dmdoc, report:map-changed-report

Climbing up and down with full hands and pulling stuff
  code/game/turfs/closed.dm
  code/game/turfs/open_space.dm
Due: report:dmdoc

minplayers
  map_config/maps.txt
Due: none

MoreWork
  maps/fort_mcneil.json
  maps/map_files/Fort_McNeil/Fort_McNeil.dmm
Due: report:map-changed-report

adds missing turfs
  maps/map_files/USASF_Point_Loma/USASF_Point_Loma.dmm
Due: report:map-changed-report

correct under window turf
  maps/map_files/USASF_Point_Loma/USASF_Point_Loma.dmm
Due: report:map-changed-report

anonimized corpses
  code/modules/gear_presets/corpses.dm
  maps/map_files/USASF_Point_Loma/USASF_Point_Loma.dmm
Due: report:dmdoc, report:map-changed-report

Update colour.dm
  code/modules/clothing/shoes/colour.dm
Due: report:dmdoc

Update paper.dm
  code/modules/paperwork/paper.dm
Due: report:dmdoc

Update senior_officers.dm
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
Due: report:dmdoc

give install.sh & pre-commit execute perms, bump pygit2 to 1.19
  tools/hooks/install.sh
  tools/hooks/pre-commit.hook
  tools/requirements.txt
Due: none

action.dmi resolve
  icons/mob/hud/actions.dmi
Due: none

predators -> yautja hunters
  code/game/gamemodes/colonialmarines/hunter_games.dm
Due: report:dmdoc

Fixup maps in TGM format
  maps/map_files/BigRed/sprinkles/40.viro_open.dmm
  maps/map_files/DesertDam/Desert_Dam.dmm
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
  maps/map_files/LV624/LV624.dmm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

workshop wall changes + OOB areas
  maps/map_files/USASF_Point_Loma/USASF_Point_Loma.dmm
Due: report:map-changed-report

crash decor
  maps/map_files/USASF_Point_Loma/USASF_Point_Loma.dmm
Due: report:map-changed-report

Update yaut_weapons.dm
  code/modules/cm_preds/yaut_weapons.dm
Due: report:dmdoc

Update yaut_bracers.dm
  code/modules/cm_preds/yaut_bracers.dm
Due: report:dmdoc

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm
