Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm

Allows for trailing or leading whitespace in VV edits (#5417)
  code/modules/admin/view_variables/get_variables.dm
  code/modules/tgui_input/text.dm
Due: report:dmdoc

Allows larvae and huggers to crawl through acid holes (#5431)
  code/game/objects/effects/acid_hole.dm
Due: report:dmdoc

Fix all hands on deck message not targeting those in cryopods
  code/defines/procs/announcement.dm
Due: report:dmdoc

add multi tile assembly to the building possibility.
  code/game/objects/items/stacks/sheets/sheet_types.dm
Due: report:dmdoc

crazy
  maps/map_files/Kutjevo/Kutjevo.dmm
Due: report:map-changed-report

Update overwatch.dm
  code/modules/cm_marines/overwatch.dm
Due: report:dmdoc

refactor files to change variable name using colour to color. (#5396)
  code/game/objects/items/tools/misc_tools.dm
  code/modules/mob/living/silicon/robot/robot_items.dm
  code/modules/paperwork/paper.dm
Due: report:dmdoc

Character name max length increase by 2. (#5358)
  code/__DEFINES/text.dm
Due: report:dmdoc

comment was slightly bugging me
  code/__DEFINES/dcs/signals/atom/mob/signals_mind.dm
Due: report:dmdoc

x
  icons/mob/xenonids/facehugger.dmi
Due: none

trijent lights
  maps/map_files/DesertDam/Desert_Dam.dmm
Due: report:map-changed-report

Permabrig Chairs face the right way
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Revert "Permabrig Chairs face the right way"
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

late reviews
  code/__DEFINES/dcs/signals/atom/mob/living/signals_xeno.dm
  code/datums/components/temporary_mute.dm
  code/modules/mob/living/carbon/xenomorph/castes/Facehugger.dm
  code/modules/mob/living/carbon/xenomorph/castes/lesser_drone.dm
  code/modules/mob/living/carbon/xenomorph/say.dm
Due: report:dmdoc

a
  code/datums/components/temporary_mute.dm
Due: report:dmdoc

seperates sg ammo from utility picks
  code/game/machinery/vending/vendor_types/squad_prep/squad_smartgunner.dm
  code/modules/cm_marines/equipment/weapons.dm
Due: report:dmdoc

increases range to 4 tiles, lowers ammo availability
  code/datums/ASRS.dm
  code/datums/ammo/bullet/shotgun.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
Due: report:dmdoc

Makes Permabrig chairs face south
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

M56D
  code/modules/cm_marines/smartgun_mount.dm
Due: report:dmdoc

And this too because I'm here anyway
  code/modules/cm_marines/m2c.dm
Due: report:dmdoc

initial
  code/__HELPERS/#maths.dm
  code/__HELPERS/unsorted.dm
  code/_onclick/adjacent.dm
  code/game/objects/items/devices/binoculars.dm
  code/game/objects/items/hoverpack.dm
  code/modules/cm_aliens/XenoStructures.dm
  code/modules/defenses/bell_tower.dm
  code/modules/defenses/sentry.dm
  code/modules/defenses/tesla_coil.dm
  code/modules/mob/living/carbon/xenomorph/abilities/boiler/boiler_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/lurker/lurker_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/xeno_action.dm
  code/modules/movement/launching/launching.dm
  code/modules/projectiles/gun_attachables.dm
  code/modules/projectiles/guns/flamer/flamer.dm
  code/modules/projectiles/guns/flamer/flameshape.dm
  code/modules/projectiles/guns/shotguns.dm
  code/modules/projectiles/guns/smartgun.dm
  code/modules/projectiles/guns/specialist/sniper.dm
  code/modules/projectiles/projectile.dm
Due: report:dmdoc

n_ceil() to Ceiling()
  code/__HELPERS/#maths.dm
  code/game/objects/items/reagent_containers/food/sandwich.dm
  code/modules/mob/living/carbon/xenomorph/hive_status.dm
  code/modules/reagents/chemistry_machinery/chem_simulator.dm
Due: report:dmdoc

Minor fixes
  code/modules/gear_presets/survivors/solaris/preset_solaris.dm
  code/modules/gear_presets/survivors/survivors.dm
Due: report:dmdoc

Removes the old CL suits from all the
  code/modules/clothing/under/marine_uniform.dm
  code/modules/gear_presets/cmb.dm
  code/modules/gear_presets/corpses.dm
  code/modules/gear_presets/survivors/corsat/preset_corsat.dm
  code/modules/gear_presets/survivors/lv_624/preset_lv.dm
  code/modules/gear_presets/survivors/misc.dm
  code/modules/gear_presets/survivors/new_varadero/preset_new_varadero.dm
  code/modules/gear_presets/survivors/shivas_snowball/preset_shivas_snowball.dm
  code/modules/gear_presets/survivors/solaris/preset_solaris.dm
  code/modules/gear_presets/survivors/survivors.dm
  code/modules/gear_presets/uscm_ship.dm
  code/modules/gear_presets/wo.dm
  code/modules/gear_presets/wy.dm
  code/modules/gear_presets/wy_goons.dm
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
  maps/map_files/LV624/LV624.dmm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:dmdoc, report:map-changed-report

reduces volume from 100 to 65
  code/datums/effects/neurotoxin.dm
Due: report:dmdoc

renames c to client
  code/game/sound.dm
Due: report:dmdoc

refactor change some color by using defines already there (#5398)
  code/__DEFINES/colours.dm
  code/__DEFINES/minimap.dm
  code/game/objects/effects/decals/cleanable/blood/robots.dm
  code/game/objects/effects/decals/crayon.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/radio/listening_bugs.dm
  code/game/objects/items/paint.dm
  code/game/objects/items/reagent_containers/food.dm
  code/game/objects/items/reagent_containers/food/snacks.dm
  code/game/objects/items/reagent_containers/food/snacks/grown.dm
  code/game/objects/items/stacks/cable_coil.dm
  code/game/objects/items/toys/crayons.dm
  code/game/objects/structures/crates_lockers/largecrate.dm
  code/modules/animations/animation_library.dm
  code/modules/cm_tech/tech_tiers.dm
  code/modules/gear_presets/uscm_ship.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/chemistry_reagents/alcohol.dm
  code/modules/reagents/chemistry_reagents/drink.dm
  code/modules/reagents/chemistry_reagents/food.dm
  code/modules/reagents/chemistry_reagents/other.dm
  code/modules/reagents/chemistry_reagents/toxin.dm
Due: report:dmdoc

Update code/__DEFINES/dcs/signals/atom/mob/living/signals_xeno.dm
  code/__DEFINES/dcs/signals/atom/mob/living/signals_xeno.dm
Due: report:dmdoc

Update code/__DEFINES/xeno.dm
  code/__DEFINES/xeno.dm
Due: report:dmdoc

Update code/modules/mob/living/carbon/xenomorph/abilities/predalien/predalien_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/predalien/predalien_powers.dm
Due: report:dmdoc

hitreg
  code/modules/mob/living/carbon/xenomorph/abilities/predalien/predalien_powers.dm
Due: report:dmdoc

macros
  code/modules/mob/living/carbon/xenomorph/abilities/predalien/predalien_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/predalien/predalien_macros.dm
  colonialmarines.dme
Due: report:dmdoc

Requisitions delivery outlet fix (#5436)
  code/modules/recycling/disposal.dm
Due: report:dmdoc

requests
  code/modules/mob/living/carbon/xenomorph/abilities/predalien/predalien_powers.dm
Due: report:dmdoc

Update OverwatchConsole.jsx
  tgui/packages/tgui/interfaces/OverwatchConsole.jsx
Due: none

Adds the ability to put prescription lenses in role-related optics (#5367)
  code/modules/clothing/glasses/glasses.dm
Due: report:dmdoc

Automatic changelog for PR #5367 [ci skip]
  html/changelogs/AutoChangeLog-pr-5367.yml
Due: none
