Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

report:dmdoc:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies:
  - build:map-templates
  cache:
    key: dmdoc-${SPDMM_VERSION}
    paths:
    - dmdoc-bin
  script:
  - '[ -f dmdoc-bin ] || wget -O dmdoc-bin ${SPDMM_DOWNLOAD_URL}/dmdoc'
  - chmod u+x dmdoc-bin
  - ./dmdoc-bin
  artifacts:
    name: ci_dmdoc
  ...

report:map-changed-report:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies: []
  cache:
    key: dmm-tools-${SPDMM_VERSION}
    paths:
    - dmm-tools
  script:
  - CHANGED_MAP_FILES=`git diff-tree -r --diff-filter=d --name-only --no-commit-id ${CI_COMMIT_BEFORE_SHA}..${CI_COMMIT_SHA} maps/*.dmm`
  ...

Automatic changelog for PR #3154 [ci skip]
  html/changelogs/AutoChangeLog-pr-3154.yml
Due: none

your love is tried and true blue
  code/modules/admin/admin_verbs.dm
Due: report:dmdoc

Update Kutjevo.dmm
  maps/map_files/Kutjevo/Kutjevo.dmm
Due: report:map-changed-report

Undefs stuff at the end, left a comment for future generations that mess with Ship vs Ship to mess with PD.
  code/modules/almayer/weaponhits.dm
Due: report:dmdoc

Update code/game/machinery/computer/dropship_weapons.dm
  code/game/machinery/computer/dropship_weapons.dm
Due: report:dmdoc

Update code/game/machinery/computer/demo_sim.dm
  code/game/machinery/computer/demo_sim.dm
Due: report:dmdoc

Update code/game/cas_manager/datums/cas_fire_mission.dm
  code/game/cas_manager/datums/cas_fire_mission.dm
Due: report:dmdoc

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-3090.yml
  html/changelogs/AutoChangeLog-pr-3116.yml
  html/changelogs/AutoChangeLog-pr-3118.yml
  html/changelogs/AutoChangeLog-pr-3149.yml
  html/changelogs/AutoChangeLog-pr-3154.yml
  html/changelogs/AutoChangeLog-pr-3161.yml
  html/changelogs/AutoChangeLog-pr-3162.yml
  html/changelogs/AutoChangeLog-pr-3163.yml
  html/changelogs/AutoChangeLog-pr-3168.yml
  html/changelogs/archive/2023-04.yml
Due: none

utilized macro
  code/game/sim_manager/datums/simulator.dm
Due: report:dmdoc

Fix debugging with aux tools
  code/__DEFINES/__spacemandmm.dm
Due: report:dmdoc

whoops
  code/game/world.dm
Due: report:dmdoc

Initial
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Adds a Spec to the Foxtrot Cryo Squad. (#3151)
  code/datums/emergency_calls/cryo_marines.dm
  code/modules/cm_marines/equipment/kit_boxes.dm
  code/modules/gear_presets/uscm.dm
Due: report:dmdoc

Automatic changelog for PR #3151 [ci skip]
  html/changelogs/AutoChangeLog-pr-3151.yml
Due: none

asfd
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_powers.dm
Due: report:dmdoc

Update praetorian_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_powers.dm
Due: report:dmdoc

runtime logs too
  code/__HELPERS/guid.dm
  code/__HELPERS/logging.dm
  code/game/runtimes.dm
  code/game/world.dm
  code/modules/logging/global_logs.dm
  colonialmarines.dme
Due: report:dmdoc

moves things out of the config folder into the string folder (#3166)
  code/names.dm
  config/names/clown.txt
  config/names/first_female.txt
  config/names/verbs.txt
  strings/ai.txt
  strings/clown.txt
  strings/death_commando.txt
  strings/first.txt
  strings/first_female.txt
  strings/first_male.txt
  strings/last.txt
  strings/operation_postfix.txt
  strings/operation_prefix.txt
  strings/operation_title.txt
  strings/verbs.txt
Due: report:dmdoc

Admin logs added, nothing else changed.
  code/modules/admin/verbs/adminpanelgq.dm
  code/modules/admin/verbs/adminpanelweapons.dm
Due: report:dmdoc

whoops
  code/__DEFINES/redis.dm
  code/game/world.dm
Due: report:dmdoc

makes db config use config
  code/controllers/configuration/entries/dbconfig.dm
  code/datums/_ndatabase/code/brsql_connection_settings.dm
  code/datums/_ndatabase/code/interfaces/connection_settings.dm
  code/datums/_ndatabase/code/native_connection_settings.dm
  code/datums/_ndatabase/subsystems/database_query_manager.dm
  code/game/world.dm
  colonialmarines.dme
Due: report:dmdoc

huh??
  code/game/world.dm
Due: report:dmdoc

redis improvements
  code/controllers/subsystem/redis.dm
  code/datums/tgs_event_handler.dm
Due: report:dmdoc

sprites
  icons/obj/structures/props/landing_signs.dmi
Due: none

Changes MP Clothing (#3174)
  code/game/machinery/vending/vendor_types/crew/mp.dm
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/suits/marine_armor.dm
  code/modules/clothing/under/marine_uniform.dm
  icons/mob/humans/onmob/head_0.dmi
  icons/mob/humans/onmob/head_1.dmi
  icons/mob/humans/onmob/suit_0.dmi
  icons/mob/humans/onmob/suit_1.dmi
  icons/mob/humans/onmob/uniform_0.dmi
  icons/obj/items/clothing/cm_hats.dmi
  icons/obj/items/clothing/cm_suits.dmi
  icons/obj/items/clothing/hats.dmi
  icons/obj/items/clothing/suits.dmi
  icons/obj/items/clothing/uniforms.dmi
Due: report:dmdoc

Automatic changelog for PR #3174 [ci skip]
  html/changelogs/AutoChangeLog-pr-3174.yml
Due: none

added path following for firemissions
  code/game/cas_manager/datums/cas_fire_mission.dm
  code/game/machinery/computer/dropship_weapons.dm
  code/game/sim_manager/datums/simulator.dm
Due: report:dmdoc

bug fix for sim reset
  code/game/machinery/computer/dropship_weapons.dm
Due: report:dmdoc

review
  icons/mob/humans/onmob/uniform_0.dmi
Due: none

Fixes a weird animation glitch with Almayer doors
  icons/obj/structures/doors/dropship1_side.dmi
Due: none

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-3151.yml
  html/changelogs/AutoChangeLog-pr-3174.yml
  html/changelogs/archive/2023-04.yml
Due: none

Logs now apepar on in game admin logs instead of just in the STUI panel, making it easier to see.
  code/modules/admin/verbs/adminpanelgq.dm
  code/modules/admin/verbs/adminpanelweapons.dm
Due: report:dmdoc

Various fixes.
  icons/obj/structures/machinery/computer.dmi
  icons/turf/lifeboat.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Update USS_Almayer.dmm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm
