Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm

Fix crash
  code/game/turfs/closed.dm
  map_config/maps.txt
  maps/biggerred.json
  maps/map_files/BiggerRed/BigRed.dmm
Due: report:dmdoc, report:map-changed-report

Update turf.dm
  code/game/turfs/turf.dm
Due: report:dmdoc

linters
  code/game/turfs/open_space.dm
  maps/map_files/BiggerRed/BigRed.dmm
Due: report:dmdoc, report:map-changed-report

Update open_space.dm
  code/game/turfs/open_space.dm
Due: report:dmdoc

Update code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_powers.dm
Due: report:dmdoc

undocommit
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_powers.dm
Due: report:dmdoc

linter sucks
  maps/map_files/BiggerRed/BigRed.dmm
Due: report:map-changed-report

Update plane_master.dm
  code/_onclick/hud/rendering/plane_master.dm
Due: report:dmdoc

??
  maps/map_files/BiggerRed/BigRed.dmm
Due: report:map-changed-report

removes unused modes
  code/game/gamemodes/extended/cm_vs_upp.dm
Due: report:dmdoc

removes unused modes
  code/game/gamemodes/round_modifiers.dm
Due: report:dmdoc

logic improve
  code/game/gamemodes/game_mode.dm
Due: report:dmdoc

fix linter maybe
  tgui/packages/tgui/interfaces/Mortar.jsx
  tgui/packages/tgui/interfaces/OverwatchConsole.jsx
  tgui/packages/tgui/interfaces/SupplyDropConsole.jsx
Due: none

Update code/datums/ammo/bullet/special_ammo.dm
  code/datums/ammo/bullet/special_ammo.dm
Due: report:dmdoc

ARGGG, I will... lets keep that only in mind
  code/modules/cm_marines/dropship_ammo.dm
Due: report:dmdoc

Update code/modules/client/preferences_gear.dm
  code/modules/client/preferences_gear.dm
Due: report:dmdoc

vendor fixes + keffiyeh
  code/game/machinery/vending/vendor_types/crew/commanding_officer.dm
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
  code/game/machinery/vending/vendor_types/crew/staff_officer.dm
  code/modules/clothing/masks/breath.dm
Due: report:dmdoc

Fix
  core_ru/code/modules/mob/living/carbon/xenomorph/strains/castes/ravager/flamethrower.dm
Due: report:dmdoc

Removes nightmare inserts
  maps/map_files/BiggerRed/BigRed.dmm
Due: report:map-changed-report

removes nightmare paths
  maps/biggerred.json
Due: none

please
  code/__DEFINES/__game.dm
  code/modules/cm_marines/equipment/maps.dm
Due: report:dmdoc

keffiyeh fixes
  code/modules/clothing/masks/breath.dm
Due: report:dmdoc

removal
  code/game/objects/items/storage/smartpack.dm
  code/modules/gear_presets/survivors/solaris/crashlanding-offices_insert_bigred.dm
  code/modules/mob/living/carbon/human/human_abilities.dm
  code/modules/power/apc.dm
Due: report:dmdoc

desc
  code/game/objects/items/storage/smartpack.dm
Due: report:dmdoc

decal burning fix for negative offsets (#8110)
  code/game/objects/effects/decals/decal.dm
Due: report:dmdoc

some more missed 516 compat hrefs (#8106)
  html/statbrowser.js
Due: none

M46C NERF (makes it mk1 equal) (#8109)
  code/modules/projectiles/guns/rifles.dm
Due: report:dmdoc

repair that bugs that made by lessers original creator
  code/modules/mob/living/carbon/xenomorph/Powers.dm
Due: report:dmdoc

fix sprites issues
  icons/turf/roofs/roof_asphalt.dmi
  icons/turf/roofs/roof_asphalt_noborder.dmi
  icons/turf/roofs/roof_lab.dmi
  icons/turf/roofs/roof_lab_ship.dmi
  icons/turf/roofs/roof_metal.dmi
  icons/turf/roofs/roof_rusty.dmi
  icons/turf/roofs/roof_sheet.dmi
  icons/turf/roofs/roof_ship.dmi
  icons/turf/roofs/roof_wood.dmi
Due: none

neckerchief squad specific now.
  code/modules/client/preferences_gear.dm
  code/modules/clothing/masks/breath.dm
  icons/obj/items/clothing/masks/scarves.dmi
Due: report:dmdoc

Revert "Ship Operations Synthetic (#7743)"
  code/__DEFINES/job.dm
  code/__DEFINES/mode.dm
  code/game/jobs/job/civilians/support/synthetic.dm
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
  code/modules/client/preferences.dm
  code/modules/cm_marines/marines_consoles.dm
  code/modules/gear_presets/synths.dm
  code/modules/mob/new_player/preferences_setup.dm
  html/browser/common.css
Due: report:dmdoc

reduc
  code/modules/mob/living/carbon/human/species/synthetic.dm
Due: report:dmdoc

darkens hippie shades
  icons/mob/humans/onmob/clothing/glasses/glasses.dmi
  icons/obj/items/clothing/glasses/glasses.dmi
Due: none

fix final icons issues
  code/game/turfs/openspace.dm
  code/game/turfs/space.dm
Due: report:dmdoc

surv
  code/modules/mob/living/carbon/human/species/synthetic.dm
Due: report:dmdoc

squad specific icon fixes + naming fixes. & minor price reduction on headwear
  code/datums/tutorial/marine/reqs_line.dm
  code/modules/client/preferences_gear.dm
  code/modules/clothing/head/head.dm
  code/modules/clothing/masks/breath.dm
  icons/obj/items/clothing/hats/headbands.dmi
Due: report:dmdoc

gnarp
  code/game/objects/items/toys/toys.dm
  code/modules/client/preferences_gear.dm
  icons/obj/items/toy.dmi
Due: report:dmdoc

Apply suggestions from code review
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_abilities.dm
Due: report:dmdoc
