Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

report:dmdoc:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies:
  - build:map-templates
  cache:
    key: dmdoc-${SPDMM_VERSION}
    paths:
    - dmdoc-bin
  script:
  - '[ -f dmdoc-bin ] || wget -O dmdoc-bin ${SPDMM_DOWNLOAD_URL}/dmdoc'
  - chmod u+x dmdoc-bin
  - ./dmdoc-bin
  artifacts:
    name: ci_dmdoc
  ...

report:map-changed-report:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies: []
  cache:
    key: dmm-tools-${SPDMM_VERSION}
    paths:
    - dmm-tools
  script:
  - CHANGED_MAP_FILES=`git diff-tree -r --diff-filter=d --name-only --no-commit-id ${CI_COMMIT_BEFORE_SHA}..${CI_COMMIT_SHA} maps/*.dmm`
  ...

Updating alcohol.dm to master verision, adding in ethanol
  code/modules/reagents/chemistry_reagents/alcohol.dm
Due: report:dmdoc

hr
  code/modules/mob/living/carbon/human/human_abilities.dm
Due: report:dmdoc

typo
  code/game/objects/items/pamphlets.dm
Due: report:dmdoc

smartscope uses alt IFF
  code/datums/emergency_calls/supplies.dm
  code/game/machinery/vending/vendor_types/prep_upp/requisitions_upp.dm
  code/game/machinery/vending/vendor_types/prep_upp/squad_prep_upp.dm
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
  code/game/objects/effects/spawners/random.dm
  code/modules/projectiles/gun_attachables.dm
  code/modules/projectiles/guns/revolvers.dm
  code/modules/projectiles/guns/rifles.dm
Due: report:dmdoc

some qol
  code/game/objects/structures/stairs.dm
  code/game/shuttle_engines.dm
  maps/map_files/LV624/LV624.dmm
Due: report:dmdoc, report:map-changed-report

forces automatic guns to semi
  code/modules/projectiles/gun_attachables.dm
Due: report:dmdoc

Update code/modules/reagents/chemistry_reagents/medical.dm
  code/modules/reagents/chemistry_reagents/medical.dm
Due: report:dmdoc

Turing Bug fix, Ethanol and Oxycodone Dispensing (#8128)
  code/modules/reagents/chemistry_reagents/alcohol.dm
  code/modules/reagents/chemistry_reagents/medical.dm
Due: report:dmdoc

updates descriptions, nukes old scope
  code/modules/projectiles/gun_attachables.dm
Due: report:dmdoc

IT works! The Tripoli Added, Sprites Galore.
  code/__DEFINES/shuttles.dm
  code/datums/emergency_calls/ert_stations.dm
  code/datums/emergency_calls/solar_devils.dm
  code/game/area/Sulaco.dm
  code/game/machinery/computer/dropship_weapons.dm
  code/game/machinery/doors/airlock_types.dm
  code/game/machinery/doors/multi_tile.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/game/turfs/closed.dm
  code/modules/dropships/attach_points/templates.dm
  code/modules/projectiles/ammo_boxes/round_boxes.dm
  code/modules/shuttle/computers/dropship_computer.dm
  code/modules/shuttle/dropship.dm
  code/modules/shuttle/shuttles/dropship.dm
  code/modules/shuttle/shuttles/ert.dm
  code/modules/vehicles/interior/interactable/seats.dm
  colonialmarines.dme
  icons/obj/structures/doors/dropship5_cargo.dmi
  icons/obj/structures/doors/dropship5_pilot.dmi
  icons/turf/dropship.dmi
  icons/turf/dropship5_side.dmi
  maps/shuttles/dropship_tripoli.dmm
  maps/templates/lazy_templates/ert_station_test.dmm
  maps/templates/lazy_templates/solar_devils_ert_station.dmm
Due: report:dmdoc, report:map-changed-report

big push
  code/controllers/subsystem/objectives_controller.dm
  code/game/objects/items/research_upgrades.dm
  code/modules/cm_tech/implements/armor.dm
  code/modules/hydroponics/hydro_tray.dm
  code/modules/hydroponics/seed_datums.dm
  code/modules/reagents/chemistry_properties/prop_negative.dm
  code/modules/reagents/chemistry_properties/prop_neutral.dm
  code/modules/reagents/chemistry_properties/prop_positive.dm
Due: report:dmdoc

D04M01S01
  maps/map_files/OilRig/testbed.dmm
Due: report:map-changed-report

Update code/modules/reagents/Chemistry-Generator.dm
  code/modules/reagents/Chemistry-Generator.dm
Due: report:dmdoc

fixes and accidental removals
  code/modules/gear_presets/corpses.dm
  code/modules/gear_presets/synths.dm
  code/modules/hydroponics/seed_datums.dm
  code/modules/reagents/Chemistry-Reagents.dm
Due: report:dmdoc

upd
  code/game/objects/effects/spawners/random.dm
  code/game/objects/items/reagent_containers/food/condiment.dm
  code/modules/paperwork/paper.dm
  icons/obj/items/assemblies.dmi
  icons/obj/items/food/bakery.dmi
  icons/obj/items/food/condiments.dmi
  icons/obj/items/food/dishes.dmi
  icons/obj/items/food/donuts.dmi
  icons/obj/items/food/food_ingredients.dmi
  icons/obj/items/food/junkfood.dmi
  icons/obj/items/food/meat.dmi
  icons/obj/items/food/slices.dmi
  icons/obj/items/food/soups_salads.dmi
  icons/obj/items/paint.dmi
  icons/obj/items/paper.dmi
  icons/obj/items/radio.dmi
  icons/obj/items/robot_component.dmi
  icons/obj/items/robot_parts.dmi
  icons/obj/items/security.dmi
  icons/obj/items/seeds.dmi
  icons/obj/items/shards.dmi
  icons/obj/items/stacks.dmi
  icons/obj/items/syringe.dmi
  icons/obj/items/trash.dmi
Due: report:dmdoc

and some more
  icons/obj/items/weapons/melee/energy.dmi
  icons/obj/items/weapons/melee/misc.dmi
  icons/obj/items/weapons/melee/shields.dmi
Due: none

D04M01S02
  maps/map_files/OilRig/testbed.dmm
Due: report:map-changed-report

fixes
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

D04M01S03
  maps/map_files/OilRig/testbed.dmm
Due: report:map-changed-report

init
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  maps/templates/lazy_templates/fax_responder_base.dmm
Due: report:map-changed-report

Update mouse.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
Due: report:dmdoc

Update USS_Almayer.dmm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

pelts
  code/modules/cm_preds/yaut_procs.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/castes/Boiler.dm
  code/modules/mob/living/carbon/xenomorph/castes/Burrower.dm
  code/modules/mob/living/carbon/xenomorph/castes/Carrier.dm
  code/modules/mob/living/carbon/xenomorph/castes/Crusher.dm
  code/modules/mob/living/carbon/xenomorph/castes/Defender.dm
  code/modules/mob/living/carbon/xenomorph/castes/Drone.dm
  code/modules/mob/living/carbon/xenomorph/castes/Hivelord.dm
  code/modules/mob/living/carbon/xenomorph/castes/King.dm
  code/modules/mob/living/carbon/xenomorph/castes/Lurker.dm
  code/modules/mob/living/carbon/xenomorph/castes/Praetorian.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  code/modules/mob/living/carbon/xenomorph/castes/Ravager.dm
  code/modules/mob/living/carbon/xenomorph/castes/Runner.dm
  code/modules/mob/living/carbon/xenomorph/castes/Sentinel.dm
  code/modules/mob/living/carbon/xenomorph/castes/Spitter.dm
  code/modules/mob/living/carbon/xenomorph/castes/Warrior.dm
Due: report:dmdoc

space tile
  maps/predship/huntership.dmm
Due: report:map-changed-report

Collects some, but not all of Zonespaces pages
  code/__DEFINES/dcs/signals/atom/signals_obj.dm
  code/_globalvars/bitfields.dm
  code/datums/mob_hud.dm
  code/datums/tutorial/_tutorial.dm
  code/datums/tutorial/marine/role_specific/hospital_corpsman_basic.dm
  code/game/objects/items/bodybag.dm
  code/game/objects/items/devices/defibrillator.dm
Due: report:dmdoc

Update middleware.js
  tgui/packages/tgui-panel/chat/middleware.js
Due: none

changes
  maps/predship/huntership.dmm
Due: report:map-changed-report

test
  code/modules/cm_preds/yaut_procs.dm
Due: report:dmdoc

Xeno caste picks are now tracked in the DB (#8261)
  code/datums/statistics/entities/round_caste_picks.dm
  code/datums/statistics/entities/round_stats.dm
  code/modules/mob/living/carbon/xenomorph/Evolution.dm
  code/modules/mob/living/carbon/xenomorph/abilities/queen/queen_powers.dm
  colonialmarines.dme
Due: report:dmdoc

D04M01S04
  maps/map_files/OilRig/testbed.dmm
Due: report:map-changed-report

naughty whitespace
  code/modules/mob/living/carbon/xenomorph/Evolution.dm
Due: report:dmdoc

suggetsion
  code/datums/emergency_calls/pred_hunt/hunting_calls.dm
  code/modules/mob/living/carbon/human/emote.dm
Due: report:dmdoc

names
  code/modules/cm_preds/yaut_procs.dm
Due: report:dmdoc

wallandspritefix
  code/game/machinery/vending/vendor_types/antag/antag_clothing.dm
  maps/templates/ssv_rostock.dmm
Due: report:dmdoc, report:map-changed-report

D04M01S05
  maps/map_files/OilRig/testbed.dmm
Due: report:map-changed-report

D04M01S06
  maps/map_files/OilRig/testbed.dmm
Due: report:map-changed-report

errorfix
  code/game/turfs/floor_types.dm
  code/game/turfs/walls/wall_types.dm
Due: report:dmdoc

Pinged harry
  code/game/machinery/vending/vendor_types/medical.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/gear_presets/other.dm
  code/modules/mob/living/carbon/human/human_dummy.dm
  code/modules/mob/living/living_healthscan.dm
  maps/map_files/generic/Admin_level.dmm
Due: report:dmdoc, report:map-changed-report

fixes - proper trophies and working racks.
  code/game/machinery/vending/vendor_types/antag/antag_predator.dm
  code/game/objects/structures/hunter_props.dm
  icons/obj/structures/props/hunter/32x32-hunter_props.dmi
  maps/predship/huntership.dmm
Due: report:dmdoc, report:map-changed-report

GOVNOKOD
  code/datums/statistics/entities/round_stats.dm
  code/modules/mob/living/carbon/xenomorph/Evolution.dm
Due: report:dmdoc

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm
