Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm

move maint stuff
  tgui/packages/tgui/interfaces/AresInterface.jsx
Due: none

auto-lockdown test
  code/game/machinery/ARES/ARES_step_triggers.dm
  code/game/machinery/aicore_lockdown.dm
Due: report:dmdoc

sensor broadcast test
  code/game/machinery/ARES/ARES_step_triggers.dm
Due: report:dmdoc

ffs forest
  code/game/machinery/ARES/ARES_step_triggers.dm
Due: report:dmdoc

neutering
  code/game/objects/items/explosives/warhead.dm
Due: report:dmdoc

f
  code/game/objects/items/devices/radio/headset.dm
Due: report:dmdoc

Fixes overloaded escape pod explosion-spam
  code/modules/shuttle/shuttles/crashable/escape_shuttle.dm
Due: report:dmdoc

more tile changes
  icons/turf/floors/floors.dmi
Due: none

very minor fix
  icons/turf/floors/floors.dmi
Due: none

very very minor fix
  icons/turf/floors/floors.dmi
Due: none

fix reverse_direction
  code/__HELPERS/unsorted.dm
Due: report:dmdoc

wuwuwuwuw
  code/game/objects/items/props/helmetgarb.dm
  code/game/objects/items/storage/boxes.dm
  code/game/objects/items/storage/fancy.dm
  code/game/objects/items/toys/cards.dm
  code/game/objects/items/toys/crayons.dm
  code/game/objects/items/toys/toys.dm
  code/modules/client/preferences_gear.dm
  icons/obj/items/crayons.dmi
  icons/obj/items/plush.dmi
Due: report:dmdoc

Mapping: LV522 Changes to overall map, including the size, poplimit, chokepoints and other such things (#6977)
  code/__DEFINES/__game.dm
  map_config/maps.txt
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
Due: report:dmdoc, report:map-changed-report

Automatic changelog for PR #6977 [ci skip]
  html/changelogs/AutoChangeLog-pr-6977.yml
Due: none

SavePause
  maps/map_files/UPP Temp Ship File/upp_warship_wip.dmm
Due: report:map-changed-report

Harvest rework
  code/game/objects/effects/effect_system/smoke.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/reaper/reaper_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/reaper/reaper_macros.dm
  code/modules/mob/living/carbon/xenomorph/abilities/reaper/reaper_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Reaper.dm
  code/modules/reagents/chemistry_reagents/toxin.dm
Due: report:dmdoc

I's did a screwup, fixed now
  code/modules/mob/living/carbon/xenomorph/life.dm
Due: report:dmdoc

Sets up structs (pseudo-structs) as a replacement for datums for simple data storage
  code/__DEFINES/_struct.dm
  code/__DEFINES/qdel.dm
  code/_globalvars/struct.dm
  code/controllers/mc/master.dm
  code/controllers/struct.dm
  code/datums/structs/_struct.dm
  code/datums/structs/launch_metadata.dm
  code/game/atoms_movable.dm
  code/game/objects/items/explosives/grenades/grenade.dm
  code/game/objects/items/shards.dm
  code/game/objects/structures/window.dm
  code/game/turfs/open.dm
  code/modules/cm_preds/smartdisc.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/xenomorph/Facehuggers.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defense.dm
  code/modules/movement/launching/launching.dm
  colonialmarines.dme
Due: report:dmdoc

fix
  code/modules/mob/living/carbon/human/human_defense.dm
Due: report:dmdoc

Fix linter complaint
  code/__DEFINES/_struct.dm
Due: report:dmdoc

[Solaris Ridge] Aesthetic Update V2 (#6602)
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/BigRed/sprinkles/10.prison_breakout.dmm
  maps/map_files/BigRed/sprinkles/20.lz1entrance_v2.dmm
  maps/map_files/BigRed/sprinkles/25.lz1containers_scramble.dmm
  maps/map_files/BigRed/sprinkles/35.filtration_restored.dmm
  maps/map_files/BigRed/sprinkles/40.admin_pmc.dmm
  maps/map_files/BigRed/sprinkles/40.viro_open.dmm
  maps/map_files/BigRed/sprinkles/70.se-checkpoint.dmm
  maps/map_files/BigRed/standalone/crashlanding-eva.dmm
  maps/map_files/BigRed/standalone/crashlanding-offices.dmm
  maps/map_files/BigRed/standalone/medbay-v3.dmm
  tools/UpdatePaths/6656-no-more-open-turf-edits.txt
Due: report:map-changed-report

Automatic changelog for PR #6602 [ci skip]
  html/changelogs/AutoChangeLog-pr-6602.yml
Due: none

eeeeee
  maps/map_files/UPP Temp Ship File/upp_warship_wip.dmm
Due: report:map-changed-report

Refactor struct manipulating defines - Refactored way to get props from structs and delete structs to be less verbose - Fixed runtime bug when getting thrown mid throw
  code/__DEFINES/_struct.dm
  code/__DEFINES/qdel.dm
  code/datums/structs/_struct.dm
  code/game/atoms_movable.dm
  code/game/objects/items/explosives/grenades/grenade.dm
  code/game/objects/items/shards.dm
  code/game/objects/structures/window.dm
  code/game/turfs/open.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defense.dm
  code/modules/movement/launching/launching.dm
Due: report:dmdoc

statistic count fix
  code/datums/statistics/entities/player_entity.dm
  code/modules/mob/living/carbon/xenomorph/castes/Facehugger.dm
Due: report:dmdoc

Deletes-empty-pill-packets-on-empty-drop (#7060)
  code/game/objects/items/storage/firstaid.dm
Due: report:dmdoc

Automatic changelog for PR #7060 [ci skip]
  html/changelogs/AutoChangeLog-pr-7060.yml
Due: none

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-6602.yml
  html/changelogs/AutoChangeLog-pr-6977.yml
  html/changelogs/AutoChangeLog-pr-7060.yml
  html/changelogs/archive/2024-09.yml
Due: none

frooit
  code/modules/cm_aliens/structures/fruit.dm
  sound/effects/alien_resinfeed.ogg
Due: report:dmdoc

metal reduce
  code/modules/projectiles/magazines/specialist.dm
Due: report:dmdoc

Make sentries and MGs auto deploy
  code/modules/cm_marines/dropship_equipment.dm
  code/modules/shuttle/shuttles/dropship.dm
Due: report:dmdoc

fix
  maps/map_files/BigRed/BigRed.dmm
Due: report:map-changed-report

add dropship ammo to show visually the count in sprite plus reogrg of sprites and misc code cleanup
  code/game/objects/effects/rappel_rope.dm
  code/modules/cm_marines/dropship_ammo.dm
  code/modules/cm_marines/dropship_equipment.dm
  icons/obj/structures/props/almayer_props.dmi
  icons/obj/structures/props/almayer_props64.dmi
  icons/obj/structures/props/dropship_ammo.dmi
  icons/obj/structures/props/dropship_ammo64.dmi
  icons/obj/structures/props/dropship_equipment.dmi
  icons/obj/structures/props/dropship_equipment64.dmi
Due: report:dmdoc

fixing sprite references
  code/game/machinery/sentry_holder.dm
  code/game/objects/structures/props.dm
  code/modules/almayer/machinery.dm
  code/modules/dropships/attach_points/templates.dm
  icons/obj/structures/props/almayer_props.dmi
Due: report:dmdoc

add missing docking computer
  icons/obj/structures/props/dropship_equipment.dmi
Due: none

split camo hats from mob file
  icons/mob/humans/onmob/back.dmi
  icons/mob/humans/onmob/clothing/back/melee_weapons.dmi
  icons/mob/humans/onmob/clothing/back/misc.dmi
  icons/mob/humans/onmob/clothing/head/hats_by_map/classic.dmi
  icons/mob/humans/onmob/clothing/head/hats_by_map/desert.dmi
  icons/mob/humans/onmob/clothing/head/hats_by_map/jungle.dmi
  icons/mob/humans/onmob/clothing/head/hats_by_map/snow.dmi
  icons/mob/humans/onmob/clothing/head/hats_by_map/urban.dmi
  icons/mob/humans/onmob/head_1.dmi
  icons/mob/humans/onmob/inhands/__inhand_template.dmi
  icons/obj/items/clothing/hats/hats.dmi
  icons/obj/items/clothing/hats/hats_by_faction/UA.dmi
  icons/obj/items/clothing/hats/soft_caps.dmi
Due: none

xyz
  icons/mob/humans/onmob/belt.dmi
  icons/mob/humans/onmob/clothing/belt/belts_by_map/classic.dmi
  icons/mob/humans/onmob/clothing/belt/belts_by_map/desert.dmi
  icons/mob/humans/onmob/clothing/belt/belts_by_map/jungle.dmi
  icons/mob/humans/onmob/clothing/belt/belts_by_map/snow.dmi
Due: none

TTS integration
  code/__DEFINES/tts.dm
  code/__HELPERS/heap.dm
  code/__HELPERS/tts.dm
  code/controllers/configuration/entries/game_options.dm
  code/controllers/subsystem/tts.dm
  code/game/sound.dm
  code/modules/client/preferences.dm
  code/modules/mob/mob_defines.dm
  colonialmarines.dme
Due: report:dmdoc

split head_1.dmi
  icons/mob/humans/onmob/clothing/head/berets.dmi
  icons/mob/humans/onmob/clothing/head/hats.dmi
  icons/mob/humans/onmob/clothing/head/hats_by_faction/CLF.dmi
  icons/mob/humans/onmob/clothing/head/hats_by_faction/CMB.dmi
  icons/mob/humans/onmob/clothing/head/hats_by_faction/TWE.dmi
  icons/mob/humans/onmob/clothing/head/hats_by_faction/UA.dmi
  icons/mob/humans/onmob/clothing/head/hats_by_faction/UPP.dmi
  icons/mob/humans/onmob/clothing/head/hats_by_faction/WY.dmi
  icons/mob/humans/onmob/clothing/head/headbands.dmi
  icons/mob/humans/onmob/clothing/head/misc_ert.dmi
  icons/mob/humans/onmob/clothing/head/misc_ert_colony.dmi
  icons/mob/humans/onmob/head_1.dmi
Due: none

psyradi
  code/modules/mob/living/carbon/human/human_abilities.dm
  code/modules/mob/living/carbon/human/powers/human_powers.dm
Due: report:dmdoc
