Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm

Automatic changelog for PR #6978 [ci skip]
  html/changelogs/AutoChangeLog-pr-6978.yml
Due: none

Revert #6903 (#6995)
  code/modules/security_levels/keycard_authentication.dm
Due: report:dmdoc

Automatic changelog for PR #6995 [ci skip]
  html/changelogs/AutoChangeLog-pr-6995.yml
Due: none

working on it
  code/controllers/shuttle_controller.dm
  code/game/supplyshuttle.dm
  code/modules/shuttles/shuttle_supply.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  maps/map_files/generic/Admin_level.dmm
Due: report:dmdoc, report:map-changed-report

fix
  code/modules/shuttles/shuttle_supply.dm
Due: report:dmdoc

Update code/game/objects/items/devices/multitool.dm
  code/game/objects/items/devices/multitool.dm
Due: report:dmdoc

eh
  code/game/supplyshuttle.dm
Due: report:dmdoc

signal handler
  code/controllers/subsystem/decorator.dm
Due: report:dmdoc

include gamemode in name to prevent path conflicts
  code/datums/decorators/gamemode_decorator.dm
Due: report:dmdoc

eh
  code/controllers/shuttle_controller.dm
  code/modules/shuttles/shuttle_supply.dm
Due: report:dmdoc

Changes!
  code/modules/gear_presets/upp.dm
Due: report:dmdoc

em
  code/controllers/shuttle_controller.dm
  code/modules/shuttles/shuttle_supply.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:dmdoc, report:map-changed-report

missing ,
  code/game/supplyshuttle.dm
Due: report:dmdoc

removes useless junk
  code/controllers/shuttle_controller.dm
Due: report:dmdoc

heh
  code/modules/shuttles/shuttle_supply.dm
  maps/map_files/generic/Admin_level.dmm
Due: report:dmdoc, report:map-changed-report

em
  code/controllers/shuttle_controller.dm
Due: report:dmdoc

round id
  core_ru/code/datums/world_topic.dm
Due: report:dmdoc

cleanup
  code/game/supplyshuttle.dm
  code/modules/shuttles/shuttle_supply.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:dmdoc, report:map-changed-report

ehm
  code/game/objects/structures/crates_lockers/crates.dm
  code/game/supplyshuttle.dm
Due: report:dmdoc

belts obj split
  icons/obj/items/clothing/belts/belts.dmi
  icons/obj/items/clothing/belts/belts_by_faction/TWE.dmi
  icons/obj/items/clothing/belts/belts_by_faction/UPP.dmi
  icons/obj/items/clothing/belts/belts_by_map/classic.dmi
  icons/obj/items/clothing/belts/belts_by_map/desert.dmi
  icons/obj/items/clothing/belts/belts_by_map/jungle.dmi
  icons/obj/items/clothing/belts/belts_by_map/snow.dmi
  icons/obj/items/clothing/belts/holstered_guns.dmi
Due: none

Delete legacy_tiered_armor.dmi
  icons/obj/items/clothing/legacy_tiered_armor.dmi
Due: none

eh
  code/modules/shuttles/shuttle_supply.dm
Due: report:dmdoc

nuke
  maps/templates/lazy_templates/clf_ert_station.dmm
Due: report:map-changed-report

why didnt it showed up earlier!!!!
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
Due: report:map-changed-report

Fixing some bugs
  code/modules/defenses/aa_tower.dm
Due: report:dmdoc

upd
  icons/obj/items/clothing/backpack/backpacks_by_faction/TWE.dmi
  icons/obj/items/clothing/backpack/backpacks_by_faction/UPP.dmi
  icons/obj/items/clothing/backpack/backpacks_by_faction/USCM.dmi
  icons/obj/items/clothing/backpack/backpacks_by_faction/WY.dmi
  icons/obj/items/clothing/backpack/backpacks_by_map/classic.dmi
  icons/obj/items/clothing/backpack/backpacks_by_map/desert.dmi
  icons/obj/items/clothing/backpack/backpacks_by_map/jungle.dmi
  icons/obj/items/clothing/backpack/backpacks_by_map/snow.dmi
  icons/obj/items/clothing/backpack/donator.dmi
  icons/obj/items/clothing/backpack/misc.dmi
  icons/obj/items/clothing/backpack/smartpack.dmi
  icons/obj/items/clothing/belts/belts.dmi
  icons/obj/items/clothing/belts/belts_by_faction/UPP.dmi
  icons/obj/items/clothing/belts/belts_by_map/classic.dmi
  icons/obj/items/clothing/belts/belts_by_map/desert.dmi
  icons/obj/items/clothing/belts/belts_by_map/jungle.dmi
  icons/obj/items/clothing/belts/belts_by_map/snow.dmi
  icons/obj/items/clothing/hats/hats_by_faction/CLF.dmi
  icons/obj/items/clothing/hats/hats_by_faction/CMB.dmi
  icons/obj/items/clothing/hats/hats_by_faction/TWE.dmi
  icons/obj/items/clothing/hats/hats_by_faction/UA.dmi
  icons/obj/items/clothing/hats/hats_by_faction/UPP.dmi
  icons/obj/items/clothing/hats/hats_by_faction/WY.dmi
  icons/obj/items/clothing/hats/hats_by_map/classic.dmi
  icons/obj/items/clothing/hats/hats_by_map/desert.dmi
  icons/obj/items/clothing/hats/hats_by_map/jungle.dmi
  icons/obj/items/clothing/hats/hats_by_map/snow.dmi
  icons/obj/items/clothing/hats/hats_by_map/urban.dmi
Due: none

snakecase names
  code/modules/autowiki/pages/xeno_stats.dm
Due: report:dmdoc

fixes specialist set refunding
  code/modules/cm_marines/specialist.dm
Due: report:dmdoc

Using a multitool to find an APC now highlights the APC (#7020)
  code/game/objects/items/devices/multitool.dm
Due: report:dmdoc

Automatic changelog for PR #7020 [ci skip]
  html/changelogs/AutoChangeLog-pr-7020.yml
Due: none

Autowiki data for xenomorph caste stats (#7019)
  code/modules/autowiki/pages/xeno_stats.dm
  code/modules/mob/living/carbon/xenomorph/castes/Drone.dm
  code/modules/mob/living/carbon/xenomorph/castes/Facehugger.dm
  code/modules/mob/living/carbon/xenomorph/castes/Hellhound.dm
  code/modules/mob/living/carbon/xenomorph/castes/Larva.dm
  code/modules/mob/living/carbon/xenomorph/castes/Predalien.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  colonialmarines.dme
Due: report:dmdoc

Updates CMO headset to be on par with other heads of staff (#7022)
  code/game/objects/items/devices/radio/encryptionkey.dm
Due: report:dmdoc

Automatic changelog for PR #7022 [ci skip]
  html/changelogs/AutoChangeLog-pr-7022.yml
Due: none

fix disarm bug
  code/modules/mob/living/simple_animal/hostile/retaliate/giant_lizard.dm
Due: report:dmdoc

fix 2.0
  code/game/objects/items/tools/synth_bracer/abilities/primary/anchor_form.dm
  code/game/objects/items/tools/synth_bracer/abilities/primary/protect_form.dm
Due: report:dmdoc

Hrm
  code/game/jobs/job/special/uscm.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  maps/map_files/USS_Runtime/USS_Runtime.dmm
Due: report:dmdoc, report:map-changed-report

x
  code/game/jobs/job/special/uscm.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  maps/map_files/USS_Runtime/USS_Runtime.dmm
Due: report:dmdoc, report:map-changed-report

Update code/game/objects/items/cosmetics.dm
  code/game/objects/items/cosmetics.dm
Due: report:dmdoc
