Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

report:dmdoc:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies:
  - build:map-templates
  cache:
    key: dmdoc-${SPDMM_VERSION}
    paths:
    - dmdoc-bin
  script:
  - '[ -f dmdoc-bin ] || wget -O dmdoc-bin ${SPDMM_DOWNLOAD_URL}/dmdoc'
  - chmod u+x dmdoc-bin
  - ./dmdoc-bin
  artifacts:
    name: ci_dmdoc
  ...

report:map-changed-report:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies: []
  cache:
    key: dmm-tools-${SPDMM_VERSION}
    paths:
    - dmm-tools
  script:
  - CHANGED_MAP_FILES=`git diff-tree -r --diff-filter=d --name-only --no-commit-id ${CI_COMMIT_BEFORE_SHA}..${CI_COMMIT_SHA} maps/*.dmm`
  ...

Added a radio backpack to IO's gear
  code/game/machinery/vending/vendor_types/intelligence_officer.dm
Due: report:dmdoc

IO Backpack Phone
  code/game/machinery/vending/vendor_types/intelligence_officer.dm
  code/game/objects/items/storage/backpack.dm
Due: report:dmdoc

adds current TMs to MOTD
  code/game/world.dm
Due: report:dmdoc

bigger + bolder
  code/game/world.dm
  code/global.dm
  code/modules/mob/new_player/login.dm
Due: report:dmdoc

Added a small offset to ammo, mortar shells, grenades
  code/game/objects/items/explosives/grenades/grenade.dm
  code/game/objects/items/explosives/warhead.dm
  code/modules/cm_marines/equipment/mortar/mortar_shells.dm
  code/modules/projectiles/ammunition.dm
Due: report:dmdoc

Grammar fixes and stuff
  code/__DEFINES/chemistry.dm
  code/game/objects/items/frames/matrix.dm
  code/modules/reagents/chemistry_properties/prop_positive.dm
Due: report:dmdoc

a
  code/modules/cm_aliens/weeds.dm
  code/modules/mob/living/carbon/xenomorph/abilities/queen/queen_powers.dm
Due: report:dmdoc

re-add timelock
  code/game/jobs/job/command/police/police.dm
Due: report:dmdoc

Weyland-Yutani Corporate Security Goons (#1348)
  ColonialMarinesALPHA.dme
  code/__DEFINES/equipment.dm
  code/__DEFINES/job.dm
  code/datums/emergency_calls/goons.dm
  code/datums/paygrades/factions/wy/goons.dm
  code/datums/skills.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/storage/pouch.dm
  code/game/objects/objs.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/shoes/marine_shoes.dm
  code/modules/clothing/suits/marine_armor.dm
  code/modules/clothing/under/marine_uniform.dm
  code/modules/clothing/under/under.dm
  code/modules/gear_presets/survivors.dm
  code/modules/gear_presets/wy_goons.dm
  code/modules/projectiles/guns/rifles.dm
  icons/mob/humans/onmob/contained/wy_goons.dmi
  maps/corsat.json
  maps/lv624.json
Due: report:dmdoc

Automatic changelog compile [ci skip]
  html/changelogs/archive/2022-11.yml
Due: none

fix shiva helmet
  icons/obj/items/clothing/cm_hats.dmi
Due: none

got mark menu mostly there
  tgui/packages/tgui/interfaces/MarkMenu.tsx
  tgui/packages/tgui/styles/interfaces/MarkMenu.scss
  tgui/packages/tgui/styles/main.scss
  tgui/packages/tgui/styles/themes/hive_status.scss
Due: none

init
  code/game/turfs/auto_turf.dm
  code/modules/mob/living/carbon/xenomorph/attack_alien.dm
Due: report:dmdoc

created time now associated with xeno mark and ui shows which is mark is being tracked
  code/modules/cm_aliens/XenoStructures.dm
  code/modules/mob/living/carbon/xenomorph/mark_menu.dm
  tgui/packages/tgui/interfaces/MarkMenu.tsx
  tgui/packages/tgui/styles/interfaces/MarkMenu.scss
Due: report:dmdoc

knight stash 2
  code/datums/xeno_shields/shield_types/knight_shield.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/warrior/knight.dm
Due: report:dmdoc

INPROG
  code/modules/mob/living/carbon/xenomorph/castes/Boiler.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/boiler/trapper.dm
Due: report:dmdoc

got xeno watchlist mostly there
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
  code/modules/mob/living/carbon/xenomorph/mark_menu.dm
  tgui/packages/tgui/interfaces/MarkMenu.tsx
  tgui/packages/tgui/styles/interfaces/MarkMenu.scss
Due: report:dmdoc

1.0 Fireman_Refactor
  code/__DEFINES/skills.dm
  code/_onclick/human.dm
  code/datums/skills.dm
Due: report:dmdoc

Bugfixes
  code/modules/mob/living/carbon/xenomorph/abilities/general_abilities.dm
Due: report:dmdoc

skill issue
  code/datums/skills.dm
Due: report:dmdoc

Fixes hard spawners, synth preset change
  code/game/jobs/job/civilians/other/survivors.dm
  code/game/objects/effects/landmarks/survivor_spawner.dm
  code/modules/gear_presets/forcon_survivors.dm
Due: report:dmdoc

Added missing items to Requisitions
  code/game/machinery/vending/vendor_types/requisitions.dm
Due: report:dmdoc

Added a few clipboards to requisitions
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Full Electronics Pouch now actually full!
  code/game/objects/items/storage/pouch.dm
Due: report:dmdoc

testcommit
  code/modules/clothing/suits/marine_armor.dm
Due: report:dmdoc

changelog
  .github/workflows/auto_changelog.yml
  .github/workflows/compile_changelogs.yml
  .github/workflows/generate_documentation.yml
  .gitlab/issue_templates/Bug.md
  .gitlab/issue_templates/Task.md
  .gitlab/merge_request_templates/Changelog.md
  tools/pull_request_hooks/autoChangelog.js
  tools/pull_request_hooks/changelogConfig.js
  tools/pull_request_hooks/changelogParser.js
  tools/pull_request_hooks/package.json
  tools/pull_request_hooks/removeGuideComments.js
Due: none

half fix ASRS animation
  code/game/turfs/floor_types.dm
  code/modules/shuttles/shuttle_supply.dm
  icons/effects/160x160.dmi
  maps/map_files/generic/Admin_level.dmm
Due: report:dmdoc, report:map-changed-report

whoops
  code/modules/mob/living/carbon/xenomorph/Facehuggers.dm
Due: report:dmdoc

lul
  code/modules/mob/living/carbon/xenomorph/abilities/general_abilities.dm
Due: report:dmdoc

pizza
  code/datums/supply_packs/misc.dm
  code/game/objects/items/reagent_containers/food/snacks.dm
Due: report:dmdoc

Var cleanup, uniform fix
  code/game/jobs/job/civilians/other/survivors.dm
  code/modules/clothing/under/marine_uniform.dm
  icons/mob/humans/onmob/uniform_0.dmi
  icons/obj/items/clothing/uniforms.dmi
Due: report:dmdoc

mark menu working as it should
  tgui/packages/tgui/interfaces/MarkMenu.tsx
  tgui/packages/tgui/styles/interfaces/MarkMenu.scss
Due: none

indent
  code/modules/clothing/suits/marine_armor.dm
Due: report:dmdoc

singular /
  code/datums/skills.dm
Due: report:dmdoc

fix linting errors
  tgui/packages/tgui/interfaces/MarkMenu.tsx
Due: none

Fixes camo conforming undershirts
  code/modules/mob/new_player/sprite_accessories/undershirt.dm
Due: report:dmdoc

resolved some of the runtime issues
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
  code/modules/mob/living/carbon/xenomorph/mark_menu.dm
Due: report:dmdoc

Makes Spawn Pool more annoying >:) (#1418)
  code/modules/cm_aliens/structures/special/spawn_pool.dm
Due: report:dmdoc

Added admin commands to teleport items, corpses (#1414)
  code/modules/admin/tabs/admin_tab.dm
  code/modules/admin/topic/topic_teleports.dm
Due: report:dmdoc

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm
