Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm

fixed lint issue
  tgui/packages/tgui/interfaces/common/ElectricalPanel.tsx
Due: none

removed unused template
  nano/templates/smartfridge.tmpl
Due: none

fixed issue in auto dispensor
  code/modules/reagents/chemistry_machinery/autodispenser.dm
Due: report:dmdoc

review feedback and simplified access panel
  tgui/packages/tgui/interfaces/SmartFridge.tsx
  tgui/packages/tgui/interfaces/common/ElectricalPanel.tsx
  tgui/packages/tgui/styles/interfaces/common/ElectricalPanel.scss
Due: none

removed unused global list
  code/modules/reagents/chemical_research/Chemical-Research.dm
Due: report:dmdoc

Ammo boxes have their own category on the bottom now
  code/game/machinery/vending/cm_vending.dm
Due: report:dmdoc

Split ammo boxes into smaller files
  ColonialMarinesALPHA.dme
  code/modules/projectiles/ammo_boxes.dm
  code/modules/projectiles/ammo_boxes/ammo_boxes.dm
  code/modules/projectiles/ammo_boxes/box_structures.dm
  code/modules/projectiles/ammo_boxes/handful_boxes.dm
  code/modules/projectiles/ammo_boxes/magazine_boxes.dm
  code/modules/projectiles/ammo_boxes/misc_boxes.dm
  code/modules/projectiles/ammo_boxes/round_boxes.dm
Due: report:dmdoc

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-1273.yml
  html/changelogs/AutoChangeLog-pr-1507.yml
  html/changelogs/AutoChangeLog-pr-1578.yml
  html/changelogs/AutoChangeLog-pr-1601.yml
  html/changelogs/AutoChangeLog-pr-1628.yml
  html/changelogs/AutoChangeLog-pr-1666.yml
  html/changelogs/AutoChangeLog-pr-1679.yml
  html/changelogs/AutoChangeLog-pr-1693.yml
  html/changelogs/AutoChangeLog-pr-1738.yml
  html/changelogs/AutoChangeLog-pr-1740.yml
  html/changelogs/AutoChangeLog-pr-1743.yml
  html/changelogs/AutoChangeLog-pr-1744.yml
  html/changelogs/AutoChangeLog-pr-1762.yml
  html/changelogs/archive/2022-11.yml
Due: none

Removal of PMC corpses, Rise Of Goons
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/BigRed/sprinkles/40.admin_pmc.dmm
  maps/map_files/BigRed/standalone/crashlanding-eva.dmm
  maps/map_files/BigRed/standalone/crashlanding-offices.dmm
  maps/map_files/BigRed/standalone/medbay-v3.dmm
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
  maps/map_files/Kutjevo/Kutjevo.dmm
  maps/map_files/LV624/LV624.dmm
  maps/map_files/LV624/hydro/30.destroyed.dmm
Due: report:map-changed-report

This commit brought to you by the Lore Council(tm)
  maps/map_files/BigRed/BigRed.dmm
Due: report:map-changed-report

Requisitions vends to floor now if they are not bending to counter
  code/game/machinery/vending/vendor_types/requisitions.dm
Due: report:dmdoc

gotta love CM audio exploding every 3 months
  code/modules/mob/living/carbon/xenomorph/abilities/lurker/lurker_powers.dm
Due: report:dmdoc

insanity is over
  code/modules/mob/living/carbon/xenomorph/abilities/lurker/lurker_powers.dm
Due: report:dmdoc

Fixes tequila sunrise
  icons/obj/items/drinks.dmi
Due: none

Increases magazine contrast
  icons/obj/items/weapons/guns/ammo.dmi
Due: none

Moves Deagle stat changes to CO variant only
  code/modules/projectiles/guns/pistols.dm
Due: report:dmdoc

Fixed non-flagged vendors recalculating things they shouldn't be
  code/game/machinery/vending/cm_vending.dm
Due: report:dmdoc

Grammar and desc tweaks
  code/modules/projectiles/ammo_datums.dm
  code/modules/projectiles/magazines/pistols.dm
Due: report:dmdoc

APC now uses ammo box restocking
  code/game/machinery/vending/cm_vending.dm
  code/modules/vehicles/interior/interactable/vendors.dm
Due: report:dmdoc

fixes the double chamber typo
  code/game/machinery/cryopod.dm
Due: report:dmdoc

1.0 Fix
  code/modules/gear_presets/survivors.dm
  code/modules/gear_presets/wy_goons.dm
Due: report:dmdoc

1.1 - Removes IFF from ERT
  code/modules/gear_presets/wy_goons.dm
Due: report:dmdoc

:skull:
  ColonialMarinesALPHA.dme
  code/game/objects/items/storage/pouch.dm
  code/modules/gear_presets/whiteout.dm
  code/modules/projectiles/guns/smgs.dm
  code/modules/projectiles/magazines/rifles.dm
  code/modules/projectiles/magazines/smgs.dm
  icons/obj/items/weapons/guns/ammo.dmi
  icons/obj/items/weapons/guns/ammo_box.dmi
Due: report:dmdoc

Moved grenade packets
  ColonialMarinesALPHA.dme
  code/modules/projectiles/ammo_boxes/grenade_packets.dm
Due: report:dmdoc

Berserker re tweakening: The rebalanced [NO GPB UPDATE] (#1516)
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/abilities/ravager/ravager_abilities.dm
  code/modules/mob/living/carbon/xenomorph/life.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/ravager/berserker.dm
Due: report:dmdoc

review change
  code/modules/reagents/chemistry_machinery/chem_dispenser.dm
Due: report:dmdoc

Removed dupe empty reagent pouch from Synth vendor, fixed naming in vendors and medilathe (#1756)
  code/game/machinery/autolathe_datums.dm
  code/game/machinery/vending/vendor_types/crew/medical.dm
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_medic.dm
Due: report:dmdoc

Fixed the issue with items on can_hold being unable to be packed
  code/game/objects/items/storage/storage.dm
Due: report:dmdoc

minor maintainer rebranding (#1750)
  code/game/verbs/who.dm
  code/modules/almayer/machinery.dm
Due: report:dmdoc

small standards update for 515 (#1751)
  .github/guides/STANDARDS.md
Due: none

adds new :rocket: modern :rocket: issue template (#1752)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

adds some extra checks to the research data interface (#1753)
  code/game/machinery/computer/research.dm
Due: report:dmdoc

spell check on the explosion destruction messages (#1754)
  code/game/objects/items.dm
Due: report:dmdoc

Liaison Survivor Tweak (#1603)
  code/modules/gear_presets/survivors.dm
Due: report:dmdoc

Gave IOs Telephone Backpack as optional gear (#1714)
  code/game/machinery/vending/vendor_types/intelligence_officer.dm
  code/game/objects/items/storage/backpack.dm
Due: report:dmdoc

pmc scattered gear readded to hydro
  maps/map_files/LV624/hydro/30.destroyed.dmm
Due: report:map-changed-report

Adds a limit on the amount of channels you can be on at once
  code/__DEFINES/dcs/signals.dm
  code/__HELPERS/game.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/devices/radio/radio.dm
  code/modules/mob/living/carbon/human/say.dm
Due: report:dmdoc

Colony Guns Part 1: Pistols
  ColonialMarinesALPHA.dme
  code/__DEFINES/conflict.dm
  code/game/objects/items/storage/belt.dm
  code/modules/cm_aliens/structures/egg.dm
  code/modules/cm_aliens/structures/fruit.dm
  code/modules/cm_aliens/structures/xeno_structures_boilertrap.dm
  code/modules/cm_preds/yaut_bracers.dm
  code/modules/cm_tech/implements/armor.dm
  code/modules/defenses/defenses.dm
  code/modules/mob/living/carbon/xenomorph/Facehuggers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/boiler/boiler_powers.dm
  code/modules/projectiles/ammo_datums.dm
  code/modules/projectiles/gun_attachables.dm
  code/modules/projectiles/gun_helpers.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/pistols.dm
  code/modules/projectiles/magazines/pistols.dm
  code/modules/projectiles/projectile.dm
  code/modules/vehicles/multitile/multitile_interaction.dm
  icons/mob/humans/onmob/belt.dmi
  icons/mob/humans/onmob/items_lefthand_1.dmi
  icons/mob/humans/onmob/items_righthand_1.dmi
  icons/obj/items/weapons/guns/ammo copy.dmi
  icons/obj/items/weapons/guns/ammo.dmi
  icons/obj/items/weapons/guns/attachments.dmi
  icons/obj/items/weapons/guns/gun copy.dmi
  icons/obj/items/weapons/guns/gun.dmi
Due: report:dmdoc

whoops
  icons/obj/items/weapons/guns/ammo copy.dmi
  icons/obj/items/weapons/guns/gun copy.dmi
Due: none

Increases limits on some auxiliary roles
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/devices/radio/headset.dm
Due: report:dmdoc
