Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

report:dmdoc:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies:
  - build:map-templates
  cache:
    key: dmdoc-${SPDMM_VERSION}
    paths:
    - dmdoc-bin
  script:
  - '[ -f dmdoc-bin ] || wget -O dmdoc-bin ${SPDMM_DOWNLOAD_URL}/dmdoc'
  - chmod u+x dmdoc-bin
  - ./dmdoc-bin
  artifacts:
    name: ci_dmdoc
  ...

report:map-changed-report:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies: []
  cache:
    key: dmm-tools-${SPDMM_VERSION}
    paths:
    - dmm-tools
  script:
  - CHANGED_MAP_FILES=`git diff-tree -r --diff-filter=d --name-only --no-commit-id ${CI_COMMIT_BEFORE_SHA}..${CI_COMMIT_SHA} maps/*.dmm`
  ...

Additional ui_act checks
  code/controllers/subsystem/minimap.dm
  tgui/packages/tgui/interfaces/TacticalMap.tsx
Due: report:dmdoc

You/We fixes (#5240)
  code/modules/cm_aliens/structures/egg.dm
  code/modules/cm_aliens/structures/tunnel.dm
  code/modules/mob/living/carbon/xenomorph/castes/Crusher.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/hivelord/resin_whisperer.dm
Due: report:dmdoc

Automatic changelog for PR #5240 [ci skip]
  html/changelogs/AutoChangeLog-pr-5240.yml
Due: none

Eslint silliness
  .vscode/settings.json
Due: none

Adds the map
  code/modules/cm_marines/equipment/maps.dm
Due: report:dmdoc

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-4842.yml
  html/changelogs/AutoChangeLog-pr-5230.yml
  html/changelogs/AutoChangeLog-pr-5235.yml
  html/changelogs/AutoChangeLog-pr-5240.yml
  html/changelogs/AutoChangeLog-pr-5243.yml
  html/changelogs/AutoChangeLog-pr-5249.yml
  html/changelogs/archive/2023-12.yml
Due: none

Add disposal pipe dispenser to reactor core maint
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

pens and some MP forms
  code/game/machinery/vending/vending_types.dm
  code/game/objects/effects/spawners/random.dm
  code/game/objects/items/gift_wrappaper.dm
  code/game/objects/items/tools/misc_tools.dm
  code/modules/client/preferences_gear.dm
  code/modules/clothing/head/head.dm
  code/modules/clothing/head/helmet.dm
  code/modules/gear_presets/survivors/misc.dm
  code/modules/paperwork/prefab_papers.dm
  icons/obj/items/paper.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  paperwork/Military Police/apology_notice.html
  paperwork/Military Police/appeal_form.html
  paperwork/Military Police/template.html
Due: report:dmdoc, report:map-changed-report

Fixes Flight Control Operator
  code/modules/gear_presets/survivors/survivors.dm
Due: report:dmdoc

Working Joes can no longer Drink
  code/game/objects/items/reagent_containers/food/drinks.dm
Due: report:dmdoc

Suggested Changes
  code/game/objects/items/reagent_containers/food/drinks.dm
  code/game/objects/items/reagent_containers/food/snacks.dm
Due: report:dmdoc

Update healer.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/drone/healer.dm
Due: report:dmdoc

parens
  code/controllers/subsystem/minimap.dm
Due: report:dmdoc

SpriteUpdate
  icons/mob/humans/onmob/head_0.dmi
  icons/mob/humans/onmob/suit_0.dmi
  icons/obj/items/clothing/hats.dmi
  icons/obj/items/clothing/suits.dmi
Due: none

FinalEdit
  code/modules/cm_marines/Donator_Items.dm
Due: report:dmdoc

Chjanges
  code/modules/gear_presets/contractor.dm
  code/modules/mob/dead/observer/orbit.dm
Due: report:dmdoc

Update smartgun_mount.dm
  code/modules/cm_marines/smartgun_mount.dm
Due: report:dmdoc

hm
  code/game/objects/items/devices/radio/listening_bugs.dm
Due: report:dmdoc

Fixes lurker tail stab over ledges and window frames (#5160)
  code/modules/mob/living/carbon/xenomorph/abilities/lurker/lurker_powers.dm
Due: report:dmdoc

Automatic changelog for PR #5160 [ci skip]
  html/changelogs/AutoChangeLog-pr-5160.yml
Due: none

Organisation
  code/__DEFINES/paygrade_defs/paygrade.dm
  code/datums/medal_awards.dm
  code/datums/paygrades/factions/other/civilian.dm
  code/datums/paygrades/factions/other/cmb.dm
  code/datums/paygrades/factions/other/contractors.dm
  code/datums/paygrades/factions/other/dutch_dozen.dm
  code/datums/paygrades/factions/other/freelancer.dm
  code/datums/paygrades/factions/twe/twe.dm
  code/datums/paygrades/factions/upp/upp.dm
  code/datums/paygrades/factions/uscm/marine.dm
  code/datums/paygrades/factions/uscm/navy.dm
  code/datums/paygrades/factions/uscm/provost.dm
  code/datums/paygrades/factions/wy/pmc.dm
  code/datums/paygrades/factions/wy/wy.dm
  code/datums/paygrades/paygrade.dm
  code/game/machinery/ARES/ARES_procs.dm
  code/game/machinery/computer/security.dm
  code/game/machinery/computer/skills.dm
  code/game/machinery/doors/brig_system.dm
  colonialmarines.dme
Due: report:dmdoc

PMC, Freelancer, TWE
  code/__DEFINES/paygrade_defs/civilian.dm
  code/__DEFINES/paygrade_defs/mercs.dm
  code/__DEFINES/paygrade_defs/twe.dm
  code/__DEFINES/paygrade_defs/weyland.dm
  code/datums/emergency_calls/mercs.dm
  code/datums/paygrades/factions/other/freelancer.dm
  code/datums/paygrades/factions/other/misc.dm
  code/datums/paygrades/factions/twe/twe.dm
  code/datums/paygrades/factions/wy/pmc.dm
  code/datums/paygrades/paygrade.dm
  code/modules/gear_presets/corpses.dm
  code/modules/gear_presets/other.dm
  code/modules/gear_presets/pmc.dm
  code/modules/gear_presets/royal_marines.dm
  code/modules/gear_presets/survivors/solaris/crashlanding-offices_insert_bigred.dm
  code/modules/gear_presets/uscm.dm
  code/modules/gear_presets/whiteout.dm
  colonialmarines.dme
Due: report:dmdoc

VAI
  code/__DEFINES/paygrade_defs/mercs.dm
  code/datums/paygrades/factions/other/contractors.dm
  code/modules/gear_presets/contractor.dm
  code/modules/gear_presets/fun.dm
  code/modules/gear_presets/other.dm
Due: report:dmdoc

Update weeded warrior sprites (#5250)
  icons/mob/xenos/weeds_64x64.dmi
Due: none

Eslint Setting Change (#5256)
  .vscode/settings.json
Due: none

Automatic changelog for PR #5250 [ci skip]
  html/changelogs/AutoChangeLog-pr-5250.yml
Due: none

hope
  code/modules/shuttle/dropship_hijack.dm
Due: report:dmdoc

hijack fix?
  code/__DEFINES/dcs/signals/signals_global.dm
  code/controllers/subsystem/ticker.dm
  code/modules/shuttle/dropship_hijack.dm
  code/modules/shuttle/shuttles/dropship.dm
Due: report:dmdoc

x
  code/modules/gear_presets/survivors/survivors.dm
Due: report:dmdoc

changes
  code/modules/shuttle/shuttle.dm
Due: report:dmdoc

missed one
  code/modules/shuttle/shuttle.dm
Due: report:dmdoc

The main thing
  code/modules/clothing/clothing.dm
Due: report:dmdoc

UPP boots knife consistency
  code/datums/supply_packs/black_market.dm
  code/modules/clothing/shoes/marine_shoes.dm
  code/modules/gear_presets/clf.dm
  code/modules/gear_presets/corpses.dm
  code/modules/gear_presets/fun.dm
  code/modules/gear_presets/other.dm
  code/modules/gear_presets/survivors/misc.dm
  code/modules/gear_presets/survivors/sorokyne_strata/preset_sorokyne_strata.dm
  code/modules/gear_presets/survivors/trijent/crashlanding_upp_bar_insert_trijent.dm
  code/modules/gear_presets/synths.dm
  code/modules/gear_presets/upp.dm
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
Due: report:dmdoc, report:map-changed-report

Updating to the new variables
  code/modules/clothing/shoes/colour.dm
  code/modules/clothing/shoes/marine_shoes.dm
  code/modules/cm_preds/thrall_items.dm
  code/modules/cm_preds/yaut_items.dm
  code/modules/projectiles/gun_attachables.dm
Due: report:dmdoc

Inventory insertion
  code/modules/mob/inventory.dm
  code/modules/mob/living/carbon/human/inventory.dm
Due: report:dmdoc

little bit of bug hunting
  code/game/objects/items.dm
  code/modules/clothing/clothing.dm
  code/modules/mob/inventory.dm
Due: report:dmdoc

:(
  code/modules/clothing/shoes/colour.dm
  code/modules/clothing/shoes/marine_shoes.dm
Due: report:dmdoc

Update survivors.dm
  code/modules/gear_presets/survivors/survivors.dm
Due: report:dmdoc

Update civilian.dm
  code/datums/skills/civilian.dm
Due: report:dmdoc

x
  code/controllers/subsystem/ticker.dm
Due: report:dmdoc

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm
