Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

report:dmdoc:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies:
  - build:map-templates
  cache:
    key: dmdoc-${SPDMM_VERSION}
    paths:
    - dmdoc-bin
  script:
  - '[ -f dmdoc-bin ] || wget -O dmdoc-bin ${SPDMM_DOWNLOAD_URL}/dmdoc'
  - chmod u+x dmdoc-bin
  - ./dmdoc-bin
  artifacts:
    name: ci_dmdoc
  ...

report:map-changed-report:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies: []
  cache:
    key: dmm-tools-${SPDMM_VERSION}
    paths:
    - dmm-tools
  script:
  - CHANGED_MAP_FILES=`git diff-tree -r --diff-filter=d --name-only --no-commit-id ${CI_COMMIT_BEFORE_SHA}..${CI_COMMIT_SHA} maps/*.dmm`
  ...

refactor : turn some "# and use the proper define from colour.dm for 21 files. (#5553)
  code/__HELPERS/icons.dm
  code/_onclick/hud/fullscreen.dm
  code/_onclick/hud/human.dm
  code/datums/_atmos_setup.dm
  code/datums/custom_hud.dm
  code/datums/entities/clans.dm
  code/datums/entities/player_times.dm
  code/datums/langchat/langchat.dm
  code/game/objects/effects/decals/cleanable/blood/xeno.dm
  code/game/objects/items/handcuffs.dm
  code/game/objects/items/reagent_containers/food/snacks/meat.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/asset_cache/assets/vending.dm
  code/modules/client/preferences.dm
  code/modules/cm_preds/yaut_bracers.dm
  code/modules/lighting/lighting_mask/lighting_mask.dm
  code/modules/lighting/lighting_mask/shadow_calculator.dm
  code/modules/maptext_alerts/screen_alerts.dm
  code/modules/maptext_alerts/text_blurbs.dm
  code/modules/mob/living/carbon/human/species/synthetic.dm
  code/modules/projectiles/magazines/shotguns.dm
Due: report:dmdoc

divided the watercloset into proper file when they are tottaly separated code. moved rubber duck to the toy section.
  code/game/objects/items/toys/toys.dm
  code/game/objects/structures/shower.dm
  code/game/objects/structures/sink.dm
  code/game/objects/structures/urinal.dm
  code/game/objects/structures/watercloset.dm
Due: report:dmdoc

Automatic changelog for PR #5553 [ci skip]
  html/changelogs/AutoChangeLog-pr-5553.yml
Due: none

just some cleanup of code and put up to doc standart
  code/game/objects/structures/shower.dm
  code/game/objects/structures/sink.dm
  code/game/objects/structures/watercloset.dm
Due: report:dmdoc

Fix greenfire not mixing well with lighting (effectively using the unused green fire sprites instead + a recolored 4th tier of the white fire to green.
  icons/effects/fire.dmi
Due: none

It's done.
  icons/obj/items/clothing/cm_suits.dmi
Due: none

updated dme file
  colonialmarines.dme
Due: none

R.C.O.P.G.1
  code/game/machinery/vending/vendor_types/crew/medical.dm
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
Due: report:dmdoc

added squad optic to req for survs
  code/game/machinery/vending/vendor_types/requisitions.dm
Due: report:dmdoc

testing adding a proc.
  code/game/objects/structures/barricade/barricade.dm
  code/game/objects/structures/barricade/metal.dm
  code/game/objects/structures/barricade/plasteel.dm
Due: report:dmdoc

fix of the test
  code/game/objects/structures/barricade/barricade.dm
Due: report:dmdoc

Update code/game/machinery/vending/vendor_types/crew/senior_officers.dm
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
Due: report:dmdoc

Update code/game/machinery/vending/vendor_types/crew/medical.dm
  code/game/machinery/vending/vendor_types/crew/medical.dm
Due: report:dmdoc

Removed accidental qdel duplication
  code/game/machinery/kitchen/processor.dm
Due: report:dmdoc

small change and expand to deployable for my first proc
  code/game/objects/structures/barricade/barricade.dm
  code/game/objects/structures/barricade/deployable.dm
  code/game/objects/structures/barricade/metal.dm
  code/game/objects/structures/barricade/plasteel.dm
Due: report:dmdoc

changed a var called W to item to standartize this shit.
  code/game/objects/structures/barricade/plasteel.dm
Due: report:dmdoc

remove another single lettle var and change some stuff
  code/game/objects/structures/barricade/barricade.dm
  code/game/objects/structures/barricade/handrail.dm
  code/game/objects/structures/barricade/metal.dm
  code/game/objects/structures/barricade/plasteel.dm
Due: report:dmdoc

change some stuff need to test it out now i guess...
  code/game/objects/structures/barricade/barricade.dm
  code/game/objects/structures/barricade/deployable.dm
  code/game/objects/structures/barricade/metal.dm
  code/game/objects/structures/barricade/plasteel.dm
Due: report:dmdoc

Fix vendor access
  code/game/machinery/vending/vendor_types/medical.dm
Due: report:dmdoc

new root
  code/datums/ammo/xeno.dm
Due: report:dmdoc

slot
  code/modules/client/preferences.dm
Due: report:dmdoc

changes my codeowner settings
  .github/CODEOWNERS
Due: none

didn't commit
  .github/CODEOWNERS
Due: none

progress on charge ability
  code/modules/mob/living/carbon/xenomorph/abilities/destroyer/destroyer_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/destroyer/destroyer_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Destroyer.dm
Due: report:dmdoc

Modifies my CODEOWNER files (#5598)
  .github/CODEOWNERS
Due: none

fire immunity
  code/modules/mob/living/carbon/xenomorph/castes/Destroyer.dm
Due: report:dmdoc

Réorganisation de l'équipe médicale - 1 (#5458)
  code/game/machinery/vending/vendor_types/crew/medical.dm
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
  code/game/objects/effects/landmarks/landmarks.dm
  code/modules/clothing/suits/labcoat.dm
  code/modules/gear_presets/uscm_medical.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:dmdoc, report:map-changed-report

Automatic changelog for PR #5458 [ci skip]
  html/changelogs/AutoChangeLog-pr-5458.yml
Due: none

initial hivebuff framework
  code/modules/cm_aliens/hivebuffs/hivebuff.dm
  code/modules/mob/living/carbon/xenomorph/hive_status.dm
  colonialmarines.dme
Due: report:dmdoc

Update chem_simulator.dm
  code/modules/reagents/chemistry_machinery/chem_simulator.dm
Due: report:dmdoc

Green Beret sprite fix (#5566)
  code/modules/client/preferences_gear.dm
  code/modules/clothing/head/head.dm
  icons/mob/humans/onmob/head_1.dmi
  icons/obj/items/clothing/cm_hats.dmi
Due: report:dmdoc

Automatic changelog for PR #5566 [ci skip]
  html/changelogs/AutoChangeLog-pr-5566.yml
Due: none

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-5458.yml
  html/changelogs/AutoChangeLog-pr-5489.yml
  html/changelogs/AutoChangeLog-pr-5500.yml
  html/changelogs/AutoChangeLog-pr-5526.yml
  html/changelogs/AutoChangeLog-pr-5551.yml
  html/changelogs/AutoChangeLog-pr-5553.yml
  html/changelogs/AutoChangeLog-pr-5559.yml
  html/changelogs/AutoChangeLog-pr-5566.yml
  html/changelogs/AutoChangeLog-pr-5576.yml
  html/changelogs/AutoChangeLog-pr-5580.yml
  html/changelogs/AutoChangeLog-pr-5585.yml
  html/changelogs/AutoChangeLog-pr-5588.yml
  html/changelogs/AutoChangeLog-pr-5590.yml
  html/changelogs/AutoChangeLog-pr-5591.yml
  html/changelogs/archive/2024-01.yml
Due: none

Wording stuff
  code/game/objects/items/devices/motion_detector.dm
  code/modules/clothing/suits/marine_armor.dm
Due: report:dmdoc

base
  code/modules/clothing/head/helmet.dm
Due: report:dmdoc

Add files via upload
  icons/obj/structures/machinery/defenses/planted_flag.dmi
Due: none

fixed syntax
  code/modules/mob/living/carbon/xenomorph/abilities/burrower/burrower_powers.dm
Due: report:dmdoc

undone syntax to what it was.
  code/modules/mob/living/carbon/xenomorph/abilities/burrower/burrower_powers.dm
Due: report:dmdoc

Added surface block for unable to burrow.
  code/modules/mob/living/carbon/xenomorph/abilities/burrower/burrower_powers.dm
Due: report:dmdoc

refactor multiple files concerning robot and mechs. (#5538)
  code/game/objects/effects/decals/misc.dm
  code/game/objects/items/circuitboards/mecha.dm
  code/game/objects/items/circuitboards/robot_modules.dm
  code/game/objects/structures/prop_mech.dm
  code/game/objects/structures/props.dm
  colonialmarines.dme
  maps/map_files/CORSAT/Corsat.dmm
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
  maps/map_files/LV624/LV624.dmm
Due: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm
