Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm

Fix: Clear label off icon when putting a new label above the length limit
  code/modules/reagents/chemistry_machinery/chem_master.dm
Due: report:dmdoc

RESEARCH OBJECTIVES
  code/modules/reagents/Chemistry-Reagents.dm
Due: report:dmdoc

[FIX] Hivelord whisperer normalize (#306)
  code/modules/mob/living/carbon/xenomorph/abilities/general_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/hivelord/resin_whisperer.dm
Due: report:dmdoc

final stuff
  code/game/area/DesertDam.dm
  maps/Nightmare/maps/DesertDam/mapgen_variations.json
  maps/map_files/DesertDam/Desert_Dam.dmm
  maps/map_files/DesertDam/chapel/10.father.dmm
  maps/map_files/DesertDam/chapel/20.explosion.dmm
  maps/map_files/DesertDam/sprinkles/10.damtemple_intact.dmm
  maps/map_files/DesertDam/sprinkles/30.admin_fight.dmm
  maps/map_files/DesertDam/sprinkles/30.admin_panic_hold.dmm
  maps/map_files/DesertDam/sprinkles/30.hold_gen_breakroom.dmm
Due: report:dmdoc, report:map-changed-report

3
  maps/desert_dam.json
  maps/map_files/DesertDam/Desert_Dam.dmm
Due: report:map-changed-report

remove
  maps/BigRed.dmm
  maps/map_files/DesertDam/Desert_Dam_old.dmm
  maps/map_files/temp.dmm
  maps/temp.dmm
Due: report:map-changed-report

Fixup maps in TGM format
  maps/map_files/DesertDam/sprinkles/10.damtemple_intact.dmm
  maps/map_files/DesertDam/standalone/clfpods.dmm
Due: report:map-changed-report

uhhh
  code/__DEFINES/dcs/signals/atom/signals_area.dm
  code/game/objects/structures/tables_racks.dm
  code/modules/power/power.dm
Due: report:dmdoc

You now need a screwdriver to remove a light tube Fixes some description errors and adds some sounds that existed in light fixture code.
  code/modules/power/lighting.dm
Due: report:dmdoc

Update Desert_Dam.dmm
  maps/map_files/DesertDam/Desert_Dam.dmm
Due: report:map-changed-report

Fixup maps in TGM format
  maps/map_files/DesertDam/sprinkles/10.damtemple_intact.dmm
Due: report:map-changed-report

conflicts
  maps/map_files/DesertDam/Desert_Dam.dmm
  maps/map_files/DesertDam/sprinkles/10.damtemple_intact.dmm
  maps/map_files/DesertDam/sprinkles/25.loaderdude.dmm
Due: report:map-changed-report

Fixed a minor comment error and yet another desc error
  code/modules/power/lighting.dm
Due: report:dmdoc

slop
  maps/map_files/DesertDam/Desert_Dam.dmm
  maps/map_files/DesertDam/standalone/landingzone_desertdam_upp_lz1.dmm
  maps/map_files/DesertDam/standalone/landingzone_desertdam_uscm_lz1.dmm
Due: report:map-changed-report

d
  maps/map_files/DesertDam/Desert_Dam.dmm
  maps/map_files/DesertDam/southbridge/10.civhold.dmm
  maps/map_files/DesertDam/southbridge/10.corphold.dmm
Due: report:map-changed-report

resisting removes flames
  code/modules/mob/living/carbon/human/human.dm
Due: report:dmdoc

Fix vendor translate (#308)
  modular/translations/code/ru_names/ru_vendors.dm
Due: report:dmdoc

AestheticChanceSewerPower
  maps/map_files/Tyrargo_Rift/Tyrargo_Rift.dmm
Due: report:map-changed-report

NoParaDropsOnToTank
  code/game/area/tyrargo_rift.dm
Due: report:dmdoc

final?
  code/__DEFINES/keybinding.dm
  code/datums/keybinding/yautja.dm
  code/modules/cm_preds/yaut_bracers.dm
  code/modules/cm_preds/yaut_items.dm
  code/modules/cm_preds/yaut_weapons.dm
  icons/mob/humans/onmob/hunter/items_lefthand.dmi
  icons/mob/humans/onmob/hunter/items_righthand.dmi
  icons/obj/items/hunter/pred_gear.dmi
Due: report:dmdoc

vendor addition and extra timer on sleep
  code/game/machinery/vending/vendor_types/antag/antag_predator.dm
  code/modules/cm_preds/yaut_bracers.dm
  code/modules/cm_preds/yaut_weapons.dm
Due: report:dmdoc

last minute fixes renames
  code/modules/cm_preds/yaut_bracers.dm
  code/modules/cm_preds/yaut_weapons.dm
Due: report:dmdoc

contin
  code/modules/cm_preds/yaut_weapons.dm
Due: report:dmdoc

more fixes
  code/modules/cm_preds/yaut_weapons.dm
Due: report:dmdoc

Update praetorian_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_abilities.dm
Due: report:dmdoc

0 prob
  code/datums/emergency_calls/wy_commando.dm
Due: report:dmdoc

makes the chaina n ammo so its animated
  code/datums/ammo/xeno.dm
  code/modules/cm_preds/yaut_bracers.dm
Due: report:dmdoc

continues bevore
  code/modules/cm_preds/yaut_weapons.dm
Due: report:dmdoc

gdsf
  code/datums/weather/weather_map_holder.dm
Due: report:dmdoc

Removed unnecessary empty line.
  code/game/objects/items/storage/firstaid.dm
Due: report:dmdoc

NumberEditsAndWater
  code/game/objects/effects/landmarks/landmarks.dm
  maps/map_files/Tyrargo_Rift/Tyrargo_Rift.dmm
Due: report:dmdoc, report:map-changed-report

fix
  icons/obj/items/weapons/guns/guns_by_faction/USCM/grenade_launchers.dmi
  icons/obj/items/weapons/guns/guns_by_map/classic/guns_obj.dmi
  icons/obj/items/weapons/guns/guns_by_map/desert/guns_obj.dmi
  icons/obj/items/weapons/guns/guns_by_map/jungle/guns_obj.dmi
  icons/obj/items/weapons/guns/guns_by_map/snow/guns_obj.dmi
  icons/obj/items/weapons/guns/guns_by_map/urban/guns_obj.dmi
Due: none

iasf skill changes
  code/datums/skills/iasf.dm
Due: report:dmdoc

add dcc per feedback
  code/modules/gear_presets/uscm_ship.dm
Due: report:dmdoc

rspack update port
  tgui/.yarnrc.yml
  tgui/package.json
  tgui/packages/tgui-bench/package.json
  tgui/packages/tgui-dev-server/index.js
  tgui/packages/tgui-dev-server/package.json
  tgui/packages/tgui-dev-server/webpack.js
  tgui/packages/tgui/package.json
  tgui/rspack.config-dev.cjs
  tgui/yarn.lock
Due: none

Updated designer description: - Reduced designer description by 1/3, now it contains essential info (its still a lot but its better to be informed what you choose)
  code/modules/mob/living/carbon/xenomorph/strains/castes/hivelord/designer.dm
Due: report:dmdoc
