Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm

Automatic changelog compile [ci skip]
  html/changelogs/archive/2022-05.yml
Due: none

ceremonial cape + better councillor override
  code/modules/client/preferences.dm
  code/modules/cm_preds/yaut_items.dm
  icons/mob/humans/onmob/hunter/pred_gear.dmi
  icons/obj/items/hunter/pred_gear.dmi
  maps/predship/huntership.dmm
Due: report:dmdoc, report:map-changed-report

initial
  code/modules/vehicles/interior/interior.dm
Due: report:dmdoc

init
  code/modules/cm_aliens/structures/special/spawn_pool.dm
  code/modules/mob/living/carbon/xenomorph/Embryo.dm
Due: report:dmdoc

Update thermal.dm
  code/modules/clothing/glasses/thermal.dm
Due: report:dmdoc

Update yaut_mask.dm
  code/modules/cm_preds/yaut_mask.dm
Due: report:dmdoc

dd thermal stuff
  code/modules/clothing/glasses/thermal.dm
  code/modules/gear_presets/fun.dm
Due: report:dmdoc

initial (#242)
  maps/map_files/LV624/LV624.dmm
Due: report:map-changed-report

Admin PM Fix (#234)
  code/__HELPERS/unsorted.dm
  code/datums/autocells/explosion.dm
  code/game/objects/explosion_recursive.dm
  code/modules/admin/player_panel/player_panel.dm
  code/modules/admin/topic/topic_ahelps.dm
  code/modules/admin/verbs/adminpm.dm
  code/modules/client/client_procs.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/flamer/flamer.dm
  code/modules/projectiles/projectile.dm
  code/modules/vehicles/multitile/multitile_bump.dm
Due: report:dmdoc

Update eggsac.dm (#247)
  code/modules/mob/living/carbon/xenomorph/mutators/strains/carrier/eggsac.dm
Due: report:dmdoc

fixes autodoc typo (#251)
  code/game/machinery/autodoc.dm
Due: report:dmdoc

HRP Fire Screaming (#246)
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/life.dm
Due: report:dmdoc

Update Warrior.dm
  code/modules/mob/living/carbon/xenomorph/castes/Warrior.dm
Due: report:dmdoc

better pref handling
  code/__DEFINES/pred.dm
  code/_globalvars/global_lists.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/cm_preds/yaut_items.dm
  code/modules/gear_presets/yautja.dm
Due: report:dmdoc

shaddeh fix and tweak
  code/game/objects/items/toys/cards.dm
Due: report:dmdoc

Uno Buff (#233)
  code/__DEFINES/equipment.dm
  code/game/objects/items/toys/cards.dm
  code/game/objects/structures/surface.dm
  code/modules/clothing/head/helmet.dm
  icons/mob/humans/onmob/helmet_garb.dmi
  icons/obj/items/playing_cards.dmi
Due: report:dmdoc

fixo
  code/game/objects/structures/stool_bed_chair_nest/xeno_nest.dm
Due: report:dmdoc

Synth Synthskin Limbs
  ColonialMarinesALPHA.dme
  code/__DEFINES/_math.dm
  code/__DEFINES/human.dm
  code/datums/elements/suturing.dm
  code/game/blood.dm
  code/game/machinery/adv_med.dm
  code/game/machinery/autodoc.dm
  code/game/objects/items/stacks/cable_coil.dm
  code/game/objects/items/stacks/medical.dm
  code/game/objects/items/stacks/nanopaste.dm
  code/game/objects/items/tools/maintenance_tools.dm
  code/modules/gear_presets/upp.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
  code/modules/mob/living/carbon/xenomorph/abilities/warrior/warrior_powers.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob.dm
  code/modules/organs/limbs.dm
  code/modules/reagents/chemistry_properties/prop_negative.dm
  code/modules/reagents/chemistry_properties/prop_positive.dm
  code/modules/surgery/generic.dm
  code/modules/surgery/robotic_organs_internal.dm
  code/modules/surgery/surgery_procedure.dm
Due: report:dmdoc

Synth Med HUD
  code/datums/mob_hud.dm
  icons/mob/hud/hud.dmi
Due: report:dmdoc

Yautja Customization Overhaul and Sprite Fixes (#192)
  code/__DEFINES/clans.dm
  code/__DEFINES/pred.dm
  code/_globalvars/global_lists.dm
  code/modules/admin/verbs/select_equipment.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/cm_preds/yaut_bracers.dm
  code/modules/cm_preds/yaut_items.dm
  code/modules/cm_preds/yaut_weapons.dm
  code/modules/gear_presets/_select_equipment.dm
  code/modules/gear_presets/yautja.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/yautja.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/new_player/preferences_setup.dm
  code/modules/mob/new_player/sprite_accessories.dm
  icons/mob/humans/onmob/hunter/items_lefthand.dmi
  icons/mob/humans/onmob/hunter/items_righthand.dmi
  icons/mob/humans/onmob/hunter/pred_gear.dmi
  icons/mob/humans/yaut_hair.dmi
  icons/obj/items/hunter/pred_gear.dmi
  maps/predship/huntership.dmm
Due: report:dmdoc, report:map-changed-report

Loose Pressure tank (Gitlab Port) (#8)
  code/game/machinery/vending/vendor_types/squad_prep/squad_engineer.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_medic.dm
  code/game/objects/items/reagent_containers/glass.dm
  code/game/objects/items/tools/maintenance_tools.dm
  icons/obj/items/items.dmi
  icons/obj/items/reagentfillings.dmi
  icons/obj/items/tank.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:dmdoc, report:map-changed-report

adds m and n, geminable affricates
  code/modules/flufftext/Japanese.dm
Due: report:dmdoc

Lifeboat See-Through Obj/tiles
  code/game/objects/structures/props.dm
  icons/turf/lifeboat.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  maps/shuttles/lifeboat-port.dmm
  maps/shuttles/lifeboat-starboard.dmm
Due: report:dmdoc, report:map-changed-report

Sandbag Autofill
  code/game/objects/items/tools/shovel_tools.dm
Due: report:dmdoc

Update code/game/world.dm
  code/game/world.dm
Due: report:dmdoc

Update glasses.dm
  code/modules/clothing/glasses/glasses.dm
Due: report:dmdoc

dd thermal stuff (#258)
  code/modules/clothing/glasses/thermal.dm
  code/modules/gear_presets/fun.dm
Due: report:dmdoc
