Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm

Новый тех веб ксенам, эгейн (#175)
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/hive_status.dm
  colonialmarines.dme
  fray-marines/code/modules/cm_tech/techs/xeno/tier4/fireres.dm
  fray-marines/code/modules/cm_tech/techs/xeno/tier4/health_up.dm
  fray-marines/icons/effects/techtree/tech.dmi
Due: report:dmdoc

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-172.yml
  html/changelogs/archive/2024-05.yml
Due: none

squad softlock selection fix and something else
  code/game/jobs/job/marine/squads.dm
  code/game/jobs/role_authority.dm
Due: report:dmdoc

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-175.yml
Due: none

Buffed ST (#177)
  code/game/machinery/vending/cm_vending.dm
Due: report:dmdoc

Automatic changelog compile [ci skip]
  html/changelogs/archive/2024-05.yml
Due: none

who color fix
  tgui/packages/tgui/interfaces/Who.jsx
Due: none

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-177.yml
Due: none

who changes
  fray-marines/code/controllers/subsystem/who.dm
  tgui/packages/tgui/interfaces/Who.jsx
Due: report:dmdoc

some minor fixes
  code/modules/mob/living/carbon/human/species/working_joe/_species.dm
  tgui/packages/tgui/interfaces/JoeEmotes.tsx
  tgui/packages/tgui/interfaces/Who.jsx
Due: report:dmdoc

init
  code/game/machinery/telecomms/presets.dm
Due: report:dmdoc

er
  code/game/machinery/telecomms/presets.dm
Due: report:dmdoc

Adds a bunch of material to the pred ship and slightly adjusts layout to compensate. (#6172)
  maps/predship/huntership.dmm
Due: report:map-changed-report

Automatic changelog for PR #6172 [ci skip]
  html/changelogs/AutoChangeLog-pr-6172.yml
Due: none

x
  icons/mob/hud/hud.dmi
Due: none

lights shining
  code/game/machinery/groundmap_geothermal.dm
Due: report:dmdoc

layering fix
  code/__DEFINES/vehicle.dm
Due: report:dmdoc

comment
  code/__DEFINES/vehicle.dm
Due: report:dmdoc

colours and stuff
  code/game/machinery/groundmap_geothermal.dm
Due: report:dmdoc

Включаем в ротацию карты (#180)
  map_config/maps.txt
Due: none

Hybrisa Alpha 0.69
  code/game/area/LV759_Hybrisa_Prospera.dm
  code/game/machinery/groundmap_geothermal.dm
  code/game/objects/structures/hybrisa_props.dm
  icons/obj/structures/props/32x64_zenithbillboards.dmi
  icons/obj/structures/props/hybrisa_vehicles/64x64_hybrisa_vehicles_boxvans.dmi
  icons/obj/structures/props/hybrisa_vehicles/64x64_hybrisa_vehicles_colonycrawlers.dmi
  icons/obj/structures/props/hybrisa_vehicles/64x64_hybrisa_vehicles_smalltrucks.dmi
  icons/obj/structures/props/hybrisa_vehicles/meridian_black.dmi
  icons/obj/structures/props/hybrisa_vehicles/meridian_blue.dmi
  icons/obj/structures/props/hybrisa_vehicles/meridian_brown.dmi
  icons/obj/structures/props/hybrisa_vehicles/meridian_cop.dmi
  icons/obj/structures/props/hybrisa_vehicles/meridian_desatblue.dmi
  icons/obj/structures/props/hybrisa_vehicles/meridian_green.dmi
  icons/obj/structures/props/hybrisa_vehicles/meridian_lightblue.dmi
  icons/obj/structures/props/hybrisa_vehicles/meridian_orange.dmi
  icons/obj/structures/props/hybrisa_vehicles/meridian_pink.dmi
  icons/obj/structures/props/hybrisa_vehicles/meridian_purple.dmi
  icons/obj/structures/props/hybrisa_vehicles/meridian_red.dmi
  icons/obj/structures/props/hybrisa_vehicles/meridian_taxi.dmi
  icons/obj/structures/props/hybrisa_vehicles/meridian_turquoise.dmi
  icons/obj/structures/props/hybrisa_vehicles/meridian_wy.dmi
  icons/obj/structures/props/zenithrandomprops.dmi
  icons/turf/floors/engineership.dmi
  icons/turf/floors/engineership32x32s.dmi
  maps/map_files/LV759_Hybrisa_Prospera/LV759_Hybrisa_Prospera.dmm
Due: report:dmdoc, report:map-changed-report

a
  maps/map_files/CORSAT/Corsat.dmm
Due: report:map-changed-report

Hybrisa Alpha 0.70
  code/game/machinery/groundmap_geothermal.dm
  maps/map_files/LV759_Hybrisa_Prospera/LV759_Hybrisa_Prospera.dmm
Due: report:dmdoc, report:map-changed-report

Update mortar_shells.dm
  code/modules/cm_marines/equipment/mortar/mortar_shells.dm
Due: report:dmdoc

test
  maps/map_files/CORSAT/Corsat.dmm
Due: report:map-changed-report

icon fix
  icons/mob/hud/hud.dmi
Due: none

Hybrisa Alpha 0.71
  code/game/machinery/groundmap_geothermal.dm
Due: report:dmdoc

death pulse
  code/__DEFINES/borer_defines.dm
  code/modules/borer/borer.dm
  code/modules/borer/borer_procs.dm
  icons/mob/brainslug.dmi
Due: report:dmdoc

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-6172.yml
  html/changelogs/AutoChangeLog-pr-6234.yml
  html/changelogs/AutoChangeLog-pr-6237.yml
  html/changelogs/archive/2024-05.yml
Due: none

defines
  code/__DEFINES/misc.dm
Due: report:dmdoc

last changes hopefully
  code/modules/vehicles/hardpoints/hardpoint.dm
  code/modules/vehicles/hardpoints/support/antenna.dm
Due: report:dmdoc

Automatic changelog for PR #5401 [ci skip]
  html/changelogs/AutoChangeLog-pr-5401.yml
Due: none

Linters
  tgui/packages/tgui/components/TextArea.jsx
  tgui/packages/tgui/interfaces/Orbit/helpers.ts
Due: none

Another lint - new with this version of typescript
  tgui/packages/tgui/interfaces/DropshipWeaponsConsole.tsx
Due: none

initial
  code/_onclick/adjacent.dm
  code/datums/ammo/misc.dm
  code/datums/ammo/rocket.dm
  code/modules/projectiles/projectile.dm
  code/modules/vehicles/apc/apc.dm
  code/modules/vehicles/hardpoints/hardpoint.dm
  code/modules/vehicles/hardpoints/hardpoint_ammo/gl_ammo.dm
  code/modules/vehicles/hardpoints/hardpoint_ammo/tow_ammo.dm
  code/modules/vehicles/hardpoints/holder/tank_turret.dm
  code/modules/vehicles/hardpoints/primary/autocannon.dm
  code/modules/vehicles/hardpoints/primary/dual_cannon.dm
  code/modules/vehicles/hardpoints/primary/flamer.dm
  code/modules/vehicles/hardpoints/primary/ltb.dm
  code/modules/vehicles/hardpoints/primary/minigun.dm
  code/modules/vehicles/hardpoints/secondary/cupola.dm
  code/modules/vehicles/hardpoints/secondary/flamer.dm
  code/modules/vehicles/hardpoints/secondary/frontal_cannon.dm
  code/modules/vehicles/hardpoints/secondary/grenade_launcher.dm
  code/modules/vehicles/hardpoints/secondary/tow.dm
  code/modules/vehicles/hardpoints/special/firing_port_weapon.dm
  code/modules/vehicles/hardpoints/support/flare.dm
Due: report:dmdoc

initial
  code/modules/vehicles/interior/interactable/seats.dm
Due: report:dmdoc

humanoids granted thumbs
  code/game/objects/objs.dm
  code/modules/mob/living/carbon/human/species/human.dm
  code/modules/mob/living/carbon/human/species/monkey.dm
  code/modules/mob/living/carbon/human/species/synthetic.dm
  code/modules/mob/living/carbon/human/species/working_joe/_species.dm
  code/modules/mob/living/carbon/human/species/yautja/_species.dm
  code/modules/mob/living/carbon/human/species/zombie.dm
  code/modules/vehicles/interior/interactable/seats.dm
Due: report:dmdoc
