Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

report:dmdoc:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies:
  - build:map-templates
  cache:
    key: dmdoc-${SPDMM_VERSION}
    paths:
    - dmdoc-bin
  script:
  - '[ -f dmdoc-bin ] || wget -O dmdoc-bin ${SPDMM_DOWNLOAD_URL}/dmdoc'
  - chmod u+x dmdoc-bin
  - ./dmdoc-bin
  artifacts:
    name: ci_dmdoc
  ...

report:map-changed-report:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies: []
  cache:
    key: dmm-tools-${SPDMM_VERSION}
    paths:
    - dmm-tools
  script:
  - CHANGED_MAP_FILES=`git diff-tree -r --diff-filter=d --name-only --no-commit-id ${CI_COMMIT_BEFORE_SHA}..${CI_COMMIT_SHA} maps/*.dmm`
  ...

largecrate
  code/game/turfs/transit.dm
Due: report:dmdoc

electrified fences baseground
  code/game/machinery/groundmap_geothermal.dm
  code/game/objects/structures/fence.dm
  code/modules/mob/living/carbon/xenomorph/attack_alien.dm
Due: report:dmdoc

Hybrisa Alpha 0.46
  maps/map_files/LV759_Hybrisa_Prospera/LV759_Hybrisa_Prospera.dmm
Due: report:map-changed-report

Update code/game/objects/effects/temporary_visuals.dm
  code/game/objects/effects/temporary_visuals.dm
Due: report:dmdoc

Update code/modules/mob/living/carbon/xenomorph/update_icons.dm
  code/modules/mob/living/carbon/xenomorph/update_icons.dm
Due: report:dmdoc

humans get zapped, insualted gloves work, they do not ling with normal fances
  code/game/objects/structures/fence.dm
  code/modules/mob/living/carbon/xenomorph/attack_alien.dm
Due: report:dmdoc

check
  code/modules/paperwork/photography.dm
Due: report:dmdoc

Update general_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_abilities.dm
Due: report:dmdoc

Joe Biden
  maps/map_files/Isaacs_Lament/Isaacs_Lament.dmm
Due: report:map-changed-report

eh
  code/game/objects/structures/fence.dm
Due: report:dmdoc

Update code/modules/mob/living/carbon/xenomorph/abilities/general_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_abilities.dm
Due: report:dmdoc

Update reagent_dispensers.dm
  code/game/objects/structures/reagent_dispensers.dm
Due: report:dmdoc

failing destroy changes
  code/game/objects/structures/fence.dm
Due: report:dmdoc

gives flag
  code/game/objects/structures/fence.dm
Due: report:dmdoc

Update code/modules/paperwork/photocopier.dm
  code/modules/paperwork/photocopier.dm
Due: report:dmdoc

P.S.5
  code/modules/paperwork/photocopier.dm
Due: report:dmdoc

P.S.6
  code/modules/paperwork/photocopier.dm
Due: report:dmdoc

fix
  code/game/machinery/computer/camera_console.dm
Due: report:dmdoc

Adds an upgraded photocopier for the CL and CC (#6126)
  code/modules/paperwork/photocopier.dm
  icons/obj/structures/machinery/library.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:dmdoc, report:map-changed-report

Automatic changelog for PR #6126 [ci skip]
  html/changelogs/AutoChangeLog-pr-6126.yml
Due: none

Adds Shockwaves to Explosions and Xeno Screeches (#5938)
  code/__DEFINES/layers.dm
  code/_onclick/hud/rendering/plane_master.dm
  code/_onclick/hud/rendering/render_plate.dm
  code/datums/autocells/explosion.dm
  code/game/objects/effects/temporary_visuals.dm
  code/modules/mob/living/carbon/xenomorph/Abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/predalien/predalien_powers.dm
  code/modules/mob/living/carbon/xenomorph/update_icons.dm
Due: report:dmdoc

Automatic changelog for PR #5938 [ci skip]
  html/changelogs/AutoChangeLog-pr-5938.yml
Due: none

Update code/game/machinery/computer/camera_console.dm
  code/game/machinery/computer/camera_console.dm
Due: report:dmdoc

Hugger deletion checking
  code/datums/tutorial/xenomorph/xenomorph_basic.dm
  code/modules/mob/living/carbon/xenomorph/Facehuggers.dm
Due: report:dmdoc

Hybrisa Alpha 0.47
  code/game/objects/structures/fence.dm
  maps/map_files/LV759_Hybrisa_Prospera/LV759_Hybrisa_Prospera.dmm
Due: report:dmdoc, report:map-changed-report

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-5938.yml
  html/changelogs/AutoChangeLog-pr-6124.yml
  html/changelogs/AutoChangeLog-pr-6126.yml
  html/changelogs/AutoChangeLog-pr-6165.yml
  html/changelogs/AutoChangeLog-pr-6166.yml
  html/changelogs/AutoChangeLog-pr-6167.yml
  html/changelogs/AutoChangeLog-pr-6168.yml
  html/changelogs/AutoChangeLog-pr-6171.yml
  html/changelogs/archive/2024-04.yml
Due: none

Adds medlinks to WO and ground maps
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/CORSAT/Corsat.dmm
  maps/map_files/DesertDam/Desert_Dam.dmm
  maps/map_files/FOP_v2_Cellblocks/Prison_Station_FOP.dmm
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
  maps/map_files/Kutjevo/Kutjevo.dmm
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
  maps/map_files/LV624/LV624.dmm
  maps/map_files/New_Varadero/New_Varadero.dmm
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
  maps/map_files/Whiskey_Outpost_v2/Whiskey_Outpost_v2.dmm
Due: report:map-changed-report

Medlink restocking requires the machine to be operable.
  code/game/machinery/vending/vendor_types/medical.dm
Due: report:dmdoc

Hybrisa Alpha 0.48
  code/game/objects/structures/props.dm
  icons/obj/structures/props/dark_fence.dmi
  icons/obj/structures/props/darkfence.dmi
  icons/obj/structures/props/electric_fence.dmi
  icons/obj/structures/props/zenithrandomprops.dmi
  maps/map_files/LV759_Hybrisa_Prospera/LV759_Hybrisa_Prospera.dmm
Due: report:dmdoc, report:map-changed-report

fixed crusher charge, now only cuts it down
  code/game/objects/structures/fence.dm
  code/modules/mob/living/carbon/xenomorph/castes/Crusher.dm
Due: report:dmdoc

crusher handeled and sparks too
  code/game/objects/structures/fence.dm
  code/modules/mob/living/carbon/xenomorph/attack_alien.dm
  code/modules/mob/living/carbon/xenomorph/castes/Crusher.dm
Due: report:dmdoc

updating bunker better spawn points for rifleman medic and comtech and an LZ if admin want to use it.
  maps/map_files/Whiskey_Outpost_v2/Whiskey_Outpost_v2.dmm
Due: report:map-changed-report

lighting radius increase
  code/game/turfs/floor_types.dm
Due: report:dmdoc

External Bleeding Sealing in Cryo Tubes (#6175)
  code/datums/effects/bleeding.dm
Due: report:dmdoc

Automatic changelog for PR #6175 [ci skip]
  html/changelogs/AutoChangeLog-pr-6175.yml
Due: none

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm
