Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

report:dmdoc:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies:
  - build:map-templates
  cache:
    key: dmdoc-${SPDMM_VERSION}
    paths:
    - dmdoc-bin
  script:
  - '[ -f dmdoc-bin ] || wget -O dmdoc-bin ${SPDMM_DOWNLOAD_URL}/dmdoc'
  - chmod u+x dmdoc-bin
  - ./dmdoc-bin
  artifacts:
    name: ci_dmdoc
  ...

report:map-changed-report:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies: []
  cache:
    key: dmm-tools-${SPDMM_VERSION}
    paths:
    - dmm-tools
  script:
  - CHANGED_MAP_FILES=`git diff-tree -r --diff-filter=d --name-only --no-commit-id ${CI_COMMIT_BEFORE_SHA}..${CI_COMMIT_SHA} maps/*.dmm`
  ...

﻿removed all shuttle landmarks
  code/controllers/subsystem/init/landmarks.dm
  code/modules/admin/tabs/event_tab.dm
  code/modules/cm_marines/shuttle_backend.dm
  code/modules/shuttle/computers/dropship_computer.dm
  code/modules/shuttle/shuttles/dropship.dm
  code/modules/shuttles/marine_ferry.dm
  code/modules/shuttles/shuttle_console.dm
  maps/map_files/CORSAT/Corsat.dmm
  maps/map_files/FOP_v2_Cellblocks/Prison_Station_FOP.dmm
  maps/map_files/Ice_Colony_v2/Ice_Colony_v2.dmm
  maps/map_files/Kutjevo/Kutjevo.dmm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  maps/map_files/generic/Low_Orbit.dmm
Due: report:dmdoc, report:map-changed-report

fix import issues for tsx
  tgui/packages/tgui/interfaces/DropshipFlightControl.tsx
Due: none

remove duplicate file include
  ColonialMarinesALPHA.dme
Due: none

trying different dme order
  ColonialMarinesALPHA.dme
Due: none

fixed some usability issues
  code/modules/shuttle/computers/dropship_computer.dm
  code/modules/shuttle/shuttles/dropship.dm
Due: report:dmdoc

added new ground computers to all maps
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/CORSAT/Corsat.dmm
  maps/map_files/DesertDam/Desert_Dam.dmm
  maps/map_files/FOP_v2_Cellblocks/Prison_Station_FOP.dmm
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
  maps/map_files/Kutjevo/Kutjevo.dmm
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
  maps/map_files/LV624/LV624.dmm
  maps/map_files/New_Varadero/New_Varadero.dmm
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
Due: report:map-changed-report

removed linter warnings
  code/__DEFINES/__game.dm
  code/modules/shuttle/computers/dropship_computer.dm
  code/modules/shuttle/computers/escape_pod_computer.dm
  code/modules/shuttle/shuttles/dropship.dm
Due: report:dmdoc

﻿got landing lights working on landing
  code/modules/cm_marines/shuttle_backend.dm
  code/modules/shuttle/shuttle.dm
  code/modules/shuttle/shuttles/dropship.dm
Due: report:dmdoc

﻿code cleanup
  ColonialMarinesALPHA.dme
  code/controllers/shuttle_controller.dm
  code/controllers/subsystem/shuttles.dm
  code/game/machinery/computer/dropship_weapons.dm
  code/game/machinery/door_control.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/tabs/event_tab.dm
  code/modules/admin/topic/topic_events.dm
  code/modules/cm_marines/dropship_equipment.dm
  code/modules/dropships/attach_points/attach_point.dm
  code/modules/mob/living/carbon/xenomorph/attack_alien.dm
  code/modules/shuttle/computers/dropship_computer.dm
  code/modules/shuttle/computers/escape_pod_computer.dm
  code/modules/shuttle/helpers.dm
  code/modules/shuttle/shuttles/dropship.dm
  code/modules/shuttles/escape_pods.dm
  code/modules/shuttles/marine_ferry.dm
  code/modules/shuttles/monorail_console.dm
Due: report:dmdoc

resolve build issues
  code/modules/shuttle/computers/dropship_computer.dm
  tgui/packages/tgui/interfaces/DropshipFlightControl.tsx
  tgui/packages/tgui/interfaces/NavigationShuttle.tsx
Due: report:dmdoc

refactored dropship hijack datum into own file
  ColonialMarinesALPHA.dme
  code/modules/shuttle/dropship_hijack.dm
  code/modules/shuttle/helpers.dm
  code/modules/shuttle/shuttles/dropship.dm
Due: report:dmdoc

removed shuttle ert code
  code/modules/shuttles/shuttle_ert.dm
Due: report:dmdoc

resolved the shuttle reservation issue
  code/__DEFINES/maps.dm
  code/__HELPERS/level_traits.dm
  code/__HELPERS/unsorted.dm
  code/controllers/subsystem/communications.dm
  code/controllers/subsystem/mapping.dm
  code/controllers/subsystem/shuttles.dm
  code/game/gamemodes/cm_process.dm
  code/game/gamemodes/cm_self_destruct.dm
  code/game/gamemodes/colonialmarines/xenovsxeno.dm
  code/game/machinery/doors/airlock_types.dm
  code/game/machinery/doors/multi_tile.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/modules/cm_marines/dropship_equipment.dm
  code/modules/cm_preds/yaut_bracers.dm
  code/modules/mapping/space_management/space_reservation.dm
  code/modules/mapping/space_management/zlevel_manager.dm
  code/modules/shuttle/lifeboats.dm
  code/modules/shuttle/shuttles/escape_shuttle.dm
  code/modules/shuttles/marine_ferry.dm
Due: report:dmdoc

added roundstart timelock
  code/modules/shuttle/computers/dropship_computer.dm
Due: report:dmdoc

added in dropship announcements
  code/modules/shuttle/computers/dropship_computer.dm
Due: report:dmdoc

final var proc linting error
  code/modules/shuttle/helpers.dm
Due: report:dmdoc

reworked queen hijack logic
  code/modules/shuttle/computers/dropship_computer.dm
Due: report:dmdoc

resolved queen hijack and big red sprinkle dropship console
  code/modules/shuttle/computers/dropship_computer.dm
  maps/map_files/BigRed/sprinkles/25.lz1containers_scramble.dmm
Due: report:dmdoc, report:map-changed-report

made flyby and ferry settings send a niche message to admins
  code/modules/shuttle/computers/dropship_computer.dm
Due: report:dmdoc

shuttle is automatically optimised if the player is expert in pilot skill
  code/modules/shuttle/computers/dropship_computer.dm
Due: report:dmdoc

marine count check should now stop queen calling dropship down
  code/modules/shuttle/computers/dropship_computer.dm
Due: report:dmdoc

resolved hangar control terminals
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

should have polished off final issues
  code/game/gamemodes/cm_self_destruct.dm
  code/modules/shuttle/dropship_hijack.dm
Due: report:dmdoc

removed vars for linter
  code/game/machinery/door_control.dm
  code/modules/cm_marines/dropship_equipment.dm
  code/modules/cm_marines/shuttle_backend.dm
  code/modules/shuttle/computers/dropship_computer.dm
  code/modules/shuttle/helpers.dm
  code/modules/shuttle/shuttles/dropship.dm
Due: report:dmdoc

fix map compile issue
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

fix map issue
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Matrix fixes (#2484)
  code/game/machinery/computer/dropship_weapons.dm
Due: report:dmdoc

Changes layer of the Big Tree on LV-624 (#2542)
  code/game/objects/structures/flora.dm
Due: report:dmdoc

disables attack chat
  code/__DEFINES/__game.dm
Due: report:dmdoc

lint failure
  code/modules/mob/living/simple_animal/simple_animal.dm
Due: report:dmdoc

Almayer Rework Part 1 - Prototype
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

fixed dropship landing audio
  code/modules/shuttle/helpers.dm
  code/modules/shuttle/shuttle.dm
  code/modules/shuttle/shuttles/dropship.dm
Due: report:dmdoc

added information to the groundside operation computer to let command know about dropship changes
  code/game/machinery/computer/groundside_operations.dm
Due: report:dmdoc

Adds Economy Inflation Event
  ColonialMarinesALPHA.dme
  code/__DEFINES/vendors.dm
  code/game/machinery/vending/vending_types.dm
  code/modules/events/inflation.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/abilities/defender/defender_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Defender.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/defender/steel_crest.dm
Due: report:dmdoc

why were these even here???
  code/modules/mob/living/carbon/xenomorph/Evolution.dm
  code/modules/mob/living/carbon/xenomorph/XenoMutatorSets.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  code/modules/mob/living/carbon/xenomorph/mutators/behavior_delegate.dm
Due: report:dmdoc

um ok
  ColonialMarinesALPHA.dme
Due: none

the statusbar no longer hides
  code/modules/client/preferences.dm
  code/modules/statusbar/statusbar.dm
  interface/skin.dmf
Due: report:dmdoc

fixes extended (#2545)
  code/__DEFINES/mode.dm
  code/game/gamemodes/cm_initialize.dm
  code/game/gamemodes/extended/extended.dm
  code/game/gamemodes/extended/infection.dm
  code/modules/admin/tabs/round_tab.dm
  code/modules/client/preferences.dm
Due: report:dmdoc

SEAs no longer need to be logged in as mentor to get messages
  code/modules/admin/admin.dm
Due: report:dmdoc

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm
