Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm

last second fatfinger
  code/_onclick/click.dm
Due: report:dmdoc

TEST
  code/modules/client/client_procs.dm
  code/modules/tgui_panel/tgui_panel.dm
Due: report:dmdoc

WIP Engine Fueling Minigame
  code/__DEFINES/shuttles.dm
  code/modules/cm_marines/dropship_equipment.dm
  code/modules/shuttles/marine_ferry.dm
Due: report:dmdoc

test
  code/modules/client/client_procs.dm
  code/modules/mob/login.dm
Due: report:dmdoc

stuff
  code/modules/client/client_procs.dm
  html/statbrowser.html
Due: report:dmdoc

aaaa
  html/statbrowser.html
Due: none

bah
  html/statbrowser.html
Due: none

nvg
  code/__DEFINES/misc.dm
  code/game/cas_manager/datums/cas_fire_envelope.dm
  code/game/machinery/computer/dropship_weapons.dm
  code/game/objects/items/frames/matrix.dm
  code/modules/reagents/chemistry_properties/prop_positive.dm
Due: report:dmdoc

Toggle zoom
  code/game/machinery/computer/dropship_weapons.dm
  code/game/objects/items/frames/matrix.dm
Due: report:dmdoc

morecleanup
  code/game/cas_manager/datums/cas_fire_envelope.dm
  code/game/machinery/computer/dropship_weapons.dm
Due: report:dmdoc

stuff
  html/statbrowser.html
Due: none

funnynumber
  code/game/objects/items/frames/matrix.dm
Due: report:dmdoc

funny grammar
  code/__DEFINES/chemistry.dm
  code/game/objects/items/frames/matrix.dm
Due: report:dmdoc

why
  code/modules/reagents/chemistry_properties/prop_positive.dm
Due: report:dmdoc

sorta
  html/statbrowser.html
Due: none

test
  html/statbrowser.html
Due: none

help
  html/statbrowser.html
Due: none

Marine HUD Updates (#1186)
  code/__DEFINES/job.dm
  code/datums/factions/uscm.dm
  code/game/jobs/job/special/provost.dm
  code/modules/mob/mob.dm
  icons/mob/hud/hud.dmi
  icons/mob/hud/hud_yautja.dmi
  icons/mob/hud/marine_hud.dmi
  icons/mob/hud/sec_hud.dmi
Due: report:dmdoc

Automatic changelog compile [ci skip]
  html/changelogs/archive/2022-11.yml
Due: none

Fix OT Claymore bug
  code/game/objects/items/explosives/mine.dm
Due: report:dmdoc

Fix OT Claymore bug extra
  code/game/objects/items/explosives/mine.dm
Due: report:dmdoc

bal2
  code/__DEFINES/xeno.dm
  code/modules/mob/living/carbon/xenomorph/abilities/boiler/boiler_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_abilities.dm
  code/modules/mob/living/carbon/xenomorph/castes/Boiler.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/boiler/trapper.dm
Due: report:dmdoc

forgot to remove debug to_chat
  code/game/objects/items/frames/matrix.dm
Due: report:dmdoc

Small edit to the hair
  icons/mob/humans/human_hair.dmi
Due: none

Last edit :)
  icons/mob/humans/human_hair.dmi
Due: none

funny qol
  code/game/objects/items.dm
Due: report:dmdoc

more stuff and also silos
  ColonialMarinesALPHA.dme
  code/_globalvars/global_lists.dm
  code/modules/cm_marines/compound_silo.dm
  code/modules/cm_marines/dropship_equipment.dm
  code/modules/mob/mob.dm
  code/modules/shuttles/marine_ferry.dm
  code/modules/shuttles/shuttle_console.dm
Due: report:dmdoc

finishing touches
  code/modules/cm_marines/compound_silo.dm
  code/modules/cm_marines/dropship_equipment.dm
  code/modules/vehicles/powerloader.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:dmdoc, report:map-changed-report

remove spammability
  code/modules/cm_marines/dropship_equipment.dm
Due: report:dmdoc

yeep
  code/modules/cm_marines/compound_silo.dm
  code/modules/cm_marines/dropship_equipment.dm
Due: report:dmdoc

Added access to the back door of Requisitions
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Revert "Added access to the back door of Requisitions"
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Used the non-deprecated way of handling things
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

fix?!
  code/datums/beam.dm
Due: report:dmdoc

Object narration permissions.
  code/modules/admin/admin_verbs.dm
  code/modules/admin/tabs/admin_tab.dm
Due: report:dmdoc

Fix for eye surgery.
  code/game/machinery/autodoc.dm
  code/modules/surgery/eye.dm
Due: report:dmdoc

Fun Facts: Extended
  code/datums/statistics/entities/death_stats.dm
  code/datums/statistics/random_facts/damage_fact.dm
  code/datums/statistics/random_facts/kills_fact.dm
  code/datums/statistics/random_facts/random_fact.dm
  code/game/gamemodes/cm_process.dm
  code/game/gamemodes/colonialmarines/colonialmarines.dm
  code/game/gamemodes/colonialmarines/xenovsxeno.dm
  code/modules/admin/admin_verbs.dm
Due: report:dmdoc

g
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
Due: report:map-changed-report

Fixes as per comments
  code/modules/admin/topic/topic_teleports.dm
Due: report:dmdoc
