Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

report:dmdoc:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies:
  - build:map-templates
  cache:
    key: dmdoc-${SPDMM_VERSION}
    paths:
    - dmdoc-bin
  script:
  - '[ -f dmdoc-bin ] || wget -O dmdoc-bin ${SPDMM_DOWNLOAD_URL}/dmdoc'
  - chmod u+x dmdoc-bin
  - ./dmdoc-bin
  artifacts:
    name: ci_dmdoc
  ...

report:map-changed-report:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies: []
  cache:
    key: dmm-tools-${SPDMM_VERSION}
    paths:
    - dmm-tools
  script:
  - CHANGED_MAP_FILES=`git diff-tree -r --diff-filter=d --name-only --no-commit-id ${CI_COMMIT_BEFORE_SHA}..${CI_COMMIT_SHA} maps/*.dmm`
  ...

reverse my try and remove some code.
  code/game/turfs/floor.dm
Due: report:dmdoc

reverse some stuff
  maps/map_files/LV624/LV624.dmm
  maps/map_files/LV624/gym/20.pool.dmm
  maps/map_files/LV624/sprinkles/30.nexuscenter_barricaded.dmm
Due: report:map-changed-report

fix some weird tiles change
  maps/map_files/BigRed/BigRed.dmm
Due: report:map-changed-report

Update code/modules/mob/dead/observer/observer.dm
  code/modules/mob/dead/observer/observer.dm
Due: report:dmdoc

v2
  code/__DEFINES/subsystems.dm
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem/influxdriver.dm
  code/controllers/subsystem/influxstats.dm
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
  colonialmarines.dme
Due: report:dmdoc

Jobs and character slots. (#3552)
  code/__DEFINES/client_prefs.dm
  code/__DEFINES/mode.dm
  code/game/gamemodes/cm_initialize.dm
  code/game/jobs/job/job.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/client/preferences_toggles.dm
  code/modules/mob/new_player/new_player.dm
  colonialmarines.dme
Due: report:dmdoc

add ahelp stats
  code/controllers/subsystem/influxstats.dm
Due: report:dmdoc

Automatic changelog for PR #3552 [ci skip]
  html/changelogs/AutoChangeLog-pr-3552.yml
Due: none

prevent c4 niche log from triggering when putting in bags etc
  code/game/objects/items/explosives/plastic.dm
Due: report:dmdoc

new formula
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
Due: report:dmdoc

antiflame
  code/__DEFINES/defenses.dm
  code/game/objects/structures/barricade/barricade.dm
  code/game/objects/structures/barricade/metal.dm
Due: report:dmdoc

beagle requests pt5
  code/game/jobs/job/civilians/support/working_joe.dm
Due: report:dmdoc

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-3552.yml
  html/changelogs/archive/2023-06.yml
Due: none

beagle request pt6
  code/modules/gear_presets/synths.dm
Due: report:dmdoc

pr6
  code/modules/gear_presets/synths.dm
Due: report:dmdoc

Update synths.dm
  code/modules/gear_presets/synths.dm
Due: report:dmdoc

Huggers no longer lose health over time on weeds
  code/modules/mob/living/carbon/xenomorph/castes/Facehugger.dm
Due: report:dmdoc

Update code/modules/mob/living/carbon/xenomorph/castes/Facehugger.dm
  code/modules/mob/living/carbon/xenomorph/castes/Facehugger.dm
Due: report:dmdoc

Update marine_uniform.dm
  code/modules/clothing/under/marine_uniform.dm
Due: report:dmdoc

Fluff security record entry is now added as a comment to the security records. (#3598)
  code/datums/datacore.dm
Due: report:dmdoc

Hardy weeds now spread on CC shale rocks. (#3596)
  code/game/turfs/auto_turf.dm
Due: report:dmdoc

Data detector no longer goes off on empty vial boxes (#3595)
  code/game/objects/items/devices/data_detector.dm
Due: report:dmdoc

Automatic changelog for PR #3598 [ci skip]
  html/changelogs/AutoChangeLog-pr-3598.yml
Due: none

Automatic changelog for PR #3596 [ci skip]
  html/changelogs/AutoChangeLog-pr-3596.yml
Due: none

Sentries now work correctly on dropships (#3599)
  code/modules/defenses/planted_flag.dm
  code/modules/defenses/sentry.dm
Due: report:dmdoc

Automatic changelog for PR #3595 [ci skip]
  html/changelogs/AutoChangeLog-pr-3595.yml
Due: none

Automatic changelog for PR #3599 [ci skip]
  html/changelogs/AutoChangeLog-pr-3599.yml
Due: none

Update code/game/objects/structures/crates_lockers/largecrate.dm
  code/game/objects/structures/crates_lockers/largecrate.dm
Due: report:dmdoc

Limits view range of large crate destroy message. (#3594)
  code/game/objects/structures/crates_lockers/largecrate.dm
Due: report:dmdoc

added camera shake and stun to OB.
  code/modules/cm_marines/orbital_cannon.dm
Due: report:dmdoc

Automatic changelog for PR #3594 [ci skip]
  html/changelogs/AutoChangeLog-pr-3594.yml
Due: none

copy pasta
  code/modules/cm_marines/orbital_cannon.dm
Due: report:dmdoc

Update cans.dm
  code/game/objects/items/reagent_containers/food/cans.dm
Due: report:dmdoc

Update condiment.dm
  code/game/objects/items/reagent_containers/food/condiment.dm
Due: report:dmdoc

Admin Map Overrides (#3567)
  code/__DEFINES/maps.dm
  code/controllers/subsystem/mapping.dm
  code/datums/map_config.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/server_verbs.dm
  maps/override_ground.json
  maps/override_ship.json
  tools/ci/check_grep.sh
Due: report:dmdoc

Automatic changelog for PR #3567 [ci skip]
  html/changelogs/AutoChangeLog-pr-3567.yml
Due: none

You can no longer use MMB to attack (probably) (#3576)
  code/_onclick/click.dm
Due: report:dmdoc

Automatic changelog for PR #3576 [ci skip]
  html/changelogs/AutoChangeLog-pr-3576.yml
Due: none

Update code/game/jobs/access.dm
  code/game/jobs/access.dm
Due: report:dmdoc

add larva stats
  code/controllers/subsystem/influxstats.dm
Due: report:dmdoc

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm
