Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm

Automatic changelog for PR #3224 [ci skip]
  html/changelogs/AutoChangeLog-pr-3224.yml
Due: none

windows ci build
  .github/workflows/ci_suite.yml
Due: none

requested changes
  code/game/machinery/fax_machine.dm
  code/modules/admin/topic/topic.dm
  code/modules/client/client_procs.dm
Due: report:dmdoc

Moved lighting to stop overlapping with other items.
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

ok
  tgui/package.json
  tgui/yarn.lock
Due: none

plz
  tools/build/build.js
Due: none

hotfix for cas (#3233)
  code/game/machinery/computer/dropship_weapons.dm
Due: report:dmdoc

Automatic changelog for PR #3233 [ci skip]
  html/changelogs/AutoChangeLog-pr-3233.yml
Due: none

nukes low orbit
  maps/_basemap.dm
  maps/map_files/generic/Low_Orbit.dmm
Due: report:dmdoc, report:map-changed-report

Patches custom rank prefixes for Admin mod perms.
  code/datums/paygrades/helper.dm
Due: report:dmdoc

fixes for apc and delivery chute
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

i hate typecaches!!!
  code/game/objects/structures/flora.dm
Due: report:dmdoc

Apply suggestions by realforest2001
  code/datums/paygrades/helper.dm
Due: report:dmdoc

a
  code/datums/paygrades/helper.dm
Due: report:dmdoc

WalterMeldron majick! Kredit 2 team!
  code/datums/paygrades/helper.dm
Due: report:dmdoc

Removes unneeded line of space, comments.
  code/datums/paygrades/helper.dm
Due: report:dmdoc

fix
  code/datums/paygrades/helper.dm
Due: report:dmdoc

damn this was easy
  code/modules/cm_preds/yaut_items.dm
Due: report:dmdoc

Actually get's the whole thing with the fix.
  code/datums/paygrades/helper.dm
Due: report:dmdoc

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-3224.yml
  html/changelogs/AutoChangeLog-pr-3233.yml
  html/changelogs/archive/2023-05.yml
Due: none

readd old riot
  icons/mob/humans/onmob/head_0.dmi
  icons/mob/humans/onmob/suit_0.dmi
  icons/obj/items/clothing/hats.dmi
  icons/obj/items/clothing/suits.dmi
Due: none

add tha code
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/suits/armor.dm
Due: report:dmdoc

add the old armor to the almayer
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

fix
  code/modules/clothing/suits/armor.dm
Due: report:dmdoc

woops
  code/modules/clothing/suits/armor.dm
Due: report:dmdoc

update desc
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/suits/armor.dm
Due: report:dmdoc

desc
  code/modules/clothing/suits/armor.dm
Due: report:dmdoc

Medics now get the EZ Autoinjectors as a paid option
  code/game/machinery/vending/vendor_types/squad_prep/squad_medic.dm
Due: report:dmdoc

Proper check range
  code/game/objects/items/weapons/weapon.dm
Due: report:dmdoc

Grammer police
  code/game/objects/items/weapons/weapon.dm
Due: report:dmdoc

Fixing my misunderstanding about intended behavior
  code/game/objects/items/weapons/weapon.dm
Due: report:dmdoc

Nudge
  code/game/objects/items/weapons/weapon.dm
Due: report:dmdoc

Lets make it all consistent then
  code/game/objects/items/weapons/weapon.dm
Due: report:dmdoc

Why was that even there?
  code/game/objects/items/weapons/weapon.dm
Due: report:dmdoc

bug fix, corrected caching
  code/game/machinery/fax_machine.dm
  code/modules/client/client_procs.dm
  code/modules/paperwork/paper.dm
Due: report:dmdoc
