Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

report:dmdoc:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies:
  - build:map-templates
  cache:
    key: dmdoc-${SPDMM_VERSION}
    paths:
    - dmdoc-bin
  script:
  - '[ -f dmdoc-bin ] || wget -O dmdoc-bin ${SPDMM_DOWNLOAD_URL}/dmdoc'
  - chmod u+x dmdoc-bin
  - ./dmdoc-bin
  artifacts:
    name: ci_dmdoc
  ...

report:map-changed-report:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies: []
  cache:
    key: dmm-tools-${SPDMM_VERSION}
    paths:
    - dmm-tools
  script:
  - CHANGED_MAP_FILES=`git diff-tree -r --diff-filter=d --name-only --no-commit-id ${CI_COMMIT_BEFORE_SHA}..${CI_COMMIT_SHA} maps/*.dmm`
  ...

gulanga
  maps/map_files/New_Varadero/New_Varadero.dmm
Due: report:map-changed-report

goo' 'nough
  maps/map_files/New_Varadero/sprinkles/50.HospitalAlternate.dmm
Due: report:map-changed-report

add to cylinder refactor plus some dogass reviews bruh
  code/modules/projectiles/ammunition.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/gun_helpers.dm
  code/modules/projectiles/guns/revolvers.dm
  code/modules/projectiles/guns/shotguns.dm
  code/modules/projectiles/magazines/revolvers.dm
  code/modules/projectiles/magazines/specialist.dm
  code/span_macros.dm
  tgui/packages/tgui-panel/styles/goon/chat-dark.scss
  tgui/packages/tgui-panel/styles/goon/chat-light.scss
Due: report:dmdoc

OK bro
  code/modules/projectiles/gun.dm
Due: report:dmdoc

i swear to whoever, if this doesnt
  maps/map_files/New_Varadero/New_Varadero.dmm
  maps/map_files/New_Varadero/standalone/clfraid.dmm
  maps/map_files/New_Varadero/standalone/landingzone_varadero_upp_lz1.dmm
  maps/map_files/New_Varadero/standalone/landingzone_varadero_uscm_lz1.dmm
  maps/map_files/New_Varadero/standalone/landingzone_varadero_uscm_lz2.dmm
Due: report:map-changed-report

👍?
  code/game/turfs/open.dm
  maps/map_files/New_Varadero/New_Varadero.dmm
  maps/map_files/New_Varadero/standalone/clfraid.dmm
  maps/map_files/New_Varadero/standalone/landingzone_varadero_upp_lz1.dmm
  maps/map_files/New_Varadero/standalone/landingzone_varadero_uscm_lz1.dmm
Due: report:dmdoc, report:map-changed-report

final fixes... i hope
  maps/map_files/New_Varadero/New_Varadero.dmm
  maps/map_files/New_Varadero/standalone/landingzone_varadero_uscm_lz1.dmm
Due: report:map-changed-report

🥀
  maps/map_files/New_Varadero/New_Varadero.dmm
  maps/map_files/New_Varadero/standalone/landingzone_varadero_uscm_lz1.dmm
Due: report:map-changed-report

Fixup maps in TGM format
  maps/map_files/New_Varadero/New_Varadero.dmm
  maps/map_files/New_Varadero/sprinkles/50.HospitalAlternate.dmm
  maps/map_files/New_Varadero/standalone/clfraid.dmm
  maps/map_files/New_Varadero/standalone/landingzone_varadero_upp_lz1.dmm
Due: report:map-changed-report

move chance's designator to north fitness
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
Due: report:map-changed-report

idfk
  code/modules/gear_presets/survivors/new_varadero/preset_new_varadero.dm
Due: report:dmdoc

move tyrargo rangefinder to upper apartments
  maps/map_files/Tyrargo_Rift/Tyrargo_Rift.dmm
Due: report:map-changed-report

wagwagawgaw
  maps/new_varadero.json
Due: none

oops
  code/modules/gear_presets/survivors/new_varadero/preset_new_varadero.dm
Due: report:dmdoc

Fixup maps in TGM format
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
Due: report:map-changed-report

first commit, lot's of stuff...
  code/__DEFINES/vendors.dm
  code/datums/supply_packs/black_market.dm
  code/game/machinery/vending/vendor_types/antag/antag_predator.dm
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
  code/modules/client/preferences_gear.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/shoes/marine_shoes.dm
  code/modules/clothing/under/ties.dm
  code/modules/cm_preds/thrall_items.dm
  code/modules/cm_tech/techs/marine/tier1/arc.dm
  icons/effects/techtree/tech.dmi
  icons/mob/humans/onmob/clothing/feet.dmi
  icons/mob/humans/onmob/clothing/helmet_garb/helmet_covers.dmi
  icons/mob/humans/onmob/hunter/thrall_gear.dmi
  icons/obj/items/clothing/helmet_garb.dmi
  icons/obj/items/clothing/shoes.dmi
  icons/obj/items/hunter/prey_items.dmi
  icons/obj/items/hunter/thrall_gear.dmi
  tools/UpdatePaths/Scripts/11023-helmetcoverpotatochip.txt
Due: report:dmdoc

Updated sprite courtesy of Zenith2001, (doesn't want to be credited)
  icons/obj/structures/machinery/defenses/overwatch.dmi
Due: none

This too
  code/modules/surgery/amputation.dm
Due: report:dmdoc

remove dir code
  code/modules/cm_marines/equipment/gear.dm
Due: report:dmdoc

add sound on deploying
  code/modules/cm_marines/equipment/gear.dm
Due: report:dmdoc

2
  code/modules/gear_presets/survivors/new_varadero/preset_new_varadero.dm
Due: report:dmdoc

Bruised livers/kidneys no longer trigger red tags
  code/modules/mob/living/carbon/human/human.dm
Due: report:dmdoc

Overdose check
  code/modules/mob/living/carbon/human/human.dm
Due: report:dmdoc

Port: Harm Intent uses Auto-Fire instead of PB (#10414)
  code/__DEFINES/conflict.dm
  code/__DEFINES/dcs/signals/atom/signals_projectile.dm
  code/__DEFINES/traits.dm
  code/_onclick/click.dm
  code/_onclick/click_hold.dm
  code/datums/ammo/ammo.dm
  code/datums/ammo/bullet/bullet.dm
  code/datums/ammo/bullet/pistol.dm
  code/datums/ammo/bullet/revolver.dm
  code/game/objects/structures/stool_bed_chair_nest/xeno_nest.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/gun_attachables.dm
  code/modules/projectiles/guns/shotguns.dm
  code/modules/projectiles/guns/specialist/launcher/grenade_launcher.dm
  code/modules/projectiles/projectile.dm
Due: report:dmdoc

Add a Cooldown to the Dropship alarm. (#12557)
  code/modules/shuttle/computers/dropship_computer.dm
Due: report:dmdoc

Style formatting
  code/modules/mob/living/carbon/human/human.dm
Due: report:dmdoc

Standardize implementations between clicking on self vs others, reduce grab upgrade cooldown for xenos, and cleanup
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
  code/modules/mob/mob_grab.dm
Due: report:dmdoc

Make spawn_humans only take 5 seconds instead of 60 (#12568)
  code/modules/unit_tests/spawn_humans.dm
Due: report:dmdoc

Update code/modules/mob/death.dm
  code/modules/mob/death.dm
Due: report:dmdoc

Tip grammar pass + a minor tweak to one (#12534)
  strings/marinetips.txt
  strings/memetips.txt
  strings/xenotips.txt
Due: none

fix dusting runtime (#12553)
  code/modules/mob/death.dm
Due: report:dmdoc

this ones for the hugger mains
  strings/xenotips.txt
Due: none

Xeno & Pathogen Build Icon file (#12439)
  code/modules/asset_cache/asset_list_items.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  icons/mob/hud/actions_xeno.dmi
  icons/mob/hud/xeno_building.dmi
Due: report:dmdoc

Remove SSmove_manager references from STANDARDS.md (#12532)
  .github/guides/STANDARDS.md
Due: none

addit
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Fixup maps in TGM format
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

ChangeUp
  maps/map_files/LV1021_Falcons_Fury/LV1021_Falcons_Fury.dmm
Due: report:map-changed-report

fix webedit gaming
  code/modules/mapping/mapping_helpers.dm
Due: report:dmdoc

map tweaks
  maps/map_files/Atlan_Station/Atlan_Station.dmm
Due: report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm
