Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

report:dmdoc:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies:
  - build:map-templates
  cache:
    key: dmdoc-${SPDMM_VERSION}
    paths:
    - dmdoc-bin
  script:
  - '[ -f dmdoc-bin ] || wget -O dmdoc-bin ${SPDMM_DOWNLOAD_URL}/dmdoc'
  - chmod u+x dmdoc-bin
  - ./dmdoc-bin
  artifacts:
    name: ci_dmdoc
  ...

report:map-changed-report:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies: []
  cache:
    key: dmm-tools-${SPDMM_VERSION}
    paths:
    - dmm-tools
  script:
  - CHANGED_MAP_FILES=`git diff-tree -r --diff-filter=d --name-only --no-commit-id ${CI_COMMIT_BEFORE_SHA}..${CI_COMMIT_SHA} maps/*.dmm`
  ...

Update code/game/turfs/closed.dm
  code/game/turfs/closed.dm
Due: report:dmdoc

second message
  code/game/turfs/open_space.dm
Due: report:dmdoc

meh tab got messed up
  code/game/turfs/closed.dm
Due: report:dmdoc

Climbing up and down with full hands and pulling stuff (#12337)
  code/game/turfs/closed.dm
  code/game/turfs/open_space.dm
Due: report:dmdoc

BOO!
  maps/map_files/DesertDam/Desert_Dam.dmm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

a
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

survivor + synth presets, adds new gun to various places, gun fixes.
  code/datums/ammo/bullet/rifle.dm
  code/game/machinery/doors/multi_tile.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/structures/crates_lockers/largecrate.dm
  code/modules/gear_presets/_select_equipment.dm
  code/modules/gear_presets/survivors/fire_colony/preset_fire_colony.dm
  code/modules/projectiles/guns/rifles.dm
  icons/obj/items/weapons/guns/attachments/stock.dmi
  maps/map_files/Fire_Colony/Fire_Colony.dmm
Due: report:dmdoc, report:map-changed-report

ok that didn't even change a single file
  code/game/objects/items/storage/misc.dm
Due: report:dmdoc

armory change
  maps/map_files/Whiskey_Outpost_v2/Whiskey_Outpost_v2.dmm
Due: report:map-changed-report

Fixup maps in TGM format
  maps/map_files/Whiskey_Outpost_v2/Whiskey_Outpost_v2.dmm
Due: report:map-changed-report

commit for now
  code/game/objects/items/devices/radio/headset.dm
Due: report:dmdoc

Hardened APCs
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Property_Corrosive is now easier to apply on Xenomorph (#12012)
  code/modules/reagents/chemistry_properties/prop_negative.dm
Due: report:dmdoc

Fix: NVGs being fullwhite (#12459)
  code/__HELPERS/matrices.dm
Due: report:dmdoc

Lets more tools/weapons cut fences. (#12436)
  code/game/objects/structures/fence.dm
Due: report:dmdoc

Allows observers to health scan xenos/simple mobs again (#12371)
  code/modules/mob/dead/observer/observer.dm
Due: report:dmdoc

Resprites clown, adds clown waddling and step sound (#12300)
  code/datums/components/footstep.dm
  code/datums/elements/waddling.dm
  code/game/sound.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/gear_presets/fun.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/clown.dm
  colonialmarines.dme
  icons/mob/animal.dmi
  icons/mob/humans/onmob/clothing/back/backpacks.dmi
  icons/mob/humans/onmob/clothing/feet.dmi
  icons/mob/humans/onmob/clothing/masks/masks.dmi
  icons/mob/humans/onmob/clothing/uniforms/uniforms_by_department/service.dmi
  icons/mob/humans/onmob/inhands/clothing/backpacks_lefthand.dmi
  icons/mob/humans/onmob/inhands/clothing/backpacks_righthand.dmi
  icons/mob/humans/onmob/inhands/clothing/boots_lefthand.dmi
  icons/mob/humans/onmob/inhands/clothing/boots_righthand.dmi
  icons/mob/humans/onmob/inhands/clothing/uniforms_lefthand.dmi
  icons/mob/humans/onmob/inhands/clothing/uniforms_righthand.dmi
  icons/obj/items/clothing/backpack/backpacks.dmi
  icons/obj/items/clothing/masks/masks.dmi
  icons/obj/items/clothing/uniforms/uniforms_by_department/service.dmi
Due: report:dmdoc

Sdmm blood and shard icons (#11886)
  code/game/objects/effects/decals/cleanable/blood/blood.dm
  code/game/objects/effects/decals/cleanable/blood/robots.dm
  code/game/objects/effects/decals/cleanable/blood/tracks.dm
  code/game/objects/effects/decals/cleanable/blood/xeno.dm
  code/game/objects/effects/spawners/gibspawner.dm
  code/game/objects/items/shards.dm
  code/modules/flufftext/Hallucination.dm
  maps/map_files/Kutjevo/sprinkles/25.cleaningprog_botany.dmm
  maps/map_files/LV624/maintemple/1.intact.dmm
  maps/map_files/New_Varadero/New_Varadero.dmm
  tools/UpdatePaths/Scripts/11886-removes-basecolor.txt
Due: report:dmdoc, report:map-changed-report

Whiskey Outpost Bunker Improvements (#11934)
  code/__DEFINES/job.dm
  code/__DEFINES/mode.dm
  code/datums/factions/uscm.dm
  code/game/gamemodes/colonialmarines/whiskey_outpost.dm
  code/game/gamemodes/colonialmarines/whiskey_outpost/equipping.dm
  code/game/gamemodes/colonialmarines/whiskey_outpost/skills.dm
  code/game/gamemodes/colonialmarines/whiskey_outpost/whiskey_output_waves.dm
  code/game/machinery/vending/vendor_types/wo_vendors.dm
  code/game/objects/effects/landmarks/landmarks.dm
  code/game/objects/items/devices/binoculars.dm
  code/modules/cm_marines/equipment/kit_boxes.dm
  code/modules/cm_marines/marines_consoles.dm
  code/modules/gear_presets/_select_equipment.dm
  code/modules/gear_presets/dust_raider.dm
  code/modules/gear_presets/wo.dm
  code/modules/vehicles/apc/apc.dm
  code/modules/vehicles/apc/apc_command.dm
  code/modules/vehicles/apc/apc_medical.dm
  code/modules/vehicles/interior/interactable/vehicle_locker.dm
  code/modules/vehicles/tank/tank.dm
  maps/map_files/Whiskey_Outpost_v2/Whiskey_Outpost_v2.dmm
Due: report:dmdoc, report:map-changed-report

Fix: Radial Menus getting stuck, and unable to be opened (#12366)
  code/_onclick/hud/radial.dm
Due: report:dmdoc

back in myyyyyyyyyyyyyyyyy day
  tools/UpdatePaths/Scripts/11911-loadout-guns-path.txt
Due: none

Runtime on bad map json
  code/controllers/subsystem/mapping.dm
Due: report:dmdoc

Testy
  code/__HELPERS/lists.dm
Due: report:dmdoc

Fix: Rocket backblast direction (#12465)
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/specialist/launcher/rocket_launcher.dm
Due: report:dmdoc

google review
  code/__DEFINES/keybinding.dm
Due: report:dmdoc

UpdateTM1
  code/game/objects/effects/landmarks/survivor_spawner.dm
  code/modules/gear_presets/survivors/lv_1021/lv1021_clf.dm
  maps/map_files/LV1021_Falcons_Fury/LV1021_Falcons_Fury.dmm
Due: report:dmdoc, report:map-changed-report

more tweaks
  code/modules/projectiles/gun.dm
Due: report:dmdoc

Revert "Sdmm blood and shard icons (#11886)"
  code/game/objects/effects/decals/cleanable/blood/blood.dm
  code/game/objects/effects/decals/cleanable/blood/robots.dm
  code/game/objects/effects/decals/cleanable/blood/tracks.dm
  code/game/objects/effects/decals/cleanable/blood/xeno.dm
  code/game/objects/effects/spawners/gibspawner.dm
  code/game/objects/items/shards.dm
  code/modules/flufftext/Hallucination.dm
  maps/map_files/Kutjevo/sprinkles/25.cleaningprog_botany.dmm
  maps/map_files/LV624/maintemple/1.intact.dmm
  maps/map_files/New_Varadero/New_Varadero.dmm
  tools/UpdatePaths/Scripts/11886-removes-basecolor.txt
Due: report:dmdoc, report:map-changed-report

MoreWork
  maps/map_files/LV1021_Falcons_Fury/LV1021_Falcons_Fury.dmm
Due: report:map-changed-report

ergh
  icons/turf/floors/swamp_water.dmi
Due: none

hotfix for #12501
  code/game/objects/effects/decals/cleanable/blood/tracks.dm
Due: report:dmdoc

revert shrap buff
  code/datums/ammo/xeno.dm
Due: report:dmdoc

atmoized
  code/game/objects/items/storage/belt.dm
Due: report:dmdoc

adds stam damage
  code/datums/effects/xeno_strains/sentinel_neuro_stacks.dm
Due: report:dmdoc

human
  code/datums/effects/xeno_strains/sentinel_neuro_stacks.dm
Due: report:dmdoc

corrects the check
  code/datums/effects/xeno_strains/sentinel_neuro_stacks.dm
Due: report:dmdoc

gator icons
  code/modules/mob/living/simple_animal/hostile/retaliate/giant_aligator.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/giant_lizard.dm
  icons/mob/bortrough.dmi
Due: report:dmdoc

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm
