Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm

WHY
  code/modules/mob/living/carbon/xenomorph/castes/Crusher.dm
Due: report:dmdoc

DIE
  code/modules/projectiles/guns/smgs.dm
Due: report:dmdoc

Moves bombard cooldown code.
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
Due: report:dmdoc

Adjusts cooldown duration.
  code/modules/mob/living/carbon/xenomorph/abilities/general_abilities.dm
Due: report:dmdoc

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-2045.yml
  html/changelogs/AutoChangeLog-pr-2146.yml
  html/changelogs/AutoChangeLog-pr-2153.yml
  html/changelogs/AutoChangeLog-pr-2166.yml
  html/changelogs/AutoChangeLog-pr-2167.yml
  html/changelogs/AutoChangeLog-pr-2168.yml
  html/changelogs/AutoChangeLog-pr-2169.yml
  html/changelogs/AutoChangeLog-pr-2171.yml
  html/changelogs/AutoChangeLog-pr-2174.yml
  html/changelogs/AutoChangeLog-pr-2176.yml
  html/changelogs/AutoChangeLog-pr-2177.yml
  html/changelogs/AutoChangeLog-pr-2178.yml
  html/changelogs/archive/2023-01.yml
Due: none

Subtypes
  code/game/objects/items/devices/radio/intercom.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:dmdoc, report:map-changed-report

Basic Elevator working
  ColonialMarinesALPHA.dme
  code/__DEFINES/maps.dm
  code/_globalvars/lists/mapping_globals.dm
  code/controllers/shuttle_controller.dm
  code/controllers/subsystem/fz_transitions.dm
  code/controllers/subsystem/ticker.dm
  code/game/area/wayfinder.dm
  code/game/atoms.dm
  code/game/atoms_movable.dm
  code/game/objects/effects/elevator.dm
  code/game/objects/effects/projector.dm
  code/game/objects/effects/step_triggers.dm
  code/game/supplyshuttle.dm
  code/game/turfs/floor_types.dm
  code/modules/shuttles/shuttle_ferry.dm
  code/modules/shuttles/shuttle_supply.dm
  code/modules/shuttles/shuttle_supply_multi.dm
  icons/effects/160x160.dmi
  icons/obj/items/misc.dmi
  icons/obj/structures/structures.dmi
  map_config/shipmaps.txt
  maps/almayer.json
  maps/map_files/USS_Wayfinder/USS_Wayfinder.dmm
  maps/wayfinder.json
  sound/machines/cargo_alarm.ogg
Due: report:dmdoc, report:map-changed-report

removes a stray include
  ColonialMarinesALPHA.dme
  tools/ci/run_server.sh
Due: none

brings back almayer.json copying
  tools/ci/run_server.sh
Due: none

adds a space map
  maps/templates/space.dmm
  maps/templates/space.json
  tools/ci/run_server.sh
Due: report:map-changed-report

whoops
  maps/templates/space.json
Due: none

ee
  code/modules/admin/verbs/playsound.dm
Due: report:dmdoc

tests a workflow + new unit test
  .github/required_commits.txt
  .github/workflows/has_515_compatibility.yml
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/spawn_humans.dm
Due: report:dmdoc

whoopsied the tool that does the work
  .github/workflows/has_515_compatibility.yml
  tools/ci/check_required_commits.sh
Due: none

fixes
  code/modules/admin/verbs/playsound.dm
Due: report:dmdoc

bumps dependencies.sh
  dependencies.sh
Due: none

deletes centcom account terminal (#2179)
  ColonialMarinesALPHA.dme
  code/game/jobs/job/job.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/debug.dm
  code/modules/economy/Accounts.dm
  code/modules/economy/Accounts_DB.dm
  code/modules/economy/economy_misc.dm
  maps/map_files/generic/Admin_level.dmm
  nano/templates/accounts_terminal.tmpl
Due: report:dmdoc, report:map-changed-report

deletes unused airlock docking controllers (#2180)
  ColonialMarinesALPHA.dme
  code/game/machinery/embedded_controller/airlock_controllers.dm
  code/game/machinery/embedded_controller/airlock_program.dm
  maps/map_files/BigRed/BigRed.dmm
  nano/templates/docking_airlock_console.tmpl
  nano/templates/door_access_console.tmpl
  nano/templates/multi_docking_console.tmpl
Due: report:dmdoc, report:map-changed-report

fixes the logging for buildmode
  code/modules/buildmode/buildmode.dm
  code/modules/buildmode/buttons.dm
Due: report:dmdoc

incorrect proc!
  code/modules/buildmode/buildmode.dm
  code/modules/buildmode/buttons.dm
Due: report:dmdoc

looking into getting the shuttle to register alternative pads
  code/modules/shuttle/computer.dm
  maps/shuttles/ert_shuttle_1.dmm
  tgui/packages/tgui/interfaces/NavigationShuttle.tsx
Due: report:dmdoc, report:map-changed-report

got ert shuttle 1 spawning
  code/game/area/almayer.dm
  code/modules/shuttle/shuttles.md
  code/modules/shuttle/shuttles/ert.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  maps/map_files/generic/Admin_level.dmm
  maps/shuttles/ert_shuttle_1.dmm
Due: report:dmdoc, report:map-changed-report

got ert shuttle 1 to move
  code/modules/shuttle/computer.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  maps/map_files/generic/Admin_level.dmm
  tgui/packages/tgui/interfaces/NavigationShuttle.tsx
Due: report:dmdoc, report:map-changed-report

started ert shuttle port
  ColonialMarinesALPHA.dme
  code/controllers/subsystem/mapping.dm
  code/controllers/subsystem/shuttles.dm
  code/game/area/shuttles.dm
  code/modules/shuttle/shuttles/ert.dm
  config/example/admins.txt
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  maps/map_files/generic/Admin_level.dmm
  maps/shuttles/ert_shuttle_1.dmm
Due: report:dmdoc, report:map-changed-report

started expanding the ert shuttles
  code/modules/shuttle/computer.dm
  code/modules/shuttle/shuttles/ert.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  tgui/packages/tgui/interfaces/NavigationShuttle.tsx
Due: report:dmdoc, report:map-changed-report

added strict ui state for shuttle computer
  code/modules/shuttle/computer.dm
Due: report:dmdoc

removed example config change
  config/example/admins.txt
Due: none

some simple code cleanup
  code/controllers/subsystem/mapping.dm
  code/modules/shuttle/computer.dm
Due: report:dmdoc

removed almayer transit shutters
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

got ert shuttles working
  code/game/machinery/doors/airlock.dm
  code/modules/shuttle/computer.dm
  code/modules/shuttle/shuttles/ert.dm
  maps/map_files/generic/Admin_level.dmm
  maps/shuttles/ert_shuttle_1.dmm
  maps/shuttles/ert_shuttle_2.dmm
  maps/shuttles/ert_shuttle_3.dmm
  tgui/packages/tgui/interfaces/NavigationShuttle.tsx
Due: report:dmdoc, report:map-changed-report

added ui state to correct shuttle computer
  code/modules/shuttle/computer.dm
Due: report:dmdoc

got signals to work
  code/modules/shuttle/shuttles/ert.dm
Due: report:dmdoc

started moving to a signal based approach for door registration and turf basic rotation
  code/__DEFINES/dcs/signals.dm
  code/controllers/subsystem/shuttles.dm
  code/game/machinery/doors/airlock.dm
  code/modules/shuttle/shuttles/ert.dm
  icons/turf/ert_shuttle.dmi
Due: report:dmdoc

changed auto unlock for ert
  code/modules/shuttle/shuttles/ert.dm
Due: report:dmdoc

separated the navigation buttons into own section
  tgui/packages/tgui/interfaces/NavigationShuttle.tsx
Due: none

refactored signals out
  code/game/machinery/doors/airlock.dm
  code/modules/shuttle/shuttles/ert.dm
Due: report:dmdoc

shuttle ui done, fixed the door issues
  code/modules/shuttle/computer.dm
  code/modules/shuttle/shuttles/ert.dm
  tgui/packages/tgui/interfaces/NavigationShuttle.tsx
Due: report:dmdoc

some quick code feedback changes
  code/modules/admin/tabs/event_tab.dm
  code/modules/shuttle/computer.dm
Due: report:dmdoc

added href exploit detection for shuttle move
  code/modules/shuttle/computer.dm
Due: report:dmdoc

first round of review feedback
  code/game/area/almayer.dm
  code/modules/shuttle/computer.dm
  code/modules/shuttle/shuttles/ert.dm
  tgui/packages/tgui/interfaces/NavigationShuttle.tsx
  tgui/packages/tgui/styles/interfaces/NavigationShuttle.scss
  tgui/packages/tgui/styles/main.scss
Due: report:dmdoc
