Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

report:dmdoc:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies:
  - build:map-templates
  cache:
    key: dmdoc-${SPDMM_VERSION}
    paths:
    - dmdoc-bin
  script:
  - '[ -f dmdoc-bin ] || wget -O dmdoc-bin ${SPDMM_DOWNLOAD_URL}/dmdoc'
  - chmod u+x dmdoc-bin
  - ./dmdoc-bin
  artifacts:
    name: ci_dmdoc
  ...

report:map-changed-report:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies: []
  cache:
    key: dmm-tools-${SPDMM_VERSION}
    paths:
    - dmm-tools
  script:
  - CHANGED_MAP_FILES=`git diff-tree -r --diff-filter=d --name-only --no-commit-id ${CI_COMMIT_BEFORE_SHA}..${CI_COMMIT_SHA} maps/*.dmm`
  ...

GasN'Gear
  code/game/area/Isaacs_Lament.dm
  maps/map_files/Isaacs_Lament/Isaacs_Lament.dmm
Due: report:dmdoc, report:map-changed-report

Adds welded door as icon_state and additonal map changes - operations
  icons/obj/structures/doors/personaldoor.dmi
  maps/map_files/Isaacs_Lament/Isaacs_Lament.dmm
Due: report:map-changed-report

LZ & Mansion & Hedges
  code/game/objects/structures/flora.dm
  code/game/objects/structures/landing_signs.dm
  icons/obj/structures/props/jungleplants.dmi
  icons/obj/structures/props/landing_signs_128_64.dmi
  maps/isaacs_lament.json
  maps/map_files/Isaacs_Lament/Isaacs_Lament.dmm
Due: report:dmdoc, report:map-changed-report

misc changes
  code/game/area/Isaacs_Lament.dm
  maps/map_files/Isaacs_Lament/Isaacs_Lament.dmm
Due: report:dmdoc, report:map-changed-report

Liq-R-Mart
  code/game/area/Isaacs_Lament.dm
  maps/map_files/Isaacs_Lament/Isaacs_Lament.dmm
Due: report:dmdoc, report:map-changed-report

tidy up
  code/modules/borer/borer.dm
  code/modules/borer/borer_chemicals.dm
  code/modules/borer/borer_procs.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
Due: report:dmdoc

ancestry fix
  code/modules/borer/borer_procs.dm
Due: report:dmdoc

precision reagent scan
  code/modules/borer/borer_procs.dm
Due: report:dmdoc

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-5802.yml
  html/changelogs/AutoChangeLog-pr-5821.yml
  html/changelogs/AutoChangeLog-pr-5872.yml
  html/changelogs/archive/2024-03.yml
Due: none

New Chinook (#5849)
  maps/templates/Chinook.dmm
Due: report:map-changed-report

Automatic changelog for PR #5849 [ci skip]
  html/changelogs/AutoChangeLog-pr-5849.yml
Due: none

refactor cryotube handling
  code/modules/shuttle/shuttles/crashable/escape_shuttle.dm
Due: report:dmdoc

Removes lateinit, removes gamemode check
  code/modules/mob/living/carbon/human/human_dummy.dm
Due: report:dmdoc

Pizza Time, detailing more and slight layout changes
  code/game/area/admin_level.dm
  maps/templates/pizza_ert_station.dmm
Due: report:dmdoc, report:map-changed-report

Adds self-deleting to the tablet upon linked dummy deleting
  code/game/objects/items/devices/dummy_tablet.dm
Due: report:dmdoc

Handles removal from storages
  code/game/objects/items/devices/dummy_tablet.dm
Due: report:dmdoc

first batch of change on maps...
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

adding new areas for halway and for maintenance.
  code/game/area/almayer.dm
Due: report:dmdoc

Combines the loadout with the mob, the mob self-spawns its tablet, auto-link
  code/game/objects/items/devices/dummy_tablet.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/modules/gear_presets/other.dm
  code/modules/mob/living/carbon/human/human_dummy.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:dmdoc, report:map-changed-report

The cabinet no longer has surgical tools
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
Due: report:dmdoc

Why do I use range here, cringe
  code/game/objects/items/devices/dummy_tablet.dm
  code/modules/mob/living/carbon/human/human_dummy.dm
Due: report:dmdoc

accidental /
  code/game/objects/items/devices/dummy_tablet.dm
Due: report:dmdoc

Missing parentheses
  code/modules/mob/living/carbon/human/human_dummy.dm
Due: report:dmdoc

No need for double link
  code/game/objects/items/devices/dummy_tablet.dm
Due: report:dmdoc

second batch of map change plus fixing name of areas.
  code/game/area/almayer.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:dmdoc, report:map-changed-report

implement areas change
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

adds player panel metadata (first join and account age) (#5873)
  code/datums/entities/player.dm
  code/modules/admin/player_panel/player_panel.dm
  tgui/packages/tgui/interfaces/PlayerPanel.jsx
Due: report:dmdoc

Automatic changelog for PR #5873 [ci skip]
  html/changelogs/AutoChangeLog-pr-5873.yml
Due: none

Adds auto-locking, makes it indestructible, emp deletes the dummy
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
Due: report:dmdoc

Minor wording change
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
Due: report:dmdoc

Addresses review except for the preset part
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/modules/mob/living/carbon/human/human_dummy.dm
Due: report:dmdoc

Removes hull walls
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
  maps/map_files/FOP_v3_Sciannex/standalone/riot_in_progress.dmm
Due: report:map-changed-report

Readds the preset
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/modules/gear_presets/other.dm
  code/modules/mob/living/carbon/human/human_dummy.dm
Due: report:dmdoc

Renamed proc
  code/modules/gear_presets/other.dm
Due: report:dmdoc

Linter and typecasting
  code/game/objects/items/devices/dummy_tablet.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
Due: report:dmdoc

Space identation my beloved
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
Due: report:dmdoc

Tweak signal location
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/modules/mob/living/carbon/human/human_dummy.dm
Due: report:dmdoc

Minor Spelling Mistake Be Like:
  code/game/objects/effects/landmarks/survivor_spawner.dm
Due: report:dmdoc

Adds Professor DUMMY to the CMO office, accessible by the CMO and the SEA (#5874)
  code/game/objects/items/devices/dummy_tablet.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/modules/gear_presets/other.dm
  code/modules/mob/living/carbon/human/human_dummy.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:dmdoc, report:map-changed-report

Automatic changelog for PR #5874 [ci skip]
  html/changelogs/AutoChangeLog-pr-5874.yml
Due: none

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm
