Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm

Update actions_xeno.dmi
  icons/mob/hud/actions_xeno.dmi
Due: none

count all survivors
  code/game/gamemodes/cm_self_destruct.dm
  code/modules/shuttle/lifeboats.dm
Due: report:dmdoc

styling is just about there
  code/game/machinery/computer/research.dm
  tgui/packages/tgui/interfaces/ResearchTerminal.tsx
  tgui/packages/tgui/styles/themes/crt.scss
Due: report:dmdoc

undoes M4 fusion
  code/game/machinery/vending/vendor_types/intelligence_officer.dm
  code/game/objects/structures/crates_lockers/closets/secure/cm_closets.dm
  code/modules/clothing/suits/marine_armor.dm
  code/modules/gear_presets/uscm.dm
Due: report:dmdoc

fixed medical scanners advising to OD
  code/modules/mob/living/living_healthscan.dm
Due: report:dmdoc

fixed misc errors
  code/modules/mob/living/living_healthscan.dm
Due: report:dmdoc

Added Ferret Heavy Industries Power Loaders and Ferret Branded Hat (#1280)
  code/modules/clothing/head/soft_caps.dm
  code/modules/vehicles/powerloader.dm
  icons/mob/humans/onmob/head_0.dmi
  icons/obj/items/clothing/hats.dmi
  icons/obj/vehicles/powerloader.dmi
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/DesertDam/Desert_Dam.dmm
  maps/map_files/FOP_v2_Cellblocks/Prison_Station_FOP.dmm
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
  maps/map_files/Kutjevo/Kutjevo.dmm
  maps/map_files/LV624/LV624.dmm
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:dmdoc, report:map-changed-report

Automatic changelog compile [ci skip]
  html/changelogs/archive/2022-10.yml
Due: none

adds DMAPI v6.0.5
  ColonialMarinesALPHA.dme
  code/__DEFINES/_protect.dm
  code/__DEFINES/tgs.config.dm
  code/__DEFINES/tgs.dm
  code/_globalvars/misc.dm
  code/datums/helper_datums/getrev.dm
  code/datums/tgs_event_handler.dm
  code/game/world.dm
  code/modules/tgs/LICENSE
  code/modules/tgs/README.md
  code/modules/tgs/core/README.md
  code/modules/tgs/core/_definitions.dm
  code/modules/tgs/core/core.dm
  code/modules/tgs/core/datum.dm
  code/modules/tgs/core/tgs_version.dm
  code/modules/tgs/includes.dm
  code/modules/tgs/v3210/README.md
  code/modules/tgs/v3210/api.dm
  code/modules/tgs/v3210/commands.dm
  code/modules/tgs/v4/README.md
  code/modules/tgs/v4/api.dm
  code/modules/tgs/v4/commands.dm
  code/modules/tgs/v5/README.md
  code/modules/tgs/v5/_defines.dm
  code/modules/tgs/v5/api.dm
  code/modules/tgs/v5/commands.dm
  code/modules/tgs/v5/interop_version.dm
  code/modules/tgs/v5/undefs.dm
Due: report:dmdoc

finishes DMAPI integration
  code/controllers/mc/master.dm
  code/game/world.dm
Due: report:dmdoc

cut down on duplicate code
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
Due: report:dmdoc

new names
  code/modules/clothing/glasses/glasses.dm
Due: report:dmdoc

references fix
  code/modules/client/preferences_gear.dm
  code/modules/clothing/head/head.dm
  code/modules/clothing/head/helmet.dm
Due: report:dmdoc

separates child from parent
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
Due: report:dmdoc, report:map-changed-report

Removes Commie Costume and PMC Corpse for thematic clothing and corpse
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
Due: report:dmdoc, report:map-changed-report

cooler code now
  code/game/objects/items.dm
Due: report:dmdoc

Weather Refactor + Big Red Weather
  ColonialMarinesALPHA.dme
  code/__DEFINES/weather.dm
  code/_onclick/hud/fullscreen.dm
  code/controllers/subsystem/weather.dm
  code/datums/effects/weather.dm
  code/datums/effects/weather/sorokyne.dm
  code/datums/weather/weather_event.dm
  code/datums/weather/weather_events/big_red.dm
  code/datums/weather/weather_map_holder.dm
  code/datums/weather/weather_map_holders/big_red.dm
  code/datums/weather/weather_map_holders/sorokyne.dm
  code/game/area/areas.dm
  code/game/atoms.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/living_defines.dm
  maps/bigredv2.json
Due: report:dmdoc

review2
  code/game/objects/effects/effect_system/smoke.dm
  code/modules/mob/living/carbon/xenomorph/abilities/boiler/boiler_abilities.dm
  code/modules/mob/living/carbon/xenomorph/castes/Boiler.dm
Due: report:dmdoc

All reagent dispensers are wrenchable
  code/game/objects/structures/reagent_dispensers.dm
Due: report:dmdoc

Lifeboats Simple Edition (#1219)
  code/__DEFINES/mode.dm
  code/_globalvars/lists/object_lists.dm
  code/controllers/subsystem/shuttles.dm
  code/game/gamemodes/cm_self_destruct.dm
  code/game/machinery/doors/multi_tile.dm
  code/game/machinery/vending/vendor_types/supplies.dm
  code/modules/shuttle/computer.dm
  code/modules/shuttle/docking.dm
  code/modules/shuttle/lifeboats.dm
  code/modules/shuttle/shuttle.dm
  icons/obj/structures/machinery/lifeboat.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  maps/shuttles/lifeboat-port.dmm
  maps/shuttles/lifeboat-starboard.dmm
Due: report:dmdoc, report:map-changed-report

Fixed resin spikes deleting on evolution
  code/modules/mob/living/carbon/xenomorph/Evolution.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/death.dm
Due: report:dmdoc

daw
  code/game/objects/items/explosives/grenades/flashbang.dm
Due: report:dmdoc

Queen eye can now move up to 3 tiles away from weeds.
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
Due: report:dmdoc

Fix for weed plane.
  code/modules/cm_aliens/weeds.dm
Due: report:dmdoc

hatchet job to get base64 images
  code/__HELPERS/icons.dm
  code/_globalvars/misc.dm
  code/game/machinery/vending/cm_vending.dm
  code/game/machinery/vending/vendor_types/antag/antag_guns_sorted.dm
  tgui/packages/tgui/interfaces/VendingSorted.tsx
Due: report:dmdoc

warcrimesfix
  code/modules/reagents/chemistry_properties/prop_negative.dm
Due: report:dmdoc

Pressurized pouch change and addition (#999)
  code/game/machinery/vending/vendor_types/crew/medical.dm
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_medic.dm
  code/game/objects/items/storage/pouch.dm
Due: report:dmdoc

Renames
  code/modules/admin/STUI.dm
Due: report:dmdoc

Requested changes and some fixes
  code/game/machinery/recharger.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/modules/cm_marines/dropship_equipment.dm
  code/modules/mob/living/carbon/human/human_abilities.dm
  code/modules/vehicles/interior/interactable/unique_interior_machinery.dm
  code/modules/vehicles/interior/interactable/viewports.dm
Due: report:dmdoc

Medical APC unique features update
  ColonialMarinesALPHA.dme
  code/__DEFINES/dropships.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/modules/cm_marines/dropship_equipment.dm
  code/modules/mob/living/carbon/human/human_abilities.dm
  code/modules/mob/living/living_verbs.dm
  code/modules/vehicles/interior/interactable/unique_interior_machinery.dm
  code/modules/vehicles/interior/interactable/viewports.dm
  code/modules/vehicles/interior/interior_landmarks.dm
  icons/obj/vehicles/apc.dmi
  icons/obj/vehicles/interiors/apc.dmi
  icons/obj/vehicles/interiors/general.dmi
  maps/interiors/apc_med.dmm
Due: report:dmdoc, report:map-changed-report

Minor tweaks
  code/game/machinery/recharger.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/modules/vehicles/interior/interactable/viewports.dm
Due: report:dmdoc

Fix for weed plane. (#1296)
  code/modules/cm_aliens/weeds.dm
Due: report:dmdoc

Prosthetic Limbs for Commissioned Officers
  ColonialMarinesALPHA.dme
  code/modules/character_traits/character_trait.dm
  code/modules/character_traits/robotic_limbs.dm
  code/modules/client/preferences.dm
  code/modules/gear_presets/_select_equipment.dm
  code/modules/mob/new_player/preferences_setup.dm
Due: report:dmdoc

removed manual call to parent
  code/game/objects/structures/reagent_dispensers.dm
Due: report:dmdoc

finishing touches
  code/datums/factions/uscm.dm
  code/game/machinery/vending/vending_types.dm
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
  code/game/machinery/vending/vendor_types/crew/ship_marine.dm
  code/modules/clothing/suits/marine_armor.dm
  code/modules/gear_presets/ship_marines.dm
  icons/mob/hud/hud.dmi
  icons/mob/hud/marine_hud.dmi
  icons/mob/humans/onmob/eyes.dmi
  icons/obj/items/clothing/cm_hats.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  maps/map_files/USS_Runtime/USS_Runtime.dmm
Due: report:dmdoc, report:map-changed-report

breakpoint
  code/datums/entities/connections.dm
  code/datums/entities/player.dm
  code/modules/client/client_procs.dm
Due: report:dmdoc

dme
  ColonialMarinesALPHA.dme
Due: none
