Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

report:dmdoc:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies:
  - build:map-templates
  cache:
    key: dmdoc-${SPDMM_VERSION}
    paths:
    - dmdoc-bin
  script:
  - '[ -f dmdoc-bin ] || wget -O dmdoc-bin ${SPDMM_DOWNLOAD_URL}/dmdoc'
  - chmod u+x dmdoc-bin
  - ./dmdoc-bin
  artifacts:
    name: ci_dmdoc
  ...

report:map-changed-report:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies: []
  cache:
    key: dmm-tools-${SPDMM_VERSION}
    paths:
    - dmm-tools
  script:
  - CHANGED_MAP_FILES=`git diff-tree -r --diff-filter=d --name-only --no-commit-id ${CI_COMMIT_BEFORE_SHA}..${CI_COMMIT_SHA} maps/*.dmm`
  ...

compile fixes, knockdown now immobilizess, as CM Dev intended
  code/datums/ammo/xeno.dm
  code/datums/status_effects/debuffs/debuffs.dm
  code/game/machinery/medical_pod/bodyscanner.dm
  code/game/machinery/medical_pod/sleeper.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/mob/living/carbon/human/life/handle_stasis_bag.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/living_health_procs.dm
  code/modules/mob/living/silicon/ai/life.dm
  code/modules/mob/living/silicon/robot/life.dm
  code/modules/mob/mob.dm
Due: report:dmdoc

clamp
  code/modules/desert_dam/motion_sensor/sensortower.dm
Due: report:dmdoc

something soemething maintainability
  code/game/gamemodes/cm_initialize.dm
Due: report:dmdoc

initial
  code/modules/projectiles/projectile.dm
Due: report:dmdoc

Changes unlock fail chat message to match the tech description
  code/modules/cm_tech/techs/marine/tier4/nuke.dm
Due: report:dmdoc

See extended description.
  code/modules/shuttle/computer.dm
Due: report:dmdoc

some changes
  maps/map_files/TestMap/TestMap.dmm
Due: report:map-changed-report

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-4857.yml
  html/changelogs/archive/2023-11.yml
Due: none

meow meow meow
  icons/mob/humans/onmob/items_lefthand_1.dmi
  icons/mob/humans/onmob/items_righthand_1.dmi
Due: none

Testing Areas
  maps/map_files/TestMap/TestMap.dmm
Due: report:map-changed-report

Fix possible edgecase where theres a larva queue but no core in the first 30 minutes of the round Cleanup logic to use early returns instead
  code/game/gamemodes/cm_initialize.dm
Due: report:dmdoc

Fix indentation
  code/game/gamemodes/cm_initialize.dm
Due: report:dmdoc

Update hijack.dm
  code/controllers/subsystem/hijack.dm
Due: report:dmdoc

Added Ability to turn on and turn off a dropship alarm. (Requires pro… (#4858)
  code/datums/looping_sounds/misc_sounds.dm
  code/modules/shuttle/computers/dropship_computer.dm
  code/modules/shuttle/shuttle.dm
  colonialmarines.dme
  sound/vehicles/Dropships/single_alarm_brr_dropship_1.ogg
  tgui/packages/tgui/interfaces/DropshipFlightControl.tsx
Due: report:dmdoc

Automatic changelog for PR #4858 [ci skip]
  html/changelogs/AutoChangeLog-pr-4858.yml
Due: none

Resin doors not close on mob/living if they are merged with the weeds
  code/modules/cm_aliens/XenoStructures.dm
Due: report:dmdoc

remove random offset on buckled
  code/modules/mob/living/living.dm
Due: report:dmdoc

Merged with weeds trait
  code/__DEFINES/traits.dm
  code/datums/components/weed_food.dm
  code/modules/cm_aliens/XenoStructures.dm
Due: report:dmdoc

Refactor spawns to unique timers: Fixes doors sometimes closing almost instantly.
  code/modules/cm_aliens/XenoStructures.dm
Due: report:dmdoc

fira review
  code/game/area/almayer.dm
Due: report:dmdoc

placeholder
  icons/mob/humans/onmob/back.dmi
  icons/mob/humans/onmob/suit_slot.dmi
Due: none

revert to handle multiple launches another way
  code/__DEFINES/shuttles.dm
Due: report:dmdoc

prevent launch race condition another way
  code/modules/shuttle/computer.dm
Due: report:dmdoc

test
  code/modules/shuttle/computer.dm
Due: report:dmdoc

refactors /mob/.../xenomorph/Initialise()
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
Due: report:dmdoc

see if this works?
  code/modules/shuttle/computer.dm
Due: report:dmdoc

generate_name() and set_hive_and_update()
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/castes/Larva.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
Due: report:dmdoc

well i was initiating vars wrong apparently
  code/modules/shuttle/computer.dm
Due: report:dmdoc

CIC-4
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:map-changed-report

Oxidizing welding fuel property change
  code/modules/reagents/chemistry_reagents/other.dm
Due: report:dmdoc

queen
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
Due: report:dmdoc

queen set hive
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
Due: report:dmdoc

fix missing animation parallel causing knock to cancel some others
  code/game/atoms.dm
Due: report:dmdoc

armored variant + sprites maybe dont suck now
  code/game/machinery/vending/vendor_types/intelligence_officer.dm
  code/modules/clothing/suits/marine_coat.dm
  icons/mob/humans/onmob/suit_1.dmi
  icons/obj/items/clothing/cm_suits.dmi
Due: report:dmdoc

Mess tech scaling (#4983)
  code/game/jobs/job/civilians/other/mess_seargent.dm
  code/game/jobs/slot_scaling.dm
Due: report:dmdoc

Automatic changelog for PR #4983 [ci skip]
  html/changelogs/AutoChangeLog-pr-4983.yml
Due: none

ports the tg profiler subsystem (#4793)
  code/__DEFINES/subsystems.dm
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem/profiler.dm
  colonialmarines.dme
Due: report:dmdoc

Automatic changelog for PR #4793 [ci skip]
  html/changelogs/AutoChangeLog-pr-4793.yml
Due: none

Nullchecks client in tooltips (#4969)
  code/modules/tooltip/tooltip.dm
Due: report:dmdoc

Fix crate unpacking runtime (#4968)
  code/game/objects/structures/crates_lockers/largecrate.dm
Due: report:dmdoc

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm
