Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

report:dmdoc:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies:
  - build:map-templates
  cache:
    key: dmdoc-${SPDMM_VERSION}
    paths:
    - dmdoc-bin
  script:
  - '[ -f dmdoc-bin ] || wget -O dmdoc-bin ${SPDMM_DOWNLOAD_URL}/dmdoc'
  - chmod u+x dmdoc-bin
  - ./dmdoc-bin
  artifacts:
    name: ci_dmdoc
  ...

report:map-changed-report:
  stage: extra
  image:
    name: alpine/git
    entrypoint:
    - ''
  dependencies: []
  cache:
    key: dmm-tools-${SPDMM_VERSION}
    paths:
    - dmm-tools
  script:
  - CHANGED_MAP_FILES=`git diff-tree -r --diff-filter=d --name-only --no-commit-id ${CI_COMMIT_BEFORE_SHA}..${CI_COMMIT_SHA} maps/*.dmm`
  ...

gay
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
Due: report:dmdoc

Title!
  code/modules/admin/topic/topic.dm
Due: report:dmdoc

Adds an M1911 to the SL vendor
  code/game/machinery/vending/vendor_types/squad_prep/squad_leader.dm
  code/modules/cm_marines/equipment/guncases.dm
Due: report:dmdoc

Initial
  .github/CODEOWNERS
Due: none

Codeowner changes (#2907)
  .github/CODEOWNERS
Due: none

traits better than flags
  code/__DEFINES/equipment.dm
  code/__DEFINES/traits.dm
  code/modules/clothing/under/marine_uniform.dm
  code/modules/clothing/under/under.dm
Due: report:dmdoc

more gun
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
Due: report:dmdoc

x
  code/modules/admin/verbs/debug.dm
Due: report:dmdoc

uh
  code/game/jobs/job/antag/xeno/xenomorph.dm
Due: report:dmdoc

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-2816.yml
  html/changelogs/AutoChangeLog-pr-2883.yml
  html/changelogs/AutoChangeLog-pr-2884.yml
  html/changelogs/AutoChangeLog-pr-2888.yml
  html/changelogs/AutoChangeLog-pr-2895.yml
  html/changelogs/archive/2023-03.yml
Due: none

Reverts Tail Jab + Speed Changes to vampire
  code/modules/mob/living/carbon/xenomorph/abilities/lurker/lurker_powers.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/lurker/vampire.dm
Due: report:dmdoc

new soak
  icons/mob/hud/actions_xeno.dmi
Due: none

staff color
  code/modules/admin/tabs/admin_tab.dm
  code/stylesheet.dm
  tgui/packages/tgui-panel/chat/constants.js
  tgui/packages/tgui-panel/styles/goon/chat-dark.scss
  tgui/packages/tgui-panel/styles/goon/chat-light.scss
  tgui/public/tgui-panel.bundle.css
Due: report:dmdoc

better logging
  code/modules/mentor/mentorhelp.dm
Due: report:dmdoc

Readds the autodoc in a nerfed state
  code/game/machinery/medical_pod/autodoc.dm
  code/game/machinery/medical_pod/bodyscanner.dm
  code/game/machinery/medical_pod/sleeper.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Due: report:dmdoc, report:map-changed-report

Lessens the frequency of Almayer ambient sounds
  code/game/area/almayer.dm
Due: report:dmdoc

Removes one CIC ambient sound
  code/__DEFINES/sounds.dm
  sound/soundscape/cicamb1.ogg
Due: report:dmdoc

Mentor chat tab (#2881)
  code/__DEFINES/chat.dm
  code/modules/admin/tabs/admin_tab.dm
  code/modules/mentor/mentorhelp.dm
  code/stylesheet.dm
  tgui/packages/tgui-panel/chat/constants.js
  tgui/packages/tgui-panel/styles/goon/chat-dark.scss
  tgui/packages/tgui-panel/styles/goon/chat-light.scss
  tgui/public/tgui-panel.bundle.css
Due: report:dmdoc

Wakeup CO text fix (#2900)
  code/game/jobs/job/command/cic/captain.dm
Due: report:dmdoc

areas
  code/game/supplyshuttle.dm
Due: report:dmdoc

Removes commented code, fixes indents
  code/game/machinery/medical_pod/autodoc.dm
Due: report:dmdoc

Removes bone repair surgery
  code/game/machinery/medical_pod/autodoc.dm
Due: report:dmdoc

Adds back shrapnel removal surgery
  code/game/machinery/medical_pod/autodoc.dm
Due: report:dmdoc

Non-standard marine gloves no longer use squad color overlay. (#2879)
  code/modules/clothing/gloves/marine_gloves.dm
Due: report:dmdoc

[chore] sets up the merge queue a little better + lets the bot account handle changelogs (#2898)
  .github/workflows/auto_changelog.yml
  .github/workflows/ci_suite.yml
  .github/workflows/compile_changelogs.yml
Due: none

fixes the correct title for not-snowflake SEAs
  code/datums/paygrades/factions/uscm/marine.dm
Due: report:dmdoc

span macro-ifies mentorhelps
  code/modules/mentor/mentorhelp.dm
  code/span_macros.dm
Due: report:dmdoc

New trait source yuh
  code/__DEFINES/traits.dm
  code/modules/gear_presets/uscm_ship.dm
Due: report:dmdoc

COs no longer have emote cooldown (#2901)
  code/__DEFINES/traits.dm
  code/modules/gear_presets/uscm_ship.dm
Due: report:dmdoc

Automatic changelog for PR #2901 [ci skip]
  html/changelogs/AutoChangeLog-pr-2901.yml
Due: none

hellhound path fix (#2904)
  code/modules/mob/living/carbon/xenomorph/castes/Hellhound.dm
Due: report:dmdoc

Automatic changelog for PR #2904 [ci skip]
  html/changelogs/AutoChangeLog-pr-2904.yml
Due: none

makes the merge queue work gooder
  .github/workflows/ci_suite.yml
Due: none

makes the merge queue work gooder (#2912)
  .github/workflows/ci_suite.yml
Due: none

Update code/modules/almayer/shakeship.dm
  code/modules/almayer/shakeship.dm
Due: report:dmdoc

Fixes Create Bank Account (#2908)
  code/modules/admin/verbs/debug.dm
Due: report:dmdoc

more progress (sort of)
  code/game/supplyshuttle.dm
Due: report:dmdoc

Automatic changelog for PR #2908 [ci skip]
  html/changelogs/AutoChangeLog-pr-2908.yml
Due: none

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm
