Repository cmss13-devs/cmss13: changes, and which GitLab CI jobs are due for each by the changed paths.
All: report:dmdoc, report:map-changed-report

Path conditions:
  report:dmdoc: any of: **/*.dm
  report:map-changed-report: any of: maps/**/*.dmm

turban
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
  code/modules/clothing/head/head.dm
Due: report:dmdoc

Fixup maps in TGM format
  maps/map_files/DesertDam/Desert_Dam.dmm
Due: report:map-changed-report

Update Desert_Dam.dmm
  maps/map_files/DesertDam/Desert_Dam.dmm
Due: report:map-changed-report

eef
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
Due: report:dmdoc

eefe
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
Due: report:dmdoc

waaagh
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
Due: report:dmdoc

eep
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
  code/modules/clothing/head/head.dm
Due: report:dmdoc

Nukes tacmap table
  code/game/objects/structures/tables_racks.dm
Due: report:dmdoc

adds the ability to store FixOVein in a first aid kit
  code/game/objects/items/storage/firstaid.dm
Due: report:dmdoc

intel squad and defaults
  code/__DEFINES/mob_hud.dm
  code/game/machinery/vending/vendor_types/crew/commanding_officer.dm
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
  code/game/objects/items/devices/radio/headset.dm
  code/modules/gear_presets/uscm_co.dm
  code/modules/gear_presets/uscm_ship.dm
  code/modules/gear_presets/wo.dm
  code/modules/mob/living/carbon/human/human.dm
Due: report:dmdoc

test
  code/datums/elements/drop_retrieval.dm
  code/modules/projectiles/gun_attachables.dm
Due: report:dmdoc

user agents
  Dockerfile
  tools/ci/download_byond.sh
  tools/ci/install_byond.sh
Due: none

windows build cache
  .github/workflows/ci_suite.yml
Due: none

User agents for byond downloads and windows build caching (#9265)
  .github/workflows/ci_suite.yml
  Dockerfile
  tools/ci/download_byond.sh
  tools/ci/install_byond.sh
Due: none

guards now return to weyland ERT station, single letter var cleanup (#9250)
  code/datums/emergency_calls/bodyguard.dm
Due: report:dmdoc

Random Spacing Stuff
  code/datums/emergency_calls/solar_devils.dm
  code/modules/shuttle/shuttles/ert.dm
Due: report:dmdoc

Portable Hellhound Camera Console (#8962)
  code/game/machinery/camera/presets.dm
  code/game/machinery/computer/camera_console.dm
  code/modules/cm_preds/yaut_items.dm
  code/modules/mob/living/carbon/xenomorph/castes/Hellhound.dm
  icons/obj/items/hunter/pred_gear.dmi
  maps/predship/huntership.dmm
Due: report:dmdoc, report:map-changed-report

fixes a say_understand runtime (#9171)
  code/modules/mob/say.dm
Due: report:dmdoc

Revives 8792 without hugger/lesser permissions.
  code/__DEFINES/xeno.dm
  code/game/gamemodes/colonialmarines/whiskey_outpost/whiskey_output_waves.dm
  code/game/objects/structures/stool_bed_chair_nest/xeno_nest.dm
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/carbon/xenomorph/attack_alien.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  code/modules/mob/living/carbon/xenomorph/death.dm
  code/modules/mob/living/carbon/xenomorph/hive_status.dm
Due: report:dmdoc

Forgot actually implementing destruction.
  code/__DEFINES/xeno.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/queen/queen_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  code/modules/mob/living/carbon/xenomorph/hive_status.dm
  code/modules/mob/living/carbon/xenomorph/xeno_helpers.dm
Due: report:dmdoc

Revert two possible breaking checks
  code/modules/mob/living/carbon/xenomorph/hive_status.dm
Due: report:dmdoc

Nobody deconstruction flag overrides queen ability to deconstruct
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  code/modules/mob/living/carbon/xenomorph/xeno_helpers.dm
Due: report:dmdoc

hpc fix (#9248)
  code/datums/ammo/energy.dm
Due: report:dmdoc

Fixes HighCom fax machines not allowing duplicates. (#9215)
  code/game/gamemodes/cm_initialize.dm
  code/game/machinery/fax_machine.dm
Due: report:dmdoc

prevents fluffing growing unremovable facial hair on female characters (#9225)
  code/modules/reagents/chemistry_properties/prop_neutral.dm
Due: report:dmdoc

broken merge
  code/modules/cm_preds/yaut_items.dm
Due: report:dmdoc

Squad Prep 0.5 --> 5
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
Due: report:dmdoc

Requsitions 3 --> 15
  code/game/machinery/vending/vendor_types/requisitions.dm
Due: report:dmdoc

gauntlet charge now is an actual thing
  code/modules/cm_preds/yaut_weapons.dm
Due: report:dmdoc

eef
  code/game/objects/items/weapons/blades.dm
  code/game/objects/structures/mirror.dm
  code/modules/mob/new_player/sprite_accessories/facial_hair.dm
  code/modules/reagents/chemistry_properties/prop_neutral.dm
Due: report:dmdoc

fuck you vsc
  icons/obj/items/hunter/pred_gear.dmi
Due: none

fix spacing
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
Due: report:dmdoc

[TM 2w] Mentorhelp (#310)
  code/_globalvars/global_lists.dm
  code/modules/mentor/mentorhelp.dm
Due: report:dmdoc

Rerun actions
  tgui/packages/tgui/interfaces/ChemMaster.tsx
Due: none

minorchanges
  maps/map_files/Tyrargo_Rift/Tyrargo_Rift.dmm
Due: report:map-changed-report

fixes location check
  code/game/turfs/closed.dm
Due: report:dmdoc

adds safeclimb to ledges
  code/game/objects/structures.dm
Due: report:dmdoc
